<div class="table-responsive">
  <table class="table table-bordered" >
    <thead>
      <tr>
        <th>Status</th>
        <th>Title</th>
        <th>Pay Range</th>
        <th>Needed</th>
        <th>Working </th>
        <th>Date Requested</th>
        <th>Needed by</th>
        <th class='text-center'><i class='fa fa-cogs fa-lg'></i></th>
      </tr>
    </thead>
  
    <tbody>
      <% orders.each do |order| %>
        <tr>
          <td class='text-center'><%= status_tag(order) %></td>
          <td><%= link_to "#{truncate(order.title, length: 15)}", company_order_path(order) %></td>
          <td><%= pay_range(order) %></td>
          <td><%= order.open_jobs %></td>
          <td><%= order.jobs.active.count %></td>
          <td><%= order.created_at.stamp("Monday 11/2")  %></td>
          <td><%= order.needed_by.stamp("Monday 11/2") %></td>
          <td class='text-center'><%= link_to "<i class='fa fa-edit fa-fw'></i>".html_safe, edit_company_order_path(order), class: "button" %>
         </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>