
<div class="col-md-12 main-box">
<h1>  <%= @company.name %></h1>
<hr>
<div id="order-tabs">

  <!-- Nav tabs -->
  <ul id="order-nav" class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#order" aria-controls="order" role="tab" data-toggle="tab">Order Info.</a></li>
    <li role="presentation"><a href="#activejobs" aria-controls="activejobs" role="tab" data-toggle="tab">Active Jobs</a></li>
    <li role="presentation"><a href="#inactivejobs" aria-controls="inactivejobs" role="tab" data-toggle="tab">Inactive Jobs</a></li>
  </ul>
  
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="order">
      
      <div class='col-md-3 dark'>
        <h3>  <strong>Job Order: </strong>
        <%= @order.title %></h3>
        Created: <%= @order.created_at.stamp('11/12/2015') %> <br>
        Last Updated: <%= @order.updated_at.stamp("11/22 at 1:30pm") %> <br>
        
        <h4><%= @order.manager.try(:name) %></h4>
        <h4><%= @order.account_manager.try(:name) %></h4>
      </div>
      <div class='col-md-6 dark'>
          <strong>Job Description:</strong>
          <div id= "order-notes" class="" >
            <p><%= markdownify(@order.notes) %></p>
          </div>
      </div>
    <div class='col-md-3 dark'>
      <strong>Pay Range:</strong>
      <%= @order.pay_range %>
    
      <strong>Number needed: </strong>
      <%= @order.number_needed %>
    
      <strong>Active Employees:</strong>
          <%= @order.jobs.active.count %>
      <br>
      <strong>Priority:</strong>
        <%= @order.urgent ? "Urgent" : "Normal" %>
      |
      <strong>Status:</strong>
        <%= @order.active ? "Active" : "Inactive" %>
    </div>  
  <%= link_to 'Edit', edit_company_order_path(@order) %> |
  <%= link_to 'Back', company_orders_path %>
  </div>
  
  
  <div role="tabpanel" class="tab-pane fade" id="activejobs">
    <div class='col-md-12'>
      <h5 class='text-center'>Active Jobs</h5>

        <%= render 'company/jobs/table', jobs: @active_jobs %>
    </div>

  </div>
  
  
  <div role="tabpanel" class="tab-pane fade" id="inactivejobs">
    <div class='col-md-12'>
    <h5 class='text-center'>Inactive Jobs</h5>
    <%= render 'company/jobs/table', jobs: @inactive_jobs %>
    </div>
  </div>
</div>

  </div>
  </div>
  