<div class='col-md-12 mainpage shadow'> 
<h1 class='bold'> <%= title_for(@order) %> <small><%= @order.address %> <%= render "order_map", order: @order %></small> </h1>
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-info black dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class='fa fa-cogs'></i> Admin
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li role="separator" class="divider"></li>
      <% if policy(@order).update? %><li><%= link_to "<i class='fa fa-pencil' data-toggle='tooltip' data-placement='right' title='Edit Order'></i>&nbsp; Edit".html_safe, edit_company_order_path(@order), class: "" %></li><% end %>
      <% if policy(@order).destroy? %><li><%= link_to "<i class='fa fa-trash' data-toggle='tooltip' data-placement='right' title='Delete Order'></i>&nbsp; Delete".html_safe, company_order_path(@order), method: :delete, data: { confirm: 'Are you sure?' }, class: "" %></li><% end %>
    </ul>
  </div>
  <div class='col-md-2 text-center well well-sm'>
      <h3><%= lg_status_tag(@order) %></h3>
       <strong>Shift:</strong>
      <%= @order.shift %> <br>
      <strong>Pay Range:</strong><br>
      <%= number_to_currency(@order.min_pay) %> - <%= number_to_currency(@order.max_pay) %><hr>
      <strong>Company Manager</strong><br>
      <%=
         link_to_if(@order.manager.nil?, "Add Manager", { controller: "company/orders", action: "edit", id: @order }) do
           link_to(@order.manager.name, company_company_admin_path(@order.manager))
         end
      %>
      <br>
      <strong>Account Manager</strong><br>
      <%= @order.account_manager.try(:name) || "Unavailable" %>
  </div>
 
<div class='col-md-10 well'>
  <!-- Nav tabs -->
  <ul id="" class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#order" aria-controls="order" role="tab" data-toggle="tab">Order Info.</a></li>
    <li role="presentation"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Job Description</a></li>
  <% if @order.timesheets.any? %><li role="presentation"><a href="#timesheets" aria-controls="timesheets" role="tab" data-toggle="tab">Timesheets</a></li><% end %>
  <% if @order.jobs.currently_working.any? %><li role="presentation"><a href="#active-jobs" aria-controls="active-jobs" role="tab" data-toggle="tab"> Employees</a></li><% end %>
  <% if @order.jobs.pending_approval.any? %><li role="presentation"><a href="#presented" aria-controls="presented" role="tab" data-toggle="tab">Presented Candidates</a></li><% end %>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="order">
      <div class='col-md-4 well'>
        <% if @order.skills.count < 1 %>
           <h4 id='no-skills' class="text-center">This job order has no skills entered.</h4>
          <% end %>
          <div  id='skills' class='pad'>
            <%= render @order.skills %>
          </div>
          <div class='form-inline'>
            <%= render partial: "company/skills/form", locals: {skillable: @order} %>
          </div>
      </div>
    
    <div class='col-md-4 well'>
      <%= skills_popover(@order.skills) %>
      <%= heavy_lifting(@order) %>
      <br><strong><%= @order.stwb ? "STWB Required" : "" %></strong><br>
    <strong>Drug Test </strong><br>
    <%= @order.dt_req %><br>
    <strong>Background Check </strong><br>
    <%= @order.bg_check %><br>

    <strong>Assignment Type</strong><br>
    <%= @order.est_duration %><br>

    <strong>Pay Range:</strong><br>
    <%= @order.pay_range %>
   </div>
  <div class='col-md-4 well'>
     <strong>Mentioned Admins:</strong>
  <p> <%= @order.mentioned_admins.map{|p| p.name.titleize}.join(", ")  %></p>
      <strong>Requested Employees</strong>
      <p><%= @order.requested_employees.map {|p| p.name.titleize}.join(", ") %></p>
     <strong>Tags</strong>
      
     <p><%= @order.tag_list %></p>
   </div>
   
  </div>
   <!--JOB DESCRIPTION TAB-->
  <div role="tabpanel" class="tab-pane fade" id="description">
    <h1> Job Description</h1>
    <div class=''>
      <%= markdownify(@order.notes) %>
    </div>
  </div>
 

  <!--ACTIVE JOBS TAB-->
  <div role="tabpanel" class="tab-pane fade" id="active-jobs">
      <div class=''>
        <% if @jobs.active.any? %>
     <%= render "company/jobs/active", active_jobs: @jobs.active %>
        
      <% else %>
      <h3>No active jobs to display.</h3>
        
      <% end %>
      </div>
  </div>
  <!--TIMESHEETS TAB-->
  <div role="tabpanel" class="tab-pane fade" id="timesheets">
    <div class=''>
      <% if @order.timesheets.pending.any? %>
      <h3>Pending timesheets</h3>
        <%= render "company/timesheets/table", timesheets: @order.timesheets.pending.distinct %>
      <% else %>
        <h3>No pending timesheets.</h3>
      <% end %>
      <% if @order.timesheets.approved.any? %>
        <h3>Approved timesheets</h3>
      <%= render "company/timesheets/table", timesheets: @order.timesheets.approved.distinct %>
      <% else %>
        <h3>No approved timesheets.</h3>
      <% end %>
    </div>
  </div>
  
  <!--APPLICATIONS TAB-->
    <div role="tabpanel" class="tab-pane fade" id="presented">
        <h1>Presented Candidates</h1>
        <% @order.jobs.pending_approval.each do |job| %>
        <%= link_to job.name_title, company_job_path(job) %><br>
        <% end %>
      </div>
      
    </div>
  </div>
</div>

