<div id="employee-home-page">
    
    <%=
   link_to_if(@current_user.nil?, "Login", { controller: "sessions", action: "new" }) do
     link_to(@current_user.employee?, { controller: "dashboard", action: "employee_view", id: @employee.id })
    end %>
    
    
    <strong><%= current_user.name %></strong> <br>
<%= current_user.email %>
<br>
<%= @job.title %>  - <%= number_to_currency(@job.pay_rate) %> 

<% if @job.on_shift? %>
<h2>You are currently clocked in. </h2> <h2><strong> You clocked in at <%= @current_shift.time_in.strftime("%I:%M %p") %> on <%= @current_shift.time_in.strftime("%x") %>.</strong></h2>
<h3><small><%= time_ago_in_words(@current_shift.time_in).titleize %></small></h3>

<%= link_to "Clock Out", clock_out_job_shift_path(@job, @current_shift), method: :patch, 
                          remote: true, data: {confirm: 'Are you sure you want to clock out now?', 
                          disable_with: "Clocking Out..."}, class: "btn btn-primary btn-lg btn-block" if policy(@current_shift).clock_out? %>

<% else %>
<%= link_to "Clock In", new_job_shift_path(@job), class: "btn btn-primary btn-lg btn-block" %>

<% end %>
<br>
</div>