<div class=''>
    <div class="col-md-4 ">
        <%= image_tag("test22.png", class: 'front-icon') %>
         <h2 class='metal text-center'>Time Tracking</h2>
         
        <ul class='fa-ul bold'>
         <li><i class="fa-li fa fa-check-square fa-lg"></i> Mobile or On-Site Time Clock  </li>
         <li><i class="fa-li fa fa-check-square fa-lg"></i> GPS location tracking  </li>
         <li><i class="fa-li fa fa-check-square fa-lg"></i> Password Protected  </li>
        </ul>
    </div>
    <div class="col-md-4 ">
         <%= image_tag("aca-icon.png", class: 'front-icon') %>
        <h2 class='metal text-center'>ACA Tracking</h2>
        <ul class='fa-ul bold'>
         <li><i class="fa-li fa fa-check-square fa-lg"></i> Monitors actual working hours of all employees  </li>
         <li><i class="fa-li fa fa-check-square fa-lg"></i> View ACA eligibility & Set custom alerts </li>
         <li><i class="fa-li fa fa-check-square fa-lg"></i> IRS 1095-C & 1094-C report preparation </li>
        </ul>
        
    </div>
    <div class="col-md-4 ">
         <%= image_tag("business120.png", class: 'front-icon') %>
         
        <h2 class='metal text-center'>Real-time Data</h2>
        <ul class='fa-ul bold'>
            <li><i class="fa-li fa fa-check-square fa-lg"></i> Easily view bill rates & fill times  </li>
            <li><i class="fa-li fa fa-check-square fa-lg"></i> Real-time sales & payroll data  </li>
            <li><i class="fa-li fa fa-check-square fa-lg"></i> Communicate with your entire team  </li>
        </ul>
    </div>
    <hr>
    <div class="col-md-4 ">
        <%= image_tag("money111.png", class: 'front-icon') %>
         <h2 class='metal text-center'>Automatic Invoicing</h2>
         
        <ul class='fa-ul bold'>
         <li><i class="fa-li fa fa-check-square fa-lg fa-lg"></i> Created instantly when your first employee clocks in</li>
         <li><i class="fa-li fa fa-check-square fa-lg fa-lg"></i> Quickly view invoice status  </li>
         <li><i class="fa-li fa fa-check-square fa-lg fa-lg"></i> Set custom payment reminders  </li>
        </ul>
    </div>
    <div class="col-md-4 ">
         <%= image_tag("network18.png", class: 'front-icon') %>
        <h2 class='metal text-center'>Streamlined Approvals</h2>
        <ul class='fa-ul bold'>
         <li><i class="fa-li fa fa-check-square fa-lg"></i> Present candidates to companies instantly  </li>
         <li><i class="fa-li fa fa-check-square fa-lg"></i> Monitor timesheet status for all companies </li>
         <li><i class="fa-li fa fa-check-square fa-lg"></i> Set reminders & auto-approve options </li>
        </ul>
        
    </div>
    <div class="col-md-4 ">
         <%= image_tag("website17.png", class: 'front-icon') %>
         
        <h2 class='metal text-center'>Online Portals</h2>
        <ul class='fa-ul bold'>
            <li><i class="fa-li fa fa-check-square fa-lg"></i>Multiple user & admin roles  </li>
            <li><i class="fa-li fa fa-check-square fa-lg"></i> Role-based permissions </li>
            <li><i class="fa-li fa fa-check-square fa-lg"></i> Indiviualized dashboards  </li>
        </ul>
    </div>
</div>
