<div class='row'>
    <div class="col-md-4 ">
        <%= image_tag("test22.png", class: 'front-icon') %>
         <h2 class='metal text-center'>Time Tracking</h2>
         
        <ul class='fa-ul bold'>
         <li><i class="fa-li fa fa-mobile fa-lg"></i> Mobile or On-Site Time Clock  </li>
         <li><i class="fa-li fa fa-globe fa-lg"></i> GPS location tracking  </li>
         <li><i class="fa-li fa fa-lock fa-lg"></i> Password Protected  </li>
        </ul>
    </div>
    <div class="col-md-4 ">
         <%= image_tag("aca-icon.png", class: 'front-icon') %>
        <h2 class='metal text-center'>ACA Tracking</h2>
        <ul class='fa-ul bold'>
         <li><i class="fa-li fa fa-check-square"></i> Monitors actual working hours of all employees  </li>
         <li><i class="fa-li fa fa-check-square"></i> View ACA eligibility & Set custom alerts </li>
         <li><i class="fa-li fa fa-check-square"></i> IRS 1095-C & 1094-C report preparation </li>
        </ul>
        
    </div>
    <div class="col-md-4 ">
         <%= image_tag("business120.png", class: 'front-icon') %>
         
        <h2 class='metal text-center'>Custom Dashboards</h2>
        <ul class='fa-ul bold'>
            <li><i class="fa-li fa fa-check-square"></i> Easily view bill rates & fill times  </li>
            <li><i class="fa-li fa fa-check-square"></i> Real-time sales data  </li>
            <li><i class="fa-li fa fa-check-square"></i> Communicate with your entire team  </li>
        </ul>
    </div>
</div>
<div class='row'>
    <div class="col-md-4 ">
        <%= image_tag("businessman205.png", class: 'front-icon') %>
        <h2 class='metal text-center'>Instant Job Orders</h2>
        <ul class='fa-ul bold'>
            <li><i class="fa-li fa fa-check-square"></i> Company self-service </li>
            <li><i class="fa-li fa fa-check-square"></i> Instantly notifies recruiters </li>
            <li><i class="fa-li fa fa-check-square"></i> Set custom approval requirements  </li>
        </ul>
    </div>
    <div class="col-md-4 ">
        <%= image_tag("candidates.png", class: 'front-icon') %>
        <h2 class='metal text-center'>Candidate Sourcing</h2>
        <ul class='fa-ul bold'>
            <li><i class="fa-li fa fa-check-square"></i> Automatically find qualified candidates </li>
            <li><i class="fa-li fa fa-check-square"></i> Instant skills comparison </li>
            <li><i class="fa-li fa fa-check-square"></i> Post to job boards  </li>
        </ul>
    </div>
    <div class="col-md-4 ">
        <%= image_tag("businessman65.png", class: 'front-icon') %>
        <h2 class='metal text-center'>Instant Job Orders</h2>
        <ul class='fa-ul bold'>
            <li><i class="fa-li fa fa-check-square"></i> Company self-service </li>
            <li><i class="fa-li fa fa-check-square"></i> Instantly notifies recruiters </li>
            <li><i class="fa-li fa fa-check-square"></i> Set custom approval requirements  </li>
        </ul>
    </div>
</div>
