<div class='row'>
    <div class="col-md-4 well shadow">
        <%= image_tag("test22.png", class: 'front-icon') %>
         <h3 class='text-center'>Time Tracking</h3>
         
        <ul class='fa-ul'>
         <li><i class="fa-li fa fa-check-square fa-fw"></i> Mobile or On-Site Time Clock  </li>
         <li><i class="fa-li fa fa-check-square fa-fw"></i> GPS location tracking  </li>
         <li><i class="fa-li fa fa-check-square fa-fw"></i> Password Protected  </li>
        </ul>
    </div>
    <div class="col-md-4 well shadow">
        <%= image_tag("business53.png", class: 'front-icon') %>
        
        <h3 class='text-center'>ACA Tracking</h3>
        <ul class='fa-ul'>
         <li><i class="fa-li fa fa-check-square fa-fw"></i> Monitors actual working hours   </li>
         <li><i class="fa-li fa fa-check-square fa-fw"></i> View ACA eligibility & Set custom alerts </li>
         <li><i class="fa-li fa fa-check-square fa-fw"></i> IRS 1095-C & 1094-C report preparation </li>
        </ul>
    </div>
    <div class="col-md-4 well shadow ">
         <%= image_tag("business120.png", class: 'front-icon') %>
         
        <h3 class='text-center'>Real-time Data</h3>
        <ul class='fa-ul'>
            <li><i class="fa-li fa fa-check-square fa-fw"></i> Easily view bill rates & fill times  </li>
            <li><i class="fa-li fa fa-check-square fa-fw"></i> Real-time sales & payroll data  </li>
            <li><i class="fa-li fa fa-check-square fa-fw"></i> Communicate with your entire team  </li>
        </ul>
    </div>
    <div class="col-md-4 well shadow ">
        <%= image_tag("money111.png", class: 'front-icon') %>
         <h3 class='text-center'>Auto Invoicing</h3>
         
        <ul class='fa-ul'>
         <li><i class="fa-li fa fa-check-square fa-fw fa-fw"></i> Created instantly on clock-in</li>
         <li><i class="fa-li fa fa-check-square fa-fw fa-fw"></i> Quickly view invoice status  </li>
         <li><i class="fa-li fa fa-check-square fa-fw fa-fw"></i> Set custom payment reminders  </li>
        </ul>
    </div>
    <div class="col-md-4 well shadow ">
         <%= image_tag("network18.png", class: 'front-icon') %>
        <h3 class='text-center'>Easy Approvals</h3>
        <ul class='fa-ul'>
         <li><i class="fa-li fa fa-check-square fa-fw"></i> Present candidates instantly  </li>
         <li><i class="fa-li fa fa-check-square fa-fw"></i> Monitor timesheets in real-time </li>
         <li><i class="fa-li fa fa-check-square fa-fw"></i> Set reminders & auto-approve options </li>
        </ul>
        
    </div>
    <div class="col-md-4 well shadow ">
         <%= image_tag("website17.png", class: 'front-icon') %>
         
        <h3 class='text-center'>Online Portals</h3>
        <ul class='fa-ul'>
            <li><i class="fa-li fa fa-check-square fa-fw"></i>Multiple user & admin roles  </li>
            <li><i class="fa-li fa fa-check-square fa-fw"></i> Role-based permissions </li>
            <li><i class="fa-li fa fa-check-square fa-fw"></i> Indiviualized dashboards  </li>
        </ul>
    </div>
</div>
