<div id="manager-home">
    <h3>Welcome <%= current_user.name %>,</h3>
    <!--ORDER/JOB BUTTONS-->
        <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"> Your Departments</h3>
        </div>
        <div class="panel-body">
            <% @orders.each do |order| %>
            <div class="btn-group" role="group" aria-label="Departments">
                
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= order.title %>
              <span class="caret"></span>
            </button>
            
            <ul class="dropdown-menu">
            <%= content_tag_for(:li, order.jobs) do |job| %>
              <%= link_to job.employee.name, job %>
             <% end %>
            </ul>
            
            </div>
            <% end %>
        </div>
    </div>

    <!--TIMESHEETS FOR THE DEPARTMENTS THE CURRENT USER MANAGES-->

    <% if @manager_timesheets %>

    <%= div_for(@manager_timesheets, class: "well") do |order| %>

        <strong><%= order.title %> - $ <%= order.pay_range %></strong>
        <p>
           Dept. Manager: <%= link_to order.manager.name, order.manager %><br>
          
              <ul>
                  <% order.timesheets.this_week.each do |timesheet| %>
                      <li><%= timesheet.week_ending %> - <%= timesheet.employee.name %></li>
                  <% end %>
              </ul>
         
        </p>
        <h5><strong>There are <%= order.jobs.active.count %> employees currently working in this department.</strong></h5>

        <% end %>
    <% end %>

    
    
    
        
        
        
    
    
    
</div>