<div class="col-lg-10">
	<div class="main-box clearfix">
		
		<div class="tabs-wrapper">
			<div class="clearfix">
				<h2 class="pull-left">At A Glance</h2>
				<ul class="nav nav-tabs pull-right">
					<li class="active"><a href="#tab-users" data-toggle="tab">Employees</a></li>
					<li><a href="#tab-products" data-toggle="tab">Admins</a></li>
					<li><a href="#tab-todo" data-toggle="tab">Timesheets</a></li>
				</ul>
			</div>
			
			<div class="tab-content">
				<div class="tab-pane fade in active" id="tab-users">
		

		<%= div_for(@agency.jobs, class: '') do |job| %>

			<%= render job %>

		<% end %>
						
						
					<br>
					<%= link_to "View all users", users_path, class: "btn btn-primary pull-right" %>
				</div>
				
				
				<div class="tab-pane fade" id="tab-todo">
					<ul class="widget-todo" data-behavior="timesheet-list">
					<% @timesheets.each do |timesheet| %>
						<li class="clearfix" data-behavior="timesheet" data-id="<%= timesheet.id %>" >
							<div class="name">
						        <%= link_to timesheet.employee.name, timesheet.employee %>
						        <%= link_to timesheet.job.title, timesheet.job %>
						        <%= timesheet.reg_hours %>    <%= timesheet.ot_hours %>
						        <%= number_to_currency(timesheet.gross_pay) %>
					        
								<div class="checkbox-nice">
									<%if timesheet.approved? %>
          
						          <%= button_tag(type: "button", class: 'btn btn-danger btn-xs', data: { behavior: "timesheet-toggle" }) do %>
						            <span data-behavior="approve-button"> 
						              <% if timesheet.approved? %>
						                <i class='fa fa-times'></i>     Unapprove
						              <% else %>
						                <i class='fa fa-check-circle'></i>     Approve
						              <% end %>
						            </span>
						          <% end %>
						          
						
						           <% else %>
						            
						          <%= button_tag(type: "button", class: 'btn btn-success btn-sm', data: { behavior: "timesheet-toggle" }) do %>
						            <span data-behavior="approve-button"> 
						              <% if timesheet.approved? %>
						                <i class='fa fa-times'></i>     Unapprove
						              <% else %>
						                <i class='fa fa-check-circle'></i>     Approve
						              <% end %>
						            </span>
						          <% end %>
						
						        <% end %>
								</div>
							</div>
							<div class="actions">
								<%= link_to "<i class='fa fa-folder-open'></i>     View".html_safe, timesheet, class: "badge" %>
						        <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_timesheet_path(timesheet), class: "table-link danger" %>
						        <%= link_to "<i class='fa fa-trash-o'></i>".html_safe, timesheet, class: "table-link danger", method: :delete, data: { confirm: 'Are you sure?' } %>
				

							</div>
						</li>
					<% end %>
					</ul>
				</div>
				
			</div>
		</div>
	</div>
</div>
<!--<div class="col-md-3 align-center" ng-app ng-controller="AdminEmployeesCtrl">-->
<!--  <h1> Admin View</h1>-->
<!--{{company.name}}-->

<!--<div  ng-init="checked=false">-->
<!--  <label class="btn btn-primary">-->
<!--    <input type="checkbox" ng-model="checked" style="float:left; margin-right:10px;"> Show Employees-->
<!--  </label>-->
  
<!--  <div class="check-element sample-show-hide" ng-show="checked" style="clear:both;">-->
<!--  	<br>-->
<!--  	<div class="form-group">-->
<!--  	<input type="text" placeholder="Search" data-ng-model="nameText" />-->
<!--  {{nameText}}-->
<!--  </div>-->
<!--    <ul class="list-group">-->
<!--        <li class="list-item" ng-repeat="employee in employees | filter:nameText | orderBy: 'time_in'">-->
<!--        	{{employee.first_name}} {{employee.last_name}}-->
<!--			<p class="text-muted">{{employee.email}}</p>-->
			

<!--        </li>-->
<!--      </ul>-->
<!--  </div>-->
<!--</div>-->
  
<!--</div>-->