<h1><%= @company.name %>'s Dashboard</h1>
    <span>You are signed in as an <%= @admin.role %>.</span>

<div class="col-md-12">
		<div class="col-lg-6 col-sm-6 col-xs-12">
			<div class="main-box infographic-box">
				<i class="fa fa-users red"></i>
				<span class="headline">Employees</span>
				<span class="value"><%= @company.employees.count %></span>
			</div>
		</div>
		<div class="col-lg-6 col-sm-6 col-xs-12">
			<div class="main-box infographic-box">
				<i class="fa fa-money green"></i>
				<span class="headline">Current Payroll</span>
				<span class="value"><%= number_to_currency(@company.current_payroll_cost) %></span>
			</div>
		</div>
		
		<div class="col-lg-6 col-sm-6 col-xs-12">
			<div class="main-box infographic-box">
				<i class="fa fa-clock-o"></i>
				<span class="headline">Clocked In</span>
				<span class="value"><small><%= pluralize(@company.jobs.on_shift.count, 'Employee') %></small></span>
			</div>
		</div>
		
		<div class="col-lg-6 col-sm-6 col-xs-12">
			<div class="main-box infographic-box">
				<i class="fa fa-eye yellow"></i>
				<span class="headline">Approaching OT</span>
				<span class="value"><small><%= pluralize(@company.timesheets.current_week.approaching_overtime.count, 'Employee')  %></small></span>
			</div>
		</div>
	



			

</div>

<%= render 'shared/updates' %>
    




