<div class='col-md-12 transbox'>
    
  
    <div class='row'>
        <div class='col-md-12 transbox'>
         <h2 class='text-center white'>With our truely all-in-one solution you can optimize every element of your business.</h2>
        <h3 class='text-center'>Provide your team everything the need to increase your bottomline.</h3>
         <h1 class='text-center white'>One solution with benefits for everyone!</h1>
            <hr>
       
        <div class='col-md-4 '>
            <h2 class=''>Your Sales Team...</h2>
            <hr>
            <%= image_tag("macbook.jpg", class: 'pic') %>
            <h4 class='text-center'>Improve efficiency. Increase sales.</h4>
            
            <p>IncluStaff allows your sales team to easily enter new job orders from anywhere, giving your recruiting team a head start on finding the prefect candidate. </p>
        </div>
        <div class='col-md-4 '>
            <h2 class=''>Your Recruiting Team...</h2>
            <hr>
            <%= image_tag("comp.jpg", class: 'pic') %>
            <h4 class='text-center'>Optimize mistakes. Save money.</h4>
            
            <p>IncluStaff eliminates that extra expense by allowing you to track all of your employees' hours in real-time, no matter their job assignment.</p>
        </div>
        <div class='col-md-4 '>
            <h2 class=''>Your Payroll Team...</h2>
            <hr>
            <%= image_tag("41.jpg", class: 'pic') %>
            <h4 class='text-center'>Reduce mistakes. Save money.</h4>
            <p>Payroll mistakes & missing hours are expensive. Most payroll companies charge a fee to run additional payrolls. 
            IncluStaff eliminates that extra expense by allowing you to track all of your employees' hours in real-time, no matter their job assignment.</p>
        </div>
        <div class='col-md-4 '>
            <h2 class=''>Your Customers...</h2>
            <hr>
            <%= image_tag("17.jpg", class: 'pic') %>
            <h4 class='text-center'>Reduce mistakes. Save money.</h4>
            
            <p>IncluStaff eliminates that extra expense by allowing you to track all of your employees' hours in real-time, no matter their job assignment.</p>
        </div>
        <div class='col-md-4 '>
            <h2 class=''>Your Employees...</h2>
            <hr>
            <%= image_tag("59.jpg", class: 'pic') %>
            <h4 class='text-center'>Reduce mistakes. Save money.</h4>
            
            <p>IncluStaff eliminates that extra expense by allowing you to track all of your employees' hours in real-time, no matter their job assignment.</p>
        </div>
        <div class='col-md-4 '>
            <h2 class=''>Your Employees...</h2>
            <hr>
            <%= image_tag("sky.jpg", class: 'pic') %>
            <h4 class='text-center'>Reduce mistakes. Save money.</h4>
            
            <p>IncluStaff eliminates that extra expense by allowing you to track all of your employees' hours in real-time, no matter their job assignment.</p>
        </div>
     </div>
    </div>
    
    
    
    
    
    
</div>
