<div class='col-md-12 lighterbox'>
    
  
    <div class='row'>
        <div class='col-md-12'>
            
             
       
        <div class='col-md-4 dark'>
            <h2 class='white'>Your Sales Team...</h2>
            
            <%= image_tag("macbook.jpg", class: 'pic-box') %>
            
            
            <h5 class='text-center'>Easily enter job orders from anywhere</h5> 
            <div class='col-md-6'>
                From the company’s lips to your recruiters ears…IncluStaff provides
            a way for your client to easily add a job order to your system. Why would they even think about
            calling a competitor and waiting for an order to be processed when your company makes it so easy?
            </div>
            <div class='col-md-6'>No more paper waiting for manual data entry gives your team the competitive advantage
            by having the order immediately visible to your recruiters & candidates.
            Immediate action is key to a quick fill - and increased revenue!
            </div>
           
        </div>
        <div class='col-md-4 dark'>
            <h2 class=''>Your Recruiting Team...</h2>
            
            <%= image_tag("41.jpg", class: 'feature-pic') %>
           <h5 class='text-center'>Easily enter job orders from anywhere</h5> 
            <p>From the company’s lips to your recruiters ears…IncluStaff provides
            a way for your client to easily add a job order to your system. Why would they even think about calling a competitor and waiting for an order to be processed when your company makes it so easy?
            </p>
            <p  class=''>No more paper waiting for manual data entry gives your team the competitive advantage
            by having the order immediately visible to your recruiters & candidates.
            Immediate action is key to a quick fill - and increased revenue!

            </p>
        </div>
        <div class='col-md-4 dark'>
            <h2 class=''>Your Payroll Team...</h2>
            
            <%= image_tag("41.jpg", class: 'feature-pic') %>
            <h5 class='text-center'>Easily enter job orders from anywhere</h5> 
            <p>From the company’s lips to your recruiters ears…IncluStaff provides
            a way for your client to easily add a job order to your system. Why would they even think about calling a competitor and waiting for an order to be processed when your company makes it so easy?
            </p>
            <p  class=''>Payroll mistakes & missing hours are expensive. Most payroll companies charge a fee to run additional payrolls. 
            IncluStaff eliminates that extra expense by allowing you to track all of your employees' hours in real-time, no matter their job assignment.
            </p>
            
        </div>
        
        <div class='col-md-4 dark'>
            <h2 class=''>Your Customers...</h2>
            
            <%= image_tag("office21.png", class: '') %>
            <h5 class='text-center'>Easily enter job orders from anywhere</h5> 
            <p>From the company’s lips to your recruiters ears…IncluStaff provides
            a way for your client to easily add a job order to your system. Why would they even think about calling a competitor and waiting for an order to be processed when your company makes it so easy?
            </p>
            <p  class=''>Payroll mistakes & missing hours are expensive. Most payroll companies charge a fee to run additional payrolls. 
            IncluStaff eliminates that extra expense by allowing you to track all of your employees' hours in real-time, no matter their job assignment.
            </p>
        </div>
        <div class='col-md-4 dark'>
            <h2 class=''>Your Employees...</h2>
            
            <%= image_tag("59.jpg", class: 'feature-pic') %>
            <h5 class='text-center'>Easily enter job orders from anywhere</h5> 
            <p>From the company’s lips to your recruiters ears…IncluStaff provides
            a way for your client to easily add a job order to your system. Why would they even think about calling a competitor and waiting for an order to be processed when your company makes it so easy?
            </p>
            <p  class=''>Payroll mistakes & missing hours are expensive. Most payroll companies charge a fee to run additional payrolls. 
            IncluStaff eliminates that extra expense by allowing you to track all of your employees' hours in real-time, no matter their job assignment.
            </p>
        </div>
        <div class='col-md-4 dark'>
            <h2 class=''>Your Employees...</h2>
            
            <%= image_tag("sky.jpg", class: 'feature-pic') %>
            <h5 class='text-center'>Easily enter job orders from anywhere</h5> 
            <p>From the company’s lips to your recruiters ears…IncluStaff provides
            a way for your client to easily add a job order to your system. Why would they even think about calling a competitor and waiting for an order to be processed when your company makes it so easy?
            </p>
            <p  class=''>Payroll mistakes & missing hours are expensive. Most payroll companies charge a fee to run additional payrolls. 
            IncluStaff eliminates that extra expense by allowing you to track all of your employees' hours in real-time, no matter their job assignment.
            </p>
        </div>
     </div>
    </div>
    
    
    
    
    
    
</div>
