<div class='col-md-12'>
    
  
    <div class='row'>
        <div class='col-md-12'>
         <h2 class='text-center white'>With our truely all-in-one solution you can optimize every element of your business.</h2>
        <h3 class='text-center'>Provide your team everything the need to increase your bottomline.</h3>
         <h1 class='text-center white'>One solution with benefits for everyone!</h1>
            <hr>
       
        <div class='col-md-4 dark'>
            <h2 class='white'>Your Sales Team...</h2>
            <hr>
            <%= image_tag("macbook.jpg", class: 'feature-pic') %>
            <h4 class='text-center white'>Improve efficiency. Increase sales.</h4>
            
            <h5 class='text-center'>Easily enter job orders from anywhere<br>
            <small>Giving your recruiting team a head start on finding the prefect candidate</small></h5> 
            <p  class=''>No more paper waiting for manual data entry gives your team the competitive advantage
            by having the order immediately visible to your recruiters & candidates. Immediate action is key to a quick fill - and increased revenue!

            </p>
        </div>
        <div class='col-md-4 '>
            <h2 class=''>Your Recruiting Team...</h2>
            <hr>
            <%= image_tag("comp.jpg", class: 'feature-pic') %>
            <h4 class='text-center'>Optimize mistakes. Save money.</h4>
            
            <p>IncluStaff eliminates that extra expense by allowing you to track all of your employees' hours in real-time, no matter their job assignment.</p>
        </div>
        <div class='col-md-4 '>
            <h2 class=''>Your Payroll Team...</h2>
            <hr>
            <%= image_tag("41.jpg", class: 'feature-pic') %>
            <h4 class='text-center'>Reduce mistakes. Save money.</h4>
            <p>Payroll mistakes & missing hours are expensive. Most payroll companies charge a fee to run additional payrolls. 
            IncluStaff eliminates that extra expense by allowing you to track all of your employees' hours in real-time, no matter their job assignment.</p>
        </div>
        <div class='col-md-4 '>
            <h2 class=''>Your Customers...</h2>
            <hr>
            <%= image_tag("17.jpg", class: 'feature-pic') %>
            <h4 class='text-center'>Reduce mistakes. Save money.</h4>
            
            <p>IncluStaff eliminates that extra expense by allowing you to track all of your employees' hours in real-time, no matter their job assignment.</p>
        </div>
        <div class='col-md-4 '>
            <h2 class=''>Your Employees...</h2>
            <hr>
            <%= image_tag("59.jpg", class: 'feature-pic') %>
            <h4 class='text-center'>Reduce mistakes. Save money.</h4>
            
            <p>IncluStaff eliminates that extra expense by allowing you to track all of your employees' hours in real-time, no matter their job assignment.</p>
        </div>
        <div class='col-md-4 '>
            <h2 class=''>Your Employees...</h2>
            <hr>
            <%= image_tag("sky.jpg", class: 'feature-pic') %>
            <h4 class='text-center'>Reduce mistakes. Save money.</h4>
            
            <p>IncluStaff eliminates that extra expense by allowing you to track all of your employees' hours in real-time, no matter their job assignment.</p>
        </div>
     </div>
    </div>
    
    
    
    
    
    
</div>
