<div id="home-page">
    
    
<% if current_user.present? %>

    
    
    
    <!--EMPLOYEE HOME PAGE VIEW-->
    
<% if user_signed_in? && current_user.employee? %>
<%= render 'dashboard/employee' %>

<%= link_to "Current Timesheet", @current_timesheet, class: "btn btn-default" %>


<% end %>

<% if user_signed_in? && current_user.admin? %>
    <%= render 'dashboard/admin' %>
<% end %>

<% if user_signed_in? && current_user.manager? %>
<%= render 'dashboard/manager' %>
<% end %>

<% if user_signed_in? && current_user.payroll? %>
<%= render 'dashboard/payroll' %>
<% end %>











<% else %>
            <div class="welcome-screen">
                <h1>Welcome to IncluStaff</h1>
                <h3>Simplify the process, optimize your workforce and maximize your profits. </h3>
                <h4 class="pull-center"> From the first punch to the final invoice, IncluStaff does it all.</h4>
                <a class="btn " href="#" role="button">Learn more &raquo;</a>
            </div>
            
            <div class="row">
                
                <div class="col-md-6">
                    <div class="welcome-screen">
                        <h1>Welcome to IncluStaff</h1>
                        <h3>Simplify the process, optimize your workforce and maximize your profits. </h3>
                        <h4 class="pull-center"> From the first punch to the final invoice, IncluStaff does it all.</h4>
                        <a class="btn " href="#" role="button">Learn more &raquo;</a>
                    </div>
                  
                  
                </div>
                <div class="col-md-6">
                    <div class="welcome-screen">
                        <h1>MINIMAL DATA ENTR</h1>
                        <h3>Optimize your workforce by simplifying your workflow. </h3>
                        <h4 class="pull-center">  Easily connect to your existing payroll systems or simply export to Excel.</h4>
                        <a class="btn " href="#" role="button">Learn more &raquo;</a>
                    </div>
                    
                </div>
            </div>
            
            


<% end %>

    
</div>

    
    





