<div class='col-md-12 lighterbox'>
    <div class='col-md-3'>
        <%= image_tag(@current_agency.logo_url, class: "home-logo", alt: "img-#{@current_agency.id}")%> 
    </div>
    <div class='col-md-6'><h1 class='metal bold text-center'><%= @current_agency.name %></h1></div>
    
    <div class='col-md-3'>
        <%= link_to "<h3><i class='fa fa-search fa-fw'></i> Job Search</h3>".html_safe, public_job_board_path, class: "btn btn-primary btn-lg btn-block" %>
    </div>
    <div class='col-md-12'>
        <%= render 'users_sign_in' %>
    </div>
</div>


<div class='col-md-3'>
	<div class='text-right'>
		<%= link_to "<i class='fa fa-plus fa-fw'></i>Admin Sign Up ".html_safe, new_admin_registration_path, class: '' %>
		<%= link_to "<i class='fa fa-sign-in fa-fw'></i> Admin Sign In ".html_safe, new_admin_session_path, class: '' %>
	</div>
</div>