<% if admin_signed_in? %>
    <div class='center'>
         <%= render 'admin/infoboxes/recruiter_charts' %>
        <%= render 'admin/infoboxes/owner_charts' %>
        <% if @current_admin.account_manager? %>
        <h2><%= @current_admin.role %></h2>
        <% elsif @current_admin.payroll? %>
        <h2><%= @current_admin.role %></h2>
        <%= render 'admin/infoboxes/payroll_boxes' %>
        <% end %>
            <%= render 'admin/infoboxes/recruiter_boxes' %>
       
        
    </div>
    <% end %>
    
    <% if user_signed_in? %>
    <div class='col-md-12'>
        <div class='col-md-6'>
            <h4>Add A New Work Record</h4>
            <%= render 'work_histories/form' %>
        </div>
        <div class='col-md-6 pull-right'>
            <h4>Your Work History</h4>
            <% if @employee.work_histories.any? %>
                <%= render 'work_histories/table' %>
            <% end %>
        </div>
    </div>
        
    <% end %>
    
    

    
    
    
    <!--EMPLOYEE HOME PAGE VIEW-->
    
<% if @employee.present? && @employee.assigned? %>
<%= render 'dashboard/employee' %>


<% end %>











<% if current_user.nil? && current_admin.nil? %>
        <h1>More Info....</h1>

    

<% end %>


    
    





