
<div class='main-box center'>
    

        
  <h1 class='text-center'>Optimize your workforce & maximize your profits.</h1>
  <h4 class='text-center'>From the first punch to the final invoice, IncluStaff does it all</h4>
  <div class='actions text-center'>
    <%= link_to "Learn more", home_path, class: 'btn btn-primary' %>
        <%= link_to "Register Now!", new_agency_path, class: 'btn btn-primary' %> 
    </div>     
 
  
<div class='row'>
       
    <div class="col-md-12">
    <div class="col-md-4">
    <div class='transbox'><%= image_tag("http://ldssmile.com/wp-content/uploads/2014/01/four-business-people-watching-clock-time-for-social-media.jpg", class: 'pic') %>
        <div class='text-center'>
            
           <h2>Track Hours from Any Location</h2>
                <h5> No more paper timecards! </h5>
               
                    <p>Allows employees clock in or out from any computer or mobile device.</p>
        </div>
                
          </div>      
                
            </div>

            <div class="col-md-4">
                <div class='transbox'><%= image_tag("http://www.680news.com/wp-content/blogs.dir/sites/2/2013/10/business-expansion-stock.jpg", class: 'pic') %>
                <div class='text-center'>
                   
                <h2>Highlight your Top Performers</h2>
               <h5 class='text-center'>Quickly identify your All-Stars!</h5>
                    
          
                     <p>Easily view bill & fill rates for your entire team with a single click.</p>
               </div>
       
            </div>
            </div>

            <div class= "col-md-4 ">
                <div class='transbox'><%= image_tag("http://cdn2.hubspot.net/hub/219533/hubfs/uscybervault/ID-100314794.jpg?t=1440774938432&width=400&height=272&t=1441042923377", class: 'pic') %>
            <div class=' text-center'>
                
                <h2>Easily Integrate your Payroll System</h2>
                <h5 class='text-center'>Cut your processing time in HALF!</h5>
              
                    <p>Choose to upload Excel/CSV or connect directly to your existing database. </p>
                
                
            </div>
    </div>
    </div>
</div>
</div>


          
</div>



