<div class='row'>
    <hr />
    <div class='col-md-6'>
        <%= link_to new_user_session_path, class: "btn btn-info btn-lg btn-block" do %>
            <span id="interested">Interested in this position..?</span>
            <span id="apply">Sign In Now!</span>
        <% end %>
    </div>
    <div class='col-md-6'>
        <%= link_to new_user_registration_path, id: "new-user-btn", class: "btn btn-info btn-lg btn-block" do %>
            <span id="no-account">Don't have an account?</span>
            <span id="apply">Sign Up!</span>
        <% end %>
    </div>
</div>
<hr />
<div class-'row'>
    <div class='col-md-4 well'>
        <h3 class='bold'>Pay Range:<br> <%= pay_range(@order) %></h3>
        <%= stwb(@order) %>
        <%= heavy_lifting(@order) %>
        <h3 class='bold'>Shift: <br> <%= @order.shift %></h3>
        <hr>
        <p><strong>Job Type: </strong> <%= @order.est_duration %> </p>
        <p><strong>Education:</strong>  <%= @order.certifications.present? ? @order.certifications : "Entry Level" %> </p>
        <p class='bold'>Desired Skills</p>
        <ul class='fa-ul'>
        <% @order.skills.each do |skill| %>
            <li><%= skill.name %></li>
        <% end %>
         </ul>
        
        <hr>
        <%= link_to "Back to Search", public_job_board_path, class: "btn btn-primary btn-lg btn-block" %>
    </div>
    <div class='col-md-8 '>
        
        <div class="well">
            <h1 class=''><span class=''><%= industry_sym(@order) %></span> <%= @order.title %> </h1>
            <%= markdownify(@order.job_description) %>
            <%= markdownify(@order.notes) %>
        </div>
    </div>
</div>