<div class='col-md-12'>
    <h1 class='metal bold page-header'><%= @current_agency.try(:name) %> <small> Current Positions</small></h1>
    
    <div class='well'>
    
        <div class='table-responsive'>
            <table class='table table-hover'>
                <thead>
                    <tr>
                    <th>Posting Date</th>
                    <th>Job Title</th>
                    <th>Location</th>
                    <th>Pay</th>
                </tr>
                </thead>
                <tbody>
                    <% @orders.each do |order| %>
                    <tr>
                        <td><%= order.published_at.stamp("11-12-2015") %> </td>
                        <td><%= order.title %></td>
                        <td><%= order.location %></td>
                        <td><%= pay_range(order) %></td>
                        
                    </tr>
                    <% end %>
                </tbody>
            </table>
            
        </div>
    </div>
    
    
    
</div>