<div class='col-md-12 mainpage'>
	<% if @current_agency.present? %>
		
	<h1 class=' page-header bold'>Welcome to <%= @current_agency.name %>'s Client Portal </h1>
	<hr/>
	<div class='col-md-5'>
        <% if @current_agency.logo_url.present? %>
            <%= image_tag(@current_agency.logo_url, class: "agency-logo", alt: "img-#{@current_agency.id}") %> 
        <% else %>
         <%= image_tag("logo.png", class: "img-zoom agency-logo", alt: "img-#{@current_agency.id}") %> 
        <% end %>
    </div>
	<div class='col-md-6'>
	
		<div class='sign-up-info'>
				<h3>Once signed in you can...</h3>
	    	<ul class='fa-ul'>
				<li><i class="fa-li fa fa-check-square"></i> Submit a new job order request  </li>
				<li><i class="fa-li fa fa-check-square"></i> Review potential candiate's profiles  </li>
				<li><i class="fa-li fa fa-check-square"></i> Enable on-site and/or mobile timeclocks </li>
				<li><i class="fa-li fa fa-check-square"></i> Set-up multiple admin accounts </li>
				<li><i class="fa-li fa fa-check-square"></i> Approve timesheets instantly </li>
			</ul>
			<div class=''>
	        	 <%= link_to "<i class='fa fa-sign-in fa-fw'></i> Client Sign-In".html_safe, new_company_admin_session_path, class: 'btn btn-primary btn-lg home-button' %>
	        </div>
	    </div>
	</div>
	<div class='col-md-3'>
        
    </div>
	<% else %>
	<h2>Please check your URL. We don't recongize that subdomain. </h2>
	<%= link_to "Go Back", root_path, class: "btn btn-primary" %>
	<% end %>		
</div>