<div class='col-md-12 '>
	<% if @current_agency.present? %>
	<h1 class='text-center black'>Welcome to <%= @current_agency.name %>'s portal!</h1>
	<div class='col-md-4'>
		<%= link_to "<i class='fa fa-user-plus fa-fw pull-left'></i> Employee Sign Up".html_safe, new_user_registration_path, class: 'btn btn-primary' %>
		
		<%= link_to "<i class='fa fa-users fa-fw pull-left'></i> Employee Sign In".html_safe, new_user_session_path, class: 'btn btn-primary' %>
	
		
	</div>

	<div class='col-md-4'>
		<%= link_to "<i class='fa fa-user-plus fa-fw pull-left'></i> Agency Admin Sign Up ".html_safe, new_admin_registration_path, class: 'btn btn-primary' %>
		
		<%= link_to "<i class='fa fa-user fa-fw pull-left'></i> Agency Admin Sign In ".html_safe, new_admin_session_path, class: 'btn btn-primary' %>
	</div>
	<div class='col-md-4'>
		
		<%= link_to "<i class='fa fa-user fa-fw pull-left'></i>Company Admin Sign In ".html_safe, new_company_admin_session_path, class: 'btn btn-primary' %>
	</div>
	
	
	<% else %>
	
	<h2>Please check your URL. We don't recongize that subdomain. </h2>
	<%= link_to "Go Back", root_path, class: "btn btn-primary" %>
	<% end %>		
	
</div>