<div class='col-md-12 mainpage shadow'>
    <p class='text-right'>Today is <%= time_tag(Time.current) %>.</p>

       

    <div class='col-md-6 well'>
    <h4>Open Job Order</h4>
        <%= div_for @orders, class: "well border" do |order| %>
            <% if !signed_in? %>
                <%= link_to public_job_path(order) do %>
                    <%= order.title %><br>
                    <span class='job-description'><%= truncate(order.job_description, length: 130)%></span>
                <% end %>
            <% elsif admin_signed_in? %>
                <%= link_to admin_order_path(order) do %>
                   <%= order.title %><br>
                    <span class='job-description'><%= truncate(order.job_description, length: 130)%></span>
                <% end %>
            <% elsif company_admin_signed_in? %>
                <%= link_to company_order_path(order) do %>
                   <%= order.title %><br>
                    <span class='job-description'><%= truncate(order.job_description, length: 130)%></span>
                <% end %>
            <% elsif user_signed_in? %>
                <%= link_to employee_order_path(order) do %>
                    <%= order.title %><br>
                    <span class='job-description'><%= truncate(order.job_description, length: 130)%></span>
                <% end %>
            <% end %>
        <% end %>
    </div>

    




</div>