<%= div_for event do %>
<i class="fa fa-check fa-fw"></i>

   <% if admin_signed_in? && @current_admin.id == event.admin.try(:id) %>
   You
   <% else %>
   	<%= event.admin.try(:first_name) %>
	<%= event.company_admin.try(:first_name)  %>
    <% end %>
     <strong>	<%= event.action.humanize.downcase %></strong>
    <% if event.eventable.present? %>
   
    <%=  signed_in_link_to event.eventable.name, event.eventable %> <small> at <%= event.eventable.company.name %></small>
		<span class='label label-success black pull-right'>
		    <%= event.created_at.stamp('11/13') %>
		</span>
	<% else %>
	a deleted timesheet.
	<% end %>

<% end %>