
<%= link_to event, class: 'list-group-item list-group-item-success' do %>
	<%= user_signed_in? ? "You" : event.user.name %> <%= event.action %>  to  <%= event.eventable.try(:title) || "a job order that has since been removed." %>

	<% if event.user.assigned? %>
		<span class='label label-danger pull-right'>
		   Assigned
		</span>
	<% else %>
		<span class='label label-success pull-right'>
		    <%= event.created_at.stamp('11/13') %>
		</span>
	<% end %>
	
<% end %>

