<%= div_for event do %>
	<i class="fa fa-user fa-fw"></i>
	<%= event.admin.try(:first_name) if !current_page?('/admins/:id') %>
	<%= event.company_admin.try(:first_name) if !current_page?('/company_admins/:id') %>
    	<%= event.action.humanize.downcase %> <%=  signed_in_link_to event.eventable.name, event.eventable %>
		<span class='label label-info black pull-right'>
		 <small>  <%= event.created_at.stamp('11/13 at 8:30am') %></small>
		</span>

<% end %>