<%= link_to admin_timesheet_path(event.eventable), class: 'list-group-item list-group-item-info' do %>
	 <%= event.company_admin.try(:name) || event.admin.try(:name) %>
    <strong>	<%= event.action.humanize.downcase %></strong> on <%= event.eventable.employee_name %>'s <%= event.eventable.class.to_s.downcase %> 
    	
    
    	 

		<span class='label label-info black pull-right'>
		  <small> <%= event.created_at.stamp('11/13 at 8:30am') %></small>
		</span>
	
<% end %>

