
<%= link_to event.admin, class: '' do %>
<i class="fa fa-user fa-fw"></i>
	 <%= event.company_admin.try(:name) || event.admin.try(:name) %>
    	<%= event.action.humanize.downcase %> <%= event.eventable.name %> 
		<span class='label label-info black pull-right'>
		 <small>  <%= event.created_at.stamp('11/13') %></small>
		</span>

<% end %>