<%= div_for event do %>
	<i class="fa fa-user fa-fw"></i>
	<% if admin_signed_in? && @current_admin.id == event.admin.try(:id) %>
   You
   <% else %>
   	<%= event.admin.try(:first_name) if @admin.nil? %>
   	<%= event.user.try(:first_name) %>
	<%= event.company_admin.try(:first_name)  %>
    <% end %>
    	<strong><%= event.action.humanize.downcase %> </strong> 
    	<% if event.eventable_type == "Admin" %>
    		<%= link_to event.eventable.name, admin_admin_path(event.eventable) %> 
    	<% else %>
    		<%= link_to event.eventable.name, event.eventable %> 
    	<% end %>
    	
		<span class='label label-info black pull-right'>
		  <%= event.created_at.stamp('11/13') %>
		</span>

<% end %>