<%= div_for event do %>
<i class="fa fa-user fa-fw" data-toggle= "tooltip" title="<%=event.eventable.skills.map {|p| p.name.titleize}.join(', ')%> " ></i>
<%= link_to event.eventable.name, event.eventable if !current_page?('/users/:id') %> 
is
   	<%= event.action.humanize.downcase %>
		<span class='label label-info black pull-right'>
		    <%= event.created_at.stamp('Mon 11/13') %>
		</span>
		
 
<% end %>