
<%= link_to event.admin, class: 'list-group-item list-group-item-success' do %>
	 <%= event.company_admin.try(:name) || event.admin.try(:name) %>
    	 <strong>	<%= event.action.humanize.downcase %></strong> <%= event.eventable.name %> <br>
    	 <small><%= event.eventable.role %></small>
    
    	 

		<span class='label label-danger pull-right'>
		  <small> <%= event.created_at.stamp('11/13 at 8:30am') %></small>
		</span>

<% end %>

