<div class="well">
  <%= @job.try(:name_title) %>
<%= simple_form_for [:company, @shift] do |f| %>
<div class="form-group black">

    <% if @job.nil? %>

    <%= f.input :job_id, collection: @jobs, as: :select, label_method: :name_title, value_method: :id, include_blank: false, required: true  %>
    <% end %>

</div>
<div class="form-group black">
    <label for="TimeIn">Time In: </label>
    <%= f.datetime_select :time_in, ampm: true, default: Time.current %>
</div>





<div class="form-contol black">
   <div class="field">
  
    <%= f.select :state, ["Clocked In", "Clocked Out"], selected: @shift.state %>
  </div>
</div>

<div class="form-group black clocked-out">
  <div class="field time-out-field">
    <%= f.label :time_out, "Time Out" %><br>
    <%= f.datetime_select :time_out, ampm: true, default: nil %>
  </div>
   
   

</div>

<div class="form-group">
    <label for="Not">Notes: </label>
    <%= f.text_area :note, placeholder: "Add a note.", rows: 2, class: "form-control" %>
</div>



                <div class=''>
    <%= f.simple_fields_for :break_out do |d| %>
    <% @shift.break_out.try(:each) do |key, value| %>
        <div class="row">
          <p class='span3'>
            <%= text_field_tag key, key, :class => 'text_field dynamicAttributeName' %>
          </p>
          <p class='span3'>
            <%= d.text_field key, :class => 'text_field', :value => value %>
          </p>
          <p class='span1'>
            <a herf='#' class='btn removeRow'>X</a>
          </p>
        </div>
    <% end %>
  <%- end -%>
  </div>




<div class="form-actions">

<%= f.button :submit, "Save", class: "btn btn-success" %>
</div>
<% end %>
</div>