<div class="details">
  <div class="name">
    <%= link_to shift.employee.name, company_job_path(shift.job) %>
  </div>
  <div class="time">
    <i class="fa fa-clock-o"></i>
    <strong>Time In:</strong>
    <br/>
    <%= shift.time_in.strftime("%b %e at %l:%M%P") %>
  </div>
</div>

<div class="type" data-behavior="shift" data-id="<%= shift.id %>">
  <a data-behavior="shift-out" class="table-link"><span class="fa fa-sign-out red"></span></a>
  <span data-behavior="shift-state" class="label label-success"><%= shift.state %> </span>
</div>

<div class='break-actions'>
  <% if shift.on_break? %>
    <%= link_to stop_company_shift_breaks_path(shift), remote: true, method: :patch do %>
      <i class='fa fa-clock-o'></i> End Break
    <% end %>
  <% elsif shift.clocked_in? %>
    <%= link_to start_company_shift_breaks_path(shift), remote: true, method: :post do %>
      <i class='fa fa-clock-o'></i> Start Break
    <% end %>
  <% end %>

<div class="type" >
  <span class="label label-default"><%= shift.state %></span>
</div>

<% if shift.clocked_out? %>
  <div class="time">
    <i class="fa fa-clock-o"></i>
    <strong>Time Out:</strong>
    <%= shift.time_out.strftime("%b %e at %l:%M%P") %>
  </div>
<% end %>
