<table class="table table-bordered datatable">
  <thead>
    <tr>
      
      <th>Work Date</th>
      <th>Employee</th>
      <th>Time In</th>
      <th>Time Out</th>
      <th>Hours</th>
      <th>Pay Rate</th>
      <th>Earnings</th>
      <th>In/Out IP</th>
      <th></th>

    </tr>
  </thead>

  <tbody>
    <% @shifts.order(:time_in).reverse_order.each do |shift| %>
      <% if shift.clocked_in? %>
        <tr class="bg-success">
      <% else %>
        <tr class="bg-warning">
      <% end %>
        <td><%= link_to shift.time_in.strftime("%x"), admin_shift_path(shift) %></td>
        <td><%= link_to shift.employee.name, admin_employee_path(shift.employee) %></td>
        <td><%= shift.time_in.strftime("%I:%M %p") %></td>
        
        <td><%= shift.clocked_out? ? shift.time_out.strftime("%I:%M %p") : "Clocked In" %></td>
        
        <td><%= shift.time_worked %></td>
        <td><%= number_to_currency(shift.pay_rate) %></td>
        <td><%= number_to_currency(shift.earnings) %></td>
        <td><small> <%= shift.in_ip %> <br> <% if shift.clocked_out? %><%= shift.out_ip %><% else %> <%= shift.out_ip.nil? ?  shift.state.titleize : shift.out_ip %><% end %> </small> </td>
        <td><%= link_to(edit_admin_shift_path(shift), class: "table-link" ) do %>
					<span class="fa-stack">
						<i class="fa fa-square fa-stack-3x fa-inverse"></i>
						<i class="fa fa-pencil fa-stack-1x "></i>
					</span>
				<% end %></td>

      </tr>
    <% end %>
  </tbody>
</table>
