<table class="table table-bordered">
  <thead>
    <tr>
      <th>Work Date</th>
      <th>Time In/Out</th>
      <th>Hours</th>
      <th>Pay Rate</th>
      <th>Earnings</th>
    </tr>
  </thead>

  <tbody>
    <% @shifts.order(:time_in).reverse_order.each do |shift| %>
        <tr>
        <td><%= link_to shift.time_in.stamp("Monday 11/2"), company_shift_path(shift) %></td>
        <td><%= shift.time_in.strftime("%I:%M %p") %> - <%= shift.clocked_out? ? shift.time_out.strftime("%I:%M %p") : "Clocked In" %></td>
        <td><%= shift.time_worked %></td>
        <td><%= number_to_currency(shift.pay_rate) %></td>
        <td><%= number_to_currency(shift.earnings) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
