<div class="week-calendar">
	<%= week_calendar(attribute: :time_in, events: shifts) do |date, shifts| %>
	
<%= date %>

  <% shifts.each do |shift| %>
    <div><%= shift_sym(shift) %>
      <%= link_to shift.employee.name, company_shift_path(shift) %>
      <strong><%= shift.hours_worked %> </strong>
    </div>
  <% end %>
<% end %>

</div>