<div class="week-calendar">
	<%= week_calendar(attribute: :time_in, events: shifts) do |date, shifts| %>
	
<%= date %>

  <% shifts.each do |shift| %>
    <div class=''>
      <%= shift_collaspe(shift) %>
       <div class='black collapse' id="collapseShift_<%=shift.id%>">
           <%= render 'company/shifts/shift', shift: shift %>
        </div>
    </div>
  <% end %>
<% end %>

</div>