<div class='col-md-12 transbox'>
 <h1><%= @shift.state %> <small><%= shift_times(@shift) %></small></h1>
    <h3 class="page-header">
  <strong> <%= @employee.name %>  <small> <%= @job.title %> - <%= @job.pay_rate %>/hr</small></strong>
  
</h3>

 
  <div class='col-md-6'>
   
        <h4>Clocked in <%= shift_times_in_words(@shift) %> ago</h4>

   
     <h3>  Hours worked: <%= @shift.hours_worked %></h3>
  
    
   <h4> Total Earnings: <%= number_to_currency(@shift.earnings) %></h4>

 <%= render 'employee/jobs/clock', job: @job if !@shift.on_break? %>

  <%= link_to 'View Timesheet', employee_timesheet_path(@shift.timesheet), class: "btn btn-info black" %>
  
  </div>

       <%= on_break_for(@shift) %>
       <%=  break_times_for(@shift) %>
   <div class='col-md-6 well well-sm' id='break-times'>
    <% if @shift.breaks.any? %>
        <div id='break-list' class='list-group'>
          <% @shift.breaks.each_with_index do |break_ended, i | %>
            <li data-behavior="shift" id='break_<%= i %>' class='col-md-6 list-group-item list-group-item-success'>
              <h6> <%= i.even? ? "In:" : "Out:" %> <strong> <%= break_ended.to_datetime.stamp("1:30am") %></strong></h5>
            </li>
          <% end %>
        </div> 
    <% end %>
    
    <% if @shift.took_a_break? %>
    <%= link_to 'Remove All Breaks', remove_breaks_company_shift_path(@shift), method: :patch, remote: true, data: { confirm: 'Are you sure you want to remove all breaks from this shift?' }, class: "btn btn-danger btn-sm", id: "remove-breaks-btn" %>
    <% else %>
      <%= link_to 'Remove All Breaks', remove_breaks_company_shift_path(@shift), method: :patch, remote: true, data: { confirm: 'Are you sure you want to remove all breaks from this shift?' }, class: "btn btn-danger btn-sm hide-this", id: "remove-breaks-btn" %>
      <% end %>
    <% if @shift.on_break? %>
      <%= link_to "End Break", break_end_company_shift_path(@shift), method: :patch, remote: true, class: 'btn btn-danger', id: 'end-break-btn' %>
       <%= link_to "Start Break", break_start_company_shift_path(@shift), method: :patch, remote: true, class: 'btn btn-success hide-this', id: 'start-break-btn' %>
    <% elsif @shift.clocked_in? %>
          <%= link_to "End Break", break_end_company_shift_path(@shift), method: :patch, remote: true, class: 'btn btn-danger hide-this', id: 'end-break-btn' %>
      <%= link_to "Start Break", break_start_company_shift_path(@shift), method: :patch, remote: true, class: 'btn btn-success', id: 'start-break-btn' %>
    <% end %>
    </div>

<div class='col-md-6'>
    <h4>Shift Comments</h4>
        <div id='comments_<%= @shift.class %>_<%= @shift.id %>'>
           <%= render partial: "comments/comments", locals: {commentable: @shift} %>
         </div>
       
        <div class='well well-sm'>
          
          <%= render partial: "comments/form", locals: {commentable: @shift} %>
          
        </div>
    
</div>
</div>

