<div class='table-responsive'>
<table  id="<%= timesheets.last.approved? ? 'approved' : 'pending' %>" class="table table-bordered table-hover">
	<thead>
		<th class='text-center'><i class="fa fa-calendar"></i> Week</th>
		<% if @job.nil? %> <th class='text-center'><i class="fa fa-wrench"></i> Job</th><% end %>
		<th class='text-center'><i class="fa fa-money"></i>  Pay</th>
		<th class='text-center'><i class="fa fa-clock-o"></i>  Hours</th>
		<th class='text-center'><i class="fa fa-hourglass-start"></i> Status</th>
		
	</thead>
	<tbody>
	
	
		<% timesheets.order(week: :desc).each do |timesheet| %>
		<tr data-behavior="timesheet" data-id="<%= timesheet.id %>" class="<%= timesheet.approved? ? 'bg-success' : 'bg-info' %>">
			<td><strong><%= link_to timesheet.week_ending, employee_timesheet_path(timesheet), class: 'button' %></strong></td>
		<% if @job.nil? %><td class='text-left'><%= link_to timesheet.job.title, employee_job_path(timesheet.job), class: 'bold' %> <br> <%= link_to "#{truncate(timesheet.company.name, length: 15)}", employee_order_path(timesheet.order), class: 'small'  %></td><% end %>
			<td class='text-center'><%= timesheet.gross_pay.present? ? pay_for(timesheet) : timesheet.shifts.last.state.upcase %></td>
			<td class='text-center'><%= timesheet.total_hours.present? ? hours_for(timesheet) : timesheet.shifts.last.state.upcase %></td>
			<td class='text-center'><a class='btn btn-primary'><% if timesheet.approved? %><span data-behavior="approve-button" > <i class="fa fa-times fa-lg"></i> <span data-behavior='timesheet-state'><%= timesheet.state.upcase %></span><% else %><span data-behavior="approve-button" > <i class="fa fa-check fa-lg"></i> <span  data-behavior='timesheet-state'><%= timesheet.state.upcase %></span></span><% end %>	</a></td>
		</tr>
		
		<% end %>
	</tbody>
</table>
</div>