
<div class="timesheet" data-behavior="timesheet" data-id="<%= timesheet.id %>">
  <p class='pull-right' data-behavior='timesheet-company'>
		  <%= timesheet.company.name %> 
		</p>
  <div id='view-timesheet' class="btn-toolbar" role="toolbar" aria-label="...">
	 <div class="btn-group" role="group" aria-label="...">
		 <%= link_to(employee_timesheet_path(timesheet), data: {toggle: "tooltip", placement: "top", title: "View Timesheet"}, class: '') do %>
    		<i class="fa fa-calendar-times-o fa-1x"></i>
    		<%= timesheet.week_begin %>  -  <%= timesheet.week_ending %>
  		<% end %>
  	</div>
  </div>
  	
	<div class=""  data-behavior='timesheet-state'>
		<% if timesheet.approved? %>
	  	<span class='label label-success black pull-right'>
				<i class='fa fa-calendar-check-o fa-1x'></i>
				<%= timesheet.state.upcase %>
			</span>
		<% else %>
		  <span class='label label-danger black pull-right'>
  			<i class='fa fa-calendar-times-o fa-1x'></i>
  			<%= timesheet.state.upcase %>
			</span>
		<% end %>
	</div>
	<div class="">
	  
	  <p class='lead pull-center' data-behavior='timesheet-employee'>
			  <%= timesheet.employee.name %><small> <%=timesheet.job.title %></small>
			</p>
		<div class="col-md-6">
			<p class='text-center'>
				<strong>Reg Hours:</strong>	<%= timesheet.reg_hours.round(2) %>
				<br>
				<strong>OT Hours:</strong>	<%= timesheet.ot_hours.round(2) %>
			</p>
		</div>
		<div class="col-md-6">
			<p class='text-center'>
				<strong>	Gross Pay:</strong>	<%= number_to_currency(timesheet.gross_pay) %>
			</p>
		</div>
		<% if timesheet.approved? %>
				<p class='text-right' data-behavior='user-approved'><small>
					
				 Approved by: <%= timesheet.user_approved %></small></p>
				 <% end %>
				 
				 <div class="btn-toolbar" role="toolbar" aria-label="...">
            
            <div class="btn-group" role="group" aria-label="...">
              <%= link_to(employee_job_path(timesheet.job), data: {toggle: "tooltip", placement: "top", title: "View Your Current Job"}, class: "" ) do %>
        					  <i class="fa fa-briefcase fa-1x"></i>
        			<% end %>
            </div>
            <div class="btn-group" role="group" aria-label="...">
              <%= link_to(employee_timesheet_path(timesheet, format: :pdf), data: {toggle: "tooltip", placement: "top", title: "Download PDF" }) do %>
      					  <i class="fa fa-download fa-1x"></i>
      				<% end %>
            </div>
            <div class="btn-group" role="group" aria-label="...">
            	
            </div>
            
            
            
          </div>
			
			
		</div>
		<%= convo_for(timesheet: timesheet, type: :timesheet_question, back_to: employee_timesheets_path) %>	
</div>
	
