<p id="notice"><%= notice %></p>

    

<div class='col-lg-12 main-box'>
  <h4>For the week of:<strong><br>
        <%= @timesheet.week_begin %>
          - 
        <%= @timesheet.week_ending %>
      </strong></h4>
  <div class='col-lg-3 well well-sm'>
    <strong>Regular hours:</strong>
    <%= @timesheet.reg_hours %>
  </div>
  <% if @timesheet.current_shift.present? %>
  <%= render @timesheet.current_shift %>
  <% end %>
  <div class='well'>
         <table>
  <% @timesheet.shifts.each do |shift| %>
    <tr>
      <td><%= link_to shift.employee.name, employee_shift_path(shift) %> &nbsp; </td>
      <td><%= link_to 'Edit', edit_employee_shift_path(shift) %> &nbsp; </td>
      <td>

        Settings:
        <span>
          <%- shift.breaks.try(:each) do |key, value| -%>
            <%= key.humanize %>
          <%- end -%>
        </span>
      </td>
    </tr>
  <%- end -%>
</table>

       </div>
  <div class='col-lg-3 well well-sm'>
    <strong>Overtime hours:</strong>
    <%= @timesheet.ot_hours %>
  </div>
    <div class='col-lg-3 well well-sm'>
           <strong>Gross pay:</strong>
        <%= number_to_currency(@timesheet.gross_pay) %>
      </div>

      
</div>
<div class='main-box'>
   <%= render 'employee/shifts/wk_calendar' %>
</div>







</div>
</div>
