<p id="notice"><%= notice %></p>

<span id='updated-at'></span>



For the week of: <%= @timesheet.week_ending  %>
<br>
Week: <%= @timesheet.week %>
<br>
  <strong>Regular hours:</strong>
  <%= @timesheet.reg_hours %>
<br>
  <strong>Overtime hours:</strong>
  <%= @timesheet.ot_hours %>
<br>
  <strong>Gross pay:</strong>
  <%= number_to_currency(@timesheet.gross_pay) %><br>

   <strong>Last Clock In:</strong> <%= @timesheet.last_clock_in.strftime("%B %e, %Y  at   %I:%M %p") %>
   <br>
<%= link_to 'View Shifts', '#', id: 'shifts-button', class: 'btn btn-primary btn-sm' %>
<ul id="shifts-list"> 
  <%= render @shifts %>
</ul>

 



<!--<h3><strong> Week Ending: <small> <%= @timesheet.week_ending %></small></strong></h3>-->
<!--<div class="table-responsive">-->
<!--  -->
<!--</div>-->



<!--<%= link_to 'Edit', edit_timesheet_path(@timesheet) %> |-->
<!--<%= link_to 'Back', timesheets_path %>-->
<!--</div>-->