<p id="notice"><%= notice %></p>

    

<div class='col-lg-12 main-box'>
  <h4>For the week of:<strong><br>
        <%= @timesheet.week_begin %>
          - 
        <%= @timesheet.week_ending %>
      </strong></h4>
  <div class='col-lg-3 well well-sm'>
    <strong>Regular hours:</strong>
    <%= @timesheet.reg_hours %>
  </div>
  <div class='col-lg-3 well well-sm'>
    <strong>Overtime hours:</strong>
    <%= @timesheet.ot_hours %>
  </div>
    <div class='col-lg-3 well well-sm'>
           <strong>Gross pay:</strong>
        <%= number_to_currency(@timesheet.gross_pay) %>
      </div>

      
</div>
<div class='main-box'>
   <%= render 'admin/shifts/wk_calendar' %>
</div>

<%= link_to(admin_timesheet_path(@timesheet, format: :pdf), class: 'btn btn-primary') do %>
  					<i class="fa fa-download fa-lg"></i> Download PDF
  				
  				<% end %>

<!--<h3><strong> Week Ending: <small> <%= @timesheet.week_ending %></small></strong></h3>-->
<!--<div class="table-responsive">-->
<!--  -->
<!--</div>-->



<!--<%= link_to 'Edit', edit_timesheet_path(@timesheet) %> |-->
<%= link_to 'Back', admin_timesheets_path %>
</div>
</div>
