	<div class="col-md-4 col-sm-6 col-xs-6">
	<h5 class="text-center">Total Agency Billing</h5>
		<div class='well well-sm'>
			
			
		<strong>This week:</strong> <%= number_to_currency(Timesheet.current_week.sum(:total_bill)) %><br>
			<strong>Last week:</strong> <%= number_to_currency(Timesheet.last_week.sum(:total_bill)) %>
		</div>
	</div>

	<div class="col-md-4 col-sm-6 col-xs-6 ">
	
			<h5 class="text-center">Top Account Managers</h5>
		<div class='well well-sm'>
			<h4>This Week</h4>
			<% Admin.account_managers.sorted_by_current_billing.each do |admin| %>
			<%= link_to admin.name, admin %> - <%= number_to_currency(admin.current_billing)%><br>
			<% end %>
			<hr>
			<h4>Leader Board</h4>
			<% Admin.account_managers.sorted_by_last_week_billing!!!.each do |admin| %>
			<%= link_to admin.name, admin %> - <%= number_to_currency(admin.current_billing)%><br>
			<% end %>
		</div>
	
	</div>
	<div class="col-md-3 col-sm-6 col-xs-6">
	
			<h5 class="text-center">Top Recruiters</h5>
			
		<div class='well well-sm'>
		<h5>	This week</h5>
		<% Admin.recruiters.sorted_by_current_billing.each do |admin| %>
		<%= admin.name %> - <%= number_to_currency(admin.current_billing)%><br>
		<% end %>
		</div>
		<div class='well well-sm'>
		<h5>	Total</h5>
		<% Admin.recruiters.sorted_by_total_billing.each do |admin| %>
		<%= admin.name %> - <%= number_to_currency(admin.billing)%><br>
		<% end %>
		</div>
	
	</div>