
<div class='col-md-12 col-sm-12 col-xs-12'>
	<h2>Timesheets</h2>
	<div class='col-md-6 col-sm-12 col-xs-12' data-behavior="timesheet-list">
		<h3 class='text-center'> This Week</h3>
		<%= render @current_admin.timesheets.current_week || "No timesheets this week yet." %>
	</div>
	<div class='col-md-6 col-sm-12 col-xs-12' data-behavior="timesheet-list">
		<h3 class='text-center'> Last Week</h3>
		<%= render @current_admin.timesheets.last_week || "No timesheets for last week." %>
	</div>
</div>

<div class='col-md-3 col-sm-12 col-xs-12 well'>

	<h5 class="white text-center">Recent Shift Notes</h5>
		<div class='thumbnail white scroll300'>
			
			<%= div_for(@current_admin.timesheets.current_week.with_shift_notes.includes(:job, :shifts).distinct, class: 'caption') do |timesheet| %>
				<h5><strong><%= timesheet.job.name_title %> </strong> <br><small><%= timesheet.company.name %> </small></h5>
				<ul class="fa-ul">
					<% timesheet.shifts.with_notes.order(updated_at: :desc).each do |shift| %>
					<li><i class="fa-li fa fa-commenting"></i><strong><%= shift.created_at.stamp('Mon 11/30 at 11:30am') %>	</strong><br>
					<%= shift.note %> 
			
					<div class='text-right'>
						<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, admin_shift_path(shift), class: 'btn btn-tiny' %>
						<%= link_to '<i class="fa fa-clock-o"></i>'.html_safe, admin_timesheet_path(timesheet), class: 'btn btn-tiny' %>
						<%= link_to '<i class="fa fa-user"></i>'.html_safe, admin_employee_path(timesheet.employee), class: 'btn btn-tiny' %>
						<%= link_to '<i class="fa fa-building"></i>'.html_safe, admin_order_path(timesheet.order), class: 'btn btn-tiny' %>
					</div>
					
					</li>
					</ul>
						
					
				<% end %>
			<% end %>
		</div>
</div>
	
	