<div class='col-md-2 col-sm-6 col-xs-12'>
		<h3 class="white text-center">Current Stats</h3>
	<div class="scroll500">
	
		<div class='list-group col-md-12'>
			<h6 class='white'>Top Account Managers</h6>
			<% @current_agency.admins.account_managers.sorted_by_current_billing.first(3).each do |admin| %>
				<%= link_to(admin, data: {toggle: "tooltip", placement: "top"}, title: "Current Billings: #{number_to_currency(admin.current_billing)}", class: 'list-group-item list-group-item-success') do %>
					<strong><%= admin.name %> </strong>
				<% end %>
			<% end %>
		</div>
		<div class='list-group col-md-12'>
		<h6 class='white'>Top Recruiters</h6>
			<% @current_agency.admins.recruiters.sorted_by_current_billing.first(3).each do |admin| %>
				<%= link_to(admin, data: {toggle: "tooltip", placement: "top"}, title: "Current Billings: #{number_to_currency(admin.current_billing)}", class: 'list-group-item list-group-item-success') do %>
					</span></span> <strong><%= admin.name %> </strong>
				<% end %>
			<% end %>
		</div>

		<h4 class="white ">Leader Board</h4>
	<div class='list-group col-md-12'>
	<h6 class='white'>	Account Managers</h6>
		<% @current_agency.admins.account_managers.sorted_by_total_billing.first(3).each do |admin| %>
			<%= link_to(admin, data: {toggle: "tooltip", placement: "top"}, title: "Total Billings: #{number_to_currency(admin.billing)}", class: 'list-group-item list-group-item-success') do %>
		
			  
			</span>
				<span>
					<strong><%= admin.name %> </strong>
				</span>
			
			<% end %>
		<% end %>
	</div>
	<div class='list-group col-md-12'>
	<h6 class='white'>Recruiters</h6>
		<% @current_agency.admins.recruiters.sorted_by_total_billing.first(3).each do |admin| %>
			<%= link_to(admin, data: {toggle: "tooltip", placement: "top"}, title: "Total Billings: #{number_to_currency(admin.billing)}", class: 'list-group-item list-group-item-success') do %>
				<span>
					<strong><%= admin.name %> </strong>
				</span>
			<% end %>
		<% end %>
	</div>
	
</div>
	
	
</div>