	<div class="row">
		<div class='well well-sm col-md-6'>
			<h4 class=''>Top Account Managers</h4>
			<% @current_agency.admins.account_managers.sorted_by_current_billing.first(3).each do |admin| %>
				<%= link_to(admin_admin_path(admin), data: {toggle: "tooltip", placement: "top"}, title: "Current Billings: #{number_to_currency(admin.current_billing)}", class: 'list-group-item list-group-item-success') do %>
					<strong><%= admin.name %> </strong>
				<% end %>
			<% end %>
		</div>
		<div class='well well-sm col-md-6'>
		<h4 class=''>Top Recruiters</h4>
			<% @current_agency.admins.recruiters.sorted_by_current_billing.first(3).each do |admin| %>
				<%= link_to(admin_admin_path(admin), data: {toggle: "tooltip", placement: "top"}, title: "Current Billings: #{number_to_currency(admin.current_billing)}", class: 'list-group-item list-group-item-success') do %>
					</span></span> <strong><%= admin.name %> </strong>
				<% end %>
			<% end %>
		</div>

		
	<div class='well well-sm col-md-6'>
	<h4 class=''>	Account Managers</h4>
		<% @current_agency.admins.account_managers.sorted_by_total_billing.first(3).each do |admin| %>
			<%= link_to(admin_admin_path(admin), data: {toggle: "tooltip", placement: "top"}, title: "Total Billings: #{number_to_currency(admin.billing)}", class: 'list-group-item list-group-item-success') do %>
		
			  
			</span>
				<span>
					<strong><%= admin.name %> </strong>
				</span>
			
			<% end %>
		<% end %>
	</div>
	<div class='well well-sm col-md-6'>
	<h4 class=''>Recruiters</h4>
		<% @current_agency.admins.recruiters.sorted_by_total_billing.first(3).each do |admin| %>
			<%= link_to(admin_admin_path(admin), data: {toggle: "tooltip", placement: "top"}, title: "Total Billings: #{number_to_currency(admin.billing)}", class: 'list-group-item list-group-item-success') do %>
				<span>
					<strong><%= admin.name %> </strong>
				</span>
			<% end %>
		<% end %>
	</div>
	
</div>
<div class='row'>
	<div class="col-md-12">
	    <%= column_chart @current_agency.admins.order('name').map{|admin|
	        {name: admin.name, data: admin.invoices.group_by_year('invoices.week', format: "%b/%d/%y").sum(:total)}
	    }, library: {backgroundColor: "#eee", legend: {position: "right"}, width: "500px", title: "Billings by Week"} %>
	  </div>
	  <div class="col-md-12">
    	<%= line_chart @current_agency.companies.order('name').map{|company|
	        {name: company.name, data: company.invoices.group_by_month('week', format: "%b/%d/%y").sum(:total)}
	    }, library: {backgroundColor: "#eee", legend: {position: "right"}, title: "Company Billings by Month"} %>
    </div>
</div>
	
	