<div class='payroll-boxes'>
	
	<div class="col-md-12">
		<% if @timesheets.last_week.pending.none? %>
		<div class='text-center metal col-md-6'>	  	
			<p class='lead'>
				All timesheets for last week have been approved.<br>
				<span class="list-group-item"><%= @timesheets.last_week.approved.distinct.try(:count) %> Approved </span>
			</p>
			<%= link_to(last_week_admin_timesheets_path(@timesheets.last_week, format: :csv), class: 'btn btn-success') do %>
	  			<i class="fa fa-upload fa-fw"></i> Export
	  		<% end %>
		</div>
  		<% else %>
  		
  		
  		<div class='text-center metal well col-md-6' data-behavior='timesheet-list'>	  	
			<%= render 'admin/timesheets/table', timesheets: @current_agency.timesheets.needing_approval.distinct %>
		</div>
  		
  		
	
	<div class='col-md-3 text-center metal'>
	  	<p class='lead'>There are still <%= pluralize(@current_agency.timesheets.needing_approval.distinct.count, "pending timesheets") %> from last week.</p>
	  	<% @current_agency.companies.with_late_timesheets.distinct.each do |company| %>
	  	<%= company.name %><br>
	  	<% end %>
	  </div>
	<div class='col-md-3'>
		<h4 class='text-center'><%= 1.week.ago.end_of_week.stamp("Week ending: Nov 20th") %></h4>
   		<%= pie_chart Timesheet.last_week.group('timesheets.state').distinct.count, 
   		library: {backgroundColor: "#ccc", legend: {position: "bottom"}, is3D: true, title: "Last Week"}%>
   	</div>
	<% end %>
	
	<div class="col-md-6">
		<div class='center'>
			<% if @new_starts.any? %>
			<h3> <i class="fa fa-users fa-fw"></i> &nbsp; New Employees</h3>
			<div class="list-group">
				<% @new_starts.limit(3).each do |employee| %>
			<%= link_to "<i class='fa fa-user fa-fw'></i> &nbsp; #{employee.name}".html_safe, admin_employee_path(employee), class: "list-group-item list-group-item-info" %>
			<% end %>
			</div>	
			<% else %>
			
			<p> <i class="fa fa-users fa-fw"></i> &nbsp; There are no new employees at this time.</p>
			<% end %>
			<%= link_to(new_user_registration_path, class: 'btn btn-primary btn-lg btn-block') do %>
  				<i class="fa fa-user-plus fa-fw"></i> Add Employee
  			<% end %>
		</div>
	</div>
	</div>
</div>
