<div class='row row150'>
	<div class="col-md-3 col-sm-12 col-xs-12 text-center">
		<div class='dark'>
				
		
			
			  	
			<h5 class="center"><strong>This Week Timesheets</strong>	  	</h5>
	

			<span class="badge badge-success center fill"><%= Timesheet.current_week.approved.try(:count) %> Approved </span>
			<span class="badge badge-default center fill"><%= Timesheet.current_week.pending.try(:count) %> Pending </span>
		<br>
		

	
		
		<%= link_to(admin_timesheets_path, class: "btn btn-primary center fill") do %>
			<strong>View All Timesheets</strong>
			
			
			<% end %>
		</div>
	</div>

	<div class="col-md-3 col-sm-12 col-xs-12 text-center">
		<div class='dark'>
			<h5 class="center"><strong>Last Week Timesheets</strong>	  	</h5>
		
			<span class="badge badge-success center fill"><%= Timesheet.last_week.approved.try(:count) %> Approved </span>
			<span class="badge badge-default center fill"><%= Timesheet.last_week.pending.try(:count) %> Pending </span>
			<br>
			<%= link_to(past_admin_timesheets_path, class: "btn btn-primary btn-block") do %>
				<strong>View Past Timesheets</strong>
				<% end %>
		</div>
	</div>




	<div class="col-md-3 col-sm-12 col-xs-12  text-center">
		<div class="dark">
		<% if @current_admin.timesheets.last_week.pending.any? %>
		
			Pending: <%= @current_admin.timesheets.last_week.pending.count %>
				<%= link_to(past_admin_timesheets_path, class: "btn btn-primary") do %>
					<i class='fa fa-list-alt fa-1x fa-fw'></i> Last Week Timesheets
				<% end %>
				
		<% else %>
		<i class="fa fa-check fa-1x"></i> 
		<p>	All of last week's timesheets have been approved.</p>
		
				<%= link_to(past_admin_timesheets_path(@current_admin.timesheets.last_week, format: :csv), class: 'btn btn-success') do %>
  					<i class="fa fa-export fa-1x"></i> Export
  				<% end %>
				
		<% end %>
			
		</div>
	</div>
	
	<div class="col-md-3 col-sm-12 col-xs-12  text-center">
		<div class="dark">
			
			<% if @newly_added.any? %>
			<i class="fa fa-users fa-1x"></i>
			<strong>New Employees</strong>
			<br>
			<ul>
				<% @newly_added.limit(3).each do |employee| %>
			<li class='list-item'><%= employee.name %></li>
			
			
			<% end %>
			</ul>	
			<% else %>
			<i class="fa fa-users fa-1x"></i>
			<h5>There are no new employees at this time.</h4>
			
			<% end %>
			<%= link_to(new_user_registration_path, class: 'btn btn-primary fill') do %>
  					<i class="fa fa-user-plus fa-1x"></i> Add Employee
  				<% end %>
			
			
		</div>
		
	</div>
	
	
</div>
