
<div class="row row200">
    <div class='col-md-12 well'>
        <h5 class='text-center'>Recruiter Performance</h5>
    <h5 class='text-center'><small>Total Agency Billings: <%= number_to_currency(@current.timesheets.current_week.sum(:total_bill)) %></small></h5>

        <div class='col-md-8'>
            <h5 class='text-center'>Placements</h5>
            
            <%= column_chart  @current_agency.companies.map{|company|
                {name: company.name, data: company.jobs.includes(:recruiter).group(:id)}
            }, library: {isStacked: 'percent', bar: { width: "50%" }, legend: { position: 'bottom', maxLines: 3 }, title: "Placements by Company"} %>
        </div>
        <div class='col-md-4'>
            <h5 class='text-center'>Current Billings by Recruiter</h5>
            <%= pie_chart @current_agency.jobs.includes(:current_timesheet, :recruiter).group(:recruiter_id).sum(:total_bill), library: {legend: {position: "none"}, title: "Placements by Recruiter"} %>
        </div>
    </div>
    <div class='col-md-4'>
        <h5 class='text-center'>Current Billings by Recruiter</h5>
        <%= pie_chart Skill.includes(:skillable).group(:name).count, library: {title: "Placements by Recruiter"} %>
    </div>
    <div class="center">
			<% if @current_agency.jobs.new_start.any? %>
				<h5>	New Starts</h5>
                <div class='list-group list-group-sm' >
                    <% @current_agency.jobs.new_start.order(created_at: :desc).limit(3).each do |job| %>
						  <%= render job %>
						<% end %>
                </div>
               <% else %>
               No new starts. 
               <% end %>
               
			
			
			
		</div>
</div>
