<div class='row row300'>
	<div class="col-md-6 col-sm-12 col-xs-12  text-center">
		<div class="main-box">
		<h5>	Recent Applicants</h5>
		
                <div class='list-group' id='applicants' >
                    <% @current.order_events.applications.order(created_at: :desc).limit(3).each do |event| %>
						  <% if lookup_context.template_exists?(event.action, "events/activities", true) %>
						    <%= render partial: "events/activities/#{event.action}", locals: {event: event} %>
						  <% end %>
						<% end %>
                </div>
			
		</div>
	</div>


    <div class="col-md-6 col-sm-12 col-xs-12 text-center">
		<div class="main-box list-group">
					<h5>	Open Job Orders</h5>
					
					
					<% @current_agency.companies.with_open_orders.distinct.each do |company| %>
						
						<%= link_to admin_company_path(company), class: 'list-group-item list-group-item-info' do %>
							
						<strong>	<%=  company.name %> <span class='badge badge-primary pull-right'><%= number_to_currency(company.current_billing) %></span></strong>
						<% end %>
						
								<% company.orders.needs_attention.order(:needed_by).each do |order| %>
					
								<%= link_to admin_order_path(order), class: 'list-group-item list-group-item-danger' do %>
							<strong><%= order.title %></strong> <span class='badge badge-danger'><%= order.open_jobs %> needed</span>
							
							
							<div class='text-left'>
								<small><%= order.needed_by.stamp('Monday - 11/12') %></small>
							</div>
							
					
								  
								 
							<% end %>
						
						<% end %>
					
							
						<li role="separator" class="list-group-item divider"></li>
					<% end %>
					
				</div>

	</div>


	

</div>