<h3 class='white'>Recruiting Calendar</h3>
<h4><%= @orders.count %></h4>
<%= month_calendar events: @orders, attribute: :needed_by do |date, orders| %>
  <%= date %>

  <% orders.each do |order| %>
    <div class='black'>
      <%= signed_in_link_to(order.open_jobs, order, class: "b") %>
      <%= skills_popover(order) %>
    </div>
  <% end %>
<% end %>