<div class="alert alert-info fade in text-center open-order">
	
		<span class='bold metal'><i class="fa fa-info fa-fw fa-lg"></i><%= @current_agency.orders.active.count %> Active Job Orders </span> <br>
		<span class='bold metal red'><i class="fa fa-exclamation fa-fw fa-lg"></i><%= @current_agency.orders.needs_attention.count %> Open Job Orders </span> 
</div>

<% if orders.overdue.any? %>
	<div class="alert alert-danger fade in text-center open-order">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<i class="fa fa-exclamation-triangle fa-fw fa-lg"></i>
			<span class='bold metal'><%= pluralize(orders.overdue.count, 'overdue job order') %> </span>   
	</div>
<% else %>
	<div class="alert alert-success fade in">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<i class="fa fa-check-square-o fa-fw fa-lg"></i>
			<h4><%= pluralize(orders.overdue.count, 'overdue job order') %>. </h4>
	</div>
<% end %>

<% if orders.priority.any? %>
	<div class="alert alert-warning fade in text-center open-order">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<i class="fa fa-exclamation-triangle fa-fw fa-lg"></i>
			<span class='bold metal'><%= pluralize(orders.priority.count, 'priority job order') %> </span> 
	</div>
<% else %>
	<div class="alert alert-success fade in">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<i class="fa fa-check-square-o fa-fw fa-lg"></i>
			<h4><%= pluralize(orders.priority.count, 'priority job order') %>. </h4>
	</div>
<% end %>
<div class="alert alert-info fade in text-center open-order">
		<span class='bold metal green'><i class="fa fa-usd fa-fw fa-lg"></i> &nbsp;
			Last Week BIlling: <%= number_to_currency(@current_agency.last_week_billing) %>  </span> <br>
		
</div>
