<div class="center">
      <h1>All Employees</h1>
  <div class="table-responsive">


<table id="employees" class="table" cellspacing="0.5" width="100%">
  <thead>
    <tr>
      <th>First name</th>
      <th>Email</th>
      <th>Jobs</th>
      <th>Shifts</th>
      <th>Total Hours</th>
      <th>Current Company</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= link_to employee.name, employee  if policy(employee).show? %></td>
        <td><%= employee.email %></td>
        <td><%= employee.jobs.active.count %></td>
        <td><%= employee.shifts.count %></td>
        <td><%= employee.total_all_hours %></td>
        <td><%= link_to employee.company.name, company_path(employee.company) if policy(employee.company).show? %></td>
        <td><%= link_to "<span class='glyphicon glyphicon-pencil' aria-hidden='true'></span>".html_safe, edit_employee_path(employee) if policy(employee).edit? %></td>
        <td><%= link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span>".html_safe, employee, method: :delete, data: { confirm: 'Are you sure?' }  if policy(employee).destroy? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<% if policy(Employee).new? %>
<%= link_to 'New Employee', new_employee_path %>
<% end %>
  
</div>

