



<h3><strong> <%= @employee.name %>  </strong>  <small>   <span> <%= @job.title %> </span>  <%= @current_company.name %></small></h3> 

<div class="btn-group" role="group" aria-label="...">
  <%= link_to_if(@current_user.admin?, "View Company", @current_company, class: "btn btn-default") %> |
  <%= link_to_if(@current_user.id == @employee.user_id, "View Job", @job, class: "btn btn-default") %> |
  <%= link_to_if(@current_user.id == @employee.user_id, "View Shifts", 
    { controller: "shifts", action: "index", employee_id: @employee.id }, class: "btn btn-default") %>

</div>

















<h3>Year-to-date Gross Pay :<strong> <%= number_to_currency(@employee.ytd_gross_pay) %> </strong></h3>





  <h3 id="list-title"><strong>All Shifts:</strong></h3>
    <%= content_tag_for(:div, @shifts, class: "list-group-item list-group-item-info" ) do |shift| %>

      <%= link_to job_shift_path(shift.job, shift) do %>
        <h4 class="list-group-item-heading"><strong><%= shift.time_in.strftime("%m/%d/%y") %></strong></h4>
     
    <% end %>
      <p class="list-group-item-text">
        <br><strong>IN:</strong> <%= shift.time_in.strftime("%I:%M %p") %>
        <br><strong>OUT:</strong> <%= shift.time_out.strftime("%I:%M %p") %>
        <hr>
        <br><strong>Time worked:</strong> <%= shift.time_worked %>
        </p>

     <% end %>






  <ul>
  <% @employee.jobs.each do |job| %>
    <li><%= link_to job.title, job %></li>
  <% end %>
  </ul>


<%= link_to 'Edit', edit_employee_path(@employee), class: "btn btn-default"  %> |
<%= link_to 'Back', employees_path, class: "btn btn-default"  %>


  