



<h3> <%= @employee.name %>  <small> <%= @company.name %></small></h3> 



<h3>Year-to-date Gross Pay : <%= number_to_currency(@employee.ytd_gross_pay) %> </h3>
<% if @employee.jobs.active.any? %>
<h3>Current Job:  <%= @job.title %></h3>
 
<%= render 'jobs/table' %>
<hr>
<%= render 'timesheets/table' %>
<% end %>


<% if @employee.shifts.any? %>

  <h3 id="list-title">All Shifts:</h3>
    <%= content_tag_for(:div, @shifts, class: "" ) do |shift| %>

      <%= link_to job_shift_path(shift.job, shift) do %>
        <h4 class="list-group-item-heading"><%= shift.time_in.strftime("%m/%d/%y") %></h4>

      <div class="scroll-list">
        <strong><%= shift.time_in.strftime("%I:%M %p") %> </strong> <br>
        Time IN: <%= shift.time_in.strftime("%I:%M %p") %> | Time OUT: <%= shift.time_out.strftime("%I:%M %p") %>
        <br>Hours worked: <%= shift.time_worked %>
        </div>
     
    <% end %>
     <% end %>

<% end %>











<% if admin_signed_in? %>
<%= link_to 'Edit', edit_employee_path(@employee), class: "btn btn-default"  %> |
<%= link_to 'Back', employees_path, class: "btn btn-default"  %>
<% end %>


  