
  <%= div_for(active_jobs) do |job| %>
   <% if job.hours_until_ot > 1 %>
   <p class='text-center'>Hours until Overtime</p>
   <div class='progress progress-4x'>
      <div class='progress-bar progress-bar-striped active' style='width: <%= job.current_percent %>%'>
        <small> <%= job.hours_until_ot %></small> 
      </div>
    </div>
    <% else %>
    <p class='pull-left'>Regular</p><p class='pull-right'>Overtime</p>
    <div class='progress progress-4x'>
      <div class='progress-bar progress-bar-striped progress-bar-success active' role="progressbar" aria-valuenow="<%=job.current_timesheet.reg_hours%>" aria-valuemin="0" aria-valuemax="<%=job.current_timesheet.total_hours%>" style='width: <%= job.current_timesheet.reg_hours / job.current_timesheet.total_hours * 100 %>%'> 
        <p class='text-center'><%= job.current_timesheet.reg_hours %> </p>
      </div>
  
      <div class='progress-bar progress-bar-striped progress-bar-danger active' style='width: <%= job.current_timesheet.ot_hours / job.current_timesheet.total_hours  * 100 %>%'>
        <p class='text-center'><%= job.current_timesheet.ot_hours %></p>
      </div>
    </div>
    
 <% end %>
  <% end %>