<div class="" data-behavior="empjob-list">
    <div data-behavior="empjob" data-id="<%= job.id %>">

        
           <% if job.on_shift? %>
           <span data-behavior='empshift-state'>
    <strong> You are currently clocked in.</strong><br>
             
           
           </span>
             <span data-behavior="emptime-in">
                  <small><strong> In:</strong> <%= job.current_shift.time_in.strftime("%l:%M%P") %></small>
            </span>
             
               
            <button data-behavior="empjob-out-button_<%= job.id %>" class='badge badge-danger'>
            <i class='fa fa-sign-out'></i> Clock Out
          </button>
          <button data-behavior="empjob-in-button_<%= job.id %>" class='hide-this badge badge-success'>
            <i class='fa fa-sign-out'></i> Clock In
          </button>
           <span data-behavior="emptime-out">
              </span>

        <% else %>
        
        <span data-behavior='empshift-state'>
             <strong> <%= link_to job.employee.first_name, admin_employee_path(job.employee), class: 'table-link' %>
             is currently clocked out.</strong><br>
             
           
           </span>
        <span data-behavior="emptime-in">
          
        </span>
          <button data-behavior="empjob-in-button_<%= job.id %>" class='badge badge-success'>
            <i class='fa fa-sign-in'></i> Clock In
          </button>
          <button data-behavior="empjob-out-button_<%= job.id %>" class='hide-this badge badge-danger'>
            <i class='fa fa-sign-out'></i> Clock Out
          </button>
        
          
        

        <span data-behavior="emptime-out">
          
        </span>
      <% end %>

      </div>
      

             
    

     
     </div>