
<div="table-responsive">
  

<table id="myTable" class="table" cellspacing="0.5" width="85%">
  <thead>
    <tr>
      <th></th>
      <th>Dept./Order</th>
      <th>Employee</th>
      <th>Title</th>
      <th>Start date</th>
      <th>Pay rate</th> 
      <th>Hours this week</th>
      <th>Pay this week</th>
      <th>YTD Gross Pay</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
    <% if job.on_shift? %>
    <tr class="clocked_in">
      <% else%>
    <tr class="clocked_out">
      
      <% end %>
        <td><% if job.on_shift? %>
             <%= link_to "<span class='glyphicon glyphicon-clock' aria-hidden='true'></span>     Clock Out".html_safe, 
                   clock_out_job_path(job), method: :patch, remote: true, data: { disable_with: "Clocking Out..."},
                   class: "btn btn-default btn-sm" %> <span class="glyphicon glyphicon-clock" aria-hidden="true"></span>
        
            <% else %>
            <%= link_to "<span class='glyphicon glyphicon-time' aria-hidden='true'></span>     Clock In".html_safe, clock_in_job_path(job), class: "btn btn-default btn-sm" %> <span class="glyphicon glyphicon-clock" aria-hidden="true"></span>
       
            <% end %>

            
            
        </td>
        <td><%= link_to job.order.title, order_path(job.order) %></td>
        <td><%= link_to job.employee.name, job.employee %></td>
        <td><%= link_to job.title, job %></td>
        <td><%= job.start_date.strftime("%B %e, %Y") %></td>
        <td><%= number_to_currency(job.pay_rate) %></td>
        <td><%= job.current_week_hours.round(2) %></td>
        <td><%= number_to_currency(job.current_week_pay) %></td>
        <td><%= job.total_hours %></td>
        <td><%= number_to_currency(job.total_gross_pay) %></td>

        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  
  </tbody>
</table>
</div>

