<% if @jobs %>
<h1>Active Jobs</h1>
<div id="dataTable" class="table-responsive">
  <table id="myTable" class="table" cellspacing="0.5" width="85%">
  <thead>
    <tr>
      <th>Company</th>
      <th>Title</th>
      <th>Start date</th>
      <th>Pay rate</th>
      <th>Hours this week</th>
      <th>Pay this week</th>
      <th>End date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
    <% if job.on_shift? %>
        <tr class="clocked_in">
      <% else %>
        <tr class="clocked_out">
      <% end %>
        <td><%= link_to job.company.name, job.company  %></td>
        <td><%= job.title %></td>
        <td><%= job.start_date.strftime("%B %e, %Y") %></td>
        <td><%= number_to_currency(job.pay_rate) %></td>
        <td><%= job.current_week_hours %></td>
        <td><%= number_to_currency(job.current_week_pay) %></td>
        <td><% if job.end_date.nil? %><%= job.active? ? "Active" : "Terminated" %><% else %><%=job.end_date.strftime("%B %e, %Y") %><% end %> </td>
        <td><%= link_to "<span class='glyphicon glyphicon-info-sign' aria-hidden='true'></span>     View".html_safe, job, class: "btn btn-default btn-sm" %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<% else %>
<h3>No jobs to show.</h3>
<% end %>



