<p id="notice"><%= notice %></p>

<h1>Listing Direct Deposit Accounts for <%= @employee.name %></h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Account number</th>
      <th>Routing number</th>
      <th>Admin</th>
      <th>Effective date</th>
      <th>Account type</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @direct_deposits.each do |direct_deposit| %>
      <tr>
        <td><%= direct_deposit.account_number %></td>
        <td><%= direct_deposit.routing_number %></td>
        <td><%= direct_deposit.admin.name %></td>
        <td><%= direct_deposit.effective_date.stamp("3/12/2016") %></td>
        <td><%= direct_deposit.account_type %></td>
        <td><%= link_to 'Edit', edit_admin_employee_direct_deposit_path(@employee, direct_deposit) %></td>
        <td><%= link_to 'Destroy', admin_employee_direct_deposit_path(@employee, direct_deposit), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Account', new_admin_employee_direct_deposit_path(@employee) %>
