<div class=''>
	<div class="col-md-12">
        <div class="">
        	<% if @admin.owner? %>
           <%= pie_chart @admin.invoices.group(:company).references(:invoices).sum(:total), min: 1000, max: 5000 ,
           library: {legend: {position: "left"}, is3D: true, title: "Invoices by Company"} %>
           <% else %>
           <%= column_chart @admin.invoices.group_by_week('invoices.created_at').sum(:total), min: 1000, max: 5000 ,
           library: {legend: {position: "left"}, is3D: true, title: "Invoices by Company"} %>
           <% end %>
        </div>
	</div>
	<div class="col-md-4">
        <div class="">
        	<h4>Following Admins</h4>
        	<% if @admin.events.following_admin.any? %>
    		<ul class='fa-ul'>
    		    <% @admin.events.following_admin.each do |event| %>
        			<li><i class='fa fa-user'></i> <%= link_to event.eventable.name, event.eventable %></li>
        		<% end %>
    		</ul>
    		<% else %>
    		<p class='bold'>No admins to show.</p>
    		<% end %>
    		<h4>Following Users</h4>
    		<% if @admin.events.following_candidates.any? %>
    		
    		<ul class='fa-ul'>
    		    <% @admin.events.following_candidates.each do |event| %>
        			<li><i class='fa fa-user'></i> <%= link_to event.eventable.name, event.eventable %></li>
        		<% end %>
    		</ul>
    		<% else %>
    		<p class='bold'>No users to show.</p>
    		<% end %>
    	</div>
	</div>
	<div class="col-md-8">
	    <div class="box">
	        <div class="">
	    		<h4>Recent Activity</h4>
	        <% if @admin.events.any? %>
	        <div class="scroll400">
	            <% @admin.events.order(:created_at).limit(10).each do |event| %>
	              <% if lookup_context.template_exists?(event.action, "events/activities", true) %>
	                <%= render partial: "events/activities/#{event.action}", locals: {event: event} %>
	              <% end %>
	             <% end %>
	        </div>
	        <% else %>
	        <p class='bold'>No activity to show.</p>
	        <% end %>
	    </div>
	</div>
</div>