<div class='col-md-12 transbox'>
	<%= @admin.email %>
<%= render 'admins/infoboxes' %>
<% if @admin.account_manager? %>
<%= render 'admin/infoboxes/account_manager_charts' %>
<% end %>
<%= link_to "Edit", edit_admin_path(@admin), class: 'btn btn-primary' %>
  <div class="row">
	<div class="col-md-12">
			<div class="main-box clearfix">
				
				<div class="tabs-wrapper">
					<div class="clearfix">
						<h4 class="pull-left"><%= @admin.name %>
						<span class='text-muted'>  <small><%= @admin.role %></small></span></h4>
						<ul class="nav nav-tabs pull-right">
							<li class="active"><a href="#candidates" data-toggle="tab">Candidates</a></li>
							<li class=""><a href="#tab-orders" data-toggle="tab">Job Orders</a></li>
							<li class=""><a href="#tab-placements" data-toggle="tab">Placements</a></li>
							<li class=""><a href="#tab-timesheets" data-toggle="tab">Timesheets</a></li>
							<li class=""><a href="#tab-events" data-toggle="tab">Events</a></li>
						</ul>
					</div>
					
					<div class="tab-content">
						<div class="tab-pane fade active in" id="candidates">
							<div class='col-md-6 list-group dark white'>
								
								<%= render 'events/applications' %>
							
								<h3>Open Job Orders</h3>
								<p class='text-right'><small></small></p>
								<%= render partial: "admin/orders/order", collection: @open_agency_orders %>
								
							</div>
							
							<div class='col-md-6 list-group dark white'>
								<h3>Available Candidates</h3>
								<p class='text-right'><small>most recent position</small></p>
								<%= div_for(@candidates, class: 'list-group-item list-group-item-success') do |employee| %>
									<%= link_to(admin_employee_path(employee), class: 'list-group-item list-group-item-success') do %>
									
									<h4 class="list-group-item-heading"><%= employee.name %>  
									<span class="label label-success pull-right"><%= employee.work_histories.order(:end_date).first.try(:title)  %></span></h4>
			
									
								<%= employee.skills.any? ? employee.skills.limit(5).map{|p| p.try(:name)}.join(", ") : "No Skills Available" %></p>
									
								<% end %>
						
							
							    <% end %>
							    
							    
							</div>
								
						
							
							
						</div>
						<div class="tab-pane fade" id="tab-orders">
							<h4>Open orders</h4>
								<%= div_for(@open_agency_orders, class: 'text-center well well-sm col-md-4') do |order| %>
									<h5><%= link_to order.company.name, admin_company_order_path(order.company, order, class: "table-link") %>
									<%= order.needs_attention? ? "<i class='fa fa-exclamation-triangle'></i>".html_safe : "" %>
									<strong><%= link_to order.title, admin_order_path(order) %></strong></h5>
									<p class="list-group-item-text">
							<%= order.skills.required.any? ? order.skills.required.limit(5).map{|p| p.try(:name)}.join(", ") : "No Required Skills" %></p>
									
								<% end %>
						
							
						</div>
						
						<div class="tab-pane fade" id="tab-placements">
							<div class='center'>
							<% if @admin.recruiter_jobs %>
							
							<% @admin.recruiter_jobs.each do |job| %>
									
							<div class='col-md-3'>
									<h5><%= job.company.name %></h5>
								<strong><%= job.created_at.strftime("%m/%d %I:%M%P") %></strong><br>
							
								<h6><%= job.name_title %></h6>
								<strong><%= job.mark_up_percent %></strong><br>
								
									Current bill: <%= number_to_currency(job.current_timesheet.total_bill) %><br>
									Current pay: <%= number_to_currency(job.current_timesheet.gross_pay) %>
										 <br>
									<br><small>Acct Mgr: <%= link_to job.account_manager.name, job.account_manager %></small>
									
									
								</div>
								
							<% end %>
							
							<% elsif @jobs %>
							<h4>Company Placements</h4>
							
							<% @jobs.each do |job| %>
								<ul>
									<li>
										<%= job.name_title %> - <%= job.staff %>
									</li>
								</ul>	
								
								
							<% end %>
							
							<% else %>
							No jobs available.

							<% end %>
							
							</div>	 

						</div>
						<div class="tab-pane fade" id="tab-timesheets">
							<% if @timesheets %>
							<%= render 'admin/timesheets/table' %>
							<% else %>
							Sorry, there're are currently timesheets to display.
							<% end %>
						</div>
						
						<div class="tab-pane fade" id="tab-events">
							<% if @events %>
							<% @events.each do |event| %>
							  <% if lookup_context.template_exists?(event.action, "events/activities", true) %>
							    <%= render partial: "events/activities/#{event.action}", locals: {event: event} %>
							  <% end %>
							<% end %>
							<% else %>
							Sorry, there're are currently no events.
							<% end %>
						</div>
						
					</div>
				</div>
			</div>
		</div>
			
	</div>
</div>



