<div class='col-md-12'>
	<%= render 'admins/infoboxes' %>
  <div class="row">
		<div class="col-lg-6">
			<div class="main-box clearfix">
				<h2>Timesheets</h2>
				<strong><%= @admin.first_name %>'s billing for this week:
				<%= number_to_currency(@admin.billing) if @admin.billing.present? %></strong>
				
				
				<div class="conversation-wrapper" data-behavior="timesheet-list">
				
							
			<% if @jobs %>
			
                <% @jobs.each do |job| %>
               
                 <%= render 'admin/timesheets/timesheet', timesheet: job.current_timesheet %>
               
                 
              
                  
                <% end %>
              
              <% end %>

					</div>
				</div> 
				
			</div>

		
		<div class="col-lg-6">
			<div class="main-box clearfix">
				
				<div class="tabs-wrapper">
					<div class="clearfix">
						<h4 class="pull-left"><%= @admin.first_name %>'s Activity</h4>
						<ul class="nav nav-tabs pull-right">
							<li class="active"><a href="#tab-users" data-toggle="tab">Placements</a></li>
							<li class=""><a href="#tab-products" data-toggle="tab">Products</a></li>
							<li class=""><a href="#tab-todo" data-toggle="tab">Todo</a></li>
						</ul>
					</div>
					
					<div class="tab-content">
						<div class="tab-pane fade active in" id="tab-users">
							<div>
								<% @jobs.each do |job| %>
								
							<div>
								<span class'text-right'><strong><%= job.current_timesheet.week_ending %></strong></span>
							<br><%= job.name_title %> - <%= number_to_currency(job.current_timesheet.total_bill) %>
							<br><small><%= job.staff %></small>
							<hr>
							</div>
							
							<% end %>
							</div>
							
							<br>
							<%= link_to "View all jobs", admin_jobs_path, class: 'btn btn-success pull-right' %>
						</div>
						
						<div class="tab-pane fade" id="tab-products">
							 
							<% if @jobs.any? %>
							
							<% @jobs.each do |job| %>
									
								<div>
								
								</div>
								
							<% end %>
							
						<% end %>
							
							<br>
							<%= link_to "View all timesheets", admin_timesheets_path, class: 'btn btn-success pull-right' %>
						</div>
						
						<div class="tab-pane fade" id="tab-todo">
							<ul class="widget-todo">
								<li class="clearfix">
									<div class="name">
										<div class="checkbox-nice">
											<input type="checkbox" id="todo-1">
											<label for="todo-1">
												New products introduction <span class="label label-danger">High Priority</span>
											</label>
										</div>
									</div>
								</li>
								<li class="clearfix">
									<div class="name">
										<div class="checkbox-nice">
											<input type="checkbox" id="todo-2">
											<label for="todo-2">
												Checking the stock <span class="label label-success">Low Priority</span>
											</label>
										</div>
									</div>
									<div class="actions">
										<a href="#" class="table-link">
											<i class="fa fa-pencil"></i>
										</a>
										<a href="#" class="table-link danger">
											<i class="fa fa-trash-o"></i>
										</a>
									</div>
								</li>
								<li class="clearfix">
									<div class="name">
										<div class="checkbox-nice">
											<input type="checkbox" id="todo-3" checked="checked">
											<label for="todo-3">
												Buying coffee <span class="label label-warning">Medium Priority</span>
											</label>
										</div>
									</div>
									<div class="actions">
										<a href="#" class="table-link">
											<i class="fa fa-pencil"></i>
										</a>
										<a href="#" class="table-link danger">
											<i class="fa fa-trash-o"></i>
										</a>
									</div>
								</li>
								<li class="clearfix">
									<div class="name">
										<div class="checkbox-nice">
											<input type="checkbox" id="todo-4">
											<label for="todo-4">
												New marketing campaign <span class="label label-success">Low Priority</span>
											</label>
										</div>
									</div>
								</li>
								<li class="clearfix">
									<div class="name">
										<div class="checkbox-nice">
											<input type="checkbox" id="todo-5">
											<label for="todo-5">
												Calling Mom <span class="label label-warning">Medium Priority</span>
											</label>
										</div>
									</div>
									<div class="actions">
										<a href="#" class="table-link badge">
											<i class="fa fa-cog"></i>
										</a>
									</div>
								</li>
								<li class="clearfix">
									<div class="name">
										<div class="checkbox-nice">
											<input type="checkbox" id="todo-6">
											<label for="todo-6">
												Ryan's birthday <span class="label label-danger">High Priority</span>
											</label>
										</div>
									</div>
								</li>
								<li class="clearfix">
									<div class="name">
										<div class="checkbox-nice">
											<input type="checkbox" id="todo-7">
											<label for="todo-7">
												Printing new flyer <span class="label label-success">Low Priority</span>
											</label>
										</div>
									</div>
								</li>
								<li class="clearfix">
									<div class="name">
										<div class="checkbox-nice">
											<input type="checkbox" id="todo-8">
											<label for="todo-8">
												Mila and Ryan wedding <span class="label label-danger">High Priority</span>
											</label>
										</div>
									</div>
								</li>
								<li class="clearfix">
									<div class="name">
										<div class="checkbox-nice">
											<input type="checkbox" id="todo-9">
											<label for="todo-9">
												Checking the stock <span class="label label-success">Low Priority</span>
											</label>
										</div>
									</div>
								</li>
							</ul>
						</div>
						
					</div>
				</div>
			</div>
		</div>
  </div>
</div>



