<div class='col-md-12'>
<%= render 'admins/infoboxes' %>
<% if @admin.account_manager? %>
<%= render 'admin/infoboxes/account_manager_charts' %>
<% end %>
  <div class="row">
	<div class="col-lg-12">
			<div class="main-box clearfix">
				
				<div class="tabs-wrapper">
					<div class="clearfix">
						<h4 class="pull-left"><%= @admin.name %>
						<span class='text-muted'>  <small><%= @admin.role %></small></span></h4>
						<ul class="nav nav-tabs pull-right">
							<li class="active"><a href="#tab-users" data-toggle="tab">Candidates</a></li>
							<li class=""><a href="#tab-orders" data-toggle="tab">Job Orders</a></li>
							<li class=""><a href="#tab-placements" data-toggle="tab">Placements</a></li>
							<li class=""><a href="#tab-timesheets" data-toggle="tab">Timesheets</a></li>
							<li class=""><a href="#tab-events" data-toggle="tab">Events</a></li>
						</ul>
					</div>
					
					<div class="tab-content">
						<div class="tab-pane fade active in" id="tab-users">
							<div class='col-md-12'>
								<%= link_to "Edit", edit_admin_path(@admin), class: 'btn btn-primary' %>
								<%= div_for(@employees, class: 'col-md-4') do |employee| %>
									<%= link_to employee.name_title, admin_employee_path(employee) %><br>
								
									<% if employee.skills %>
										<% employee.skills.limit(3).each do |skill| %>
											<%= skill.name %><br>
										<% end %>
								    <% end %>
							<hr>
							
							    <% end %>
							    
							    
							</div>
								
						
							
							
						</div>
						<div class="tab-pane fade" id="tab-orders">
							<h4>Open orders</h4>
								<%= div_for(@orders.needs_attention, class: 'text-center well well-sm col-md-4') do |order| %>
									<h5><%= link_to order.company.name, admin_company_order_path(order.company, order, class: "table-link") %>
									
									<%= order.needs_attention? ? "<i class='fa fa-exclamation-triangle'></i>".html_safe : "" %>
									<strong><%= link_to order.title, admin_order_path(order) %></strong></h5>
									<% if order.skills.any? %>
										<% order.skills.limit(3).each do |skill| %>
											<strong><%= skill.name %></strong>
										<% end %>
										
										<% else %>
										<strong>Unskilled/None Specified.</strong><br>
								    <% end %>
								<% end %>
						
							<div class='col-md-12'>

							    <%= render 'admin/orders/table' %>
							    
							</div>
								
						
							
							
						</div>
						
						<div class="tab-pane fade" id="tab-placements">
							<div class='center'>
							<% if @recruiter_jobs %>
							
							<% @recruiter_jobs.each do |job| %>
									
							<div class='col-md-3'>
									<h5><%= job.company.name %></h5>
								<strong><%= job.created_at.strftime("%m/%d %I:%M%P") %></strong><br>
							
								<h6><%= job.name_title %></h6>
								<strong><%= job.mark_up_percent %></strong><br>
								
									Current bill: <%= number_to_currency(job.current_timesheet.total_bill) %><br>
									Current pay: <%= number_to_currency(job.current_timesheet.gross_pay) %>
										 <br>
									<br><small>Acct Mgr: <%= link_to job.account_manager.name, job.account_manager %></small>
									
									
								</div>
								
							<% end %>
							
							<% elsif @jobs %>
							<h4>Company Placements</h4>
							
							<% @jobs.each do |job| %>
								<ul>
									<li>
										<%= job.name_title %> - <%= job.staff %>
									</li>
								</ul>	
								
								
							<% end %>
							
							<% else %>
							No jobs available.

							<% end %>
							
							</div>	 

						</div>
						<div class="tab-pane fade" id="tab-timesheets">
							<% if @timesheets %>
							<%= render 'admin/timesheets/table' %>
							<% else %>
							Sorry, there're are currently timesheets to display.
							<% end %>
						</div>
						
						<div class="tab-pane fade" id="tab-events">
							<% if @events %>
							<% @events.each do |event| %>
							  <% if lookup_context.template_exists?(event.action, "events/activities", true) %>
							    <%= render partial: "events/activities/#{event.action}", locals: {event: event} %>
							  <% end %>
							<% end %>
							<% else %>
							Sorry, there're are currently no events.
							<% end %>
						</div>
						
					</div>
				</div>
			</div>
		</div>
			
	</div>
</div>



