
<% commentable.comments.each do |comment| %>
  <div id='comment-list' class="well well-sm">
   <p>
         <%= comment.body %>
    </p>
    <div class='text-right'>
        
    <small>
        <%= comment.admin.try(:name) %>
        <%= comment.company_admin.try(:name) %>
        <%= comment.user.try(:name) %>
    </small>
    
    <%= link_to "<i class='fa fa-trash-o fa-red'></i>".html_safe, admin_job_comment_path(commentable, comment), method: :delete, 
                                                    data: { confirm: 'Are you sure?' }, class: 'red' if admin_signed_in? %>
    
    </div>
    
  </div>
<% end %>