<%= div_for(comment) do %>

    <p><%= comment.body %></p>
    <div class='text-right'>
        
    <% if comment.admin.present? %>
    <small><%= link_to comment.admin.name, comment.admin %> </small>
    <% end %>
    <% if comment.company_admin.present? %>
    <small><%= comment.company_admin.name %> </small>
    <% end %>
    <% if comment.user.present? %>
    <small><%= link_to comment.user.name, comment.user %> </small>
    <% end %>
    
    
    <%= link_to "<i class='fa fa-commenting'></i>".html_safe, comment %>
    
    </div>
    <%= comment.created_at.stamp('10/12/2013 at 12:34am') %>
<% end %>