<% if commentable.present? %>
<%= simple_form_for [commentable.comments.new], class: 'comment', remote: true do |f| %>
<%= f.hidden_field :commentable_id, value: commentable.id %>
<%= f.hidden_field :commentable_type, value: commentable.class %>
  
   
    
 
    <div class="form-group">
      <%= f.input :body, label: false, input_html: {data: { behavior: "autocomplete_company_admins" }, class: "form-control body myatwho"}, placeholder: "Add a comment" %>

      
         <%= f.submit "Send", class: "btn btn-primary" %>
     
    </div>
  
    
  
  
<% end %>
<%else%>
Nope
<% end %>