<%= simple_form_for [Comment.new], class: 'comment', remote: true do |f| %>
<%= f.hidden_field :commentable_id, value: commentable.id %>
    <%= f.hidden_field :commentable_type, value: commentable.class %>
    
  
   
    
 
    <div class="form-group">
      <%= f.input :body, label: false, input_html: {data: { behavior: "autocomplete_order_notes" }, class: "form-control body"}, placeholder: "Add a comment" %>

      
         <%= f.submit "Send", class: "btn btn-primary btn-block" %>
     
    </div>
  
    
  
  
<% end %>