 <%= render 'search' %>
 
<% if @searched.present? %>
<div data-behavior='comment-list' class='scroll300'>
            <h2>Searched Comments	<span class="badge" data-behavior='comments-count'>
        		<%=  @searched.count %>
        </span></h2>
<% @searched.order(created_at: :asc).each do |comment| %>
            <%= render 'comment', comment: comment %>
            <%= render partial: "comments/form", locals: {commentable: comment.commentable} %>
    <% end %>
</div>
<% end %>
<div class='col-md-12'>
    <div class='dark col-md-6'>
        
        <div data-behavior='comment-list' class='scroll600'>
            <h2>Unread Comments	<span class="badge" data-behavior='comments-count'>
        		<%=  @comments.unread.count %>
        </span></h2>
        		
            <% @comments.unread.order(created_at: :asc).each do |comment| %>
                    <%= render 'comment', comment: comment %>
                    <%= render partial: "comments/form", locals: {commentable: comment.commentable} %>
            <% end %>
        </div>
    </div>
    <div class='dark col-md-6'>
        <h2>Old Comments</h2>
        <div data-behavior='read-comment-list' class='scroll300'>
            <% @comments.read.limit(20).order(read_at: :desc).each do |comment| %>
                <%= render 'comment', comment: comment %>
                
        <% end %>
        </div>
    </div>
     
    <div class='row'>
        <div class='col-md-3'>
            <h3>Timesheet Comments</h3>
            <%= div_for(@current.timesheets.with_recent_comments.distinct, class: 'panel dark') do |timesheet| %>
                <h4><%= timesheet.job.name_title %></h4>
                
                <div data-behavior='comment-list' id='comments_<%= timesheet.class %>_<%= timesheet.id %>'>
                    <% timesheet.comments.each do |comment| %>
                    
                        <%= render 'comment', comment: comment %>
                    <% end %>
                </div>
                
                  <%= render partial: "comments/form", locals: {commentable: timesheet} %>
                  
            <% end %>
        </div>
        <div class='col-md-3'>
            <h3>Job Comments</h3>
            <%= div_for(Job.with_recent_comments.distinct, data: {behavior:'comment-list'}, class: 'panel dark') do |job| %>
            <h4><%= job.name_title %></h4>
            
                <div id='comments_<%= job.class %>_<%= job.id %>'>
                    <% job.comments.each do |comment| %>
                        <%= render 'comment', comment: comment %>
                    <% end %>
                </div>
                  <%= render partial: "comments/form", locals: {commentable: job} %>
            <% end %>
        </div>
    
        <div class='dark col-md-3'>
            <h2>Comments by Company Admins</h2>
            <% Comment.by_company_admins.each do |comment| %>
                <% if lookup_context.template_exists?(comment.commentable_type.downcase, "comments/forms", true) %>
                    <%= render partial: "comments/forms/#{comment.commentable_type.downcase}", locals: {comment: comment} %>
                <% end %>
            <% end %>
        </div>
    
        <div class='dark col-md-3'>
            <h2>Comments by Agency Admins</h2>
            
                <div data-behavior='comment-list' id='comment-list'>
                    <% Comment.by_agency_admins.order(created_at: :desc).each do |comment| %>
                        <%= render 'comments/comment', comment: comment %>
                    <% end %>
                  
                 </div>
           
        </div>
    </div>
</div>