<%= link_to "Send a Message", new_comment_path, class: "btn btn-success pull-right" %>
<div class='col-md-12'>
    <div class='col-md-6'>
        
        <div data-behavior='comment-list' class='scroll600'>
            <h2>Unread Comments	<span class="badge" data-behavior='comments-count'>
        		<%=  @comments.unread.count %>
        </span></h2>
        		
            <% @comments.unread.order(created_at: :asc).each do |comment| %>
                    <%= render 'comment', comment: comment %>
                    <%= render partial: "comments/form", locals: {commentable: comment.commentable} %>
            <% end %>
        </div>
    </div>
    <div class='col-md-6'>
        <h2>Old Comments</h2>
        <div data-behavior='read-comment-list' class='scroll300'>
            <% @comments.read.limit(20).order(read_at: :desc).each do |comment| %>
                <%= render 'comment', comment: comment %>
                
        <% end %>
        </div>
    </div>
     
    
</div>