<div class='col-md-12 transbox'>
    <h3>New Message <small> Job Order</small></h3>
    <%= simple_form_for @comment, class: 'form' do |f| %>
      <%= f.input :account_manager, collection: @current_agency.admins.account_managers %>
      <%= f.input :recruiter, collection: @current_agency.admins.recruiters %>
      
 
    <div class="form-group">
      <%= f.input :body, label: false, input_html: {class: "form-control", rows: 8}, placeholder: "Add a comment" %>
      
         <%= f.submit "Send", class: "btn btn-primary btn-block" %>
     
    </div>
  
    
  
  
<% end %>
</div>