<div class='col-md-12 '>
<div class=''>
<div class='table-responsive'>
<h1><%= @current_agency.name %>'s Invoices</h1>

<table class='table table-bordered datatable'>
  <thead>
    <tr>
      <th></th>
      <th>Company</th>
      
      <th>Week</th>
      <th>Due by</th>
      <th>Total</th>
      <th>Amt paid</th>
      <th>Paid on</th>
      <th>Balance</th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= inv_sym(invoice) %></td>
        <td><%= link_to invoice.company.name, admin_company_path(invoice.company), class: 'black' %></td>
        
        <td><%= invoice.week %></td>
        <td><%= invoice.due_by.stamp('11/12/2013') %></td>
        
        <td><%= number_to_currency(invoice.total) %></td>
        <td><%= number_to_currency(invoice.amt_paid) %></td>
        <td><%= invoice.paid_on %></td>
        <td><%= number_to_currency(invoice.balance) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to 'View All Invoices', admin_invoices_path, class: "btn btn-primary" %>
</div>
</div>

