<div class='col-md-12 dark'>
<div class='table-responsive'>
<h1><%= @current_agency.name %>'s Invoices</h1>

<table class='table table-bordered white'>
  <thead>
    <tr>
      <th></th>
      <th>Company</th>
      
      <th>Week</th>
      <th>Due by</th>
      
      <th>Total</th>
      <th>Amt paid</th>
      <th>Paid on</th>
      <th>Balance</th>
    <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.paid? ? "<i class='fa fa-check-square-o fa-lg'></i>".html_safe : "<i class='fa fa-square-o fa-lg'></i>".html_safe %></td>
        <td><%= link_to invoice.company.name, admin_company_path(invoice.company) %></td>
        
        <td><%= invoice.week %></td>
        <td><%= invoice.due_by.stamp('11/12/2013') %></td>
        
        <td><%= number_to_currency(invoice.total) %></td>
        <td><%= number_to_currency(invoice.amt_paid) %></td>
        <td><%= invoice.paid_on %></td>
        <td><%= number_to_currency(invoice.balance) %></td>
      <td><%= link_to '<i class="fa fa-file fa-1x "></i>'.html_safe, admin_invoice_path(invoice), class: 'btn btn-tiny' %></td>
        <td><%= link_to '<i class="fa fa-pencil fa-1x "></i>'.html_safe, edit_admin_invoice_path(invoice), class: 'btn btn-tiny' %></td>
        <td><%= link_to '<i class="fa fa-trash fa-1x "></i>'.html_safe, admin_invoice_path(invoice), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-tiny red' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to 'View All Invoices', admin_invoices_path, class: "btn btn-primary" %>

</div>

