<div class='main-box'>

<h1>All Agency Invoices</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th></th>
      <th>Company</th>
      
      <th>Week</th>
      <th>Due by</th>
      
      <th>Total</th>
      <th>Amt paid</th>
      <th>Paid on</th>
      <th>Balance</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.paid? ? "<i class='fa fa-check-square-o fa-lg'></i>".html_safe : "<i class='fa fa-square-o fa-lg'></i>".html_safe %></td>
        <td><%= link_to invoice.company.name, admin_company_path(invoice.company) %></td>
        
        <td><%= invoice.week %></td>
        <td><%= invoice.due_by.stamp('11/12/2013') %></td>
        
        <td><%= invoice.total %></td>
        <td><%= number_to_currency(invoice.amt_paid) %></td>
        <td><%= invoice.paid_on %></td>
        <td><%= invoice.balance %></td>
        <td><%= link_to 'Show', admin_invoice_path(invoice) %></td>
        <td><%= link_to 'Edit', edit_admin_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', admin_invoice_path(invoice), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


