<div class='main-box'>
<div class='col-md-6'>
    <span id='balance'>
   <h4><strong>Balance:</strong> <%= number_to_currency(@invoice.balance) %></h4>
</span>
  <hr>
  <h4><strong>Balance:</strong> <%= number_to_currency(@invoice.balance) %></h4>
<p>
  <strong>Company:</strong>
  <%= @invoice.company.name %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @invoice.agency.name%>
</p>
<p>
  <strong>Week:</strong>
  <%= @invoice.week %>
</p>

<p>
  <strong>Due by:</strong>
  <%= @invoice.due_by.stamp('12/18/2015') %>
</p>

<p id='status'>
  <strong>Status:</strong>
  <%= @invoice.paid? ? "Paid" : "Open" %>
</p>

<p>
  <strong>Total:</strong>
  <%= number_to_currency(@invoice.total) %>
</p>

<p>
  <strong>Amt paid:</strong>
  <%= number_to_currency(@invoice.amt_paid) %>
</p>

<p>
  <strong>Date paid:</strong>
  <%= @invoice.date_paid %>
</p>
<% if @invoice.unpaid? %>
<%= link_to 'Mark As Paid', mark_as_paid_admin_invoice_path(@invoice), method: :patch, remote: true, id: 'pay-button', class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Edit', edit_admin_invoice_path(@invoice) %> |
<%= link_to 'Back', admin_invoices_path %>
</div>

<div class='col-md-6 well'>
  <h5 class='text-center'> Timesheets </h5>
 <div class='list-group'>
  <% @invoice.timesheets.each do |timesheet| %>
 <%= link_to admin_timesheet_path(timesheet) do %>
     <li class='list-group-item list-group-item-success'><%= timesheet.week_ending %> - <%= timesheet.employee_bill %> - <small><%= timesheet.state %></small></li>
    <% end %>
<% end %>
  </div>
</div>

