<div id="sign_in_page center">
  <div class="row">
  	<div class="center2">
  		<div class="main-box">
  			<h2>Employee Sign In</h2>
  			
  			<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), defaults: { input_html: { class: 'form-control' } }) do |f| %>
  			<form class="form-inline" role="form">
  				<div class="form-group">
  					<%= f.input :code, required: true, label: false, autofocus: true, placeholder: "CODE" %>
  				</div>
  				<div class="form-group">
  					
  					<%= f.input :password, required: false %>
  				</div>

  					<%= f.input :remember_me, as: :boolean, input_html: { class: 'special' } if devise_mapping.rememberable? %>


  				      <%= f.button :submit, "Sign in", class: 'btn btn-success' %>

  			</form>	
  			<% end %>
  		</div>
  	</div>	
  </div>
</div>

</div>