<div class="table-responsive">
  <table class="table table-bordered datatable" width="100%">
  <thead>
    <tr>
      
     
      <th>Job Title</th>
      <th>Pay Range</th>
      <th>Shift</th>
      <th>Start Date</th>
      <th>Skills</th>
     
     
      
      
    </tr>
  </thead>

  <tbody>
    <% @orders.needs_attention.each do |order| %>
      <tr>
        
        
        <td><% if @user.applied_to(order.id) %>
       <%= link_to order.title, employee_order_path(order), class: "btn btn-success fill" %>
        <% else %>
          <%= link_to order.title, employee_order_path(order), class: "btn btn-primary fill" %>
        <% end %>
          </td>
        <td><%= order.pay_range %></td>
        <td><%= order.shift %></td>
        <td><%= order.needed_by? ? order.needed_by.stamp("11/13/15") : "TBD" %></td>
        <td><% if order.skills.any? %>
          <% order.skills.order(:required).reverse_order.limit(3).each do |skill| %>
            <small><%= skill.name %></small><br>
          <% end %>
          <% else %>
            <small>None</small>
        <% end %>
        </td>
       
        
        
        
      
      </tr>
    <% end %>
  </tbody>
</table>


  </div>
