<div class="table-responsive">
  <table class="table table-bordered datatable" width="100%">
  <thead>
    <tr>
      
     
      <th>Job Title</th>
      <th>Pay Range</th>
      <th>Shift</th>
      <th>Start Date</th>
      <th>Skills</th>
     
     
      
      
    </tr>
  </thead>

  <tbody>
    <% @current_agency.orders.needs_attention.order(needed_by: :asc).each do |order| %>
      <tr>
        
        
        <td >
          
          <% if @user.applied_to(order.id) %>
        
       <%= link_to order.title, employee_order_path(order), class: " text-success" %>
        <% else %>
          <%= link_to order.title, employee_order_path(order), class: "text-primary" %>
        <% end %>
          </td>
        <td><%= pay_range(order) %></td>
        <td><%= order.shift %></td>
        <td><%= order.needed_by? ? order.needed_by.stamp("11/13/2015") : "TBD" %></td>
        <td class='text-center'>
           <%=  order.skills.any? ? skills_popover(order.skills) : "Entry Level" %>
        </td>
       
        
        
        
      
      </tr>
    <% end %>
  </tbody>
</table>


  </div>
