<div class='col-md-12 mainpage shadow'>
 

<h1 class="bold">  <%= @order.title%> </h1>

<div id="order-tabs">

  <!-- Nav tabs -->
  <ul id="order-nav" class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#order" aria-controls="order" role="tab" data-toggle="tab">Order Info.</a></li>
    <li role="presentation"><a href="#skills-tab" aria-controls="skills-tab" role="tab" data-toggle="tab">Skills</a></li>
    <li role="presentation"><a href="#applications" aria-controls="applications" role="tab" data-toggle="tab">Apply Now!</a></li>
  </ul>
  
  <div class="tab-content col-md-12">
    <div role="tabpanel" class="tab-pane fade in active" id="order">

  <div class='col-md-12 well'>
    <h4>Open positions: <%= @order.open_jobs %></h4>

  <h1><%= @order.active ? "" : "Inactive" %></h1>
  
   
  <div class='well col-md-8'>
      <h3>Job Description</h3>
    <%= highlight(@order.job_description, @employee.tags.pluck(:name).to_a, highlighter: '<u>\1</u>') %>
  </div>
  <div class='well col-md-8'>
      <h3>Notes</h3>
    <%= highlight(@order.notes, @employee.tags.pluck(:name).to_a, highlighter: '<u>\1</u>') %>
  </div>
  <div class='col-md-4'>
    <strong>Shift</strong><br>
   <%= @order.shift %><br>
  
    <strong><%= @order.heavy_lifting ? "Heavy Lifting Required" : "" %></strong>
    <br><strong><%= @order.stwb ? "STWB Required" : "" %></strong><br>

  
  </div>

   <div class='col-md-4'>
    <strong>Drug Test </strong><br>
    <%= @order.dt_req %><br>
  

    <strong>Background Check </strong><br>
    <%= @order.bg_check %><br>
     </div>

   <div class='col-md-4'>

    <h3><strong>Assignment Type</strong><br>
    <%= @order.est_duration %><br>
</h3>
    <strong>Pay Range:</strong><br>
    <%= @order.pay_range %>
   </div>

   <div class='col-md-4'>
     <strong>Skills</strong>
     <p><%= @order.skills.map {|p| p.name.titleize}.join(", ") %></p>
   </div>
   <div class='col-md-4'>
     <strong>Tags</strong>
     <p><%= @order.tags.map {|p| p.name.titleize}.join(", ") %></p>
   </div>


  </div>
  
  </div>
 
  <!--SKILLS TAB-->
  <div role="tabpanel" class="tab-pane fade" id="skills-tab">
     <div class='well'>
      <% if @order.skills.count < 1 %>
           <h4 id='no-skills' class="center">This job order has no skills entered.</h4>
          <% end %>
            <div  id='skills' class=''>
              <%= render partial: "employee/skills/skill", collection: @order.skills %>
             
            </div>
     
      
    </div>
  </div>
  <!--APPLICATIONS TAB-->
    <div role="tabpanel" class="tab-pane fade" id="applications">
        <div class='well'>
          <% if @order.applications.where(user_id: @current_user.id, action: 'applied').any?%>
          <h4>You've already applied to this position.</h4>
          <% else %>
          <%= link_to "Apply Now!", apply_employee_order_path(@order.id), remote: true, method: :patch, class: 'btn btn-success btn-lg', id: 'apply-btn' %>
          
          <% end %>
          <div class='hide-this' id='thanks'><h2>Thanks for applying! We will be contacting you shortly.</h2></div>
        </div>
      </div>
      
    </div>
  </div>
</div>