

<div class='main-box'>
  <h1>  <%= @order.title %></h1>
<hr>
<div class='well center' id="order-tabs">

  <!-- Nav tabs -->
  <ul id="order-nav" class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#order" aria-controls="order" role="tab" data-toggle="tab">General Info.</a></li>
    <li role="presentation"><a href="#skills" aria-controls="skills" role="tab" data-toggle="tab">Skills</a></li>
    <li role="presentation"><a href="#apply" aria-controls="apply" role="tab" data-toggle="tab">Apply Now!</a></li>
  </ul>
  
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active well" id="order">
  

<h3> <%= @order.title %></h3>

  <h5><strong>Information about this position:</strong></h5>
    <div id= "order-notes" class="notes" >
      <p><%= @order.notes %></p>
    </div>
<%= @listed_skills %>
<p>

  <%= @order.pay_range %> - BOE
</p>




  </div>
  
  
    <div role="tabpanel" class="tab-pane fade well" id="skills">
      <div class='center'>
        
        <% if @order.skills.required.any? %>
        <h2>Required Skills</h2>
          <%= render @order.skills.required %>
          <% else %>
          <h2>There are no <i>required skills</i> for this position.</h2>
          <% end %>
         <% if @order.skills.additional.any? %>
         <h2>Additional Skills</h2>
          <%= render @order.skills.additional %>
         
         
          <% end %>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade well" id="apply">
      <div class='center'>
      <% if user_signed_in? %>
            <% if @current_user.applied_to(@order.id) %>
            <h2>Thanks for applying! We will be contacting you shortly.</h2>
            <% else %>
            <h2 id='interested'>Interested in the position? </h2>
            <div id='thanks' class='hide-this'><h2>Thanks for applying! We will be contacting you shortly.</h2></div>
            
          <%= link_to "Apply Now!", apply_employee_order_path(@order), id: 'apply-btn', method: :patch, remote: true, class: 'btn btn-success' %>
            <% end %>
      <% else %>
        <h2>Please sign in to apply to this position.</h2>
        <div class='text-center'>
          	<%= link_to "<i class='fa fa-users fa-2x fa-fw pull-left'></i> Employee Sign In".html_safe, new_user_session_path, class: 'btn btn-primary btn-lg' %>
<p>Don't have an account? </p>
<%= link_to "<i class='fa fa-user-plus fa-2x fa-fw pull-left'></i> Sign Up Now!".html_safe, new_user_registration_path, class: 'btn btn-primary btn-lg' %>
        
        </div>
        
      <% end %>
      </div>
    </div>
  </div>
</div>
  
  
 
</div>