<li class='dropdown'>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class='fa fa-plus-square fa-fw'></i>Create</a>
    <ul class="dropdown-menu">
        <li class=''><%= link_to "<i class='fa fa-user-plus fa-fw'></i>New Job Order".html_safe, new_company_order_path %></li>
        <li><%= link_to "<i class='fa fa-calendar-plus-o fa-fw'></i> New Shift".html_safe, new_company_shift_path if policy(Shift).create? %></li>
    </ul>
</li>
<li class='dropdown'>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class='fa fa-users fa-fw'></i> Employees</a>
    <ul class="dropdown-menu">
        <li><%= link_to "<i class='fa fa-users'></i> Current Employees".html_safe, company_jobs_path %></li>
        <li><%= link_to "<i class='fa fa-pause-circle-o fa-fw'></i> Pending Approval".html_safe, archived_company_jobs_path if policy(Order).index? %></li>
        
    </ul>
</li>
<li><%= link_to "<i class='fa fa-university'></i> Job Orders".html_safe, company_orders_path %></li>
<li><%= link_to "<i class='fa fa-usd fa-fw'></i> Invoices".html_safe, company_invoices_path %></li>
<li class='dropdown'>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class='fa fa-clock-o fa-fw'></i>Time Tracking</a>
    <ul class="dropdown-menu">
        <li><%= link_to "<i class='fa fa-file-text'></i> Timesheets".html_safe, company_timesheets_path %></li>
        <li><%= link_to "<i class='fa fa-calendar'></i> Shift Calendar".html_safe, company_shifts_path %></li>
        <li><%= link_to "<i class='fa fa-clock-o fa-fw'></i> Company Timeclock".html_safe, company_timeclock_path %></li>
    </ul>
</li>
<li class='dropdown'>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class='fa fa-cloud-download fa-fw'></i> Reports</a>
    <ul class="dropdown-menu">
        <li class='bold'><i class='fa fa-file-pdf-o fa-fw'></i> PDF Reports</li>
        <li><%= link_to  "Current Timesheets", company_timesheets_path(format: :pdf, scope: "current_week") %></li>
        <li><%= link_to  "Last Week Timesheets", company_timesheets_path(format: :pdf, scope: "last_week") %></li>
        <li><%= link_to  "All Timesheets", company_timesheets_path(format: :pdf, scope: "all") %></li>
        <li class='bold'><i class='fa fa-file-excel-o fa-fw'></i> CSV Reports</li>
        <li><%= link_to  "Current Timesheets", company_timesheets_path(format: :csv, scope: "current_week") %></li>
        <li><%= link_to  "Last Week Timesheets", company_timesheets_path(format: :csv, scope: "last_week") %></li>
        <li><%= link_to  "All Timesheets", company_timesheets_path(format: :csv, scope: "all") %></li>
        
    </ul>
</li>