<nav id="company-navbar" class="navbar navbar-default navbar-fixed-top">
	
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "<i class='fa fa-home fa-fw'></i> #{@current_agency.name}'s Client Portal".html_safe, root_path, id: "navlogo", class: "navbar-brand" %>
    </div>
    

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			        <li><%= link_to inbox_company_conversations_path do %><i class="fa fa-comments-o"></i> Messages <span class="badge badge-default"><%= current_company_admin.mailbox.inbox.unread(current_company_admin).count %></span><% end %></li>
			<%= render 'company/shared/clocked_in' if  @current_company.jobs.on_shift.any?  %>
			<%= render 'company/shared/on_break' if @current_company.jobs.on_break.any?  %>
			<!--<%= render "company/shared/owner_links" if current_company_admin.owner? %>-->
			<!--    <%= render "company/shared/manager_links" if current_company_admin.manager? %>-->

		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="">
            <li><%= link_to company_company_admin_path(@current_company_admin) do %>
            <%= gravatar_for(@current_company_admin, size: 25) %> <%= @current_company_admin.name %>
            <% end %></li>
            <li><%= link_to "<i class='fa fa-power-off fa-lg'></i>".html_safe, destroy_company_admin_session_path, method: :delete  %></li>
        </li>
		</ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
