<div class='lightbox-long'>
 <h1 class='simple metal'><%= @company.name %></h1>
<div class='row'>
  	<div class='col-md-9 '>
  	 
  <h2 class='metal'> Welcome, <%= current_company_admin.name %>!</h2>
    <div class='well well-sm'>
      <%= render 'company/orders/table', orders: @company.orders %>
    </div>
  </div>
  <div class='col-md-3'>
    <div class='well well-sm'>
    <% if @company.invoices.unpaid.any?  %>
    
    <div class="alert alert-danger text-center metal bold" role="alert">
     <%= pluralize( @current_company_admin.company.invoices.unpaid.count, 'unpaid invoice') %>
    </div>
    <%= div_for @company.invoices.unpaid do |invoice| %>
      <%= inv_timesheets_collaspe(invoice) %><br>
      <div class='black collapse' id="collapseInv_<%=invoice.id%>">
         <%= render 'company/invoices/invoice', invoice: invoice %>
      </div>
    <% end %>
    
  <% else %>
    <div class="alert alert-success text-center metal bold" role="alert">
      <%= pluralize( @current_company_admin.company.invoices.unpaid.count, 'unpaid invoice') %>
    </div>
  <% end %>
  </div>
  </div>
  
</div>
<div class='row'>
    <div class='col-md-6'>
      <%= render 'company/shifts/one_day_calendar', shifts: @shifts if @shifts.present? %>
    </div>
    <div class='col-md-6 text-center'>
        <div class='btn-group'>
          <%= link_to "<i class='fa fa-plus-square'></i> New Job Order".html_safe, new_company_order_path, class: "btn btn-primary btn-lg" %>
          <%= link_to "<i class='fa fa-clock-o'></i> Timeclock".html_safe, company_timeclock_path, class: "btn btn-primary btn-lg" %>
        </div>
     
    </div>
  </div>
</div>