<div class=''>
 <h1 class='simple'><%= @current_company.name %></h1>
<div class='row'>
  	<div class='col-md-9 ' data-behavior='timesheet-list'>
  	 
  <h2 class='bold'> Welcome, <%= current_company_admin.name %>!</h2>
  <%= render 'company/orders/table', orders: @current_company.orders %>
    <div class='well well-sm'>
      <div class=''>
				<h4>Timesheets waiting for approval</h4>
				<% @current_company.timesheets.needing_approval.each do |timesheet| %>
					<%= render "company/timesheets/timesheet", timesheet: timesheet if company_admin_signed_in? %>
				<% end %>
			</div>
			<div class='well well-sm'>
				<h4>Timesheets for this week</h4>
				<% @current_company.current_timesheets.each do |timesheet| %>
					<%= render "company/timesheets/timesheet", timesheet: timesheet %>
				<% end %>
			</div>
      
    </div>
  </div>
  <div class='col-md-3 well'>
    
    <%= convo_for(header: "Send A Message", back_to: company_dashboard_path) %>
    
    <div class='well well-sm'>
    <% if @current_company.invoices.unpaid.any?  %>
    
      <div class="alert alert-danger text-center" role="alert">
       <%= pluralize( @current_company_admin.company.invoices.unpaid.count, 'unpaid invoice') %>
      </div>
      <%= div_for @current_company.invoices.order(week: :desc).unpaid do |invoice| %>
        <%= inv_timesheets_collaspe(invoice) %><br>
        <div class='black collapse' id="collapseInv_<%=invoice.id%>">
           <%= render 'company/invoices/invoice', invoice: invoice %>
        </div>
      <% end %>
      
    <% else %>
      <div class="alert alert-success text-center" role="alert">
        <%= pluralize( @current_company_admin.company.invoices.unpaid.count, 'unpaid invoice') %>
      </div>
    <% end %>
    </div>
    <%= render 'company/shifts/one_day_calendar', shifts: @shifts if @shifts.present? %>
  </div>
  
</div>

</div>