<div class=''>
 <h1 class='simple '><%= @company.name %></h1>
<div class='row'>
  	<div class='col-md-9 '>
  	 
  <h2 class=''> Welcome, <%= current_company_admin.name %>!</h2>
    <div class='well well-sm'>
      <%= render 'company/orders/table', orders: @company.orders %>
    </div>
  </div>
  <div class='col-md-3'>
    <% @items = [1,2,3,4] %>
    <% @items.each do |item| %>
      <div style="background-color:<%= cycle("red","white","blue") %>">
        <span style="background-color:<%= current_cycle %>"><%= item %></span>
      </div>
    <% end %>
    
    
    <div class='well well-sm'>
    <% if @company.invoices.unpaid.any?  %>
    
      <div class="alert alert-danger text-center" role="alert">
       <%= pluralize( @current_company_admin.company.invoices.unpaid.count, 'unpaid invoice') %>
      </div>
      <%= div_for @company.invoices.order(week: :desc).unpaid do |invoice| %>
        <%= inv_timesheets_collaspe(invoice) %><br>
        <div class='black collapse' id="collapseInv_<%=invoice.id%>">
           <%= render 'company/invoices/invoice', invoice: invoice %>
        </div>
      <% end %>
      
    <% else %>
      <div class="alert alert-success text-center" role="alert">
        <%= pluralize( @current_company_admin.company.invoices.unpaid.count, 'unpaid invoice') %>
      </div>
    <% end %>
    </div>
    <%= render 'company/shifts/one_day_calendar', shifts: @shifts if @shifts.present? %>
  </div>
  
</div>

</div>