<div class="col-md-12 mainpage">
  <div class='row'>
    <div class='col-md-4 well well-sm text-center'>
      <h2>Active Employees <br>
      <span class="text-info"><%= @current_company.jobs.currently_working.count %></span></h2>
      
    </div>
    <div class='col-md-4 well well-sm text-center'>
      <h2>Employees Clocked In <br> <span class="text-info"><%= @current_company.jobs.on_shift.count %></span></h2>
      
    </div>
    <div class='col-md-4 well well-sm text-center'>
      <h2>Pending Approval<br> <span class="text-info"><%= @current_company.timesheets.needing_approval.count %></span></h2>
    </div>
  </div>
   <h1 class='simple'><%= @current_company.name %></h1>
  <div class='row'>
  <div class='col-md-8 well well-sm' data-behavior='timesheet-list'>
    	 
    <h2 class=''> Welcome, <%= current_company_admin.name %>!</h2>
    <%= render 'company/orders/table', orders: @current_company.orders %>
      <div class='col-md-12'>
        <div class='well well-sm'>
  				<h3 class='text-center'>Timesheets waiting for your approval</h3>
  				<%= render 'company/timesheets/table', timesheets: @current_company.timesheets.needing_approval %>
  			</div>
  			<div class='well well-sm'>
  				<h4>Timesheets for this week</h4>
  				<%= render 'company/timesheets/table', timesheets: @current_company.current_timesheets %>
  			</div>
        
      </div>
    </div>
    <div class='col-md-4 well well-sm'>
      <strong>You Account Manager: </strong> <br><%= @current_company.account_manager.try(:name) %> <br><span class="small"><%= @current_company.account_manager.try(:email) %></span>
      <%= convo_for(admins: @current_company.account_manager, back_to: company_dashboard_path) if @current_company.account_manager.present? %>
      
      <div class='well well-sm'>
      <% if @current_company.invoices.unpaid.any?  %>
      
        <div class="alert alert-danger text-center" role="alert">
         <%= pluralize( @current_company_admin.company.invoices.unpaid.count, 'unpaid invoice') %>
        </div>
        <%= div_for @current_company.invoices.order(week: :desc).unpaid do |invoice| %>
          <%= inv_timesheets_collaspe(invoice) %><br>
          <div class='black collapse' id="collapseInv_<%=invoice.id%>">
             <%= render 'company/invoices/invoice', invoice: invoice %>
          </div>
        <% end %>
        
      <% else %>
        <div class="alert alert-success text-center" role="alert">
          <%= pluralize( @current_company_admin.company.invoices.unpaid.count, 'unpaid invoice') %>
        </div>
      <% end %>
      </div>
      <%= render 'company/shifts/one_day_calendar', shifts: @shifts if @shifts.present? %>
    </div>
  </div>
</div>