	<div class='col-md-12'>
    <% Calendar.new events: @company.shifts do |date, shifts| %>
  <%= date %>

  <% shifts.each do |shift| %>
    <div>
      <%= shift.name %>
    </div>
  <% end %>
<% end %>
  </div>
<div class='col-md-12'>
    <h2 class='page-header white'> Welcome, <%= current_company_admin.name %>!</h2>
 
	<div class='col-md-4'>
	    <%= render 'company/shifts/one_day_calendar', shifts: @shifts %>
	   
	</div>
	<div class='col-md-4'>
		<h2 class='white'>  <%= pluralize( @current_company_admin.company.invoices.unpaid.count, 'unpaid invoice') %></h2>
		 <%= div_for @company.invoices.unpaid.order(created_at: :desc), class: "lightbox black fa-ul" do |invoice| %>
	        <%= render "company/invoices/invoice", invoice: invoice %>
	    
	    <% end %>
		<div class='col-md-4 scroll400'>
			<%= div_for @company.invoices.paid.order(date_paid: :desc), class: "lightbox black fa-ul" do |invoice| %>
			        <%= render "company/invoices/invoice", invoice: invoice %>
			<% end %>
		</div>
	</div>
</div>