<div class="col-md-12 mainpage shadow" data-behavior='company-job-list'>
    <h1 class='text-center'><%= @company.name %>'s Timeclock</h1>
    <div class='col-md-6 well well-sm shadow'>
         <h2>Clocked In</h2>
         <% if @clocked_in.any? %>
         <div class='text-center' id='clocked_in_list'>
        <%= div_for(@clocked_in.each, class: '') do |job| %>
              <%= render 'company/jobs/job', job: job %>
        <% end %>
        </div>
        <% end %>
    </div>
    <div class='col-md-6 well well-sm shadow'>
         <h2>Clocked Out</h2>
         <% if @clocked_out.any? %>
         <div class='text-center' id='clocked_out_list'>
            <%= div_for(@clocked_out.order('employees.last_name').each,  class: '') do |job| %>
                  <%= render 'company/jobs/job', job: job %>
            <% end %>
         </div>
         <% end %>
    </div>
</div>