<div class='col-md-12 lightbox' data-behavior="company-job-list">
    <h1><%= @company.name %>'s Timeclock</h1>
   
    <div class='col-md-6'>
         <h2>Current Employees</h2>
        <%= div_for(@company.jobs.each, class: 'clocked-in-sm') do |job| %>
        <div data-behavior="job" data-id="<%= job.id %>">
        <%= job.employee.code %>
        
        <h4><%= link_to job.title, company_job_path(job) %></h4>
        
        <span id='verified'></span>
            <%= render 'clock', job: job %>
           
              </div>
        <% end %>
    </div>
   
   
</div>
