
				
			<% if admin_signed_in? && current_admin.owner? %>
			
			<div class='col-md-12 main-box'>	
			<span>Today is <%= time_tag(Time.current) %>.</span>
			<div class='col-md-3'>
						<%= link_to 'Owner', admin_owner_path, class: "btn btn-primary"  %>
					
					</div>
				<div class='row'>
					<div class='col-md-3'>
						<%= link_to 'Owner', admin_owner_path, class: "btn btn-primary"  %>
					
					</div>
					
					
				</div>
				
			</div>
		
		
		
		
		
		
		
				<% end %>	
				
				<% if current_admin.payroll? && current_admin.agency? %>
					<div class='col-md-12 '>	
						<p class='text-center'>Today is <%= time_tag(Time.current) %>.</p>
					
						<div class='row'>
							<div class='col-md-3'>
								<%= link_to 'Payroll', admin_payroll_path, class: "btn btn-primary"  %>
							
							</div>
							<div class='col-md-3'>
								<%= link_to "Agency Portal", admin_agency_access_path, class: "btn btn-primary" %>
							
							</div>
							
						</div>
						
					</div>
				<% end %>
				
				
				
				
				<% if current_admin.account_manager? %>
				<%= render 'manager' %>
				<% end %>
						
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>