
<div class="col-md-12">
	<div class='white col-md-6'>
		<h1 class='page-header white'>Owner Dashboard</h1>
	
	</div>
	<div class='text-center white col-md-6'>
		<% if account_manager.companies.blank? %>
	       <h4>Getting Started</h4>
		  <div id="no-companies-alert" class="alert alert-danger" role="alert">
			  <h5 class='text-center'> <i class="fa fa-exclamation-triangle fa-fw fa-border"></i> You currently don't have any companies entered. <br>
			  Please add a new company below.</h5>
			  	<%= link_to "Add A Company", new_admin_company_path, class: 'btn btn-primary' %>
		  </div>
	  	<% else %>
	  	
	  		<h3 class=''><strong>Current Billing:</strong> <%= number_to_currency(account_manager.current_billing) %></h3>
	 		<strong>Last Week:</strong> <%= number_to_currency(account_manager.last_week_billing) %>
	
	 	<% end %>
	</div>

	
	 
	<div class='col-md-12 dark' id=''>
		<div class="btn-group btn-group-justified" role="group" aria-label="...">
		<%= link_to(admin_account_manager_path, class: "btn btn-primary") do %>
		<i class='fa fa-money fa-fw'></i>
			Sales Dashboard
		<% end %>
        <%= link_to(admin_payroll_path,  class: "btn btn-primary") do %>
		<i class='fa fa-usd fa-fw'></i>
			Payroll Dashboard
		<% end %>
      	<%= link_to(admin_recruiter_path,  class: "btn btn-primary") do %>
		<i class='fa fa-users fa-fw'></i>
			Recruiting Dashboard
		<% end %>
	  </div>
		<div id='' class="col-md-4">
		      <h3 class="white"><strong>Open Invoices</strong><span class='label label-success pull-right black'> <%= number_to_currency(account_manager.invoices.unpaid.sum(:total)) %></strong></h3>
		    <div class="scroll500">
		      <% account_manager.invoices.unpaid.order(:week).each do |invoice| %>
						<%= link_to(admin_invoice_path(invoice), class: "list-group-item list-group-item-success") do %>
					       <div data-behavior="invoice" data-id="<%= invoice.id %>" class=''>
					      <strong> <%= invoice.company.name %></strong>
					     	 <span class='label label-success pull-right black'>
					     	 	<%= invoice.balance > 0.00 ? number_to_currency(invoice.balance) : "NEW!" %>
					       </div>
					       <% end %>
					  <% end %>
		    </div>
		</div>
		<div class="col-md-4">
		      <h3 class="white"><strong>Open Job Orders</strong></h3>
		    <div class="scroll500">
		      <%= render 'admin/dashboard/orders_by_company' %>
		    </div>
		</div>
		
		
		
		 <%= render 'admin/infoboxes/leaderboxes' %>
	</div>
	
</div>
