<div class="list-group">
	<li class="list-group-item"><div class='text-center'><i class="fa fa-users fa-fw"></i><strong>&nbsp; Open Orders</strong></div></li>
	<% @current_agency.companies.with_open_orders.order(:name).distinct.each do |company| %>
		<%= link_to admin_company_path(company), class: 'list-group-item list-group-item-info' do %>
		<strong>	<%=  company.name %>
		<% if current_admin.owner?%>
		<span class='badge badge-primary pull-right'>
		    <%= number_to_currency(company.current_billing) %></span>
		    <% end %>
		    </strong>
		<% end %>
				<% company.orders.needs_attention.order(needed_by: :asc).each do |order| %>
				<%= link_to admin_order_path(order), class: 'list-group-item list-group-item-danger' do %>
			<strong><%= order.title %></strong> <span class='badge badge-danger'><%= order.open_jobs %> needed</span>
			<div class='text-left'>
				<small><%= order.needed_by.stamp('Monday - 11/12') %></small>
			</div>
			<% end %>
		<% end %>
	<% end %>
		<li role="separator" class="list-group-item divider"></li>
</div>