<div class="col-md-12 lightbox-long">
	<%= render 'admin/shared/welcome/sales_dashboard' if @current_admin.sign_in_count == 1 || @current_agency.subdomain == "demo" %> 

	<h1 class='page-header text-center'>Sales Dashboard</h1>
	<div class='col-md-12 '>
		
		
		<div class='col-md-9 well'>
			<h2>Companies with Open Job Orders</h2>
			<%= render 'admin/shared/company_collapse', companies: @current_admin.companies.with_open_orders.includes(:orders).distinct.order(:name) %>
		</div>
		<div class='col-md-3 well well-sm'>
			<%= render 'admin/orders/search' %>
			<%= render "admin/shared/alerts/open_orders", orders: @current_admin.job_orders %>
		</div>

		<div class="col-md-10 well">
			<h2>All Job Orders</h2>
					<%= render 'admin/orders/table', orders: @current_admin.job_orders.includes(:company).order(:created_at) %>
		</div>
		
	</div>
</div>