<div class="col-lg-10">
	<div class="main-box clearfix">
		
		<div class="tabs-wrapper">
			<div class="clearfix">
				<h2 class="pull-left">At A Glance</h2>
				<ul class="nav nav-tabs pull-right">
					<li class="active"><a href="#tab-users" data-toggle="tab">Employees</a></li>
					<li><a href="#tab-products" data-toggle="tab">Orders</a></li>
					<li><a href="#tab-todo" data-toggle="tab">Timesheets</a></li>
				</ul>
			</div>
			
			<div class="tab-content">
				<div class="tab-pane fade in active" id="tab-users">
		

		<%= div_for(@jobs, class: 'well well-sm') do |job| %>

			<%= render job %>

		<% end %>
						
						
					<br>
					<%= link_to "View all users", users_path, class: "btn btn-primary pull-right" %>
				</div>
				<div class="tab-pane fade" id="tab-products">
				<% @orders.needs_attention.each do |order| %>
					<%= render order %>
				<% end %>
				</div>
				
				
				<div class="tab-pane fade" id="tab-todo">
					<div class="center" data-behavior="timesheet-list">
					<%= render 'admin/timesheets/table' %>
						
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
