<div class="col-lg-10">
	<div class="main-box clearfix">
		
		<div class="tabs-wrapper">
			<div class="clearfix">
				<h2 class="pull-left">At A Glance</h2>
				<ul class="nav nav-tabs pull-right">
					<li class="active"><a href="#tab-users" data-toggle="tab">Employees</a></li>
					<li><a href="#tab-products" data-toggle="tab">Orders</a></li>
					<li><a href="#tab-todo" data-toggle="tab">Timesheets</a></li>
				</ul>
			</div>
			
			<div class="tab-content">
				<div class="tab-pane fade in active" id="tab-users">
		

		<%= div_for(@jobs, class: 'well well-sm') do |job| %>

			<%= render job %>

		<% end %>
						
						
					<br>
					<%= link_to "View all users", users_path, class: "btn btn-primary pull-right" %>
				</div>
				<div class="tab-pane fade" id="tab-products">
				<% @orders.needs_attention.each do |order| %>
					<%= render order %>
				<% end %>
				</div>
				
				
				<div class="tab-pane fade" id="tab-todo">
					<ul class="widget-todo" data-behavior="timesheet-list">
					<% @timesheets.each do |timesheet| %>
						<li class="clearfix" data-behavior="timesheet" data-id="<%= timesheet.id %>" >
							<div class="name">
						        <%= link_to timesheet.employee.name, admin_employee_path(timesheet.employee) %>
						        <%= link_to timesheet.job.title, admin_job_path(timesheet.job) %>
						        <%= timesheet.reg_hours %>    <%= timesheet.ot_hours %>
						        <%= number_to_currency(timesheet.gross_pay) %>
					        
								<div class="checkbox-nice">
									<%if timesheet.approved? %>
          
						          <%= button_tag(type: "button", class: 'btn btn-danger btn-xs', data: { behavior: "timesheet-toggle" }) do %>
						            <span data-behavior="approve-button"> 
						              <% if timesheet.approved? %>
						                <i class='fa fa-times'></i>     Unapprove
						              <% else %>
						                <i class='fa fa-check-circle'></i>     Approve
						              <% end %>
						            </span>
						          <% end %>
						          
						
						           <% else %>
						            
						          <%= button_tag(type: "button", class: 'btn btn-success btn-sm', data: { behavior: "timesheet-toggle" }) do %>
						            <span data-behavior="approve-button"> 
						              <% if timesheet.approved? %>
						                <i class='fa fa-times'></i>     Unapprove
						              <% else %>
						                <i class='fa fa-check-circle'></i>     Approve
						              <% end %>
						            </span>
						          <% end %>
						
						        <% end %>
								</div>
							</div>
							<div class="actions">
								<%= link_to "<i class='fa fa-folder-open'></i>     View".html_safe, timesheet, class: "badge" %>
						        <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_timesheet_path(timesheet), class: "table-link danger" %>
						        <%= link_to "<i class='fa fa-trash-o'></i>".html_safe, timesheet, class: "table-link danger", method: :delete, data: { confirm: 'Are you sure?' } %>
				

							</div>
						</li>
					<% end %>
						<li class="clearfix">
							<div class="name">
								<div class="checkbox-nice">
									<input type="checkbox" id="todo-2">
									<label for="todo-2">
										Checking the stock <span class="label label-success">Low Priority</span>
									</label>
								</div>
							</div>
							<div class="actions">
								<a href="#" class="table-link">
									<i class="fa fa-pencil"></i>
								</a>
								<a href="#" class="table-link danger">
									<i class="fa fa-trash-o"></i>
								</a>
							</div>
						</li>
						<li class="clearfix">
							<div class="name">
								<div class="checkbox-nice">
									<input type="checkbox" id="todo-3" checked="checked">
									<label for="todo-3">
										Buying coffee <span class="label label-warning">Medium Priority</span>
									</label>
								</div>
							</div>
							<div class="actions">
								<a href="#" class="table-link">
									<i class="fa fa-pencil"></i>
								</a>
								<a href="#" class="table-link danger">
									<i class="fa fa-trash-o"></i>
								</a>
							</div>
						</li>
						<li class="clearfix">
							<div class="name">
								<div class="checkbox-nice">
									<input type="checkbox" id="todo-4">
									<label for="todo-4">
										New marketing campaign <span class="label label-success">Low Priority</span>
									</label>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="name">
								<div class="checkbox-nice">
									<input type="checkbox" id="todo-5">
									<label for="todo-5">
										Calling Mom <span class="label label-warning">Medium Priority</span>
									</label>
								</div>
							</div>
							<div class="actions">
								<a href="#" class="table-link badge">
									<i class="fa fa-cog"></i>
								</a>
							</div>
						</li>
						<li class="clearfix">
							<div class="name">
								<div class="checkbox-nice">
									<input type="checkbox" id="todo-6">
									<label for="todo-6">
										Ryan's birthday <span class="label label-danger">High Priority</span>
									</label>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="name">
								<div class="checkbox-nice">
									<input type="checkbox" id="todo-7">
									<label for="todo-7">
										Printing new flyer <span class="label label-success">Low Priority</span>
									</label>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="name">
								<div class="checkbox-nice">
									<input type="checkbox" id="todo-8">
									<label for="todo-8">
										Mila and Ryan wedding <span class="label label-danger">High Priority</span>
									</label>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="name">
								<div class="checkbox-nice">
									<input type="checkbox" id="todo-9">
									<label for="todo-9">
										Checking the stock <span class="label label-success">Low Priority</span>
									</label>
								</div>
							</div>
						</li>
					</ul>
				</div>
				
			</div>
		</div>
	</div>
</div>
