<div class='col-md-12 transbox'>
    <div class='col-md-12'>
        <%= render 'admin/infoboxes/taggings' %>
    </div>
    <div class='col-md-6'>
    <h4>Job Order Tags</h4>
    <%= div_for(@orders) do |order| %>
    <%= render order %>
    <% end %>
</div>

    <div class='col-md-6'>
        <h4>Employee Tags</h4>
        <%= div_for(@employees) do |employee| %>
        <%= render employee %>
           
            
        <% end %>
    </div>
    <div class='col-md-6'>
        <h4>All Tags</h4>
      
           
    </div>





</div>