<div class="col-md-12 mainpage shadow">
    <h1 class='bold'>Commissions</h1>
   
    
    <div class="well shadow">
  <table id="" class="table display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Current Rate</th>
      <th>Total Hours</th>
      <th>Current Bill</th>
      <th> Revenue</th>
      <th>Commission</th>
    </tr>
  </thead>

  <tbody>
    <% @account_managers.each do |admin| %>
      <tr>
        <td><%= link_to admin.name, admin_admin_path(admin), class: '' %></td>
        <td><%= commision_rate(admin) %></td>
        <td> <%= admin.timesheets.current_week.sum(:total_hours).round(2) %></td>
        <td><%= number_to_currency admin.current_billing %></td>
        <td><%= number_to_currency admin.current_revenue %></td>
        <td><%= number_to_currency current_commission_for(admin) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
     <div class='col-md-12 well'>
          <h2>Account Managers</h2>
        <%= render @account_managers %>
    </div>
    
    
</div>