<div class="col-md-12 main-box">
	  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
    <%= link_to(@current_agency, class: "btn btn-primary") do %>
  							<i class='fa fa-user'></i>
  
  								<span>My Profile</span>
  							<% end %>
  
    </div>
    <div class="btn-group" role="group">
    <%= link_to(@current_admin, class: "btn btn-primary") do %>
  							<i class='fa fa-user'></i>
  
  								<span>Admin Home</span>
  							<% end %>
  
    </div>
    <div class="btn-group" role="group">
    <%= link_to(admin_orders_path, class: "btn btn-primary") do %>
  							<i class='fa fa-briefcase'></i>
  
  								<span>Active Orders</span>
  							<% end %>
  
    </div>
    <div class="btn-group" role="group">
    <%= link_to(admin_timesheets_path, class: "btn btn-primary") do %>
  							<i class='fa fa-clock-o'></i>
  
  								<span>Timesheets</span>
  							<% end %>
  
    </div>
    
  </div>
	<h1 class='page-header'><%= @current_agency.name.titleize %>'s Dashboard<small><%= @current_admin.role %></small></h1>

<%= link_to "Edit Agency", edit_agency_path(@current_agency), class: 'btn btn-primary' %>
<%= render 'admin/infoboxes/infoboxes' %>
           

<hr>
	
	
	
		
	
<% if @current_admin.recruiter? %>
<%= link_to "Recruiter Dashboard", admin_recruiter_path, class: 'btn btn-primary' %>
<% end %>

</div>

