<div class="main-box">
 
	  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
    <%= link_to(@current_agency, class: "btn btn-default") do %>
  							<i class='fa fa-home'></i>
  
  								<span>Agency Home</span>
  							<% end %>
  
    </div>
    <div class="btn-group" role="group">
    <%= link_to(@current_admin, class: "btn btn-default") do %>
  							<i class='fa fa-user'></i>
  
  								<span>Admin Home</span>
  							<% end %>
  
    </div>
    <div class="btn-group" role="group">
    <%= link_to(admin_orders_path, class: "btn btn-default") do %>
  							<i class='fa fa-briefcase'></i>
  
  								<span>Active Orders</span>
  							<% end %>
  
    </div>
    <div class="btn-group" role="group">
    <%= link_to(admin_timesheets_path, class: "btn btn-default") do %>
  							<i class='fa fa-clock-o'></i>
  
  								<span>Timesheets</span>
  							<% end %>
  
    </div>
    
  </div>
	<% if @current_admin.recruiter? %>
<%= link_to "Recruiter Dashboard", admin_recruiter_path, class: 'btn btn-primary' %>
<% end %>
<h1><%= @viewing.try(:name) %>'s Dashboard</h1>
<%= render 'admin/infoboxes/infoboxes' %>
           


	
	
	
		
	


</div>

