
    
<div class="col-md-12 main-box">
  <% if @current_admin.owner? %>
  <%= render 'admin/infoboxes/owner_charts'%>
  <% elsif @current_admin.payroll? %>
  <%= render 'admin/infoboxes/payroll_boxes' %>
  <% elsif @current_admin.payroll? %>
  <%= render 'admin/infoboxes/recruiter_boxes' %>
  </div>
  <% end %>
	  <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
      <%= link_to(@current_agency, class: "btn btn-primary") do %>
    							<i class='fa fa-user'></i>
    
    								<span>My Profile</span>
    							<% end %>
    
      </div>
      <div class="btn-group" role="group">
      <%= link_to(@current_admin, class: "btn btn-primary") do %>
    							<i class='fa fa-user'></i>
    
    								<span>Admin Home</span>
    							<% end %>
    
      </div>
      <div class="btn-group" role="group">
      <%= link_to(admin_orders_path, class: "btn btn-primary") do %>
    							<i class='fa fa-briefcase'></i>
    
    								<span>Active Orders</span>
    							<% end %>
    
      </div>
      <div class="btn-group" role="group">
      <%= link_to(admin_timesheets_path, class: "btn btn-primary") do %>
    							<i class='fa fa-clock-o'></i>
    
    								<span>Timesheets</span>
    							<% end %>
  
      </div>
      <div class="btn-group" role="group">
      <%= link_to "Edit Agency", edit_agency_path(@current_agency), class: 'btn btn-primary' %>
    </div>
  </div>
  
	<h1 class='page-header'><%= @current_agency.name.titleize %>'s Dashboard <small>Signed in as: <%= @current_admin.role %></small></h1>
	<% if @current_agency.companies.blank? %>

<div class="center">

    <div class='dark'>
       <h4>Getting Started</h4>
  <div id="no-companies-alert" class="alert alert-danger" role="alert">
  
  <h5 class='text-center'> <i class="fa fa-exclamation-triangle fa-fw fa-border"></i> You currently don't have any companies entered. <br>
  Please add a new company below.</h5>
  	<%= link_to "Add A Company", new_admin_company_path, class: 'btn btn-primary' %>
  </div>

   
  </div>	
</div>

 <% end %>


<div class="col-md-6">
  <div class="panel panel-primary dark">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>Invoices</strong><span class='label label-default pull-right black'> <%= number_to_currency(@current_agency.invoices.unpaid.sum(:total)) %></strong></h3>
    </div>
    <div class="panel-body">
      <% @current_agency.invoices.order(:week).each do |invoice| %>
				<%= link_to(admin_invoice_path(invoice), class: "list-group-item list-group-item-success") do %>
			       <div data-behavior="invoice" data-id="<%= invoice.id %>" class=''>
			       
			      <strong> <%= invoice.company.name %></strong>
			       	
			     	 <span class='label label-success pull-right black'>
			     	 	<%= invoice.balance > 0.00 ? number_to_currency(invoice.balance) : "NEW!" %>
			     	 	</span>
			       </div>
			       <% end %>
			   
			  <% end %>
			 
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="panel panel-primary dark">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>Admins</strong></h3>
    </div>
    <div class="panel-body">
      <% @current_agency.admins.order(:last_name).each do |admin| %>
				<%= link_to(admin_path(admin), class: "list-group-item list-group-item-success") do %>
			       <div data-behavior="admin" data-id="<%= admin.id %>" class=''>
			       
			      <strong> <%= admin.name %></strong>
			       	
			     	 <span class='label label-success pull-right black'>
			     	 	<%= admin.current_billing.present? ? number_to_currency(admin.current_billing) : admin.role %>
			     	 	</span>
			       </div>
			       <% end %>
			   
			  <% end %>
			 
    </div>
  </div>
</div>





