<div class="col-md-12 mainpage">
	
	<%= render 'admin/shared/welcome/agency_setup' if @current_admin.sign_in_count == 1 || @current_agency.subdomain == "demo" %> 
	
	<h1 class='page-header simple'>Owner Dashboard</h1>
	<div class="tabs-wrapper">
		<div class="clearfix">
			<ul class="nav nav-tabs">
			  <li class="active"><a href="#tab-home" data-toggle="tab">Dashboard</a></li>
			  <li class=""><a href="#tab-invoices" data-toggle="tab">Invoices</a></li>
			  <li class=""><a href="#tab-admins" data-toggle="tab">Admins</a></li>
			  <li class=""><a href="#tab-leaderboard" data-toggle="tab">Stats</a></li>
			  <li class=""><a href="#tab-edit" data-toggle="tab">Edit</a></li>
			</ul>
		</div>
		<div class="tab-content">
			<div class="tab-pane fade in active" id="tab-home">
				<div class='col-md-12 well shadow'>
					
				<%  if policy(@current_agency).update? %> <%= link_to(edit_agency_path(@current_agency), class: 'btn btn-default pull-right') do %> <span><i class='fa fa-pencil fa-fw'></i>	Edit Agency</span>	<% end %>	<% end %>
				<% if @current_agency.companies.blank? %>
	       		<h2 class=''>Getting Started</h2>
	       			<div class='col-md-4'>
	       				<div id="no-companies-alert" class="alert alert-danger text-center" role="alert">
							<h5 class='text-center'> <i class="fa fa-exclamation-triangle fa-fw fa-border"></i>
							There are currently no companies.</h5>
							<p class=''>Please add a new company below.</p>
							<%= link_to "New Company", new_admin_company_path, class: 'btn btn-success' %>
					  	</div>
	       			</div>
	       			<% else %>
					<div class='paper'>
						<%= render "admin/shared/alerts/open_orders", orders: @current_agency.orders %>
						<div class="alert alert-info fade in text-center open-order">
							<p class='lead  green'><i class="fa fa-usd fa-fw"></i> &nbsp; Current Revenue: <%= number_to_currency(@current_agency.current_revenue) %>  </span> <br>
						</div>
						<div class="alert alert-info fade in text-center open-order">
							<p class='lead '><i class="fa fa-usd fa-fw"></i> &nbsp; Last Week Billing: <%= number_to_currency(@current_agency.last_week_billing) %>  </span> <br>
						</div>
					</div>
						<% end %>
		 			<div class='col-md-9 paper'>
		                <h3 class='text-center'>Sales progress for this week <span class='label label-success pull-right'> <%= number_to_currency(@current_agency.current_billing) %></span></h3>
		                <div class="progress">
		                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= @current_agency.percent_to_sales_goal %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 4em; width: <%= number_to_percentage(@current_agency.percent_to_sales_goal, precision: 2)%>">
		                    <span class=""><%= number_to_percentage(@current_agency.percent_to_sales_goal, precision: 2)%> </span>
		                  </div>
		                </div>
		                <h4 class='text-right '>  <span class='label label-success black'>Sales Goal &nbsp;<%= number_to_currency(@current_agency.weekly_sales_goal) %></span> </h4>
	       				<hr>
	       			
	       			</div>
	       			<div class='col-md-12 well well-sm shadow'>
	       				<%= line_chart   Admin.account_managers.uniq.map { |c| { name: c.name, data: c.invoices.group_by_month(:week, range: Date.current.beginning_of_year...Date.current, format: "%B %Y").sum(:total) }  }, discrete: true %>
	       			</div>
	       			<div class='col-md-12 well well-sm shadow'>
	       				<%= line_chart   Company.uniq.map { |c| { name: c.name, data: c.invoices.group_by_month(:week, range: Date.current.beginning_of_year...Date.current, format: "%B %Y").sum(:total) }  }, discrete: true %>
	       			</div>
       			</div>
			</div>
			
			<div class="tab-pane fade" id="tab-admins">
				<%= link_to "Commissions Report", admin_commissions_path %>
				<div class='col-md-4'>
       				<div class='text-center'>
       					<h5 class=''> <i class="fa fa-user-plus fa-fw fa-border"></i>
						There are currently <%= @current_agency.admins.count %> admin accounts.</h5>
						<p class=''>Add additional accounts below.</p>
						<%= link_to "New Admin Account", new_admin_admin_path, class: 'btn btn-success' %>
       				</div>
       			</div>
       			<div class="col-md-4">
					<h3 class="white"><strong>Admins</strong></h3>
				    <div class="well">
				    	<% @current_agency.admins.order(:last_name).each do |admin| %>
							<%= link_to(admin_admin_path(admin), class: "list-group-item") do %>
						       <div data-behavior="admin" data-id="<%= admin.id %>" class=''>
							        <strong> <%= admin.name %></strong><br>
							       	<small>	<%= admin.role %></small>
						       </div>
						       <% end %>
						<% end %>
				    </div>
				</div>
			</div>
			<div class="tab-pane fade" id="tab-leaderboard">
				<div class='col-md-6'>
					<h2 class=''><strong>Current Billing:</strong> <%= number_to_currency(@current_agency.current_billing) %></h2>
					 	<h3 class=''>	<strong>Last Week:</strong> <%= number_to_currency(@current_agency.last_week_billing) %></h3>
					<%= column_chart @current_agency.companies.order('name').map{|company|
				        {name: company.name, data: company.timesheets.group_by_week(:week, range: 2.weeks.ago.beginning_of_week.midnight..Time.current.beginning_of_week, format: "%b %d %y").sum(:total_bill)}
				    }, library: {isStacked: true, backgroundColor: "#e5dbcf", legend: {position: "right"}, title: "Weekly Billings by Company"} %>
				</div>
   				<div class="col-md-12">
	 				<%= render "admin/infoboxes/leaderboxes" %>
	 					<%= pie_chart Employee.group(:status).count %>
	 			</div>
       			<div class='col-md-12 well well-sm shadow'>
       				<%= line_chart   Company.uniq.map { |c| { name: c.name, data: c.invoices.group_by_month(:week, range: Date.current.beginning_of_year...Date.current, format: "%B %Y").sum(:total) }  }, discrete: true %>
       			</div>
			</div>
			<div class="tab-pane fade" id="tab-invoices">
				<div class='col-md-8'>
					<div class="well well-sm table-responsive">
				     <%= render "admin/invoices/table", invoices: @current_agency.invoices.unpaid.order(:week) %>
				    </div>
				</div>
				<div class='col-md-6'>
					<h2 class=''>Unpaid Invoices</h2>
					<div class="well well-sm">
				     <% @current_agency.invoices.unpaid.order(:week).each do |invoice| %>
						<%= link_to(admin_invoice_path(invoice), class: "") do %>
					       <div data-behavior="invoice" data-id="<%= invoice.id %>" class=''>
					      <strong> <%= invoice.company.name %></strong>
					     	 <span class='label label-success pull-right black'>
					     	 	<%= invoice.balance > 0.00 ? number_to_currency(invoice.balance) : "NEW!" %>
					       </div>
					       <% end %>
					  <% end %>
					  <p class='lead'>Unpaid Balance: <span class='pull-right'><%= number_to_currency(@current_agency.invoices.unpaid.sum(:total)) %></span></p>
				    </div>
				</div>
				<div class='col-md-6'>
					<h2 class=''>Current Invoices</h2>
					<div class="well well-sm">
				     <% @current_agency.invoices.current_week.order(:week).each do |invoice| %>
						<%= link_to(admin_invoice_path(invoice), class: "") do %>
					       <div data-behavior="invoice" data-id="<%= invoice.id %>" class=''>
					      <strong> <%= invoice.company.name %></strong>
					     	 <span class='label label-success pull-right black'>
					     	 	<%= invoice.balance > 0.00 ? number_to_currency(invoice.balance) : "NEW!" %>
					       </div>
					       <% end %>
					  <% end %>
					  <p class='lead'>Unpaid Balance: <span class='pull-right'><%= number_to_currency(@current_agency.invoices.current_week.sum(:total)) %></span></p>
				    </div>
				</div>
			</div>
			<div class="tab-pane fade" id="tab-edit">
				<%= render "agencies/form", agency: @current_agency %>
			</div>
		
		</div>
	</div>
</div>
