
<%= link_to "Calendar", admin_shifts_path %>
<div class="col-md-12 mainpage">
	<%= render 'admin/shared/welcome/payroll_dashboard' if @current_admin.sign_in_count == 1 || @current_agency.subdomain == "demo" %> 

	<div class="tabs-wrapper">
			
		<div class="clearfix">
			<h1 class='bold pull-left simple'>Payroll Dashboard</h1>
			<ul class="nav nav-tabs pull-right">
			  <li class="active"><a href="#tab-home" data-toggle="tab">Dashboard</a></li>
			  <li class=""><a href="#tab-timesheets" data-toggle="tab">Timesheets</a></li>
			  <li class=""><a href="#tab-aca" data-toggle="tab">ACA</a></li>
			  <li class=""><a href="#tab-calendar" data-toggle="tab">Calendar</a></li>
			  <li class=""><a href="#tab-employees" data-toggle="tab">Employees</a></li>
			  <li class=""><a href="#tab-admins" data-toggle="tab">Admins</a></li>
			</ul>
		</div>
		<div class="tab-content">
			<div class="tab-pane fade in active" id="tab-home">
				<div class='mainpage '>
	       			<div class='col-md-12'>
	       				
	       				<%= render 'admin/infoboxes/payroll_boxes' %>
	       			</div>
	       			
	 			</div>
			</div>
			<div class="tab-pane fade in" id="tab-aca">
				<div class='col-md-12'>
			        <h2>ACA Information</h2>
	                <p>Measurement Period: <%= @current_agency.preferences['aca_measurement_period'] %></p>
	                <p>Administrative Period: <%= @current_agency.preferences['aca_administrative_period'] %></p>
	                <p>Stability Period: <%= @current_agency.preferences['aca_stability_period'] %></p>
	                    <%= link_to(edit_agency_path(@current_agency), class: 'btn btn-primary') do %>
	            	      <i class='fa fa-pencil fa-fw'></i>
	            			<span>Edit Agency</span>
	            		<% end %>
				</div>
				<div class='col-md-4'>
					<%= link_to "ACA Reports", report_admin_employees_path, class: "btn btn-primary btn-lg pull-right" %>
				</div>
			</div>
			<div class="tab-pane fade" id="tab-admins">
				<div class='col-md-4'>
       				<div class='text-center'>
       					<h5 class=''> <i class="fa fa-user-plus fa-fw fa-border"></i> 
						There are currently <%= @current_agency.admins.count %> admin accounts.</h5>
						<p class=''>Add additional accounts below.</p>
						<%= link_to "New Admin Account", new_admin_admin_path, class: 'btn btn-success' %>
       				</div>
       			</div>
			</div>
			<div class="tab-pane fade in" id="tab-employees">
			    <div class='col-md-12'>
			        <h2>Active Employees</h2>
					<%= render 'admin/employees/table', employees: @current_agency.employees.assigned %>
					 
				</div>
			</div>
			<div class="tab-pane fade in" id="tab-timesheets">
				<div class='col-md-3 text-center'>
					<h3 class=''>This Week</h3>	  	
					<div class='btn-group'>
						<%= link_to(admin_timesheets_path, class: "btn btn-success") do %>
						<span class=""><%= @timesheets.current_week.approved.distinct.try(:count) %> Approved </span>
						<% end %>
						<%= link_to(admin_timesheets_path, class: "btn btn-danger ") do %>
						<span class=""><%= @timesheets.current_week.pending.distinct.try(:count) %> Pending </span>
						<% end %>
					</div>
					
					<hr>
					<h3 class=''>Last Week</h3>
					<div class='btn-group'>	
					<%= link_to(last_week_admin_timesheets_path, class: "btn btn-success") do %>
						<span class=""><%= @timesheets.last_week.approved.distinct.try(:count) %> Approved </span>
						<% end %>
						<%= link_to(admin_timesheets_path, class: "btn btn-danger ") do %>
						<span class=""><%= @timesheets.last_week.pending.distinct.try(:count) %> Pending </span>
						<% end %>
					</div>
				</div>
			    <div class='col-md-9 well well-sm' data-behavior='timesheet-list'>
			        <h2>Current Timesheets</h2>
					<%= render 'admin/timesheets/table', timesheets: @timesheets.current_week.distinct.order(updated_at: :desc) %>
					 
				</div>
				<div class='col-md-9'>
			   		<h4 class='text-center'><%= Date.today.end_of_week.stamp("Week ending: Nov 20th") %></h4>
			   		<%= pie_chart Timesheet.current_week.distinct.group('timesheets.state').count, 
			   		library: {backgroundColor: "#ccc", legend: {position: "right"}, is3D: true, title: "This Week"}%>
			   	</div>
			</div>
			<div class="tab-pane fade" id="tab-calendar">
				<div class='col-md-12'>
					<h3>Shifts</h3>
					<div class='col-md-3'>
	       				<%= render 'admin/shifts/one_day_calendar', shifts: @shifts %>
	       			</div>
					<h3>Events</h3>
					
	       			<div class='col-md-9'>
	       				<%= render 'admin/shared/one_day_calendar', events: @current_agency.events.order(created_at: :desc) %>
	       			</div>
					 <%= render "admin/shifts/calendar", shifts: @current_agency.shifts.distinct %>
				</div>
			</div>
		</div>
	</div>
</div>