<div class='col-md-12'>
    <%= render 'admin/infoboxes/payroll_boxes' %>
    <%= render 'admin/infoboxes/infoboxes' %>
    
    <div class='row'>
        <%= render 'admin/jobs/table' %>
    </div>
    <div class='row'>
        <%= render 'admin/infoboxes/payroll_boxes' %>
    </div>
    <div class='row'>
        <%= render 'admin/jobs/table' %>
    </div>
  
        
        
        

    
    
    
    
    
    
    
    
    
    
</div>


