<div class='col-md-12 lightbox'>

  <h1 class='page-header'>Recruiting Dashboard</h1>
  <div class='pull-right'><%= render 'admin/orders/search' %></div>
  	<h2><%= @current_admin.username %></h2>
  <div class="col-md-12">
				<div class="tabs-wrapper">
					<div class="clearfix">
					
						<ul class="nav nav-tabs">
						  <li class="active"><a href="#tab-home" data-toggle="tab">Recruiting Dashboard</a></li>
						  <li class=""><a href="#tab-job-orders" data-toggle="tab">Open Job Orders</a></li>
						  <li class=""><a href="#tab-calendar" data-toggle="tab">Calendar</a></li>
							<li class=""><a href="#tab-candidates" data-toggle="tab">Current Candidates</a></li>
							<li class=""><a href="#tab-map" data-toggle="tab">Map</a></li>
							<li class=""><a href="#tab-events" data-toggle="tab">Applications</a></li>
						</ul>
					</div>
					
					<div class="tab-content">
						<div class="tab-pane fade in active" id="tab-home">
							<div class='col-md-12'>
								<div class="col-md-6 lightbox">
									<h2 class=''>Recent Candidate Activity</h2>
								<% Event.looking_for_work.order(:created_at).each do |event| %>
					              <% if lookup_context.template_exists?(event.action, "events/activities", true) %>
					                <%= render partial: "events/activities/#{event.action}", locals: {event: event} %>
					              <% end %>
					            <% end %>
								</div>
								<div class="col-md-6 lightbox">
									<h2 class=''>Recent Job Approvals</h2>
								<% Event.job_approvals.order(:created_at).each do |event| %>
					              <% if lookup_context.template_exists?(event.action, "events/activities", true) %>
					                <%= render partial: "events/activities/#{event.action}", locals: {event: event} %>
					              <% end %>
					            <% end %>
					            <hr>
					            <h2 class=''>Recent Job Declines</h2>
								<% Event.job_rejections.order(:created_at).each do |event| %>
					              <% if lookup_context.template_exists?(event.action, "events/activities", true) %>
					                <%= render partial: "events/activities/#{event.action}", locals: {event: event} %>
					              <% end %>
					            <% end %>
								</div>
								
							</div>
						</div>
						<div class="tab-pane fade in" id="tab-job-orders">
							<div class='col-md-12 bg-white'>
								<h3 class='text-center'><%= pluralize(@orders.count, "Open Job Orders") %></h3>
								<div class="col-md-10">
										<%= render 'admin/orders/table', orders: @orders %>
										<%= will_paginate @orders %>
								</div>
								<div class="col-md-2">
										<%= render "admin/shared/alerts/open_orders", orders: @orders %>
								</div>
							</div>
							
						</div>
					  <div class="tab-pane fade" id="tab-map">
					  	<div class="col-md-12">
							<div class="center" id="map" style='width: 400px; height: 400px;'></div>
						</div>
					  </div>
						
						
						<div class="tab-pane fade" id="tab-candidates">
							<div class="col-md-12 bg-white">
								<h3>Candidate List</h3>
								<%= render 'users/table', users: @candidates.order(:checked_in_at).limit(50) %>
							</div>
						</div>	 
						
						<div class="tab-pane fade" id="tab-calendar">
							<div class="col-md-12 bg-white">
							  	<%= render 'admin/infoboxes/recruiting_calendar' %>
						  	</div>
						</div>
						<div class="tab-pane fade" id="tab-events">
							<div class="col-md-12 bg-white">
							<% if Event.applications.any? %>
							<h3>Recent Applications</h3>
							<% Event.applications.order(created_at: :desc).each do |event| %>
							  <% if lookup_context.template_exists?(event.action, "events/activities", true) %>
							    <%= render partial: "events/activities/#{event.action}", locals: {event: event} %>
							  <% end %>
							<% end %>
							<% else %>
							<h3>Sorry, there're are currently no applications.</h3>
							<% end %>
							</div>
						</div>
					</div>
				</div>
		</div>
</div>


<script type='text/javascript'>
console.log(gon.orders);
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {
      disableDefaultUI: true,
      zoom: 4
      // pass in other Google Maps API options here
    },
    internal: {
      id: 'map'
    }
  },
  function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }
);

</script>