
<div class='col-md-12 transbox'>
 
  <h1 class='page-header'><%= @current_agency.name.titleize %>'s Recruiting Dashboard</h1>
  
  <div class="col-md-12 ">
		
				
				<div class="tabs-wrapper">
					<div class="clearfix">
					
						<ul class="nav nav-tabs">
						  <li class="active"><a href="#tab-home" data-toggle="tab"><%= @current_admin.name %></a></li>
							<li class=""><a href="#tab-placements" data-toggle="tab">Current Placements</a></li>
							<li class=""><a href="#tab-timesheets" data-toggle="tab">Timesheets</a></li>
							<li class=""><a href="#tab-events" data-toggle="tab">Events</a></li>
						</ul>
					</div>
					
					<div class="tab-content">
						<div class="tab-pane fade in active" id="tab-home">
								<h3 class='text-center'>Open Job Orders</h3>
									<div class='well'>
										<%= render 'admin/dashboard/orders_by_company' %>
									</div>
							
						</div>
					  
						
						
						<div class="tab-pane fade" id="tab-placements">
						
							<% if @current_admin.jobs %>
							<div class='well list group'>
							<%= div_for(@current_admin.jobs, class: 'list-group-item dark') do |job| %>
									
					

   <%= link_to job.employee.name, admin_employee_path(job.employee), class: 'btn btn-primary ' %>
   <%= link_to job.title, admin_job_path(job), class: 'btn btn-primary ' %>
  <% if job.on_shift? %>
    <span class="label label-success label-large pull-right"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Clocked In</span>
    <% elsif job.on_break? %>
    <span class="label label-warning label-large pull-right"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> On Break</span>
    <% elsif job.off_shift? %>
    <span class="label label-danger label-large pull-right"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Clocked Out</span>
    <% end %>
    <span class='pull-right'> Recruiter: <%= job.recruiter.name %></span>
    <h4>
    	<strong>Total Hours: </strong> <%= job.total_hours.round(2) %> |
    	<strong>Total Billing: </strong> <%= number_to_currency(job.total_gross_bill) %> 
    </h4>
   	
	<strong> Pay rate: </strong><%= number_to_currency(job.pay_rate) %>
<span class='pull-right'> Account Manager: <%= job.account_manager.name %></span>

  



									
								
								
							<% end %>
	
							<% else %>
							<h3> No placements to show.</h3>

							<% end %>
								
								</div>
							</div>	 

					
						<div class="tab-pane fade" id="tab-timesheets">
						    <div class='col-md-12 well'>
						        <% @timesheets.each do |timesheet| %>
						    	<%= render 'admin/timesheets/timesheet', timesheet: timesheet %>
						<% end %>
						    </div>
						
			
						</div>
						
						<div class="tab-pane fade" id="tab-events">
						   
							<% if Event.applications.any? %>
							<% Event.applications.each do |event| %>
							  <% if lookup_context.template_exists?(event.action, "events/activities", true) %>
							    <%= render partial: "events/activities/#{event.action}", locals: {event: event} %>
							  <% end %>
							<% end %>
							<% else %>
							Sorry, there're are currently no events.
							<% end %>
						</div>
					
					</div>
					
				</div>
			
		</div>




</div>