<div class='col-md-12 main-box'>

        <%= render 'admin/infoboxes/taggings' %>

    <div class='col-md-6'>
    <h4>Open Job Order</h4>
    <%= div_for(@orders) do |order| %>
        <%= render order %>
    <% end %>
    </div>

    <div class='col-md-6'>
        <h4>Available Employee</h4>
        <%= div_for(@employees) do |employee| %>
            <%= render employee %>
        <% end %>
    </div>
    




</div>