<%= @employee.first_name %>'s Recent Events
<% Event.employee_events(@employee.id).order(created_at: :desc).limit(5).each do |event| %>
  <div>
  <%= event.created_at.strftime('%r') %> - <%= event.action.humanize.downcase %> by <%= event.admin.name %> - <small><%= event.admin.role %></small>
    <small><%= time_ago_in_words(event.created_at) %></small>
</div>
<% end %>