<div class="col-md-12 mainpage shadow">
<h1>
  <div class="pull-right">
    <%= link_to "New Conversation", new_admin_conversation_path, class: 'btn btn-primary' %>
  </div>

  All Conversations
</h1>
<%= link_to inbox_admin_conversations_path do %> Inbox (<%= current_admin.mailbox.inbox.unread(current_admin).count %>) <%end %>|
<%= link_to all_admin_conversations_path do %>All Conversations (<%= current_admin.mailbox.conversations.count %>) <%end %>|
<%= link_to sent_admin_conversations_path do %>Sent (<%= current_admin.mailbox.sentbox.count %>) <%end %>|
<%= link_to trash_admin_conversations_path do %>Trash (<%= current_admin.mailbox.trash.count %>)<%end %>
<hr />


<div class='well conversation-list'>
  <%= render partial: "admin/conversations/conversation", collection: @conversations %>
</div>

</div>


