<div class='row'>
<h1>
  <div class="pull-right">
    <%= link_to "New Conversation", new_admin_conversation_path, class: 'btn btn-primary' %>
  </div>

  All Conversations
</h1>


<% @conversations.each do |conversation| %>
  <hr />
  <div>
    <p>To: <%= (conversation.recipients - [current_admin]).map(&:name).join(", ") %></p>
    <%= link_to admin_conversation_path(conversation) do %>
      <h5><strong><%= conversation.subject %></strong></h5>
      
    <% end %>
  </div>
<% end %>




</div>
<div class='row'>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Sent
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <div class="well">
            <h3>Sent Messages</h3>
            <% @sent_box.each do |conversation| %>
              <hr />
              <div>
                <p>To: <%= (conversation.recipients - [current_admin]).map(&:name).join(", ") %><br>
                <%= link_to admin_conversation_path(conversation) do %>
                  <h5><strong><%= conversation.subject %></strong></h5>
                  
                  <small><%= conversation.created_at.stamp('Monday 12/18 at 11:23am') %></small>
                  </p>
                <% end %>
              </div>
            <% end %>  
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Older Messages
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <div class="well">
            <h3>Older Messages</h3>
            <% @sent_box.each do |conversation| %>
              <hr />
              <div>
                <p>To: <%= (conversation.recipients - [current_admin]).map(&:name).join(", ") %><br>
                <%= link_to admin_conversation_path(conversation) do %>
                  <h5><strong><%= conversation.subject %></strong></h5>
                  
                  <small><%= conversation.created_at.stamp('Monday 12/18 at 11:23am') %></small>
                  </p>
                <% end %>
              </div>
            <% end %>  
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Collapsible Group Item #3
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
  </div>
  
  
</div>