<h1>
  <div class="pull-right">
    <%= link_to "New Conversation", new_admin_conversation_path, class: 'btn btn-primary' %>
  </div>

  All Conversations
</h1>


<% @conversations.each do |conversation| %>
  <hr />
  <div>
    <p>To: <%= (conversation.recipients - [current_admin]).map(&:name).join(", ") %></p>
    <%= link_to admin_conversation_path(conversation) do %>
      <h5><strong><%= conversation.subject %></strong></h5>
      
    <% end %>
  </div>
<% end %>

<div class='col-md-6 well well-sm'>
  <h2 class='text-center'>Sent</h2>
<% @sent_box.each do |conversation| %>
  <hr />
  <div>
    <p>To: <%= (conversation.recipients - [current_admin]).map(&:name).join(", ") %><br>
    <%= link_to admin_conversation_path(conversation) do %>
      <h5><strong><%= conversation.subject %></strong></h5>
      
      <small><%= conversation.created_at.stamp('Monday 12/18 at 11:23am') %></small>
      </p>
    <% end %>
  </div>
<% end %>  
</div>


<hr>
