<div class=''>
   <%= link_to admin_employee_path(employee), class: 'list-group-item list-group-item-success' do %>
        <h4 class='list-group-item-heading'><%= employee.name %></h4>
       <%= emp_popover(employee) %>
        <h6>
            Most Recent Position:
            <span class='label label-info black'> <%= employee.work_histories.any? ? employee.work_histories.last.try(:title_pay) : "Unavailable" %>
            </span>
        </h6>
       <span class='label label-danger pull-right'><%= employee.created_at.strftime("%B %e, %Y") %></span>
        <p class='list-group-item-text'> <small><%= employee.try(:email) || "Email Unavailable" %></small></p>
       <%= employee.tags.map {|p| p.name.titleize}.join(", ") %>
      <% end %>
</div>