<%= simple_form_for([:admin, @employee], defaults: { label: false, input_html: { class: 'form-control' }, wrapper_html: { class: '' } }) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-4 well">
    <h3 class="text-center"><strong>Employee Information</strong></h3>
    <%= f.input :first_name, label: "First Name", autofocus: true, placeholder: "First Name" %>
    <%= f.input :last_name, label: "Last Name", placeholder: "Last Name" %>
    <%= f.input :phone_number, as: :tel, placeholder: "Phone Number", label: "Phone Number"  %>
    <%= f.input :ssn, maxlength: 4, placeholder: "SSN - Last 4 only", label: "SSN" %>

    
  </div>
 
 
    <div class="col-md-4 well">
      <h3 class="text-center"><strong>Availablility</strong></h3>
      <%= f.simple_fields_for :availablity do |d| %>

      <%= d.input :monday, collection: [ "1st shift", "2nd shift", "3rd shift", "Flexible", "Not Available"], include_blank: false, prompt: "Monday", input_html: {class: "form-control"}, wrapper_html: { class: 'col-md-6' } %>
      <%= d.input :tuesday, collection: [ "1st shift", "2nd shift", "3rd shift", "Flexible", "Not Available"], include_blank: false, prompt: "Tuesday", input_html: {class: "form-control"}, wrapper_html: { class: 'col-md-6' } %>
      <%= d.input :wednesday, collection: [ "1st shift", "2nd shift", "3rd shift", "Flexible", "Not Available"], include_blank: false, prompt: "Wednesday", input_html: {class: "form-control"}, wrapper_html: { class: 'col-md-6' } %>
      <%= d.input :thursday, collection: [ "1st shift", "2nd shift", "3rd shift", "Flexible", "Not Available"], include_blank: false, prompt: "Thursday", input_html: {class: "form-control"}, wrapper_html: { class: 'col-md-6' } %>
      <%= d.input :friday, collection: [ "1st shift", "2nd shift", "3rd shift", "Flexible", "Not Available"], include_blank: false, prompt: "Friday", input_html: {class: "form-control"} , wrapper_html: { class: 'col-md-6' } %>
      <%= d.input :saturday, collection: [ "1st shift", "2nd shift", "3rd shift", "Flexible", "Not Available"], include_blank: false, prompt: "Saturday", input_html: {class: "form-control"} , wrapper_html: { class: 'col-md-6' } %>
      <%= d.input :sunday, collection: [ "1st shift", "2nd shift", "3rd shift", "Flexible", "Not Available"], include_blank: false, prompt: "Sunday", input_html: {class: "form-control"}, wrapper_html: { class: 'col-md-6' } %>
      
      <% end %>
   
    </div>
  <div class="col-md-4 well">
    <h3 class="text-center"><strong>Additional Information</strong></h3>
    <%= f.input :desired_job_type, label: "Desired Job Type", placeholder: "Desired Job Type" %>
    <%= f.input :desired_shift, label: "Desired Shift", placeholder: "Desired Shift" %>
  </div>

 
 <div class="center">

    <%= f.submit "Save", class: 'btn btn-primary btn-lg btn-block' %>
 </div>
<% end %>
