<%= simple_form_for([:admin, @employee], defaults: { input_html: { class: '' }, wrapper_html: { class: '' } }) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>
      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-6">
    <h3 class="text-center"><strong>Employee Information</strong></h3>
    <%= f.input :first_name, label: "First Name", autofocus: true, placeholder: "First Name" %>
    <%= f.input :last_name, label: "Last Name", placeholder: "Last Name" %>
    <%= f.simple_fields_for :user do |u| %>
    <%= u.input :email, required: true, placeholder: "Email  Address", label: false  %>
    <%= u.input :code, required: true, placeholder: "Code"  %>
    <%= f.input :phone_number, as: :tel, placeholder: "Phone Number", label: "Phone Number"  %>
    <%= f.input :ssn, maxlength: 4, placeholder: "SSN - Last 4 only", label: "SSN" %>
    <%= u.input :address, placeholder: "Street Address", label: "Address" %>
    <%= u.input :city, required: true, placeholder: "City", label: false %>
    <%= u.input :state, required: true, placeholder: "State", label: false %>
    <%= u.input :zipcode, placeholder: "Zipcode", label: "Zipcode"  %>
    <% end %>
  </div>
 
    
 
  <div class="col-md-3">
      <h3 class="text-center"><strong>Availablility</strong></h3>
    

      <%= f.input :monday, collection: [ "1st shift", "2nd shift", "3rd shift", "Flexible", "Not Available"], label: "Monday", input_html: {class: "form-control"}, wrapper_html: { class: '' }, include_blank: false %>
      <%= f.input :tuesday, collection: [ "1st shift", "2nd shift", "3rd shift", "Flexible", "Not Available"],  label: "Tuesday", input_html: {class: "form-control"}, wrapper_html: { class: '' }, include_blank: false %>
      <%= f.input :wednesday, collection: [ "1st shift", "2nd shift", "3rd shift", "Flexible", "Not Available"],  label: "Wednesday", input_html: {class: "form-control"}, wrapper_html: { class: '' }, include_blank: false %>
      <%= f.input :thursday, collection: [ "1st shift", "2nd shift", "3rd shift", "Flexible", "Not Available"],  label: "Thursday", input_html: {class: "form-control"}, wrapper_html: { class: '' }, include_blank: false %>
      <%= f.input :friday, collection: [ "1st shift", "2nd shift", "3rd shift", "Flexible", "Not Available"],  label: "Friday", input_html: {class: "form-control"} , wrapper_html: { class: '' }, include_blank: false %>
      <%= f.input :saturday, collection: [ "1st shift", "2nd shift", "3rd shift", "Flexible", "Not Available"],  label: "Saturday", input_html: {class: "form-control"} , wrapper_html: { class: '' }, include_blank: false %>
      <%= f.input :sunday, collection: [ "1st shift", "2nd shift", "3rd shift", "Flexible", "Not Available"],  label: "Sunday", input_html: {class: "form-control"}, wrapper_html: { class: '' }, include_blank: false %>
    </div>
     <div class="col-md-3">
    <h3 class="text-center"><strong>Additional Information</strong></h3>
    
    <%= f.input :desired_job_type, label: "Desired Job Type", collection: ["Full-time", "Part-time", "Any"], include_blank: false %>
    <%= f.input :desired_shift, label: "Desired Shift", collection: [ "1st shift", "2nd shift", "3rd shift", "Flexible"], include_blank: false %>
  </div>
  <div class="col-md-3">
    <h3 class="text-center"><strong>Admin Use Only</strong></h3>
    <%= f.input :dns, as: :boolean, inline_label: "Mark as DNS", input_html: { class: 'boolean' } %>
  </div>


    <%= f.submit "Save", class: 'btn btn-primary btn-lg' %>

<% end %>
