
<div class='row'>
    <div class='col-md-6 well well-sm'>
        <h1 class='page-header'><%= link_to @employee.name, admin_employee_path(@employee) %>'s ACA Report 
        <span class='label label-primary pull-right'><%= @employee.total_hours.round(2) %> Total Hours</span></h1>
         
    
        <h3 class=''>Average Hours per week: <%= @employee.average_weekly_hours %></h3>
        <h2>Start Date:<br> <%= @employee.initial_start_date.present? ?  @employee.initial_start_date.stamp("Monday, October 21, 2016") : "No start date" %></h2>
        <h3>Days from initial start date: <%= @employee.days_from_initial_start %></h3>
        <p>Shift count: <%= @employee.shifts.count %></p>
    </div>
    <div class='col-md-6 well'>
        <h3>Insurance Eligiblity Report</h3>
        <%= aca_for(@employee) %>
    </div>
</div>
    <div class='col-md-4 well well-sm'>
        <h3 class=''>By Week <small>over 30 hours</small></h3>
        <div class='list-group scroll500'>
            <% @employee.current_report.each do |k, v| %>
             <%  if v > 5 %>
             <li class='list-group-item '><strong><%=  k.stamp("Oct 2, 2015") %> </strong> 
             <p><%= k.to_datetime.cweek %></p>
             <span class='badge'><%= v.round(2) %></span>
             </li>
            <%= aca_progress(v, 30) %>
            <% end %>
             <% end %>
        </div>
    </div>
    <div class='col-md-4 well well-sm'>
        <h3 class=''>By Month <small>over 130 hours</small></h3>
        <div class=' list-group'><% @employee.shifts.report_by_month.each do |k, v| %>
             <li class='list-group-item '><strong><%=  k.stamp("October 2015") %> </strong> -  <%= v.round(2) %>
             </li>
             <%= aca_progress(v, 130) %>
             <% end %>
        </div>
    </div>
    <div class='col-md-4 well well-sm'>
        <h3 class=''>By Year <small>over 1560 hours</small></h3>
        <div class='list-group'><% @employee.shifts.report_by_year.each do |k, v| %>
             <li class='list-group-item '><strong><%=  k.stamp("2015") %> </strong> -  <%= v.round(2) %>
             </li>
             <%= aca_progress(v, 1560) %>
             <% end %>
        </div>
    </div>
</div>