<div class=" well col-md-6">
	<h4 class='text-center'>Assigned Employees</h4>
		<div class="table-responsive">
			<table id='employees-datatable' class="table table-bordered ">
				<thead>
					<tr>
						<th style="width: 10%;">Employee</th>
						<th style="width: 10%;">Title</th>
						
						<th style="width: 10%;">Week Gross</th>
						<th style="width: 10%;">YTD Gross</th>
						
					</tr>
				</thead>
				<tbody>
					<%  @employees.assigned.each do |employee| %>
					<% if employee.on_shift? %>
						    <tr class="bg-success">
						 	<% else %>
						  	<tr class="bg-info">
			        <% end %>
						<td style="width: 10%;">
							<%= link_to admin_employee_path(employee), class: "btn btn-primary fill"  do %>
				
									<i class="fa fa-user fa-lg fa-fw"></i> <%= employee.name %>
							
							<% end %></td>
						<td style="width: 10%;"><%= employee.title %></td>
						
						<td style="width: 10%;"><%= number_to_currency(employee.current_timesheet.try(:gross_pay) || 0) %> </td>
						<td style="width: 10%;"><%= number_to_currency(employee.current_job.try(:total_gross_pay) || 0) %> </td>
						</tr>
					<% end %>
					
				</tbody>
			</table>
		</div>
</div>


