<div class="col-lg-12">
					
	<h1>Add Employee</h1>

	<div class="row">
		<div class="col-lg-6">
			<div class="main-box" style="min-height: 820px;">
			  
				<h2><%= @current_agency.name %></h2>
				
				<%= simple_form_for [:admin, @employee] do |f| %>
            <% if @employee.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>
                <ul>
                <% @employee.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>



          <%= f.simple_fields_for :user do |user| %>


                  <div class="form-group">
                    
                  <%= user.input :first_name, required: true, autofocus: true, placeholder: "First Name", label: false %>
                  <%= user.input :last_name, required: true, placeholder: "Last Name", label: false  %>
                  <%= user.input :email, required: true, placeholder: "Email  ex. example@email.com", label: false  %>
                  <%= f.input :phone_number, as: :tel, required: true, placeholder: "Phone Number  ex. 555-555-5555", label: false  %>
                  <%= f.input :ssn, required: true, maxlength: 4, label: false, placeholder: "SSN - Last 4 only" %>
                  <%= user.input :password, required: true, placeholder: "Choose a password.", label: false, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                  <%= user.input :password_confirmation, required: true, placeholder: "Please confirm your password.", label: false  %>
                  
                 

            <% end %>
            <%= f.button :submit, "Create Employee", class: "btn btn-primary" %>
        
        <% end %>
        
        <%= link_to 'Back', admin_employees_path, class: 'btn btn-default' %>
				
				</div>

			</div>
		</div>
	</div>
	

</div>


