<%= @employee.name %>

<%= render 'employee/shared/events' %>
<hr>

<% if @employee.skills.any? %>
<div class='col-md-3 text-left center'>
  <h4>Skills</h4>
  <div id='skills'>
    <%= render @skills %>
  </div>
  <div class='col-lg-3'>
    
    <%= render partial: "admin/skills/form", locals: {skillable: @employee} %>
    
  </div>
  
</div>
<% else %>
This employee has no skills entered.
<% end %>



<hr>
<% if @employee.resume.present? %>

<%= link_to "Download Resume", attachment_url(@employee, :resume), class: 'btn btn-primary' %>
<% else %>
No resume available.

<% end %>



<%= link_to "Edit", edit_admin_employee_path(@employee), class: 'btn btn-success' %>