<div class='col-md-12 dark'>
 

<span id="user-role">  <strong><% if @user.can_edit? %> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> <% end %></strong> </h3></span> 
          
        

 <h2>Total Hours: <%= @employee.total_all_hours %></h2>
 <h2>Current Job Hours: <%= @employee.current_job_hours %></h2>
<h2>At work?: <%= @employee.at_work? %></h2>
<!--NAV TABS-->
    <div id='profile-nav' class=''>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
        <li role="presentation"><a href="#matching_orders" aria-controls="matching_orders" role="tab" data-toggle="tab">Recommended Positions</a></li>
        <li role="presentation"><a href="#payroll" aria-controls="payroll" role="tab" data-toggle="tab">Payroll Information</a></li>
        <li role="presentation"><a href="#work_history" aria-controls="work_history" role="tab" data-toggle="tab">Work History</a></li>
        <li role="presentation"><a href="#skills-tab" aria-controls="skills-tab" role="tab" data-toggle="tab">Skills</a></li>
        <% if @employee.assigned? %>
        <li role="presentation"><a href="#current-job" aria-controls="current-job" role="tab" data-toggle="tab">Current Job</a></li>
        <li role="presentation"><a href="#timesheets" aria-controls="timesheets" role="tab" data-toggle="tab">Timesheets</a></li>
        <li role="presentation"><a href="#shifts" aria-controls="shifts" role="tab" data-toggle="tab">Shifts</a></li>
        <% end %>
        <% if @current_admin.present? %>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
        <% end %>
      </ul>
      <!--TABS START HERE-->
      <div class="tab-content">
        <!--HOME TAB-->
      <div role="tabpanel" class="tab-pane fade in active" id="home">
           <div class='well well-sm text-center'><span class='pull-left'><i class="fa fa-envelope-o"></i>  <%= @employee.email %></span><%= @user.address %>, <%= @user.state %> <%= @user.zipcode %><span class='pull-right'><i class="fa fa-phone-square"></i>  <%= @employee.phone_number %></span> </div>
         <h2 class="page-header text-center"><%= @user.name %>'s Profile  </h2>
     
        <div class='col-md-3'>
           <h3 class='text-center'>Availablility</h3>
           <div class='list-group'>
           <% @employee.availablity.try(:each) do |k,v| %>
               <li class='list-group-item'> <span class='pull-left'><%= k.upcase %></span> <p class='text-right'><strong><%= v %></strong></p></li>
          <% end %>
        </div>
       
         
         </div>
        <% if @employee.unassigned? && @applications.any? %>
        <h2>Applications</h2>
        <div class='list-group'>
			<% @applications.each do |event| %>
			  <% if lookup_context.template_exists?(event.action, "events/activities", true) %>
			    <%= render partial: "events/activities/#{event.action}", locals: {event: event} %>
			  <% end %>
			<% end %>
		</div>
    		<% end %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="matching_orders">
        
         <h2 class="text-center">Matching Job Orders  </h2>
      
        <div class=''>
          <% @employee.matching_orders.each do |order| %>
              <%= render order %>
          <% end %>
        </div>
       
  
       
        
    
    </div>
      <!--EMPLOYEE PROFILE TAB-->
    <div role="tabpanel" class="tab-pane fade" id="payroll">
        
         <h2 class="text-center">Payroll Information  </h2>
      <%= @employee.ssn %><br>
      CODE:  <%= @employee.code %>
        <% if @user.current_sign_in_at %>
         <div class='list-group'>
           <div class='list-group-item'>
              <strong>Last sign in:</strong> <%= @user.current_sign_in_at.strftime("%A   %x   - %I:%M %p") %> -
          <%= @user.current_sign_in_ip %>
           </div>
        </div>
       
    <% end %>
       
        
    
      </div>
      <!--TIMESHEETS TAB-->
      <div role="tabpanel" class="tab-pane fade" id="timesheets">
        
        <% if @employee.timesheets.any? %>
        
        <% if user_signed_in? %>
         <%= render 'employee/timesheets/table' %>
         <% elsif admin_signed_in? %>
         <%= render 'admin/timesheets/table' %>
         <% end %>
    
          <% end %>
    
      </div>
      
      <!--CURRENT JOB TAB-->
      <div role="tabpanel" class="tab-pane fade" id="current-job">
        
      <% if @current_job %>
      <h4><%= @current_job.title %><smal><%= number_to_currency(@current_job.pay_rate) %></smal></h4>
        <%= render @current_job %>
        <% else %>
        <h3><%= @employee.first_name %> is currently unassigned.</h3>
      <% end %>
         
                    
            
    
                
      </div>
      <div role="tabpanel" class="tab-pane fade" id="shifts">
        
      <% if @employee.assigned? && @employee.shifts.any? %>
      	<h1>Calendar</h1>
        <div class='well white'>
          <%= render 'admin/shifts/calendar' %>
        </div>
        <% else %>
        <h3> <%= @employee.first_name %> is currently unassigned.</h3>
      <% end %>
         
                    
            
    
                
      </div>
      <div role="tabpanel" class="tab-pane fade" id="work_history">
        <div class='dark white'>
        <% if @employee.work_histories.any? %>
         
           
           <%= render 'work_histories/table' %>
           
       
        <% else %>
          <p>No Work History Available.</p>
    
        <% end %>
        <% if admin_signed_in? %>
             <%=link_to "Add Work History", new_admin_employee_work_history_path(@employee), class: 'btn btn-primary' %>
           <% elsif user_signed_in? %>
             <%= link_to "Add Work History", new_work_history_path, class: 'btn btn-primary' %>
           <% end %>
         </div>
           
      </div>
      <div role="tabpanel" class="tab-pane fade" id="skills-tab">
          <div class='col-md-8 '>
        <% if @skills.count < 1 %>
           <h4 id='no-skills' class="text-center">This employee has no skills entered.</h4>
          <% else %>
           <h4 class='text-center'>Skills</h4>
            <%= pie_chart @skills.group(:name).count %>
          <% end %>
         </div>
            <div  id='skills' class='col-md-4'>
             <% @employee.skills.each do |skill| %>
              <%= render "admin/skills/skill", skill: skill %>
            <% end %>
             
            </div>
            <div class="col-md-4 tag_cloud">
        		<h1>Candidate Skills</h1>
        	  <% tag_cloud @employee.tag_counts, %w[css1 css2 css3 css4] do |tag, css_class| %>
        	    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
        	  <% end %>
        	</div>
             <div class='form col-md-8'>
               <%= render partial: "admin/skills/form", locals: {skillable: @employee} %>
             </div>
             
             
        </div>  
      <!--SETTINGS TAD ADMIN ONLY ----> 
        <div role="tabpanel" class="tab-pane fade" id="settings">
            <div class='col-md-4'>
            <%= link_to "Edit Employee", edit_admin_employee_path(@employee), class: 'btn btn-primary' %>
             
            </div>
           <% if @events.any? %>
          <h4>Employee Events</h4>
            <div class='list-group'>
      				<% @events.each do |event| %>
      				  <% if lookup_context.template_exists?(event.action, "events/activities", true) %>
      				    <%= render partial: "events/activities/#{event.action}", locals: {event: event} %>
      				  <% end %>
      				<% end %>
      			</div>
      			<% end %>
              <h6>User Updated:<span id="updated-at"> <%= time_ago_in_words(@user.updated_at) %> ago</span></h6>
              <%= link_to "Allow to Edit", grant_editing_user_path(@user), class: "btn btn-primary", method: :patch, remote: true %> 
              <%= link_to "Edit Employee", edit_admin_employee_path, class: 'btn btn-default' %>  
              <hr>
              
                <div class='list-group'>
                	<% @events.each do |event| %>
                	  <% if lookup_context.template_exists?(event.action, "events/activities", true) %>
                	    <%= render partial: "events/activities/#{event.action}", locals: {event: event} %>
                	  <% end %>
                	<% end %>
                </div>
          </div>
          
      </div>
    </div>
  
  
  
</div>
