<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm"><%= company.name %></button>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content well">
      
          <h4><%= link_to company.name, admin_company_path(company) %></h4>
          <%= company.address %><br>
          <%= company.city %>, <%= company.state %> <%= company.zipcode %><br>
          <%= company.phone_number %>
         <hr>
         Company Contact<br>
          <strong><%= link_to company.contact.name, company.contact if company.contact.present? %></strong><br>
         <%= company.contact_email %>
        
        <p class=''> Account Manager: <%= link_to company.account_manager.name, admin_admin_path(company.account_manager) if company.account_manager.present? %> </p>
    </div>
  </div>
</div>