
<div class='col-md-12 dark'>
  <%= link_to 'New Company', new_admin_company_path, class: 'btn btn-success pull-right' %>
  <h1 class='text-center'>All Companies</h1>

<div class="">
  <table id="" class="table display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact</th>
      <th>Current/Active</th>
      <th>Current Bill</th>
      <th>Unpaid Balance</th>
      <th>Account Manager</th>
      <th><span class=''><i class='fa fa-cogs'></i></span></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, admin_company_path(company), class: '' %></td>
        <td><%= company.contact_name %></td>
        <td><%= company.current_timesheets.try(:count) %> / <%= company.jobs.active.try(:count) %></td>
        <td><%= number_to_currency(company.timesheets.current_week.sum(:total_bill) )%></td>
        <td><%= number_to_currency(company.invoices.unpaid.sum(:total) ) %></td>
        <td><%= company.current_account_manager.name %></td>
        <td><%= link_to "<i class='fa fa-pencil fa-fw'></i> ".html_safe, edit_admin_company_path(company), class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>




<div class=''>
  <%= form_for @import, url: import_admin_companies_path, multipart: true do |f| %>
  <%= f.file_field :file, class: '' %>
  <br>
  <%= f.submit "Upload", class: 'btn btn-success btn-sm' %>
<% end %>
</div>
<hr>
<%= link_to(admin_companies_path(@companies, format: :csv), class: 'btn btn-primary') do %>
  		<i class="fa fa-file-excel-o fa-lg"></i> Export Company List
<% end %>

</div>