<h1><%= @current_agency.try(:name) %><small>All Companies</small></h1>



<div class="table-responsive">
  <table id="" class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      
      <th>Orders</th>
      <th>Timesheets</th>
      
      <th>Balance</th>
      <th>This Week Bill</th>
      <th>Last Week Bill</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        
        <td><%= company.orders.filled.count %> / <%= company.orders.count %></td>
        <td><%= company.current_timesheets.try(:count) %> / <%= company.jobs.active.try(:count) %></td>
        <td><%= number_to_currency(company.balance) %></td>
        <td><%= number_to_currency(company.timesheets.current_week.sum(:total_bill) )%></td>
        <td><%= number_to_currency(company.timesheets.last_week.sum(:total_bill) ) %></td>
        <td><%=  %></td>
        <td><%= link_to 'Edit', edit_admin_company_path(company) %></td>
        <td><%= link_to 'Destroy', admin_company_path(company), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Company', new_admin_company_path, class: 'btn btn-success' %>
<% @top_billing.each do |company| %>
      <div class='list-group'>
        <%= link_to company.name, admin_company_path(company) %>
        
      
        <li class='list-group-item list-group-item-success'><%= number_to_currency(company.balance) %></li>
        <li class='list-group-item list-group-item-success'><%= number_to_currency(company.timesheets.current_week.sum(:total_bill) )%></li>
        <li class='list-group-item list-group-item-success'><%= number_to_currency(company.timesheets.last_week.sum(:total_bill) ) %></li>
        <li class='list-group-item list-group-item-success'><%= company.timesheets.maximum(:total_bill)  %></li>
        <li class='list-group-item list-group-item-success'><%= link_to 'Edit', edit_admin_company_path(company) %></li>
        <li class='list-group-item list-group-item-success'><%= link_to 'Destroy', admin_company_path(company), method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </div>
    <% end %>