<div class="main-box col-lg-12">
  <h2><%= @company.name %><small><%= @company.agency.name %></small></h2>

   
            
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
  <%= link_to(new_admin_company_order_path(@company), class: "btn btn-default") do %>
							<i class='fa fa-user-plus'></i>

								<span>New Job Order</span>
							<% end %>

  </div>
  <div class="btn-group" role="group">
  <%= link_to(admin_company_orders_path(@company), class: "btn btn-default") do %>
							<i class='fa fa-briefcase'></i>

								<span>Active Orders</span>
							<% end %>

  </div>
  <div class="btn-group" role="group">
  <%= link_to(admin_company_timesheets_path(@company), class: "btn btn-default") do %>
							<i class='fa fa-clock-o'></i>

								<span>Timesheets</span>
							<% end %>

  </div>
  
</div>

<br>
     


  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Company Information</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Job Orders</a></li>

    <li role="presentation"><a href="#employees" aria-controls="employees" role="tab" data-toggle="tab">Employees</a></li>
    <li role="presentation"><a href="#company-contacts" aria-controls="company-contacts" role="tab" data-toggle="tab">Company Admins</a></li>
    
    <li role="presentation"><a href="#timesheets" aria-controls="timesheets" role="tab" data-toggle="tab">Timesheets</a></li>
  </ul>
 
  <div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="home">

    <div class='well'>
      <h3>Company Information</h3>
    
    <address class="">
      <%= @company.address %> <%= @company.city %>, <%= @company.state %> <%= @company.zipcode %><br>
      <abbr title="Phone">PH:</abbr> (123) 456-7890
    </address>
    <address class="">
      <strong><%= @company.contact_name %></strong><br>
      <a href="mailto:#"><%= @company.contact_email %></a>
    </address>

    <span class="text-center">Balance: <%= number_to_currency(@company.balance) %></span>

    </div>

  </div>
    
  <div role="tabpanel" class="tab-pane fade " id="company-contacts">
    <div class='well'>
      
      <h3>Company Contacts</h3>
       <%= render 'admin/companies/company_users' %>
    </div>


    
  </div>
  <div role="tabpanel" class="tab-pane fade" id="profile">
    
     <div class='well'>
       <h3>Current Job Orders</h3>
       <br>
        <%= render 'admin/orders/table' %>
     </div>
    
    
  </div>
  
  <div role="tabpanel" class="tab-pane fade" id="employees">
     <div class='well'>
       <% if @company.jobs.active.any? %>
       <h3>Current Employees</h3>
    <%= render @jobs %>
    <% else %>
      <h3>No employees to display.</h3>
      <% end %>
     </div>
  </div>
  
  
  
 
  
  <div role="tabpanel" class="tab-pane fade" id="timesheets">
    <div class='well'>
      <% if @company.timesheets.any? %>
       <h3>Timesheets</h3>
      <%= render 'admin/timesheets/table' %>
      <% else %>
      <h3>No timesheets to display.</h3>
      <% end %>
    </div>
  </div>

  
  
  
  
</div>



<%= link_to(edit_admin_company_path(@company), class: "btn btn-default") do %>
							<i class='fa fa-pencil'></i>

								<span>Edit Company</span>
							<% end %>




</div>
