<div class="col-md-12 lightbox-long">
  <h2><%= @company.name %></h2>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Contact Information</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Job Orders</a></li>
   <% if @company.jobs.pending_approval.any? %> <li role="presentation"><a href="#pending-approval" aria-controls="pending-approval" role="tab" data-toggle="tab">Pending Jobs</a></li><% end %>
    <li role="presentation"><a href="#employees" aria-controls="employees" role="tab" data-toggle="tab">Employees</a></li>
    <li role="presentation"><a href="#company-contacts" aria-controls="company-contacts" role="tab" data-toggle="tab">Company Admins</a></li>
    <li role="presentation"><a href="#invoices" aria-controls="invoices" role="tab" data-toggle="tab">Invoices</a></li>
    <li role="presentation"><a href="#timesheets" aria-controls="timesheets" role="tab" data-toggle="tab">Timesheets</a></li>
  </ul>

  <div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="home">
    <div class='col-md-3'>
      <% if @company.orders.blank? %>
      <div id="no-orders-alert" class="alert alert-danger" role="alert">
      <h5 class='text-center'> <i class="fa fa-exclamation-triangle fa-fw fa-border"></i><%= @company.name %> doesn't have any job orders. <br>
      Please add a new job order below.</h5>
      	<%= link_to "Add Job Order", new_admin_company_order_path(@company), class: 'btn btn-primary' %>
      </div>
      <% end %>
      <address class="">
        <%= @company.address %><br>
        <%= @company.city %>, <%= @company.state %> <%= @company.zipcode %><br>
        <abbr title="Phone">PH:</abbr>  <%= @company.phone_number || "Unavailable"  %>
      </address>
      <address class="">
        <strong><%= @company.contact_name %></strong><br>
        <a href="mailto:#"><%= @company.contact_email %></a>
      </address>
      </div>
     
      <div class='col-md-6'>
        <h3>Account Manager: <% if @company.current_account_manager.present? %><%= @company.current_account_manager.name %><% else %>None<% end %></h3>
        
        
        <div class="btn-group" role="group" aria-label="...">
         
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Job Orders
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to "<i class='fa fa-plus-square fa-fw'></i> &nbsp; New Job Order".html_safe, new_admin_company_order_path(@company), class: "button" %></li>
              <li><%= link_to "<i class='fa fa-briefcase fa-fw'></i> &nbsp; Active Orders".html_safe, admin_company_orders_path(@company), class: "button" %></li>
            </ul>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to "<i class='fa fa-user-plus fa-fw'></i> &nbsp; Add Company Admin".html_safe, new_company_admin_registration_path, class: "button" %></li>
              <li> <%= link_to(admin_company_timesheets_path(@company), class: "") do %>
              			<i class='fa fa-clock-o fa-fw'></i> Timesheets
              <% end %></li>
              <li><%= link_to(admin_company_invoices_path(@company), class: "") do %>
              			<i class='fa fa-usd fa-fw'></i> Invoices
              <% end %></li>
            </ul>
          </div>
        </div>
        
        
        
        
      </div>
      <div class='col-md-3 bg-success'>
       <% @company.skills.each do |skill| %>
         <%= link_to skill.name, skill, class: "button" %><br>
       <% end %>
      </div>
  </div>

  <div role="tabpanel" class="tab-pane fade " id="company-contacts">
    <div class='col-md-4'>
      <div class='company-contacts'>
        <h3>Company Contacts</h3>
         <%= render 'admin/companies/company_users' %>
      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="pending-approval">
    <div class='col.md-12'>
      <h3>Pending Approval</h3>
      <%= render 'admin/jobs/pending_list', jobs: @company.jobs.pending_approval %>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="profile">
    <div class='col-md-12'>
      <div class='col-md-6'>
        <h3>Current Job Orders</h3>
        <ul class='fa-ul'>     <% @company.orders.active.each do |order| %>
          <li class=''>        <%= link_to title_count(order), admin_company_order_path(@company, order) %>  
          <p class=''>
            <%= status_msg(order) %>
            <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_admin_company_order_path(@company, order), class: "pull-right" %>
          </p>
          </li>
        <% end %>  
        </ul>
      </div>
      
      <%= link_to(edit_admin_company_path(@company), class: "btn btn-primary") do %>
				<i class='fa fa-pencil'></i>
					Edit Company
				<% end %>
		</div>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="employees">
     <div class='col-md-6'>
       <% if @company.jobs.active.any? %>
       <h3>Current Employees</h3>
    <%= render @jobs.active %>
    <% else %>
      <h3>No employees to display.</h3>
      <% end %>
     </div>

     <div class='table-responsive'>
       <%= render 'admin/shifts/week_calendar', shifts: @company.shifts.current_week %>
     </div>
     <div class='col-md-12'>
      <p class='lead text-center'>Hours by Employee <small> Last 4 weeks</small></p>
        <%= column_chart @company.jobs.active.map{|job|
                  {name: job.employee.name, data: job.shifts.group_by_week(:time_in, range: 4.weeks.ago.midnight..Time.current, format: "%m/%d").sum(:time_worked)}
              }, xtitle: "Week", ytitle: "Total Hours", library: {height: 300, width: 1000} %>
      </div>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="invoices">
     <div class='col-md-6'>
       <h3>Balance: <%= number_to_currency(@company.balance) %></h3>
       <% if @company.invoices.paid.any? %>
       <h3>Paid Invoices</h3>
    <%= render @company.invoices.paid.order(created_at: :desc) %>
    <% else %>
      <h3>No paid invoices to display.</h3>
      <% end %>
     </div>
     <div class='col-md-6'>
       <% if @company.invoices.unpaid.any? %>
       <h3>Open Invoices</h3>
    <%= render @company.invoices.unpaid.order(created_at: :desc) %>
    <% else %>
      <h3>No open invoices to display.</h3>
      <% end %>
     </div>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="timesheets">
    <div class='col.md-12'>
      <% if @company.timesheets.any? %>
       <h3>Timesheets</h3>
      <%= render 'admin/timesheets/table', timesheets: @company.timesheets %>
      <% else %>
      <h3>No timesheets to display.</h3>
      <% end %>
    </div>
  </div>
</div>
</div>
