<%= link_to edit_company_shift_break_path(@shift, shift_break) do %>

<div id="break_<%=shift_break.id%>">
    <%= shift_break.time_in.stamp("11:23am") %> - <%= shift_break.time_out ? shift_break.time_out.stamp("11:23am") : @shift.state %>
    <span class='badge'> <%= shift_break.duration %></span>
</div>
<% end %>