<%= link_to edit_company_shift_break_path(@shift, shift_break) do %>
    <%= shift_break.time_in.stamp("11:23am") %> - <%= shift_break.time_out ? shift_break.time_out.stamp("11:23am") : @shift.state %>
<% end %>
<span class='badge'> <%= shift_break.duration %></span>
<%= link_to '<i class="fa fa-trash"></i> Delete'.html_safe, company_shift_break_path(@shift, shift_break), method: :delete, data: { confirm: 'Are you sure you want to delete this break?' }, class: "btn btn-danger btn-sm pull-right" %>