<div class='col-md-6 well'>
    <h2><%= link_to @shift.employee.name, company_shift_path(@shift) %></h2>
    <h2>Break Duration: <%= @shift.breaks.sum(:duration) %></h2>
   <p class='lead' id='shift-times'> <%= shift_times(@shift) %></p>
   <div class='break_times'>
       <%= div_for @shift.breaks do |shift_break| %>
            <%= render 'shift_break', shift_break: shift_break %>
        <% end %>
   </div>
    
</div>
<div class='col-md-6 well'>
    <div class='break-actions'> 
      <% if @shift.on_break? %>
        <%= link_to stop_company_shift_breaks_path(@shift), class: "btn btn-danger", remote: true, method: :patch do %>
          <i class='fa fa-clock-o'></i> End Break
        <% end %>
      <% else %>
        <%= link_to start_company_shift_breaks_path(@shift), class: "btn btn-success", remote: true, method: :post do %>
          <i class='fa fa-clock-o'></i> Start Break
        <% end %>
      <% end %>
      </div> 
</div>