$(".break-actions-<%=@shift.job_id%>").html("<%=j link_to "<i class='fa fa-clock-o'></i> End Break".html_safe, stop_company_shift_breaks_path(@shift), class: "btn btn-warning", id: "stop-break-btn", remote: true, method: :patch %>");
$("#shift-times").html("<%=j shift_times(@shift) %>");
$(".clock-actions-<%=@shift.job_id%>").html("<button type='button' data-behavior='job-out-button_<%= @shift.job_id %>' class='btn btn-danger'>  <i class='fa fa-sign-out'></i> Clock Out </button>");
$(".break_times").append("<%=j render 'shift_break', shift_break: @current_break %>");
$("#shift-sym").html("<%=j shift_sym(@shift) %>");
$("[data-behavior='job-out-button_<%= @shift.job_id %>']").hide();
$("[data-behavior='job-in-button_<%= @shift.job_id %>']").hide();