<%= simple_form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

        <h4><strong>Job Information</strong></h4>

    <%= f.association :employee, collection: @company.employees.order(:last_name), prompt: "Select Employee", label: false %>
    <%= f.association :order, prompt: "Select Department", label: false %>
    
    <%= f.input :title, placeholder: "Job Title" %>
    <%= f.input :description, placeholder: "Job Description" %>
    <%= f.input :start_date, html5: true, placeholder: "Select start date" %>
    
    <div class="input-group">
      <div class="input-group-addon">$</div>
                <%= f.input :pay_rate, as: :decimal, placeholder: "Pay Rate", label: false %>
      <div class="input-group-addon">per hour</div>
    </div>




<div id="job-end-date">
    <h4><%= f.input :active %></h4>
    <%= f.input :end_date, html5: true, prompt: "Select end date" %>
</div>



    <%= f.submit %>

<% end %>
