

<h1>Listing Jobs</h1>

<table id="jobs" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Company</th>
      <th>Order</th>
      <th>Employee</th>
      <th>Title</th>
      <th>Description</th>
      <th>Start date</th>
      <th>Pay rate</th>
      <th>Hours this week</th>
      <th>Pay this week</th>
      <th>End date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.order.company.name %></td>
        <td><%= link_to job.order.title, order_path(job.order) %></td>
        <td><%= job.employee.name %></td>
        <td><%= job.title %></td>
        <td><%= job.description %></td>
        <td><%= job.start_date.strftime("%B %e, %Y") %></td>
        <td><%= number_to_currency(job.pay_rate) %></td>
        <td><%= job.current_week_hours %></td>
        <td><%= number_to_currency(job.current_week_pay) %></td>
        <td><%= job.end_date.strftime("%B %e, %Y") %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
