<% if @company.employees.empty? %>
<div id="no-employees-alert" class="alert alert-danger" role="alert"><br>
 <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
<h3>All of your employees are currently assigned to a job. 
Please add a new employee before continuing.</h3>
<%= link_to 'Back', company_order_jobs_path(@company, @order), class: "btn btn-danger btn-lg pull-left" %> <%= link_to "Add Employee", new_user_registration_path, class: "btn btn-danger btn-lg pull-right" %>
</div>
<% else %>


<h1>New Job</h1>
<h3><%= @company.name %> <%= @order.title %></h3>

<%= simple_form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

<% end %>
  

        <h4><strong>Job Information</strong></h4>
    <%= f.association :employee, collection: @company.employees.unassigned.order(:last_name), prompt: "Select Employee", label: false %>
    <%= f.association :recruiter, collection: @company.recruiters.order(:last_name), prompt: "Select Recruiter", label: false %>
   

    <%= f.association :order, label_method: :title, value_method: :id, include_blank: false %>
    <%= f.input :title, placeholder: "Job Title" %>
    <%= f.input :description, placeholder: "Job Description" %>
    <input type="text" id="alternate" size="30" class="pull-right"><br>
    <%= f.input :start_date, as: :string, input_html: { id: "datepicker" } %> 
    
    <div class="input-group">
      <div class="input-group-addon">$</div>
                <%= f.input :pay_rate, as: :decimal, placeholder: "Pay Rate", label: false %>
      <div class="input-group-addon">per hour</div>
    </div>




    <%= f.submit %>

<% end %>
<!--FORM END-->
<% end %>


<!--IF THE COMPANY HAS NO UNASSIGNED EMPLOYEES - - END-->


<%= link_to 'Back', company_order_jobs_path(@company, @order) %>