<div id="job-show-page" class="well">
  <% if @job.on_shift? %>
  <p id="clock-status" class="text-center"><strong><%= @job.employee.name %> is currently clocked in. <%= link_to "Clock Out", clock_out_job_shift_path(@job, @current_shift), method: :patch, 
                          remote: true, data: {confirm: 'Are you sure you want to clock out now?', 
                          disable_with: "Clocking Out..."}, class: "btn btn-default" if policy(@current_shift).clock_out? %></strong></p>
                          
                          
                          
<% end %>


  <div class="col-md-3">
    <%= render 'companies/company_contact', locals: @company %>
</div>
<p>

  <strong>Company:</strong>
  <%= link_to @company.name, @company %>
<br>
  <strong>Order Title:</strong>
  <%= link_to @job.order.title, @job.order %> <br>
  <strong>Job Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>
<hr>
<p>
  <strong>Employee:</strong>
  <%= link_to @employee.name, @employee %>

<br>
  <strong>Start date:</strong>
  <%= @job.start_date.strftime("%B %e, %Y ") %>
<br>
  <strong>Pay rate:</strong>
  <%= number_to_currency(@job.pay_rate, :unit => "$") %>
</p>
<p>Gross this week: <%= number_to_currency(@job.current_week_pay) %>

Total Hours : <%= @job.total_hours %></p>


<% if @job.on_shift? %>
Last Clock In Time: <%= @job.last_clock_in.strftime("%I:%M %p") %>

  <%= link_to 'Clock Out', clock_out_job_shift_path(@job, @job.current_shift), class: "btn clock-out", method: :patch, 
                          remote: true, data: {confirm: 'Are you sure you want to clock out now?', 
                          disable_with: "Clocking Out..."} %>
<% else %>
<%= link_to 'Clock In', new_job_shift_path(@job), class: "btn clock-in" %>
<% end %>



<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
</div>