<% if timesheet.approved? %>
<div class="conversation-item item-right " data-behavior="company-timesheet" data-id="<%= timesheet.id %>">
	<div class="conversation-user">
	<h5>	<i class="fa fa-calendar-check-o fa-3x"></i> <%= timesheet.employee.name %> <small><%= timesheet.job.title %></small></h5>
	</div>
<% else %>

<div class="conversation-item item-left " data-behavior="company-timesheet" data-id="<%= timesheet.id %>">
	<div class="conversation-user">
		<h5>	<i class="fa fa-calendar-times-o fa-3x"></i> <%= timesheet.employee.name %> <small><%= timesheet.job.title %></small></h5>
	</div>
<% end %>

				
				<div class="conversation-body">
					
					
				
					
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<h6><strong><%= timesheet.week_begin %>  -  <%= timesheet.week_ending %></strong><br>
						
						
						</h6>
						
					</div>
					<div class=" col-md-4 col-sm-4">
						<span class='text-center'>
							<h6><strong>	Regular Hours:	<%= timesheet.reg_hours %></strong></h6>

								<h6><strong>	Overtime Hours:	<%= timesheet.ot_hours %></strong></h6>
						</span>
					</div>
					<div class="col-md-4">
						<span class='text-center'>
							<h6><strong>	Gross Pay:	<%= number_to_currency(timesheet.gross_pay) %></strong></h6>

								<h6><strong>	Total Bill:	<%= number_to_currency(timesheet.total_bill) %></strong></h6>
						</span>
					</div>
					
					
					
						<div id='timesheet-tools' class="btn-toolbar" role="toolbar" aria-label="">
							<div class='btn-group' role='group'>
								
								<%= link_to(admin_timesheet_path(timesheet), class: "" ) do %>
								<span class="fa-stack fa-lg">
								  <i class="fa fa-square-o fa-stack-2x"></i>
								  <i class="fa fa-folder-open fa-stack-1x"></i>
								</span>
							
								<% end %>
						
						<%= link_to(edit_admin_timesheet_path(timesheet), class: "" ) do %>
							<span class="fa-stack fa-lg">
								  <i class="fa fa-square-o fa-stack-2x"></i>
								  <i class="fa fa-pencil fa-stack-1x"></i>
								</span>
						<% end %>
		
						<%= link_to(admin_timesheet_path(timesheet), method: :delete, data: { confirm: 'Are you sure?' }) do %>
								<span class="fa-stack fa-lg">
								  <i class="fa fa-square-o fa-stack-2x"></i>
								  <i class="fa fa-trash fa-stack-1x"></i>
								</span>
		
						<% end %>
					<button class='' data-behavior="timesheet-toggle" >
						<span  class="fa-stack lg" data-behavior="approve-button" >
					        
					          <% if timesheet.approved? %>
					       
								  <i class="fa fa-times fa-stack-1x"></i>
							
					          <% else %>
						         
								  <i class="fa fa-check fa-stack-1x"></i>
					          <% end %>
					        </span>
					</button>
					<%= link_to(admin_timesheet_path(timesheet, format: :pdf)) do %>
								<span class="fa-stack fa-lg">
								  <i class="fa fa-square-o fa-stack-2x"></i>
								  <i class="fa fa-download fa-stack-1x"></i>
								</span>
		  					
		  				
		  				<% end %>
							</div>
							
							
						</div>
					</div>
			
</div>
	
