<div class="timesheet pad <%= timesheet.approved? ? 'bg-success' : 'bg-info' %> pad" data-behavior="timesheet" data-id="<%= timesheet.id %>">
	
  	<span class='text-success' data-behavior='timesheet-state'>
	  <%= timesheet.state.titleize %>
	</span>
	<%= link_to(company_timesheet_path(timesheet), class: 'pull-right') do %>
			<i class="fa fa-calendar-times-o fa-1x"></i>
			<%= timesheet.week_begin %>  -  <%= timesheet.week_ending %>
		<% end %>
	
	<p class=''>
		<%= timesheet.employee.name %><br> <small><%=timesheet.job.title %></small>
	</p>
	<p class='pull-right'>	Total Hours:	<%= timesheet.total_hours.round(2) %></p>
	<p class="">
		<span class='bold'>	Gross Pay:	<%= number_to_currency(timesheet.gross_pay) %><br>Total Bill:	<%= number_to_currency(timesheet.total_bill) %></strong>
	</p>
	<div class='btn-group'><%= render 'company/timesheets/tool_buttons', timesheet: timesheet %></div>
	<% if timesheet.approved? %>
		<p class='text-right' data-behavior='user-approved'>
			<small> Approved by: <%= timesheet.user_approved %></small>
		</p>
	<% end %>
</div>	

