<div class="field">
  <%= f.attribute_fields do |a| %>
    <%= a.attribute_select associations: [:company] %>
  <% end %>
  <%= f.predicate_select %>
  <%= f.value_fields do |v| %>
    <%= v.text_field :value %>
  <% end %>
  <%= link_to "<i class='fa fa-minus-square'></i>".html_safe, '#', class: "remove_fields" %>
</div>