  
  <div class="">
    <%= simple_form_for [:admin, @company, @order], html: { class: 'form' } do |f| %>
	<%= f.error_notification %>
	<div class='col-md-8 well well-sm'>
		<%= f.association :company, as: :select, collection: @current_admin.companies.order(:name).distinct, required: true, label: false, include_blank: false if @company.nil? %>
		<div class='form-inline'>
			<%= f.input :industry, as: :select, input_html: {class: 'boolean'},	collection: [ "Manufacturing", "General Labor", "Office", "Sales", "IT", "Retail", "Logistics", "Warehouse", "Medical", "Food Service"], label: false,	prompt: "Select an industry"  %>
		<%= f.input :number_needed, as: :select, label: false, collection: 1..30, input_html: {class: 'form-control'}, include_blank: false, prompt: "How many positions?"    %>
		<%= f.input :title, placeholder: "Job Title", label: false, input_html: {class: 'boolean'} %>
		</div>
		<%= f.input :address, placeholder: "You can leave this blank if same as company address.", label: "Jobsite Location", hint: "#{@company.try(:address)} #{@company.try(:city)}, #{@company.try(:state)} #{@company.try(:zipcode)}" %>
		<div class='form-group text-center'>
			
			<%= f.input :needed_by, default: Date.tomorrow, as: :date, hint: "Today is #{Time.current.stamp("Monday May 25th, 2016") }", end_year: Date.today.year + 1, start_year: Date.today.year, order: [:month, :day, :year], wrapper_html: {class: "form-inline"}, label: "When do you need them to start?", label_html: { class: 'needed_by' } %>
		</div>
		<div class='form-group well well-sm'>
			<%= f.input :notes, as: :text, label: "Job Description", placeholder: "Please list desired skills, qualifications, etc...", input_html: {id: "autocomplete", data: { behavior: "autocomplete_order_notes" }, rows: 12 } %>
		</div>
		<div class='form-group'>
			<%= f.input :mobile_time_clock_enabled, as: :select, label_html: { class: 'mobile_timeclock' }, label: "Do you want to enable mobile time clocks for these employees?", input_html: {class: 'mobile_timeclock_input'}, include_blank: false   %>
		</div>
		<div class='form-inline'>
			<div class='form-group'>
				<%= f.input :active, as: :select, label: "Do you want to make this posting public?" %>
			</div>
			
		</div>
		
		<div class='form-group'>
			<p class='bold'>When should this post expire from public view?</p>
			<div class=''>
				<div class='form-group'>
					<%= f.hidden_field :published_at, wrapper_html: {class: "date-input"}, default: Date.today, as: :date, end_year: Date.today.year + 1, start_year: Date.today.year, order: [:month, :day, :year], label: false %>  
					<%= f.input :expires_at, wrapper_html: {class: "form-inline date-input"}, 
				default: Date.today + 14.days, as: :date, end_year: Date.today.year + 1, 
				start_year: Date.today.year, order: [:month, :day, :year], label: false %>  
				</div>
				
			</div>
		</div>
		<div id='skills' class='form-group'>
			<% f.simple_fields_for :skills do |skill| %>
				<%= render 'skill_fields', f: skill %>
				
			<% end %>
			<%= link_to_add_association 'add skill', f, :skills, class: "btn btn-success" %>
		</div>
	</div>
	<div class='col-md-4 well'>
		<p class='lead'>How many positions?</p>
		<%= f.input :number_needed, as: :select, label: false, collection: 1..30, input_html: {class: 'form-control'}, include_blank: false    %>
		<p class='lead'>Pay Rate <small>per hour</small></p>
		<div class='form-group'>
			<div class="input-group">
				<span class="input-group-addon"><i class='fa fa-usd'></i></span>
					<%= f.input :min_pay, label: false, :input_html => {placeholder: "Minimum Pay", class: "form-control" } %>
				<span class="input-group-addon">/hr</span>
			</div>
		</div>
		<div class='form-group'>
			<div class="input-group">
				<span class="input-group-addon"><i class='fa fa-usd'></i></span>
					<%= f.input :max_pay, label: false, :input_html => {placeholder: "Maximum Pay", class: "form-control" } %>
				<span class="input-group-addon">/hr</span>
			</div>
		</div>
		<div class='form-group'>
			<%= f.input :aca_type, collection: ["Variable-Hour", "Full-Time", "Part-Time"], include_blank: false %>
		</div>
	
		<div class='form-group'>
			<%= f.input :est_duration, as: :select,	collection: [ "Temp-to-Hire", "Direct-Hire", "Temporary", "Payroll"], include_blank: false %>
			<%= f.input :bg_check, collection: ["None", "Case-by-case", "No Felonies"], include_blank: false, label: "Background Screening" %>
			<%= f.input :dt_req, collection: ["None", "Yes - 5 panel", "Yes - 10 panel"], include_blank: false, label: "Drug Screening" %>
			<%= f.input :heavy_lifting, as: :select, selected: false, label: "Is heavy lifting required?" %>
			<%= f.input :stwb, as: :select, selected: false, label: "Are steel-toed work boots required?" %>
		</div>
		<div class='form-group'>
			<%= f.input :years_of_experience, as: :select, collection: 0..25, label: "Minimum years of experience", input_html: {class: 'form-control'}, include_blank: false   %>
			<%= f.input :certifications, placeholder: "Required Education/Certifications, if any." %>
			
			<%= f.input :shift, as: :select,
				collection: [ "1st shift", "2nd shift", "3rd shift", "Flexible"], 
				label: "Select shift needed", include_blank: false %>
		</div>
		<div class='form-group'>
			<%= f.association :account_manager, collection: @current_agency.admins.account_managers.order(:last_name), prompt: "Select Account Manager" if @current_admin.role != "Account Manager" %>
			<%= f.association :manager, collection: @company.admins.real_users.order(:last_name), prompt: "Select Company Manager" if @company.present? %>
			
		</div>
		<div class='form-group'>
			<%= f.input :agency_approval, as: :select, label: "Agency approval needed?", include_blank: false %>
			<%= f.input :company_approval, as: :select, label: "Company approval needed?", include_blank: false %>
		</div>
		<div class='form-group'>
			<%= f.input :active, as: :select %>
		</div>
	</div>
	

	
	
		

	<div class='form-actions'>
		<%= f.button :submit %>
	</div>
<% end %>
  </div>
