
<div class="col-lg-12">
		<div class="main-box order-form">
			<h4>New Job Order</h4>
		  <%= simple_form_for [:admin, @company, @order], html: { class: '' } do |f| %>
			<form role="form">
			  <% if @company.nil? %>
			    <%= f.association :company, collection: Company.all, prompt: "Choose a Company" %>
			  <% end %>
				<div class="form-group">
					
					<%= f.input :title, placeholder: "Job Type (Ex. Warehouse, Adminstrative, General Labor, etc...)", label: false, input_html: { class: 'form-control' } %>
				</div>
				<div class="form-group">
					<%= f.input :number_needed, collection: 1..10, prompt: "How many people are needed?", label: false %>
    
				</div>
				<div class="form-group">
					<%= f.input :needed_by, as: :string, label: false, placeholder: "When do you need them to start?", required: true, input_html: { class: 'form-control' } %>
    
				</div>
				<div class="form-group">
					<%= f.input :dt_req, collection: [ "None Required", "Yes - 5 panel screen", "Yes - 10 panel screen"], prompt: "Drug Test Required?", label: false, input_html: { class: 'form-control' } %>
						</div>
				<div class="form-group">
					<%= f.input :bg_check, collection: [ "None Required", "Yes - No Felonies", "Yes - Case by case"], prompt: "Background Check Required?", label: false, input_html: { class: 'form-control' }%>
          
				</div>
				
				<div class="form-group">
					<%= f.input :stwb, as: :boolean, label: "Do they need steel-toe workboots?" %>
					<%= f.input :heavy_lifting, as: :boolean, label: "Does this position require heavy lifting? (50 lbs +)" %>
					
				</div>
				
				<div class="form-group">
				  
          <%= f.input :est_duration, collection: [ "Temp-to-Hire", "Direct-Hire", "Temporary"], prompt: "Est. duration of assignment", label: false %>
          <%= f.input :shift, collection: [ "1st shift", "2nd shift", "3rd shift", "Flexible"], prompt: "Select shift needed", label: false %>
          <%= f.input :urgent, as: :boolean, label: "Do you need someone ASAP?" %>
					
				</div>
			
				<div class="form-group form-group-select2">
					<% if @current_admin.agency? %>
            <%= f.input :mark_up, collection: [ 1.4, 1.5, 1.6 ], prompt: " Select Mark Up", label: false %>
            <%= f.association :account_manager, collection: @account_managers.order(:last_name), prompt: "Choose aa Account Manager", label: false %>
            <%= f.input :active, as: :boolean %>
          <% end %>
				</div>
				
				<div class="form-group form-group-select2">
					<%= f.input :pay_range, collection: [ "$8.10 - $10.00","$10.00 - $12.00","$12.00 - $15.00", "$15.00 - $18.00", "$18.00 - $22.00",
					"$22.00 +  ", "Salary", "Hourly + Commission"], prompt: " Select Pay Type", label: false %>
    
				</div>

				<div class="form-group">
					<%= f.text_area :notes, label: "Job Requirements", placeholder: "Please list desired skills, qualifications, etc...", rows: 10  %>
				</div>
				<hr>
				
				
				<div class='form-group' id='skills'>
					<h5>Enter some skills that are needed for this position.</h5>
			    <%= f.simple_fields_for :skills do |skill| %>
			      <%= render 'skill_fields', f: skill %>
			    <% end %>
			   </div>
			    
			    <div class='links'>
			      <%= link_to_add_association 'Add A Skill', f, :skills, class: 'btn btn-success' %>
			    </div>
				

				<hr>
				
				<div class="form-group">
					<div class='form-actions'>
            <%= f.submit %>
          </div>
				</div>
			</form>
			<% end %>
		</div>
	</div>
 