<%= div_for(order) do %>
<div class=''><%= link_to title_for(order), admin_order_path(order), class: 'black' %> <span class='pull-right'><%= status_tag(order)%></span> 
<%= heavy_lifting(order) %>
</div>
<p class='text-left'><%= number_to_currency(order.min_pay) %> -  <%= number_to_currency(order.max_pay) %></p>

 <span class='label label-info black pull-right'>Open: <%= order.open_jobs %> </span>
   
     <span class=''><%= matching_emp_popover(order) if order.matching_employees.any? %></span> 
     
        

    
<% end %>      




 

