
   <%= link_to admin_order_path(order), class: 'list-group-item list-group-item-success center' do %>
       
       
        <h5><%= order.title %>
         <span class='badge badge-danger'><%= order.needed_by? ? order.needed_by.strftime("%B %e, %Y") : "n/a" %></span>
        </h5>
       
        <span class='badge badge-success'>Pay range: <%= order.pay_range %></span>
        <span class='badge badge-info'>Open jobs: <%= order.open_jobs %> </span>
        <br>
          <span class='badge badge-info'> Account Manager: <%= order.account_manager.try(:name) %> 
        
        </span>
<br>
       

      <% end %>
      




 

