<div class='search'>
    <%= search_form_for @q, class: '', url: search_admin_orders_path, html: { method: :post } do |f| %>
      
          <%= f.search_field :notes_or_title_cont, class: "form-control", placeholder: "Search Job Orders"%>
        
    <div class='btn-group pull-right'>
        <%= f.submit class: "btn btn-default" do %><i class='fa fa-search'></i><% end %> 
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort By <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><%= sort_link(@q, :industry) %></li>
            <li><%= sort_link(@q, :title) %></li>
            <li><%= sort_link(@q, :needed_by) %></li>
            <li><%= sort_link(@q, :min_pay) %></li>
            <li><%= sort_link(@q, :max_pay) %></li>
        </ul>
    </div>
     <% end %>
</div>
