<% if orders.any? %>
<div class="table-responsive">
  <table id="" class="table table-bordered table-hover">
    <thead>
      <tr>
        <% if @company.nil? %><th> Company</th><%end %>
        <th>Fill Date</th>
        <th>Title</th>
        <th>Pay Range</th>
        <th>Make A Placement</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% orders.each do |order| %>
        <tr class='order-row'>
          <% if @company.nil? %><td style="vertical-align:middle"> <%= link_to order.company.name, admin_company_path(order.company) %></td><%end %>
          <td style="vertical-align:middle" class='text-center'> <%= status_tag(order) %>  <%= order.needed_by.stamp('Mon 11/12') %></td>
          <td style="vertical-align:middle"><%= link_to title_for(order), admin_order_path(order), class: "button" %><br><small><%= order.industry %></small></td>
          <td style="vertical-align:middle" class='text-center'><%= pay_range(order) %></td>
          <td style="vertical-align:middle"><% if order.needs_attention? %>
          <%= link_to new_admin_order_job_path(order), class: "button" do %> 
          <%= order_count(order)%>  <i class='fa fa-user-plus fa-fw'></i><br>
          <% end %>
          <%else%><%= status_tag(order) %> <% end %> 
          <%= order_status(order) %> 
          </td>
          <td><%= order.account_manager.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% end %>
