<div class="table-responsive">
  <table id="orders-datatable" class="table table-bordered display" cellspacing="0.5" width="100%">
  <thead>
    <tr>
      <th></th>
      <% if current_admin.agency? %>
      <th>Company</th>
      <% end %>
      <th>Title</th>
      <th>Pay Range</th>
      <th>Active</th>
      <th>Total Bill</th>
      <th>Gross Pay</th>
      <th>Reg Hours </th>
      <th>Ot Hours</th>
      <th>Timesheets</th>
      
      <th>Acct Manager</th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
    <% @orders.active.each do |order| %>
      <tr>
        <td><% if order.needs_attention? %> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <% else %>
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span> 
            <% end %>
        </td>
        <% if current_admin.agency? %>
     <td><%= link_to order.company_name, admin_company_path(order.company) %></td>
      <% end %>
        
        <td><%= link_to order.title, admin_company_order_path(order.company, order) %></td>
        <td><%= order.pay_range %></td>
        <td><%= order.jobs_count %></td>
        <td><%= number_to_currency( order.timesheets.sum(:total_bill) )%></td>
        <td><%= number_to_currency( order.timesheets.sum(:gross_pay) )%></td>
        <td><%= order.timesheets.sum(:reg_hours) %></td>
         <td><%= order.timesheets.sum(:ot_hours) %></td>
       
        <td><%= order.current_timesheets.any? ? order.current_timesheets.count : "0" %></td>
     
        <td><%= order.account_manager.present? ? order.account_manager.last_name : "Unassigned" %> </td>
        <td><%= link_to(edit_admin_order_path(order), class: "table-link" ) do %>
					<span class="fa-stack">
						<i class="fa fa-square fa-stack-3x fa-inverse"></i>
						<i class="fa fa-pencil fa-stack-1x "></i>
					</span>
					<% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


  </div>
