	<% if @orders.needs_attention.any? %>
	<div class="alert alert-danger fade in text-center">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<i class="fa fa-exclamation-triangle fa-fw fa-lg"></i>
			<strong><%= pluralize(@orders.needs_attention.count, 'open job order') %> </strong>   
	</div>
		<% else %>
	<div class="alert alert-success fade in">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<i class="fa fa-check-square-o fa-fw fa-lg"></i>
			<h4><%= pluralize(@orders.needs_attention.count, 'open job order') %>. </h4>
	</div>
		<% end %>
<div class="col-md-12">
	<div class='col-md-2'>
	<%= render 'search' %>
	 
	  
	  <h3>Sort By:</h3>
	  <ul class="fa-ul">
		  <li><i class="fa-li fa fa-square"></i><%= sort_link(@q, :title) %></li>
		  <li><i class="fa-li fa fa-square"></i><%= sort_link(@q, :needed_by) %></li>
		  <li><i class="fa-li fa fa-square"></i><%= sort_link(@q, :min_pay) %></li>
		  <li><i class="fa-li fa fa-square"></i><%= sort_link(@q, :max_pay) %></li>
		</ul>
	  
	</div>
	
	<% if @orders.needs_attention.any? %>
	<div class="col-md-8 border">
			<%= render @orders.needs_attention %>
	</div>
	<%end%>
		<div class='col-md-2'>
			 <%= render 'admin/infoboxes/taggings' %>
		</div>


</div>