<div class="panel panel-default">
  
  <div class="panel-body">
    <%= simple_form_for [:admin, @order], html: { class: 'form-horizontal' } do |f| %>
	<%= f.error_notification %>
		<%= f.association :company, collection: @current_admin.companies.distinct, prompt: "Choose a Company"  %>
	<div class='form-group'>
		<%= f.input :industry, as: :select, collection: [ "Manufacturing", "General Labor", "Office", "IT", "Retail", "Logistics", "Warehouse", "Medical", "Food Service"], prompt: "Select an industry", label: false  %>
		<%= f.input :title, placeholder: "Job Title"  %>
		<%= f.input :address, label: "Jobsite Location", value: @company.address if @company.present?  %>
	</div>
	<div class='col-md-6 form-inline'>
		<%= f.input :aca_type, collection: ["Variable-Hour", "Full-Time", "Part-Time"], include_blank: false %>
		<%= f.input :urgent, as: :boolean %>
	</div>
	
	<div class='col-md-6 form-inline'>
		<%= f.input :number_needed, as: :select, collection: 1..30, label: "How many people are needed?", include_blank: false  %>
		<%= f.input :needed_by, as: :string, input_html: {class: 'datepicker'}, placeholder: "When would you like them to start?", label: false  %>
		<%= f.input :shift, as: :select,
    	collection: [ "1st shift", "2nd shift", "3rd shift", "Flexible"], 
    	label: "Select shift needed", include_blank: false %>
	</div>
	
	
	
	
	<div class='form-inline'>
		<div class="input-group">
	        <div class="input-group-addon">$</div>
	                  <%= f.input :min_pay, as: :decimal, input_html: { class: 'form-control'}, placeholder: "Minimum pay", label: false %>
	        <div class="input-group-addon">per hour</div>
	    </div>
	    <div class="input-group">
	        <div class="input-group-addon">$</div>
	                  <%= f.input :max_pay, as: :decimal, input_html: { class: 'form-control'}, placeholder: "Maximum pay", label: false %>
	        <div class="input-group-addon">per hour</div>
	    </div>
	</div>
	   
	
	<%= f.input :notes, as: :text, label: "Job Description", placeholder: "Please list desired skills, qualifications, etc...", input_html: {data: { behavior: "autocomplete_order_notes" }, rows: 8 } %>
	<%= f.input :published_at, as: :string, input_html: {class: 'datepicker'}  %>
	<%= f.input :expires_at, as: :string, input_html: {class: 'datepicker'} %>
	<%= f.input :bg_check, collection: [ "None Required", "Yes - No Felonies", "Yes - Case by case"], label: "Background Check" %>
	<div class='col-md-4'>
		<div class='form-group'>
			<%= f.association :account_manager, collection: @current_agency.admins.account_managers.order(:last_name), prompt: "Select Account Manager" if @current_admin.role != "Account Manager" %>
			<%= f.association :manager, collection: @company.admins.order(:last_name), prompt: "Select Company Manager" if @company.present? %>
			<%= f.input :agency_approval, as: :select,	collection: [ "Yes", "No"], label: "Agency approval needed?", include_blank: false %>
			<%= f.input :company_approval, as: :select,	collection: [ "Yes", "No"], label: "Company approval needed?", include_blank: false %>
		</div>
	</div>
	<div class='col-md-4'>
		<%= f.input :years_of_experience, as: :select, collection: 0..25 %>
		<%= f.input :certifications %>
	</div>
	<div class='col-md-4'>
	<%= f.input :stwb, as: :boolean, inline_label: "Do they need steel-toe workboots?", input_html: {class: 'boolean'}   %>
	<%= f.input :heavy_lifting, as: :boolean, inline_label: "Does this position require heavy lifting? (50 lbs +)", input_html: {class: 'boolean'}   %> 

	<%= f.input :dt_req, as: :radio_buttons, label: "Drug Test", collection: [ "None Required", "Yes - 5 panel screen", "Yes - 10 panel screen"], selected: "None Required" %>
	
	<%= f.input :est_duration, as: :radio_buttons,	collection: [ "Temp-to-Hire", "Direct-Hire", "Temporary", "Payroll"] %>
	</div>
	
	

	<%= f.button :submit %>
<% end %>
  </div>
</div>
