<div class='main-box'>
  

    
  <div class="col-md-2">
      <%= @company.account_managers.first %>
    <h4><strong>Company Information</strong></h4>
    <address>
      <strong><%= link_to @company.name, admin_company_path(@company) %></strong><br>
      <%= @company.address %><br>
      <%= @company.city %>, <%= @company.state %> <%= @company.zipcode %><br>
     <%= @company.phone_number %>

      <strong><%= @company.contact_name %></strong>
     
    </address>
  </div>
  
<div class='col-md-10 main-box scroll'>
     <h3>New Job Order</h3>
    <%= render 'form' %>
</div>
</div>


