
<div class="col-md-12">
	
    <h1>Search Job Orders</h1>
    <div class=''>
		<%= render 'admin/shared/alerts/open_orders', orders: @orders %>
	</div>
	<div class=''>
	  	<%= render 'search' %>
		<div class="col-md-8 well well-sm">
			<%= render 'admin/orders/table', orders: @orders %>
			<%= will_paginate @orders %>
		</div>
		<div class='col-md-4'>
			<hr>
			<div id="map" style='width: 400px; height: 400px;'></div>
		</div>
	</div>
	
	

</div>

<script type='text/javascript'>
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {
      disableDefaultUI: true,
      zoom: 4
      // pass in other Google Maps API options here
    },
    internal: {
      id: 'map'
    }
  },
  function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }
);

</script>