
<div class="col-md-12">
	<%= render 'search' %>
    <h1>Search Job Orders</h1>
	<div class='col-md-2 bg-white'>
	  	<h3>Sort By:</h3>
	  <ul class="fa-ul">
		  <li><i class="fa-li fa fa-square"></i><%= sort_link(@q_orders, :title) %></li>
		  <li><i class="fa-li fa fa-square"></i><%= sort_link(@q_orders, :needed_by) %></li>
		  <li><i class="fa-li fa fa-square"></i><%= sort_link(@q_orders, :min_pay) %></li>
		  <li><i class="fa-li fa fa-square"></i><%= sort_link(@q_orders, :max_pay) %></li>
		</ul>
	   <%= render 'admin/infoboxes/taggings' %>
	</div>
	
	<div class="col-md-8">
		<% @orders.needs_attention.each do |order| %>
			<%= render 'admin/orders/order', order: order %>
		<% end %>
			<hr>
			<div id="map" style='width: 400px; height: 400px;'></div>
	</div>
		<div class='col-md-2'>
				<%= render 'admin/shared/alerts/open_orders', orders: @orders %>
		</div>


</div>
<script type='text/javascript'>
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {
      disableDefaultUI: true,
      zoom: 4
      // pass in other Google Maps API options here
    },
    internal: {
      id: 'map'
    }
  },
  function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }
);

</script>