<div class='col-md-12 lightbox'> 
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-info black dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class='fa fa-cogs'></i> Admin
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to "<i class='fa fa-building' data-toggle='tooltip' data-placement='right' title='View Company'></i> &nbsp; #{@order.company.name}".html_safe, admin_company_path(@company), class: "" %></li>
      <li role="separator" class="divider"></li>
      <% if policy(@order).update? %><li><%= link_to "<i class='fa fa-pencil' data-toggle='tooltip' data-placement='right' title='Edit Order'></i>&nbsp; Edit".html_safe, edit_admin_order_path(@order), class: "" %></li><% end %>
      <% if policy(@order).destroy? %><li><%= link_to "<i class='fa fa-trash' data-toggle='tooltip' data-placement='right' title='Delete Order'></i>&nbsp; Delete".html_safe, admin_order_path(@order), method: :delete, data: { confirm: 'Are you sure?' }, class: "" %></li><% end %>
    </ul>
  </div>
   <h1 class=''> <%= title_for(@order) %> <small><%= @order.address %> <%= render "order_map", order: @order %></small> </h1>
  <div class='col-md-2 bg-white'>
    <div class=''>
      <h3 class='text-center'><%= lg_status_tag(@order) %> <%= status_msg(@order) %></h3>
      <p class='lead'>Needed: <%= @order.number_needed %> <br>
        Active: <%= @order.jobs.active.count %><br>
        Open: <%= @order.open_jobs %>
      </p>
       <strong>Shift:</strong>
      <%= @order.shift %> <br>
      <strong>Pay Range:</strong><br>
      <%= number_to_currency(@order.min_pay) %> - <%= number_to_currency(@order.max_pay) %><hr>
      <p class='lead bg-white'><strong>ACA Type:</strong> <%= @order.aca_type %></p>
      <strong>Company Manager</strong><br>
      <%=
         link_to_if(@order.manager.nil?, "Add Manager", { controller: "admin/orders", action: "edit", id: @order }) do
           link_to(@order.manager.name, @order.manager)
         end
      %>
      <br>
      <strong>Account Manager</strong><br>
      <%= @order.account_manager.try(:name) || "Unavailable" %>
    </div>
    
  </div>
 



<div class='col-md-10' id="">

  <!-- Nav tabs -->
  <ul id="" class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#order" aria-controls="order" role="tab" data-toggle="tab">Order Info.</a></li>
    <li role="presentation"><a href="#matches" aria-controls="matches" role="tab" data-toggle="tab">Candidates</a></li>
    <li role="presentation"><a href="#timesheets" aria-controls="timesheets" role="tab" data-toggle="tab">Timesheets</a></li>
    <li role="presentation"><a href="#active-jobs" aria-controls="active-jobs" role="tab" data-toggle="tab">Active Jobs</a></li>
    <li role="presentation"><a href="#inactive-jobs" aria-controls="inactive-jobs" role="tab" data-toggle="tab">Inactive Jobs</a></li>
    <li role="presentation"><a href="#applications" aria-controls="applications" role="tab" data-toggle="tab">Applicants</a></li>
  </ul>
 
  
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="order">
      <h2>Job Description</h2>
      <div class='col-md-8 scroll500 bg-white'>
      <%= markdownify(@order.notes) %>
    </div>
   
    
    <div class='col-md-3'>
      <p><%= @order.heavy_lifting ? "Heavy Lifting Required" : "" %></p>
     <p><%= @order.stwb ? "STWB Required" : "" %></p>
        
    <strong>Drug Test </strong><br>
    <%= @order.dt_req %><br>
  

    <strong>Background Check </strong><br>
    <%= @order.bg_check %><br>

    <strong>Assignment Type</strong><br>
    <%= @order.est_duration %><br>

    <strong>Pay Range:</strong><br>
    <%= @order.pay_range %>
    
    
   </div>
  <div class='col-md-3'>
     <strong>Mentioned Admins:</strong>
  <p> <%= @order.mentioned_admins.map{|p| p.name.titleize}.join(", ")  %></p>
      <strong>Requested Employees</strong>
      <p><%= @order.requested_employees.map {|p| p.name.titleize}.join(", ") %></p>
     
   </div>
   <div class='col-md-3'>
     <strong>Tags</strong>
      
     <p><%= highlight(@order.tag_list.to_s, @order.tag_list, highlighter: '<a href="/tags?tag=\1">\1</a>') %></p>
   </div>
   <div class='col-md-3'>
        <% if @order.skills.count < 1 %>
           <h4 id='no-skills' class="text-center">This job order has no skills entered.</h4>
          <% end %>
            <div  id='skills' class=''>
              <%= render @order.skills %>
            </div>
        <div class='form-inline'>
          <%= render partial: "admin/skills/form", locals: {skillable: @order} %>
        </div>
     </div>
    
  </div>
  <!--MATCHING CANDIDATES TAB-->
  <div role="tabpanel" class="tab-pane fade" id="matches">
    <div class='col-md-6 lightbox '>
        <% if @order.needs_attention? %>
        <h3>Nearby Candidates</h3>
        <% User.available.near(@order.address).limit(3).try(:each) do |user| %>
          <li class='list-group-item' data-placement='right' data-toggle='tooltip' title='<%= user.skills.map(&:name).join(', ')%>'>
            <%=users_tooltip(user)%> 
          <%= link_to user.name, user %> (<%= user.distance.round(2) %> miles)</li>
        <% end %>
        <% else %>
        <h3>Employee Commutes</h3>
        <% @order.users.near(@order.address).try(:each) do |user| %>
          <li class='list-group-item' data-placement='right' data-toggle='tooltip' title='<%= user.skills.map(&:name).join(', ')%>'>
            <%=users_tooltip(user)%>
            <%= link_to user.name, user %> (<%= user.distance.round(2) %> miles)</li>
        <% end %>
        
      <% end %>
    </div>
     <div class='col-md-6 lightbox'>
       
       <h3>Matching Candidates</h3>
          <%= render @order.matching_employees %>
     </div>
  </div>
  <!--JOBS TAB-->
  <div role="tabpanel" class="tab-pane fade" id="active-jobs">
      <div class=''>
        
        <% if @jobs.active.any? %>
          <%= render 'admin/jobs/table', jobs: @jobs.active %>
        <% else %>
          <h3>No jobs to display yet.</h3>
      <% end %>
      <% if policy(Job).create? %>
          <%= link_to 'Add Employee', new_admin_order_job_path(@order), class: "btn btn-primary" %>
        <% end %>
      </div>
  </div>
  <!--INACTIVE JOBS TAB-->
  <div role="tabpanel" class="tab-pane fade" id="inactive-jobs">
      <div class=''>
        <% if @jobs.inactive.any? %>
      <%= link_to "Inactive Jobs", inactive_admin_order_jobs_path(@order) %>
        
      <% else %>
      <h3>No inactive jobs to display.</h3>
        
      <% end %>
      </div>
  </div>
  <!--TIMESHEETS TAB-->
  <div role="tabpanel" class="tab-pane fade" id="timesheets">
    <div class=''>
      <%= link_to "All Company Timesheets", admin_company_timesheets_path(@company), class: "btn btn-success" %>
      <% if @order.timesheets.current_week.any? %>
      <h3><strong>This week timesheets</strong></h3>
        <%= render "admin/timesheets/table", timesheets: @timesheets.current_week %>
      <% else %>
        <h3>No timesheets for this week yet.</h3>
      <% end %>
      <% if @order.timesheets.last_week.any? %>
        <h3><strong>Last week timesheets</strong></h3>
      <%= render "admin/timesheets/table", timesheets: @timesheets.last_week %>
      <% else %>
        <h3>No timesheets last week.</h3>
      <% end %>
      
      
    </div>
  </div>
  
  <!--APPLICATIONS TAB-->
    <div role="tabpanel" class="tab-pane fade" id="applications">
        <div class=''>
          <% if @order.applications.any? %>
          <ul>
            <% @order.applications.each do |event| %>
              <% if lookup_context.template_exists?(event.action, "events/activities", true) %>
                <%= render partial: "events/activities/#{event.action}", locals: {event: event} %>
              <% end %>
            <% end %>
          </ul>
          <% else %>
          <h4>No one has applied to this position yet.</h4>
          <% end %>
        </div>
      </div>
      
    </div>
  </div>
</div>

