

<h1>  <%= @company.name %> <small> <%= @order.title %></small></h1>
<hr>

<div id="col-md-12 order-tabs">

  <!-- Nav tabs -->
  <ul id="order-nav" class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#order" aria-controls="order" role="tab" data-toggle="tab">Order Info.</a></li>
    <li role="presentation"><a href="#timesheets" aria-controls="timesheets" role="tab" data-toggle="tab">Timesheets</a></li>
    <li role="presentation"><a href="#active-jobs" aria-controls="active-jobs" role="tab" data-toggle="tab">Active Jobs</a></li>
    <li role="presentation"><a href="#skills-tab" aria-controls="skills-tab" role="tab" data-toggle="tab">Skills</a></li>
  </ul>
  
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="order">
  

<div class='col-md-12'>
  <h3> 
  <strong><%= @order.needs_attention? ? "OPEN" : "FILLED" %></strong>
  
  Open positions: <%= @order.open_jobs %>
  
  </h3>

<div class='col-lg-3'>
  <strong>Drug Test </strong><br>
  <%= @order.dt_req %><br>
  <strong>Background Check </strong><br>
  <%= @order.bg_check %><br>
 
  
 
  

  
</div>
<div class='col-lg-3'>

  <strong>
    <ul>
      <li><%= @order.est_duration %></li>
      <li> <%= @order.shift %></li>
      <li><%= @order.stwb ? "STWB Required" : "" %></li>
      <li><%= @order.heavy_lifting ? "Heave Lifting Required" : "" %></li>
    </ul>
    
  
  </strong>
  
</div>
<div class='col-lg-3'>
<p>
  <strong>Number needed: </strong>
  <%= @order.number_needed %>
</p>
<p>
  <strong>Active Employees:</strong>
      <%= @order.jobs.active.count %>
</p>

<p>
  <strong>Pay Type:</strong>
  <%= @order.pay_range %>
</p>
<p>
  <strong>Mark Up:</strong>
  <%= @order.mark_up_percent %>
</p>

  <strong>Urgency:</strong>
  <%= @order.urgent ? "URGENT" : "Regular" %>
<p>
  <strong>Status:</strong>
  <%= @order.active ? "Active" : "Inactive" %>
</p>
</div>


<div id= "order-notes" class="" >
      <strong>Notes:</strong>
    <p><%= @order.notes %></p>
  </div>
  
  
  
  
  
  
</div>
  


  

  <div class="btn-group" role="group" aria-label="...">
    <%= link_to 'All Orders', admin_company_orders_path(@company), class: "btn btn-primary" %>
    <% if policy(@order).update? %>
      <%= link_to 'Edit Order', edit_admin_order_path(@order), class: "btn btn-primary" %>
    <% end %>
    <% if policy(Job).create? %>
     <%= link_to 'Add Job', new_admin_order_job_path(@order), class: "btn btn-primary" %>
    <% end %>
  </div>





  </div>
  
  
  <div role="tabpanel" class="tab-pane fade" id="timesheets">

<% if @order.timesheets.current_week.any? %>
<%= render partial: "admin/timesheets/table", collection: @timesheets.current_week, as: :timesheet %>
<% else %>
<h3>No timesheets for this week yet.</h3>
<% end %>
<hr>
<strong>All timesheets</strong>
<%= render partial: "admin/timesheets/table" %>
</div>

<div role="tabpanel" class="tab-pane fade" id="skills-tab">
<div class='center skill-list'>
<h4>Skills</h4>
  <div class='center text-left' id='skills'>
    <%= render @order.skills %>
  </div>
    <div class='center'>
    <%= render partial: "admin/skills/form", locals: {skillable: @order} %>
  </div>
    
    
    

  
</div>
  </div>
  
  
  <div role="tabpanel" class="tab-pane fade" id="active-jobs">
    <% if @jobs.any? %>
    <%= render 'admin/jobs/table' %>
    <% else %>
    <h3>No jobs to display yet.</h3>
    <% end %>
  </div>
</div>

  </div>
  