<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
  <%= link_to(admin_company_path(@company), class: "btn btn-default") do %>
							<i class='fa fa-home'></i>

								<span>Back to Company</span>
							<% end %>

  </div>
  <div class="btn-group" role="group">
  <%= link_to(new_admin_company_order_path(@company), class: "btn btn-default") do %>
							<i class='fa fa-user-plus'></i>

								<span>New Job Order</span>
							<% end %>

  </div>
  <div class="btn-group" role="group">
  <%= link_to(admin_company_orders_path(@company), class: "btn btn-default") do %>
							<i class='fa fa-briefcase'></i>

								<span>Active Orders</span>
							<% end %>

  </div>
  <div class="btn-group" role="group">
  <%= link_to(admin_company_timesheets_path(@company), class: "btn btn-default") do %>
							<i class='fa fa-clock-o'></i>

								<span>Timesheets</span>
							<% end %>

  </div>
  
</div>

<h1>  <%= @company.name %> <small> <%= @order.title_company %></small></h1>


<div id="col-md-10 order-tabs">

  <!-- Nav tabs -->
  <ul id="order-nav" class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#order" aria-controls="order" role="tab" data-toggle="tab">Order Info.</a></li>
    <li role="presentation"><a href="#timesheets" aria-controls="timesheets" role="tab" data-toggle="tab">Timesheets</a></li>
    <li role="presentation"><a href="#active-jobs" aria-controls="active-jobs" role="tab" data-toggle="tab">Active Jobs</a></li>
    <li role="presentation"><a href="#skills-tab" aria-controls="skills-tab" role="tab" data-toggle="tab">Skills</a></li>
  </ul>
  
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="order">
  <h3> 
  <strong><%= @order.needs_attention? ? "OPEN" : "FILLED" %></strong></h3>

<div class='col-md-12 center'>
  
  <div class='row even even-top'>
    <h4>Open positions: <%= @order.open_jobs %></h4>
    <strong>Active Employees:</strong>
        <%= @order.jobs.active.count %>
        <% if @order.urgent? && @order.needs_attention?%>
        <div class="alert alert-danger fade in">
										<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
										<i class="fa fa-times-circle fa-fw fa-lg"></i>
										<strong>URGENT ORDER!!</strong> <%= @order.open_jobs %> people are needed by <strong><%= @order.needed_by.stamp("Sunday, 11/5") %></strong> or SOONER!     <%= link_to "Assign someone now.", new_admin_order_job_path(@order), class: 'alert-link' %>
									<strong></strong></div><% end %>

 
  <%= @order.active ? "" : "Inactive" %>
  </div>
<div class='row even'>
  
  
  <div class='col-md-2 col-md-offset-3'>
    <strong>Drug Test </strong><br>
    <%= @order.dt_req %><br>
  
  </div>
  <div class='col-md-2'>
    <strong>Background Check </strong><br>
    <%= @order.bg_check %><br>
  </div>
  <div class='col-md-2'>
    <strong>Assignment Type</strong><br>
    <%= @order.est_duration %><br>

</div>
<div class='col-md-2'>
  <strong>Pay Range:</strong><br>
  <%= @order.pay_range %>
</div>

</div>  


<div class='row even'>
  <div class='col-md-2 col-md-offset-3'>
  <strong>Shift</strong><br>
 <%= @order.shift %><br>
</div>
  <div class='col-md-3 '>
  <strong><%= @order.heavy_lifting ? "Heavy Lifting Required" : "" %></strong>
  <br><strong><%= @order.stwb ? "STWB Required" : "" %></strong><br>

</div>
<div class='col-md-1'>
  <strong>Mark Up:</strong>
  <%= @order.mark_up_percent %>
</div>



</div>





<div id= "order-notes" class="well" >
      <strong>Notes:</strong>
    <p><%= @order.notes %></p>
  </div>
  
  
  
  
  
  
</div>
  


  

  <div class="btn-group" role="group" aria-label="...">
    <%= link_to 'All Orders', admin_company_orders_path(@company), class: "btn btn-primary" %>
    <% if policy(@order).update? %>
      <%= link_to 'Edit Order', edit_admin_order_path(@order), class: "btn btn-primary" %>
    <% end %>
    <% if policy(Job).create? %>
     <%= link_to 'Add Job', new_admin_order_job_path(@order), class: "btn btn-primary" %>
    <% end %>
  </div>





  </div>
  <div role="tabpanel" class="tab-pane fade" id="active-jobs">
    <div class='col-md-12 center'>
      <% if @jobs.any? %>
    <%= render 'admin/jobs/table' %>
      <% if policy(Job).create? %>
       <%= link_to 'Add Job', new_admin_order_job_path(@order), class: "btn btn-primary" %>
      <% end %>
    <% else %>
    <h3>No jobs to display yet.</h3>
    <% if policy(Job).create? %>
     <%= link_to 'Add Job', new_admin_order_job_path(@order), class: "btn btn-primary" %>
    <% end %>
    <% end %>
    </div>
  </div>
  
  <div role="tabpanel" class="tab-pane fade" id="timesheets">

<% if @order.timesheets.current_week.any? %>
<%= render partial: "admin/timesheets/table", collection: @timesheets.current_week, as: :timesheet %>
<% else %>
<h3>No timesheets for this week yet.</h3>
<% end %>
<hr>
<strong>All timesheets</strong>
<%= render partial: "admin/timesheets/table" %>
</div>

<div role="tabpanel" class="tab-pane fade" id="skills-tab">
<div class='center skill-list'>
<h4>Skills</h4>
  <div class='center text-left' id='skills'>
    <%= render @order.skills %>
  </div>
    <div class='center'>
    <%= render partial: "admin/skills/form", locals: {skillable: @order} %>
  </div>
  
</div>
  </div>
  
  
  
</div>

  </div>
  