<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New placement at <%= @company.name %></h1>
    <p>
      <%= @recruiter.name %> assigned <%= @employee.name %> to <%= @company.name %><br>
    </p>
    <p><strong><%= @recruiter.first_name %>'s notes about this placement:</strong><br>
      <%= @job.description %>
    </p>
    <p>
      To login to the site, just follow this link: NOT WORKING LINK.
       Your approval maybe needed.</p>
  </body>
</html>