<%= div_for(user, class: '') do %>
<div class='pull-left'><%=gravatar_for(user)%></div>
<p class='text-right'><span id='<%=user.id%>-updated-available-at-icon'><%= check_in(user) %></span></p>
<p class='text-right'><span id='<%=user.id%>-follow-user-icon'><%= follow(user) %></span></p>
<hr>
  <address class="">
    <%= user.address %><br>
    <%= user.city %>, <%= user.state %> <%= user.zipcode %><br>
    <i class="fa fa-phone-square"></i>  <%= user.employee.phone_number.present? ? user.employee.phone_number : "Unavailable"  %> 
  </address>
  
  
<% end %>