<%= link_to "<i class='fa fa-user-plus fa-1x fa-fw pull-left'></i> Add Employee".html_safe, new_user_registration_path, class: 'btn btn-primary pull-right' %>
<div class='col-md-12'>
	
	
		<div class=" col-md-8 lightbox">
			<div class="table-responsive">
				<table id='' class="table">
					<thead>
						<tr>
							<th><i class='fa fa-cogs fa-1x fa-fw pull-center'></i></th>
							<th><span>User</span></th>
							<th><span>Email</span></th>
							<th>Check-in</th>
						</tr>
					</thead>
					<tbody>
						<%= content_tag_for(:tr, @users) do |user| %>
						<td>
							<%= link_to "<i class='fa fa-bullseye black'></i>".html_safe, update_as_available_user_path(user), method: :patch, remote: true %>
						</td>
							<td>
								<%= link_to user.name, user, class: "user-link black" %>
							</td>
						
							<td>
								<%= user.email %>
							</td>
							<td>
								<small>
									<span class='text-center' id='<%=user.id%>-updated-available-at'> 
									<%= user.checked_in_at.present? ? "#{time_ago_in_words(user.checked_in_at)} ago" : "Never" %>
									</span>
								</small>
								
							</td>
						<% end %>
					
					
					
					
					</tbody>
				</table>
			</div>
			
		</div>
		<div class='col-md-4'>
			<%= link_to 'DNS List', dns_list_users_path, class: 'btn btn-danger' %>
			<%= form_for @import, url: import_users_path, multipart: true do |f| %>
				
				<% if @import.errors.full_messages.each do |msg| %>
					<div class='alert alert-danger'>
					<div><%= msg %></div>
						<% end %>
					</div>
				<% end %>
		
				<%= f.file_field :file %>
					<%= f.submit "Upload" %>
				<% end %>
		
			<%= link_to(users_path(@users, format: :csv), class: 'btn btn-primary') do %>
		  		<i class="fa fa-file-excel-o fa-lg"></i> Export CSV
		  	<% end %>
		</div>
		

</div>