<%= render 'admin/shared/welcome/candidates' if @current_admin.sign_in_count == 1 || @current_agency.demo? %> 
<div class='col-md-12 metal'>
		<div class="col-md-9 well well-sm">
			<%= link_to "<i class='fa fa-user-plus fa-fw fa-pull-left'></i> Add Employee".html_safe, new_user_registration_path, class: 'btn btn-primary pull-right' %>
			<h1 class='text-info'>Available Candidates</h1>
			<hr>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th></th>
							<th>User</th>
							<th>Job-type</th>
						</tr>
					</thead>
					<tbody>
						<%= content_tag_for(:tr, @users) do |user| %>
						<td></td>
							<td> <%= render 'modal', user: user %></td>
							<td>	<%= user.employee.desired_job_type %>	</td>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class='col-md-3 well'>
				<div class='form'>
			<%= form_for @import, url: import_users_path, multipart: true do |f| %>
				
				<% if @import.errors.full_messages.each do |msg| %>
					<div class='alert alert-danger'>
					<div><%= msg %></div>
						<% end %>
					</div>
				<% end %>
				<div class='border'><p class='text-info small'>last_name	first_name	email	address	city	state	zipcode</p></div>
					<%= f.hidden_field :agency_id, value: @current_agency.id %>
				<%= f.file_field :file %>
					<%= f.submit "Upload" %>
				<% end %>
			</div>
				<%= link_to "<i class='fa fa-file-excel-o fa-fw'></i> Export CSV".html_safe, users_path(@users, format: :csv), class: 'btn btn-primary' %>
				<%= link_to "<i class='fa fa-user-times fa-fw'></i> DNS List".html_safe, dns_list_users_path, class: 'btn btn-danger' %>
				
			</div>
		
		

<div class='col-md-8' style='width: 500px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

</div>






<script type='text/javascript'>
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {
      disableDefaultUI: true,
      zoom: 6
      // pass in other Google Maps API options here
    },
    internal: {
      id: 'map'
    }
  },
  function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }
);

</script>