<div class='col-md-12 lightbox '>
	<%= render 'admin/shared/welcome/candidates' if @current_admin.sign_in_count == 1 || @current_agency.subdomain == "demo" %> 
	<h1 class='page-header'>Available Candidate</h1>
<%= link_to "<i class='fa fa-user-plus fa-1x fa-fw pull-left'></i> Add Employee".html_safe, new_user_registration_path, class: 'btn btn-primary pull-right' %>
	
		<div class="col-md-8 ">
			<div class="table-responsive">
				<table id='' class="table">
					<thead>
						<tr>
							<th><i class='fa fa-cogs fa-1x fa-fw pull-center'></i></th>
							<th><span>User</span></th>
							<th><span>Address</span></th>
							<th>Check-in</th>
						</tr>
					</thead>
					<tbody>
						<%= content_tag_for(:tr, @users) do |user| %>
						<td>
						
								<%= link_to "<i class='fa fa-star'></i>".html_safe, follow_user_path(user), method: :post, class: "button" if !current_admin.is_following?(user) %>
						</td>
							<td>
								<%= link_to user.name, user, class: "button" %>
							</td>
						
							<td>
								<%= user.fulladdress %>
							</td>
							<td id='<%=user.id%>-updated-available-at-icon'>
								<%= check_in(user) %>
							</td>
						<% end %>
					
					
					
					
					</tbody>
				</table>
			</div>
			
		</div>
		<div class='col-md-4 well'>
			
			<%= form_for @import, url: import_users_path, multipart: true do |f| %>
				
				<% if @import.errors.full_messages.each do |msg| %>
					<div class='alert alert-danger'>
					<div><%= msg %></div>
						<% end %>
					</div>
				<% end %>
				<p>last_name	first_name	email	address	city	state	zipcode</p>
					<%= f.hidden_field :agency_id, value: @current_agency.id %>
				<%= f.file_field :file %>
					<%= f.submit "Upload" %>
				<% end %>
			</div>
		<div class='col-md-4'>
			<%= link_to(users_path(@users, format: :csv), class: 'btn btn-primary') do %>
		  		<i class="fa fa-file-excel-o fa-lg"></i> Export CSV
		  	<% end %>
		  	<%= link_to 'DNS List', dns_list_users_path, class: 'btn btn-danger' %>
		</div>
		

<div class='col-md-8' style='width: 500px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

</div>
<script type='text/javascript'>
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {
      disableDefaultUI: true,
      zoom: 6
      // pass in other Google Maps API options here
    },
    internal: {
      id: 'map'
    }
  },
  function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }
);

</script>