<div class='col-md-12 lightbox'>
  <div class="page-header">
      <h1><%= @user.name %></h1>
      <div id='<%=@user.id%>-updated-available-at-icon' class=''><%=check_in(@user)%></div>
      </div>


<!--NAV TABS-->
<div id='' class='col-md-12'>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
   <li role="presentation"><a href="#positions" aria-controls="positions" role="tab" data-toggle="tab">Suggested Positions</a></li>
    <li role="presentation"><a href="#work_history" aria-controls="work_history" role="tab" data-toggle="tab">Work History</a></li>
    <li role="presentation"><a href="#applications-tab" aria-controls="applications" role="tab" data-toggle="tab">Applications</a></li>
    <% if @employee.assigned? %>
    <li role="presentation"><a href="#current-job" aria-controls="current-job" role="tab" data-toggle="tab">Current Job</a></li>
    <li role="presentation"><a href="#timesheets" aria-controls="timesheets" role="tab" data-toggle="tab">Timesheets</a></li>
    <li role="presentation"><a href="#shifts" aria-controls="shifts" role="tab" data-toggle="tab">Shifts</a></li>
    <% end %>
    <% if admin_signed_in? %>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
    <% end %>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home">
        <div class='col-md-12 bg-white'>
            <%= render @user %>
            <div class='col-md-4'>
                <div class='list-group'>
                    <% @current_agency.orders.needs_attention.near(@user.fulladdress).limit(3).try(:each) do |order| %>
                        <li><%= link_to order.title, admin_order_path(order) %> (<%= order.distance.round(2) %> miles) <%= order.address %></li>
                    <% end %>
                </div>
                <h2>Tags</h2>
                <%= highlight(@employee.tag_list.to_s, ActsAsTaggableOn::Tag.all.map(&:name), highlighter: '<a href="/tags?tag=\1">\1</a>') %>
            </div>
            <% if @employee.work_histories.any?  %>
            <div class='col-md-12 '>
                <h2><%= @employee.first_name %>'s Employment Timeline</h2>
                <%= timeline  @employee.work_history_data, width: "100%", height: "300px" %>
            </div>
            <% end %>
            <%= link_to "Edit", edit_admin_employee_path(@employee) %>
        </div>
   
        <% if @employee.assigned? %>
        <%= render 'employee/jobs/job', job: @job if user_signed_in? %>
        <%= render 'admin/jobs/job', job: @job if admin_signed_in? %>
        <% else %>
        <%= @employee.first_name %> is currently unassigned. 
        <% end %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="postitions">
      <%= render 'admin/orders/table', orders: @employee.matching_orders %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="profile">
     <div class="col-md-4 bg-white">
         
         <%= image_tag "http://maps.google.com/maps/api/staticmap?size=250x300&sensor=false&zoom=16&markers=#{@user.latitude}%2C#{@user.longitude}",
                    class: "img-zoom" %>
     </div>
   
   
    <div class="col-md-6 bg-white">
    	<h2 class="text-center">Suggested Positions </h2>
      
        <div class='list-group'>
            
          <% @employee.matching_orders.each do |order| %>
              <% if user_signed_in? %>
                 <%= render 'employee/orders/order', order: order %>
                 <% elsif admin_signed_in? %>
                 <%= render 'admin/orders/order', order: order %>
             <% end %>
          <% end %>
        </div>
    </div>
    <div class='col-md-6'>
        <% if @skills.any? %>
     
           <h4 class='text-center'>Skills</h4>

            <div id='skills' class='center'>
              <% @skills.each do |skill| %>
                  <%= render 'admin/skills/skill', skill: skill %>
              <% end %>
             
             </div>
              
          <% else %>
           <h4 id='no-skills' class="center"><%= @employee.first_name %> has no skills entered.</h4>
              <div id='skills' class='center'>
                  
              </div>
          <% end %>
          <div class='form-inline'>
               <%= render partial: "admin/skills/form", locals: {skillable: @employee} %>
             </div>

      </div>
    
    
  
    

  </div>
  
  <div role="tabpanel" class="tab-pane fade" id="timesheets">
    <% if user_signed_in? %>
     <%= render 'employee/timesheets/table', timesheets: @employee.timesheets %>
     <% elsif admin_signed_in? %>
     <%= render 'admin/timesheets/table', timesheets: @employee.timesheets %>
     <% end %>

      
     
                
        

            
  </div>
  
  <div role="tabpanel" class="tab-pane fade" id="current-job">
    
  <% if @jobs %>
    <%= @jobs.map(&:title).join(', ') %>
    <% else %>
    <h3><%= @employee.first_name %> is currently unassigned.</h3>
  <% end %>
     
                
        

            
  </div>
  <div role="tabpanel" class="tab-pane fade" id="shifts">
    
  <% if @employee.assigned? %>

    <% else %>
    <h3> <%= @employee.first_name %> is currently unassigned.</h3>
  <% end %>
     
                
        

            
  </div>
  <div role="tabpanel" class="tab-pane fade" id="work_history">
    <div class=''>
    <% if @employee.work_histories.any? %>
        <div class=' table-responsive'>
       
       <%= render 'admin/work_histories/table' %>
       </div>
       <% if admin_signed_in? %>
         <%=link_to "Add Work History", new_admin_employee_work_history_path(@employee), class: 'btn btn-primary' %>
       <% elsif user_signed_in? %>
         <%= link_to "Add Work History", new_work_history_path, class: 'btn btn-primary' %>
       <% end %>
        
        
    <% else %>
      <p>No Work History Available.</p>
       <% if admin_signed_in? %>
         <%=link_to "Add Work History", new_admin_employee_work_history_path(@employee), class: 'btn btn-primary' %>
       <% elsif user_signed_in? %>
         <%= link_to "Add Work History", new_work_history_path, class: 'btn btn-primary' %>
       <% end %>
    <% end %>
     </div>
       
  </div>
  <div role="tabpanel" class="tab-pane fade" id="applications-tab">
      <% if @user.events.any? %>
   <h3> Your Applications</h3>
      <div class='list-group'>
						<% @user.events.applications.each do |event| %>
						  <% if lookup_context.template_exists?(event.action, "events/activities", true) %>
						    <%= render partial: "events/activities/employee_applied", locals: {event: event} %>
						  <% end %>
						<% end %>
					</div>
			<% else %>
			<h3>No applications to show.</h3>
			<% end %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="settings">
      <span id='<%=@user.id%>-updated-available-at'>Updated as available: <%= @user.checked_in_at? ? "#{time_ago_in_words(@user.checked_in_at)} ago" : "" %></span>
      <div class='btn-group'>
        <% if admin_signed_in? %>        
                <%= link_to "Employee Profile", admin_employee_path(@employee), class: 'btn btn-primary' %>
            <% elsif user_signed_in? %>
                <%= link_to "Dashboard", employee_home_path(@employee), class: 'btn btn-primary' %>
        <% end %>
        <%= link_to "Edit User", edit_user_path(@user), class: "btn btn-primary" %>
     </div>
    <% if @user.can_edit? %> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> <% end %> </span> 
       <h4>User Updated:<span id="updated-at"> <%= time_ago_in_words(@user.updated_at) %> ago</span></h4>
    <%= link_to "Allow to Edit", grant_editing_user_path(@user), class: "btn btn-primary", method: :patch, remote: true %> 
    <%= link_to "Edit", edit_user_registration_path(current_user), class: 'btn btn-default' %>  
   
    
  </div>
</div>
</div>
  
  
  
</div>