<%= div_for invoice, class: "#{invoice.paid? ? "paid" : "unpaid"}" do %>

      
       <small>Total: </small> <%= number_to_currency(invoice.balance) %><br>
     <% if invoice.paid? %>
      <strong>Amount paid</strong>  <%= number_to_currency(invoice.amt_paid) %><br>
       <strong>Paid on: </strong> <%= invoice.paid_on %><br>
       <% else %>
       <strong>Due by: </strong> <%= invoice.due_by.stamp('11/13') %><br>
       <div class="inv">
        <%= timesheets_for(invoice) %>
       </div>
       <% end %>
       

<% end %>