<div class='col-md-3 lightbox'>
  <% @invoices.each do |invoice| %>
    <%= inv_timesheets_collaspe(invoice) %><br>
    <div class='black collapse' id="collapseInv_<%=invoice.id%>">
       <%= render 'admin/invoices/invoice', invoice: invoice %>
    </div>
  <% end %>
</div>
<div class='col-md-9'>
  <div class='table-responsive lightbox'>
<h1 class='black'> Invoices for <strong><%= @company.name %></strong></h1>
<table class='table table-hover'>
  <thead>
    <tr>
      <th>Week</th>
      <th>Due by</th>
      <th>Paid</th>
      <th>Total</th>
      <th>Amt paid</th>
      <th>Paid on</th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.order(week: :desc).each do |invoice| %>
     <tr>
    <%= link_to(admin_invoice_path(invoice)) do  %>
     
        <td><%=inv_sym(invoice)%> <%= invoice.week %></td>
        <td><%= invoice.due_by.stamp('11/13') %></td>
        <td><%= invoice.state %></td>
        <td><%= number_to_currency(invoice.total) %></td>
        <td><%= number_to_currency(invoice.amt_paid) %></td>
        <td><%= invoice.paid_on %></td>
    
      <% end %>
        </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to 'Back', admin_company_invoices_path(@company), class: "btn btn-primary" %>
<%= link_to 'New Invoice', new_admin_company_invoice_path(@company), class: "btn btn-primary" %>
</div>
