<div class='col-md-12 dark'>
  <div class='table-responsive'>

<h1>Listing Invoices</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Company</th>
   
      <th>Week</th>
      <th>Due by</th>
      <th>Paid</th>
      <th>Total</th>
      <th>Amt paid</th>
      <th>Paid on</th>
      <th>Balance</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.order(:created_at).each do |invoice| %>
      <tr>
        <td><%= invoice.company.name %></td>
      
        <td><%= invoice.week %></td>
        <td><%= invoice.due_by.stamp('11/13') %></td>
        <td><%= invoice.state %></td>
        <td><%= number_to_currency(invoice.total) %></td>
        <td><%= number_to_currency(invoice.amt_paid) %></td>
        <td><%= invoice.paid_on %></td>
        <td><%= timesheets_for(invoice) %></td>
        <td><%= link_to 'Show', admin_company_invoice_path(@company, invoice) %></td>
        <td><%= link_to 'Edit', edit_admin_company_invoice_path(@company, invoice) %></td>
        <td><%= link_to 'Destroy', admin_company_invoice_path(@company, invoice), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to 'Back', admin_company_invoices_path(@company), class: "btn btn-primary" %>
<%= link_to 'New Invoice', new_admin_company_invoice_path(@company), class: "btn btn-primary" %>
</div>