<div class='col-md-12 mainpage shadow'>
  <% if @company.present? %> 
  <h1 class='bold'> Invoices for <strong><%= link_to @company.name, admin_company_path(@company) %> </strong></h1>
   <% else %>
   <h1 class='bold'><%=@current_agency.name %>'s Invoices</h1>
   <hr>
  <div class="form-inline">
    <%= search_form_for [:admin, @q] do |f| %>
      <%= f.search_field :company_name, class: "form-control", placeholder: "Search by company" %>
      <%= f.button class: "btn btn-default inline" do %>
          <i class="fa fa-search"></i>
        <% end %>
    <% end %>
    </div>
    <% end %>
  
  <div class='col-md-12 well well-sm shadow'>
    <div class='table-responsive'>
      <table class='table table-hover'>
        <thead>
          <tr>
            <th><%= @q.present? ? sort_link(@q, :week, 'Week') : "Week" %></th>
            <th><%= @q.present? ? sort_link(@q, :company_name, 'Company') : "Company" %></th>
            <th><%= @q.present? ? sort_link(@q, :total, 'Total') : "Total" %></th>
          </tr>
        </thead>
        <tbody>
          <% @invoices.each do |invoice| %>
            <tr id="inv-row-<%=invoice.id%>" class="<%= invoice.paid ? "bg-info" : "bg-danger" %>">
              <td>
                 <%= link_to mark_as_paid_admin_invoice_path(invoice), method: :patch, remote: true, id: "pay-button-#{invoice.id}", class: "button" do %>
                <%= inv_sym(invoice) %> 
              <% end %>
               <span id="inv-sym-<%=invoice.id%>"></span>
              <%= invoice.week_ending.stamp('11/13') %> <br>
              <span id='status-<%=invoice.id%>'></span>
              <span class="small" id='paid-on-<%=invoice.id%>'>       <%= invoice.paid_on %>
     </span></td>
              <td><%= link_to invoice.company.name, admin_invoice_path(invoice) %></td>
              <td><strong><%= number_to_currency(invoice.total) %></strong><br> <span class="small" id='amt-paid-<%=invoice.id%>'><%= number_to_currency(invoice.amt_paid) %></span></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @invoices %>
    </div>
  </div>
</div>

  <div class='col-md-3 well well-sm shadow scroll500'>
    <h2 class="text-center">Unpaid</strong></h2>
    <div class=''>
    <% if @company.present? %>
    <% @invoices.unpaid.each do |invoice| %>
      <%= inv_timesheets_collaspe(invoice) %><br>
      <div class='collapse' id="collapseInv_<%=invoice.id%>">
         <%= render 'admin/invoices/invoice', invoice: invoice %>
      </div>
    <% end %>
    <% else %>
      <% @current_agency.companies.includes(:invoices).order(:name).each do |company| %>
       <h3> <%= link_to company.name, admin_company_path(company) %>
       <small>%= company.account_manager.try(:name) || "Unassigned" %></small></h3>
          <% company.invoices.unpaid.order(week: :desc).each do |invoice| %>
          <%= inv_timesheets_collaspe(invoice) %><br>
          <div class='collapse' id="collapseInv_<%=invoice.id%>">
             <%= render 'admin/invoices/invoice', invoice: invoice %>
          </div>
          <% end %>
      <% end %>
    <% end %>
    </div>
  </div>