$("#balance").html("<%= number_to_currency(@invoice.balance) %>");
$("#mark-paid-<%=@invoice.id%>").html("<%=j inv_sym(@invoice) %>");
$('#status').html("Paid");
$('#date-paid').html("<strong>Status:</strong> Paid ");
$('#pay-button').hide();
$('#paid-on').html("<%= @invoice.paid_on %>");
$('#amt-paid').html("<%= number_to_currency(@invoice.amt_paid)  %>");
$('#inv-sym').html("<span class='green'><i class='fa fa-check' data-toggle='tooltip' data-placement='top' title='<%=@invoice.state%> on <%=@invoice.paid_on%>'></i></span>");