 
<div class='col-md-12 mainpage shadow'>
  <div class='btn-group'>
  <% if @invoice.unpaid? %>
  <%= link_to 'Mark As Paid', mark_as_paid_admin_invoice_path(@invoice), method: :patch, id: "pay-button-#{@invoice.id}", class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'Download PDF', admin_company_invoice_path(@company, @invoice, format: :pdf), class: 'btn btn-primary' %>
    <%= link_to 'Edit', edit_admin_company_invoice_path(@company, @invoice), class: 'btn btn-primary' %>
  <%= link_to 'Back', admin_company_invoices_path(@company), class: 'btn btn-primary' %>
  <%= link_to "All Company Invoices", admin_company_invoices_path(@invoice.company), class: 'btn btn-primary' %>
</div>
  <p class='text-right text-muted'><i>Invoice for staffing services provided by <%= @invoice.agency.name%></i></p>

  <h4 id='example'>
    
    <strong>Invoice Number:</strong> #<%= @invoice.company.id %>-<%= @invoice.id %></h4>
  <h3 class=''>
      <%= link_to @invoice.company.name, admin_company_path(@invoice.company) %>
    </h3>
  <div class='col-md-6 well'>
   
   
    <h2  class='text-center'> 
   <span id='inv-sym-<%=@invoice.id%>'>
     <%= inv_sym(@invoice) %> 
   </span>
     <span id='paid-on-<%=@invoice.id%>'>
       <%= @invoice.paid_on %>
     </span>
    </h2>

  <h2>
     <span id='status-<%=@invoice.id%>'>
       <%= @invoice.paid? ? "Paid" : "Due by: #{@invoice.due_by.stamp('12/18/2015')}" %>
     </span>
    </h2>
<hr>
<h3><span class='pull-center'>
    <strong>Balance:</strong> <span id='balance-<%=@invoice.id%>'><%= number_to_currency(@invoice.balance) %> </span>
  </span></h3>
<p class='lead text-left'>
  <span class=''>
    <strong>Total:</strong>
    <%= number_to_currency(@invoice.total) %>
  </span>
   
  
  <p class='lead'>
    <strong>Amount paid:</strong>
    <span id='amt-paid-<%=@invoice.id%>'>
      <%= number_to_currency(@invoice.amt_paid) %>
    </span>
    
  </p>
</p>

  </div>
  <div class='list-group col-md-6'>
    <h3 class='text-center'>
      Timesheets
    </h3>
  <% @invoice.timesheets.each do |timesheet| %>
  <%= link_to admin_timesheet_path(timesheet) do %>
  
     <li class='list-group-item'><%= timesheet.week_ending %> - <%= timesheet.employee_bill %> - <small><%= timesheet.state %></small></li>
    <% end %>
<% end %>
<hr>
<% @invoice.orders.distinct.each do |order| %>
  <%= link_to admin_order_path(order) do %>
  
     <li class='list-group-item'><%= order.title %> - <%= order.account_manager.name %> - <small><%= status_tag(order) %></small></li>
    <% end %>
<% end %>
</div>
  <div class='col-md-4'>
    
<p>
  <strong>Week:</strong>
  <%= @invoice.week %>
  <br>
<strong>Due by:</strong>
  <%= @invoice.due_by.stamp('12/18/2015') %>
  
</p>



  
  </div>



</div>
