<% if skill.job_order? %>
	<%= link_to(admin_order_path(skill.skillable), class: 'list-group-item list-group-item-success') do %>
		<span class='pull-right'><%= skill.name %></span>
 		   	<%= skill.skillable.try(:title_company) %>
	<% end %>
<% elsif skill.employee? %>
	<%= link_to(admin_employee_path(skill.skillable), class: 'list-group-item list-group-item-danger') do %>
		<span class='pull-right'><%= skill.name %></span>
 		   	<%= skill.skillable.try(:name) %>
	<% end %>



<% end %>