<div class='col-md-12 dark'>

   <%= render 'skills/search' %>
  <div class='col-md-4'>
  <h4>Job Order Skills</h4>
  <%= div_for(@order_skills) do |skill| %>
    <strong><%= skill.name %></strong> - <%= skill.skillable.title_count %>

  <% end %>
  </div>
  
  <div class='col-md-4'>
  <h4>Employee Skills</h4>
  <%= div_for(@employee_skills) do |skill| %>
    <strong><%= skill.name %></strong> - <%= skill.skillable.name %>

  <% end %>
  </div>
  
</div>


  