<div class='col-md-12 mainpage shadow'>
<%= link_to(update_all_skills_path, method: :post, class: "table-link") do %>
	<span class="fa-stack">
		<i class="fa fa-square fa-stack-2x"></i>
		<i class="fa fa-bookmark-o fa-stack-1x fa-inverse"></i>
	</span>
	 Refresh All
<% end %>


<%= link_to 'New Skill', new_skill_path %>
  <%= form_for @import, url: import_skills_path, multipart: true do |f| %>
  <%= f.file_field :file %>
  <%= f.submit "Upload" %>
<% end %>

   <%= render 'skills/search' %>
  <div class='col-md-4 well'>
  <h4>Job Order Skills</h4>
  <%= div_for(@order_skills) do |skill| %>
  <%= link_to admin_order_path(skill.skillable) do %>
    <strong><%= skill.name %></strong> - <%= skill.skillable.title_company %>
    <% end %>

  <% end %>
  </div>
  
  <div class='col-md-4 well'>
  <h4>Candidate Skills</h4>
  <%= div_for(@employee_skills) do |skill| %>
    <strong><%= skill.name %></strong> - <%= skill.skillable.name %>

  <% end %>
  </div>
</div>
