<div class='col-md-12'>
  <div class='row'>
    <p id="notice"><%= notice %></p>

    <h1>Needed Skills</h1>
    <div class='col-lg-12'>
      
        <table id='skills-datatable' class='table table-bordered'>
        <thead>
          <tr>
            <th></th>
            <th>Company</th>
            <th>Order</th>
            <th>Skill</th>
            <th>Status</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
      
        <tbody>
          <% @order_skills.each do |skill| %>
            <tr>
              <td><%= skill.required ? "<i class='fa fa-exclamation-triangle'></i>".html_safe : "" %></td>
              
              <td><%= skill.skillable.try(:company) %></td>
              <td><%= link_to skill.skillable.title, admin_order_path(skill.skillable) %></td>
              <td><strong><%= skill.name %></strong></td>
              
              <td><%= skill.skillable.needs_attention? ? "OPEN" : "" %></td>
              
              <td><%= link_to "<i class='fa fa-pencil'></i'".html_safe, edit_skill_path(skill) %></td>
              <td><%= link_to "<i class='fa fa-trash-o red'></i>".html_safe, skill, class: "", method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      
      <div class='col-lg-12'>
          <%= render 'emp_skills' %>
      </div>
    
  </div>
</div>

<div class='col-md-6 text-left center'>
  <h4>Skills</h4>
  <div id='skills'>
    <%= render @skills %>
  </div>
  