<div class="col-md-2" id="nav-col">
				<section id="col-left">
					<div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">	
						<ul class="nav nav-pills nav-stacked">

									<li><%= link_to dashboard_path do %>
										<i class="fa fa-dashboard"></i>
											<span>Dashboard</span>
										<% end %>
									</li>
									<li><%= link_to employees_path do %>
										<i class="fa fa-users"></i>
											<span>Employees</span>
										<% end %>
									</li>

									
									<li><%= link_to timesheets_path do %>
										<i class="fa fa-file-text-o"></i>
											<span>Timesheets</span>
										<% end %>
									</li>
									<li><%= link_to jobs_path do %>
										<i class="fa fa-briefcase"></i>
											<span>Jobs</span>
										<% end %>
									</li>
									<li><%= link_to users_path do %>
										<i class="fa fa-users"></i>
											<span>Company Users</span>
										<% end %>
									</li>
						</ul>
					</div>
				</section>
			</div>