<li class="dropdown hidden-xs">
	<a class="btn dropdown-toggle" data-toggle="dropdown">
		<i class="fa fa-warning"></i>
		<span class="count"><%= current_admin.company.jobs.on_shift.count %></span>
	</a>
	<ul class="dropdown-menu notifications-list">
		<li class="pointer">
			<div class="pointer-inner">
				<div class="arrow"></div>
				<div class="arrow-border"></div>
			</div>
		</li>
		<li class="item-header">You have <%= current_admin.company.jobs.on_shift.count %> employees clocked in.</li>
		
			<%= content_tag_for(:li, current_admin.company.jobs.on_shift.order(updated_at: :desc), class: 'item') do |job| %>
				
				<span class="content">

		
						<%= render job.current_shift %>
						

					
				
					
					
					
							
						</span>
						
					
                                
				</span>
				
				

		</li>
		<% end %>
		
		<li class="item-footer">
			<%= link_to "View all timesheets", timesheets_path %>
		</li>
	</ul>
</li>