
 <% @company.orders.includes(:manager, :timesheets).each do |order| %>
      
           
             
           
               
                <% if order.timesheets.this_week.any? %>
                                   <!--<h3 class"sub-header"> <%= order.title %> </h3>-->
                   
<h3 class=""> <strong><%= order.title %></strong> <small>Payroll cost: <%= number_to_currency(order.timesheets.this_week.sum(:gross_pay)) %></small>

<div class="table-responsive">
  
  <table id="timesheets" class="table" cellspacing="0.5" width="85%">
  <thead>
    <tr>
      <th>Week Ending</th>
      <th>Employee</th>
      <th>Title</th>
      <th>Regular</th>
      <th>Overtime</th>
      <th>Gross pay</th>
      <th>Last Clock In</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% order.timesheets.this_week.each do |timesheet| %>
      <% if timesheet.clocked_in? %>
        <tr class="clocked_in">
      <% else %>
        <tr class="clocked_out">
      <% end %>
        <td><%= timesheet.week_ending  %></td>
        <td><%= link_to timesheet.employee.name, timesheet.employee %></td>
        <td><%= link_to timesheet.job.title, timesheet.job %></td>
        <td><%= timesheet.reg_hours %></td>
        <td><%= timesheet.ot_hours %></td>
        <td><%= number_to_currency(timesheet.gross_pay) %></td>
        <td><%= timesheet.shifts.last.time_in.strftime("%A   %x   - %I:%M %p")  %></td>
        <td><%= link_to "<span class='glyphicon glyphicon-info-sign' aria-hidden='true'></span>     View".html_safe, timesheet, class: "btn btn-default btn-sm" if policy(timesheet).show? %></td>
        <td><%= link_to "<span class='glyphicon glyphicon-pencil' aria-hidden='true'></span>".html_safe, edit_timesheet_path(timesheet)  if policy(timesheet).edit? %></td>
        <td><%= link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span>".html_safe, timesheet, method: :delete, data: { confirm: 'Are you sure?' }  if policy(timesheet).destroy? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<% end %>
<% end %>
