<a href="#menu-toggle" class="toggle-sidebar sidebar-button" id="menu-toggle"><i id="sidebar-icon" class='fa fa-arrow-circle-o-left fa-2x'></i> </a>
<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li><%= link_to employee_home_path do %>
            <i class="fa fa-dashboard"></i> 
            <span>Dashboard</span>
            <% end %>
        </li>
        <li><%= link_to employee_profile_path do %>
			<i class="fa fa-user"></i>
				<span>Profile</span>
			<% end %>
		</li>
		<% if current_user.employee.assigned? %>
		<li><%= link_to employee_job_path(current_user.current_job) do %>
			<i class="fa fa-users"></i>
				<span>Current Job</span>
			<% end %>
		</li>
		<li><%= link_to employee_timesheets_path do %>
			<i class="fa fa-clock-o"></i>
				<span>Timesheets</span>
			<% end %>
		</li>
        <li><%= link_to employee_shifts_path do %>
            <i class="fa fa-calendar"></i>
            <span>Shift Calendar</span>
            <% end %>
        </li>
		<% else %>
		<li><%= link_to employee_job_board_path do %>
			<i class="fa fa-briefcase"></i>
				<span>Job Postings</span>
			<% end %>
		</li>
		<% end %>

	    <li><%= link_to "<i class='fa fa-power-off'></i> Sign Out".html_safe, destroy_user_session_path, method: :delete  %></li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->