<header class="navbar mynavbar" id="header-navbar">
		<div class="container">
			
			<%= link_to root_url, id: "logo" do %>
			       <%= image_tag("incluStaff_logo.png", alt: "Inclustaff") %>
			 <% end %>
    		
		  
              

			
			<button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
				<span class="sr-only">Toggle navigation</span>
				<span class="fa fa-bars"></span>
			</button>
			

			<div class="nav-no-collapse pull-right" id="header-nav">
				<ul class="nav navbar-nav pull-right">

					
					<% if current_user.nil? && current_admin.nil? %>
					
					<li><%= link_to "Sign In", sign_in_path %></li>

			        <!--NOT SIGNED IN-->
			        
			        <% end %>
			        
			        <% if user_signed_in? %>
			        
			        <li><%= link_to current_user.name, current_user %></li>
			        <% if current_user.employee.assigned? %>
			        	<li><%= link_to "Timeclock", current_user.employee.current_job %></li>
			        	<li><%= link_to "Timesheets", timesheets_path %></li>
			        	<li><%= link_to "Profile", current_user %></li>
			        	<li><%= link_to "Home", home_path %></li>
			        <% else %>
			        	<li><%= link_to "Home", home_path %></li>
			        <% end %>
			        <li><%= link_to "<i class='fa fa-power-off'></i>    Logout".html_safe, destroy_user_session_path, method: :delete %></li>
			        
			        
			        <% end %>
			        <% if admin_signed_in? %>
			        
			

					<li class="hidden-xs"><%= link_to "<i class='fa fa-cog'></i>".html_safe, edit_admin_registration_path, class: "btn" %></li>
					
					<li class="hidden-xxs">
						<%= link_to "<i class='fa fa-power-off'></i>".html_safe, destroy_admin_session_path, class: "btn", method: :delete %>
					</li>
				</ul>
				
			</div>
	<% end %>
		</div>
	</header>