<header class="navbar" id="header-navbar">
	<div class="container">
		<div class="navbar-header">
			 <% if @current_agency.present? %>
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	     
		<%= link_to root_url, id: "logo", class: "navbar-brand" do %>
			<%= @current_agency.name.titleize %>
			
			<% end %>
		<% else %>
			<%= link_to root_url, id: "logo", class: "" do %>
			       <%= image_tag("incluStaff_logo.png", alt: "Inclustaff") %>
			 <% end %>
		<% end %>
	
	
	    </div>
		

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	       <ul class="nav navbar-nav navbar-right">
	       
				
	        	
			<% if @current_agency.nil? %>
			
				
			<% else %>
				<li><%= link_to sign_in_path do %>
						Sign In
					<% end %>
				</li>
			<% end %>
	      </ul>
		
      
    </div>
		
	
	</div>
</header>