<% if @current_timesheet %>
<div class="table-responsive" data-behavior="timesheet-list">
  <table id="timesheets" class="table" cellspacing="0.5" width="85%">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Title</th>
      <th>Reg/OT Hrs</th>
      <th>Gross pay</th>
      <th>Approved by</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @timesheets.this_week.each do |timesheet| %>
      <% if timesheet.clocked_in? %>
        <tr class="clocked_in" data-behavior="timesheet" data-id="<%= timesheet.id %>">
      <% else %>
        <tr class="clocked_out" data-behavior="timesheet" data-id="<%= timesheet.id %>">
      <% end %>
        <td><%= link_to timesheet.employee.name, timesheet.employee %></td>
        <td><%= link_to timesheet.job.title, timesheet.job %></td>
        <td><%= timesheet.reg_hours %>  |  <%= timesheet.ot_hours %></td>
        <td><%= number_to_currency(timesheet.gross_pay) %></td>
        <td data-behavior="approve-user"><p><%= timesheet.user_approved %></p></td>
        <td class="text-center" data-behavior="timesheet-state">
          <%if timesheet.approved? %>
          <span class="label label-success">
           <% else %>
           <span class="label label-primary">
            <% end %>
              <%= timesheet.state.titleize %>
           </span>
           
        </td>
        
        <td>
          <%if timesheet.approved? %>
          
          <%= button_tag(type: "button", class: 'btn btn-primary btn-sm', data: { behavior: "timesheet-toggle" }) do %>
            <span data-behavior="approve-button"> 
              <% if timesheet.approved? %>
                <i class='fa fa-times'></i>     Unapprove
              <% else %>
                <i class='fa fa-check-circle'></i>     Approve
              <% end %>
            </span>
          <% end %>

           <% else %>
            
          <%= button_tag(type: "button", class: 'btn btn-success btn-sm', data: { behavior: "timesheet-toggle" }) do %>
            <span data-behavior="approve-button"> 
              <% if timesheet.approved? %>
                <i class='fa fa-times'></i>     Unapprove
              <% else %>
                <i class='fa fa-check-circle'></i>     Approve
              <% end %>
            </span>
          <% end %>

        <% end %>

        </td>
        <td><%= link_to "<i class='fa fa-folder-open'></i>     View".html_safe, timesheet, class: "btn btn-primary btn-sm" %></td>
        <td><%= link_to "<span class='glyphicon glyphicon-pencil' aria-hidden='true'></span>".html_safe, edit_timesheet_path(timesheet) %></td>
        <td><%= link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span>".html_safe, timesheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% else %>
No current timesheet.
<% end %>