<nav class="navbar navbar-default navbar-fixed-top ">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <%= link_to root_path, id: "nav-logo", class: "navbar-brand" do %>
			       <%= @company.try(:name) || @current_agency.try(:name) %> Timeclock <%= fa_icon "bell" %>
			 <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= render 'company/shared/clocked_in' if  @current_company.jobs.on_shift.any?  %>
			<%= render 'company/shared/on_break' if @current_company.jobs.on_break.any?  %>
      
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>