<div class="col-md-8">
	<div class="main-box clearfix">
		
		<div class="tabs-wrapper">
			<div class="clearfix">
				<h2 class="pull-left">At A Glance</h2>
				<ul class="nav nav-tabs pull-right">
					<li class="active"><a href="#tab-users" data-toggle="tab">Clocked In</a></li>
					<li><a href="#tab-products" data-toggle="tab">Clocked Out</a></li>
					<li><a href="#tab-todo" data-toggle="tab">Timesheets</a></li>
				</ul>
			</div>
			
			<div class="tab-content">
				<div class="tab-pane fade in active" id="tab-users">
					<span ><%= link_to "New Shift     <i class='fa fa-sign-in'></i>".html_safe, new_shift_path, class: "badge badge-success" %></span>
				
						
						<%= render @company.shifts.clocked_in.order(time_in: :desc) %>

			

					<br>
					<%= link_to "View all users", users_path, class: "badge badge-success pull-right" %>
				</div>
				
				<div class="tab-pane fade" id="tab-products">
					
						<%= render @shifts %>
					
				</div>
				
				<div class="tab-pane fade" id="tab-todo">
					
						<%= render 'timesheets/table' %>
				
				</div>
				
			</div>
		</div>
	</div>
					