<div class="col-md-2" id="nav-col">
	<section id="col-left">
		
		<div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
			
			<ul class="nav nav-pills nav-stacked">
						<li><%= link_to admin_companies_path do %>
							<i class="fa fa-building-o"></i>
								<span>All Companies</span>
							<% end %>
						</li>
						<li><%= link_to admin_orders_path do %>
							<i class="fa fa-university"></i>
							
								<span>Orders</span>
							<% end %>
						</li>
						<li><%= link_to admin_invoices_path do %>
							<i class="fa fa-money"></i>
							
								<span>Invoices</span>
							<% end %>
						</li>

						<li><%= link_to admins_path do %>
							<i class="fa fa-users"></i>
								<span>Agency Users</span>
							<% end %>
						</li>
						<li><%= link_to admin_employees_path do %>
							<i class="fa fa-users"></i>
								<span>Employees</span>
							<% end %>
						</li>
						<li><%= link_to admin_timesheets_path do %>
							<i class="fa fa-file-text-o"></i>
								<span>Timesheets</span>
							<% end %>
						</li>
						<li><%= link_to admin_jobs_path do %>
							<i class="fa fa-briefcase"></i>
								<span>Jobs</span>
							<% end %>
						</li>
						<li><%= link_to users_path do %>
							<i class="fa fa-users"></i>
								<span>Users List</span>
							<% end %>
						</li>
						
					
	
			</ul>
		</div>
	</section>
</div>