<li><%= link_to "<i class='fa fa-dashboard'></i> #{@current_admin.role} Dashboard".html_safe, root_path, class: "navbar-link" %></li>
<li><%= link_to "<i class='fa fa-globe'></i> Sales".html_safe, admin_account_manager_path, class: "navbar-link" if @current_admin.owner? %></li>
<li><%= link_to "<i class='fa fa-street-view'></i> Recruiting".html_safe, admin_recruiter_path, class: "navbar-link" if @current_admin.owner? %></li>
<li><%= link_to "<i class='fa fa-usd'></i> Payroll".html_safe, admin_payroll_path, class: "navbar-link" if @current_admin.owner? %></li>
<li><%= link_to "<i class='fa fa-building-o'></i> Companies".html_safe, admin_companies_path, class: "navbar-link" %></li>
<li><%= link_to "<i class='fa fa-briefcase'></i> Job Orders".html_safe, admin_orders_path, class: "navbar-link" %></li>
<li><%= link_to "<i class='fa fa-money'></i> Invoices".html_safe, admin_invoices_path, class: "navbar-link" %></li>
<li><%= link_to "<i class='fa fa-pause-circle'></i> Timesheets".html_safe, admin_timesheets_path, class: "navbar-link" %></li>
<li role="separator" class="divider"></li>
<li class=''><%= link_to "<i class='fa fa-wrench'></i> &nbsp; Working Employees".html_safe, admin_jobs_path, class: "navbar-link" if policy(Job).index? %></li>
<li class=''><%= link_to "<i class='fa fa-users'></i> &nbsp; Candidate List".html_safe, users_path, class: "navbar-link" if policy(User).index? %></li>
<li><%= link_to "<i class='fa fa-pause-circle-o'></i> Pending Jobs".html_safe, inactive_admin_jobs_path, class: "navbar-link" if policy(Order).index? %></li>

