<li><%= link_to "<i class='fa fa-dashboard'></i> Dashboard".html_safe, admin_owner_path %></li>
<li><%= link_to "<i class='fa fa-usd'></i> Payroll".html_safe, admin_payroll_path %></li>
<li><%= link_to "<i class='fa fa-globe'></i> Sales".html_safe, admin_account_manager_path %></li>
<li><%= link_to "<i class='fa fa-child'></i> Recruiting".html_safe, admin_recruiter_path %></li>
<li role="separator" class="divider"></li>
<li><%= link_to "<i class='fa fa-home'></i> Agency Page".html_safe, @current_agency %></li>
<li><%= link_to "<i class='fa fa-file-text'></i> Timesheets".html_safe, admin_timesheets_path %></li>
<li><%= link_to "<i class='fa fa-file-text-o'></i> Past Timesheets".html_safe, past_admin_timesheets_path %></li>
<li><%= link_to "<i class='fa fa-building-o'></i> All Companies".html_safe, admin_companies_path %></li>
<li><%= link_to "<i class='fa fa-users'></i> Employees".html_safe, admin_employees_path %></li>
<li><%= link_to "<i class='fa fa-university'></i> Job Orders".html_safe, admin_orders_path %></li>
<li><%= link_to "<i class='fa fa-users'></i> Agency Users".html_safe, admins_path %></li>
<li><%= link_to "<i class='fa fa-money'></i> Invoices".html_safe, admin_invoices_path %></li>
<li><%= link_to "<i class='fa fa-commenting'></i> Messages".html_safe, comments_path %></li>
<li><%= link_to "<i class='fa fa-briefcase'></i> Jobs".html_safe, admin_jobs_path %></li>
<li><%= link_to "<i class='fa fa-list'></i> Employee List".html_safe, users_path %></li>