<li><%= link_to "<i class='fa fa-dashboard fa-fw'></i> Sales Dashboard".html_safe, admin_account_manager_path %></li>
<li><%= link_to "<i class='fa fa-building-o fa-fw'></i> Companies".html_safe, admin_companies_path %></li>
<li><%= link_to "<i class='fa fa-briefcase fa-fw'></i> Job Orders".html_safe, admin_orders_path %></li>
<li><%= link_to "<i class='fa fa-pause-circle fa-fw'></i> Inactive Job Orders".html_safe, inactive_admin_orders_path %></li>
<li><%= link_to "<i class='fa fa-pause-circle-o fa-fw'></i> Pending Jobs".html_safe, inactive_admin_jobs_path %></li>
<li><%= link_to "<i class='fa fa-usd fa-fw'></i> Invoices".html_safe, admin_invoices_path %></li>