<li><%= link_to "<i class='fa fa-dashboard'></i> Sales Dashboard".html_safe, admin_account_manager_path %></li>
<li><%= link_to "<i class='fa fa-building-o'></i> Companies".html_safe, admin_companies_path %></li>
<li><%= link_to "<i class='fa fa-briefcase'></i> Job Orders".html_safe, admin_orders_path %></li>
<li><%= link_to "<i class='fa fa-money'></i> Invoices".html_safe, admin_invoices_path %></li>
<li><%= link_to "<i class='fa fa-pause-circle'></i> Inactive Job Orders".html_safe, inactive_admin_orders_path %></li>
<li><%= link_to "<i class='fa fa-plus-square'></i> New Company".html_safe, new_admin_company_path if policy(Company).create?  %></li>
<li><%= link_to "<i class='fa fa-plus-square-o'></i> New Job Order".html_safe, new_admin_order_path if policy(Order).create? %></li>