<%= simple_form_for [:admin, @job], html: { class: 'form' } do |f| %>
<h4>Assign <%= @employee.first_name %> to this position.</h4>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.hidden_field :order_id, value: @order.id %>
    <%= f.hidden_field :employee_id, value: @employee.id %>
    
    <div class='form-group'>
        <%= f.input :title, placeholder: "Job Title", label: false %>
        <%= f.input :description, placeholder: "Interview notes", label: false, input_html: {rows: 8 }  %>
        <%= f.input :start_date, as: :string, input_html: {class: 'datepicker'}, placeholder: "Start Date", label: false  %>
        <% if @current_admin.recruiter? %>
            <%= f.hidden_field :recruiter_id, value: @current_admin.id %>
        <% else %>
            <%= f.association :recruiter, collection: @current_agency.admins.recruiters.order(:last_name), prompt: "Choose a Recruiter", label: false  %>
        <% end %>
        
                    
      <div class="input-group">
        <span class="input-group-addon"><i class='fa fa-usd'></i></span>
        <%= f.input :pay_rate, label: false, :input_html => {value: number_with_precision(f.object.pay_rate, precision: 2) } %>
        <span class="input-group-addon">/hr</span>
      </div>
    </div>
    
  




    <div class='btn-group'>
      <%= f.submit "Send for Approval", class: 'btn btn-primary' %>
      <%= f.submit "Assign Now", class: 'btn btn-success' %>
    </div>

<% end %>
