
<div class='col-md-12 lightbox'>
    <% if @event.timesheet? %>
<h3> Timesheet!</h3>
<%= render "admin/timesheets/timesheet", timesheet: @timesheet if admin_signed_in? %>
<% elsif @event.eventable_type == 'Shift' %>
<h3><%= @event.eventable_type.titleize %></h3>
<%= render "admin/shifts/shift", shift: @shift if admin_signed_in? %>
<% end %>
<% if @event.action == 'applied' %>
<% if admin_signed_in? %>
<div class='col-md-12 '>
  	
  <h2>
  <strong>
    <%= @event.user.try(:name) %> <%= @event.try(:action) %> <%if @order.present? %> to <%= @order.try(:title_company) %><% end %>
  </strong>
  
</h2>
    <div class='btn-group'>
        <%= link_to(admin_order_path(@order), class: "btn btn-primary") do %>
            <i class='fa fa-briefcase'></i>
            <span>View Job Order</span>
        <% end %>
        <%= link_to(admin_company_path(@company), class: "btn btn-primary") do %>
            <i class='fa fa-home'></i>
            <span>View Company Page</span>
        <% end %>
        <%= link_to admin_employee_path(@employee), class: "btn btn-primary"  do %>
            <i class="fa fa-user"></i>
            View Employee
        <% end %>
    </div>
	

   <div class='col-md-12 bg-white'>
	  	<div class="col-md-4">
	  	    	<h3><%= signed_in_link_to @order.title, @order %></h3>
	  	    	<h4>Pay range: <%= pay_range(@order) %></h4>
    	    <%= @order.tag_list %>
    	</div>
    	<div class="col-md-4 bg-white">
    		<h3><%= signed_in_link_to @employee.name, @employee %></h3>
    	    <%= @employee.tag_list || "No employee tags" %>
    	    	<h4>Preferred job type:  <%= @employee.desired_job_type %></h4>
    	    	<h4>Preferred shift:  <%= @employee.desired_shift %></h4>
    	</div>
        <div class='col-md-4 bg-white'>
            
        <% if @employee.unassigned? && @order.needs_attention? %>
            <%= render 'job_form' %>
        <% end %>
        </div>
        <div class='col-md-6'>
          <h3>Job Description</h3>
         
            <% if @order.notes.length > 5 %>
            <p><%= markdownify(@order.notes) %></p>
            <% else %>
            <p class='text-center'>Specific job details unavailable.</p>
            <% end %>
      
        </div>
   </div>


    
  </div>

    <!--END OF JOB INFORMATION PAGE-->





  <!--IF IS AN APPLICATION-->
<% end %>

<!--IF AN ADMIN IS SIGNED IN-->
<% end %>

 </div>