
<div class='col-md-12'>
    <% if @event.timesheet? %>
<h1> Timesheet!</h1>
<%= render "admin/timesheets/timesheet", timesheet: @timesheet if admin_signed_in? %>
<% elsif @event.eventable_type == 'Shift' %>
<h1><%= @event.eventable_type.titleize %></h1>
<%= render "admin/shifts/shift", shift: @shift if admin_signed_in? %>
<% end %>
<% if @event.action == 'applied' %>
<% if admin_signed_in? %>
<div class='col-md-12 text-center'>
  	
  <h2>
  <strong>
    <%= @event.user.try(:name) %> <%= @event.try(:action) %> <%if @order.present? %> to <%= @order.try(:title_company) %><% end %>
  </strong>
  
</h2>
    <div class='btn-group'>
        <%= link_to(admin_order_path(@order), class: "btn btn-primary") do %>
            <i class='fa fa-briefcase'></i>
            <span>View Job Order</span>
        <% end %>
        <%= link_to(admin_company_path(@company), class: "btn btn-primary") do %>
            <i class='fa fa-home'></i>
            <span>View Company Page</span>
        <% end %>
        <%= link_to admin_employee_path(@employee), class: "btn btn-primary"  do %>
            <i class="fa fa-user"></i>
            View Employee
        <% end %>
    </div>
	

   <div class='col-md-12 bg-white'>
	  	<div class="col-md-6">
    		<h1><%= @employee.first_name %>'s Skills</h1>
    	  <%= pie_chart @employee.tags.order(:name).group(:name).count  %>
    	</div>
    	<div class="col-md-6 bg-white">
    		<h1><%= signed_in_link_to @order.title, @order %>'s Skills</h1>
    	   <%= pie_chart @order.tags.order(:name).group(:name).count  %>
    	</div>
        <div class='col-md-6 bg-white'>
        <% if @employee.unassigned? && @order.needs_attention? %>
            <%= render 'job_form' %>
        <% end %>
        </div>
        <div class='col-md-6'>
         
         
          <h5>Job Description</h5>
         <%= @order.pay_range %>
            <% if @order.notes.length > 5 %>
            <p><%= @order.notes %></p>
            <% else %>
            <p class='text-center'>Specific job details unavailable.</p>
            <% end %>
      
        </div>
   </div>


    
  </div>

    <!--END OF JOB INFORMATION PAGE-->





  <!--IF IS AN APPLICATION-->
<% end %>

<!--IF AN ADMIN IS SIGNED IN-->
<% end %>

 </div>