<% if @event.action == 'applied' %>
<div class='col-md-12 main-box'>
<% if admin_signed_in? %>

  	
  <h2>
  <strong>
    <%= @event.user.try(:name) %> <%= @event.try(:action) %> <%if @order.present? %> to <%= @order.try(:title_company) %><% end %>
  </strong>
  
</h2>

	
<div class='well'>
  <%= link_to(admin_company_path(@company), class: "btn btn-primary") do %>
  							<i class='fa fa-home'></i>
  
  								<span>View Company Page</span>
  							<% end %>
  							 <%= link_to admin_employee_path(@event.user.employee), class: "btn btn-primary"  do %>
						
								<i class="fa fa-user fa-1x"></i>
						
							View Employee
						<% end %>
  
</div>
 
  
 
				




    <div class=' col-md-8'>
    <div class='col-md-12 well well-sm'>
     <h2 class='text-center'> <%= @order %></h2>
     <!--BTN GROUP-->
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      
        <div class="btn-group" role="group">
        <%= link_to(admin_company_path(@company), class: "btn btn-default") do %>
      							<i class='fa fa-home'></i>
      
      								<span>View Company Page</span>
      							<% end %>
      
        </div>
        <div class="btn-group" role="group">
            <%= link_to(new_admin_employee_job_path(@employee), class: "btn btn-default") do %>
						  <i class='fa fa-user-plus'></i>
							<span>New Job Order</span>
						<% end %>
        </div>
        <div class="btn-group" role="group">
        <%= link_to(admin_company_orders_path(@company), class: "btn btn-default") do %>
      							<i class='fa fa-briefcase'></i>
      
      								<span>Active Orders</span>
      							<% end %>
      
        </div>
        <div class="btn-group" role="group">
          <%= link_to(admin_company_timesheets_path(@company), class: "btn btn-default") do %>
    				<i class='fa fa-clock-o'></i>
    				<span>Timesheets</span>
    			<% end %>
        </div>
      </div>
  <!--END OF BTN GROUP-->
      <div class='col-md-12'>
        <div class='col-md-9'>
          <hr>
           <div class='notes well'>
          <h5>Job Description</h5>
         <%= @order.pay_range %>
            <% if @order.notes.length > 5 %>
            <p><%= @order.notes %></p>
            <% else %>
            <p class='text-center'>Specific job details unavailable.</p>
            <% end %>
            
            
          </div>
          
        </div>
    
      
      <div class='col-md-3'>
        <h5><u>Required Skills</u></h5>
        <% @order.skills.required.each do |skill| %>
          <%= skill.name %><br>
        <% end %>
        <hr>
        <h5><u>Additional Skills</u></h5>
        <% @order.skills.additional.each do |skill| %>
          <%= skill.name %><br>
        <% end %>
      </div>
      <!--END OF SKILL BOX-->
     </div>
      
   </div>
 <hr>
    </div>
    <!--END OF JOB INFORMATION HALF-PAGE-->
    
    
  
  
    <!--END OF MAINBOX-->
</div>




  <!--IF IS AN APPLICATION-->
<% end %>
<!--IF AN ADMIN IS SIGNED IN-->
<% end %>



<% if @event.admin.present? %>
<div class='center'>
  <p>
  <strong>Admin:</strong>
  <%= @event.admin.try(:name) %>
</p>

<p>
  <strong>Action:</strong>
  <%= @event.action %>
</p>

<p>
  <strong>Eventable:</strong>
  <%= @event.eventable_id %>
</p>

<p>
  <strong>Eventable type:</strong>
  <%= @event.eventable_type %>
</p>

<% end %>


</div>
</div>