<div class="col-md-12 mainpage">
    
    <div class='col-md-6 well'>
        <h1 class='bold bigger text-center page-header'>Payroll</h1>
        <hr>
        <h2 class='bold simple'>Are you still collecting timesheets that look like this?</h2>
        <hr>
        
        <div class='col-md-6'>
            <%= image_tag("Timecard_Sample3.jpg", class: "screenshot") %>
        </div>
        <div class='col-md-6'>
            <%= image_tag("timesheet-webinar2.png", class: "screenshot") %>
        </div>
        <hr>
    </div>
   <div class='col-md-6 well'>
       
     <%= image_tag("employee.png", class: 'front-icon') %>
      <ul class='fa-ul'>
        <li><i class="fa-li fa fa-check-square"></i> Are hours submitted in multiple ways?</li> 
        <li><i class="fa-li fa fa-check-square"></i> Are you still dealing with paper timesheets? </li>
        <li><i class="fa-li fa fa-check-square"></i> Do you ever have missing hours on payroll day?</li> 
      </ul>
  
      <%= image_tag("financial.png", class: 'front-icon') %>
    <ul class='fa-ul'>
      <li><i class="fa-li fa fa-check-square"></i> View all timesheets in real-time</li>
      <li><i class="fa-li fa fa-check-square"></i> Streamline approvals, set notifications & reminders</li>
      <li><i class="fa-li fa fa-check-square"></i> Track all of your employees' hours, on any job assignment</li>
    </ul>      
  </div>
    <div class="col-md-6 well">
        <div class="col-md-3">
            <%= image_tag("money192.png", class: 'bullet-icon') %>
        </div>
    <h3 class='text-info'>Cut Payroll Time In HALF</h3>
    <p class='lead'>Stop hovering over the fax machine waiting for timesheets to come in.</p>
    <p class='big'>Relying on employees to report their own time is just asking for trouble. Inaccurate data and missing hours cost more than you think.
        <strong>IncluStaff allows you to view & manage all timesheets from the second the employee clocks in. </strong>  </p>
    </div>
</div>
