<div class='main-box'>
    <div class='well center'>
        <% @agencies.each do |agency| %>

           <h3> <%= link_to agency.name, agency %> <small> <%=  agency.subdomain %></small></h3>
            <strong>Orders</strong> <%= agency.orders.count %><br>
             <strong>Admins</strong> <%= agency.admins.count %><br>
             <strong>Users</strong> <%= agency.users.count %><br>


<% end %>
    </div>
</div>