 <h3 class='text-center'>Register your agency below.</h3>
<div class='col-md-12 bg-white'>
    <%= simple_form_for(@agency, class: '') do |f| %>
        <% if @agency.errors.any? %>
          <div id="error_explanation">
            <h3><%= pluralize(@agency.errors.count, "error") %> prohibited this agency from being saved:</h3>
            <ul>
            <% @agency.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
<div class='form-group col-md-6'>
    <%= f.input :name, placeholder: "Agency Name", input_html: {class: "form-control"}  %>
        
        <%= f.label :subdomain %>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">www.</span>
           <%= f.input :subdomain, label: false, placeholder: "example", input_html: {class: "form-control"} %>
          <span class="input-group-addon" id="basic-addon3">.inclustaff.com</span>
        </div>
        <%= f.hint "Lowercase letters - no spaces." %>
        <div class='form-group'>
            <%= f.label :address %>
        <%= f.input :address, label: false, placeholder: "Address", input_html: {class: "form-control"}  %>
        <%= f.input :city, label: false, placeholder: "City", input_html: {class: "form-control"}  %>

        <%= f.input :state, label: false, placeholder: "State", input_html: {class: "form-control"}  %>
        
        <%= f.input :zipcode, label: false, placeholder: "Zipcode", input_html: {class: "form-control"}  %>
        <%= f.input :phone_number, label: false, placeholder: "Phone Number", input_html: {class: "form-control"}  %>
        </div>
         <div class='form-group'>
        <%= f.input :logo_url, placeholder: "Logo URL - optional", input_html: {class: "form-control"}  %>
    </div>
    </div>
    
    <div class='form-group col-md-4'>
        <p class="form-control-static">Account Information</p>
            <%= f.input :contact_name, required: true, placeholder: "Contact Name", label: false, autofocus: true%>
              <%= f.input :contact_email, required: true, placeholder: "Contact Email", label: false, hint: "Used for sign in" %>
        
    </div>
    

        


            <div class="form-actions pull-right">
              <%= f.button :submit, "Register Now", class: "btn btn-primary btn-lg" %>
            </div>

<% end %>
</div>
