<div class='main-box'>
    <h2><%= @agency.name %></h2>
    <% if admin_signed_in? %>


<div class='col-md-6'>
    <h3>Open Orders</h3>
    <%= render @agency.orders.needs_attention %>
</div>
<div class='col-md-6'>
     <h3>Filled Orders</h3>
    <%= render @agency.orders.filled %>
</div>



<%= link_to "Edit", edit_agency_path(@agency), class: 'btn btn-primary' %>


<% else %>

<h1 class='text-center'>
    Welcome to IncluStaff, <%= @agency.name %>!
    
</h1>
<h2 class='text-center'>Please start by signing in to your account.</h2>
<h3 class='text-center'>
Access your agency portal at www.<%=@agency.subdomain %>.inclustaff.com

</h3>

<% end %>
</div>