<div class='col-md-12 lightbox-long'>
    <% if @agency.admins.count == 1 && admin_signed_in? %>
    <h1 class='page-header'>Welcome to IncluStaff, <%= @agency.name %>!</h1>
   
    YOU'RE NEW!
    
    
    <% end %>

    <% if @current_agency.present? && !signed_in? %>
<div class='col-md-12 '>
    
<h1 class='text-center'>
    Welcome to IncluStaff, <%= @agency.name %>!
    
</h1>

<address class=''>
              <strong><%= @agency.name %></strong><br>
             <%= @agency.address %><br>
              <%= @agency.city %>, <%= @agency.state %> <%= @agency.zipcode %><br>
              <abbr title="Phone">P:</abbr> <%= @agency.phone_number %>
            </address>

<div class='col-md-4'>
    
    
</div>
<div class='col-md-4'>
    <h2 class='text-center'>Please start by signing in to your account.</h2>
    <%= link_to "Sign In", sign_in_path, class: "btn btn-primary btn-lg btn-block" %>
</div>

</div>
<% end %>


    
    
    
    <% if @current.present? && admin_signed_in? %>


    <div class='col-md-12'>
        
         <h1 class='text-center'><%= @agency.name %></h1>
            <div class='col-md-3 bg-white'>
                <%= image_tag(@agency.logo_url, class: "img-zoom", alt: "img-#{@agency.id}")%> 
                <% if @agency.contact.present? %>
                <p> Name: <strong><%= link_to @agency.contact.name, admin_admin_path(@agency.contact) %></strong><br>
                 Email: <strong><%= @agency.contact.email%></strong>
                </p>
                <% else %>
                <p>No agency contact available.</p>
                <% end %>
                <address class='white'>
                 <%= @agency.address %><br>
                  <%= @agency.city %>, <%= @agency.state %> <%= @agency.zipcode %><br>
                  <abbr title="Phone">P:</abbr> <%= @agency.phone_number %>
                </address>
                <h2>ACA Settings</h2>
                <p>Measurement Period: <%= @agency.preferences['aca_measurement_period'] %></p>
                <p>Administrative Period: <%= @agency.preferences['aca_administrative_period'] %></p>
                <p>Stability Period: <%= @agency.preferences['aca_stability_period'] %></p>
                <h2>Weekly Sales Goal</h2>
                <p class='lead'><%= number_to_currency(@agency.weekly_sales_goal) %></p>
                <h3><%= number_to_percentage(@agency.percent_to_sales_goal, precision: 2)%> to current goal</h3>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= @agency.percent_to_sales_goal %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= number_to_percentage(@agency.percent_to_sales_goal, precision: 2)%>">
                    <span class="sr-only"><%= number_to_percentage(@agency.percent_to_sales_goal, precision: 2)%> Complete (success)</span>
                  </div>
                </div>
            <%  if policy(@agency).update? %>
                    <%= link_to(edit_agency_path(@agency), class: 'btn btn-primary') do %>
            	      <i class='fa fa-pencil fa-fw'></i>
            			<span>Edit Agency</span>
            		<% end %>
        		<% end %>
            </div>
        <div class='col-md-3 bg-white'>
                <h3>Owners</h3>
            <div class='scroll300'>
                <% @agency.admins.owners.each do |admin| %>
                    <%=link_to admin.name, admin_admin_path(admin) %> - <small><%= admin.role %></small><br>
                <% end %>
            </div>
            <h3>Account Managers</h3>
            <div class='scroll300'>
                <% @agency.admins.account_managers.each do |admin| %>
                    <%=link_to admin.name, admin_admin_path(admin) %> - <small><%= admin.role %></small><br>
                <% end %>
            </div>
            <h3>Recruiters</h3>
            <div class='scroll300'>
                <% @agency.admins.recruiters.each do |admin| %>
                    <%=link_to admin.name, admin_admin_path(admin) %> - <small><%= admin.role %></small><br>
                <% end %>
            </div>
            <h3>Payroll</h3>
            <div class='scroll300'>
                <% @agency.admins.payroll_admins.each do |admin| %>
                    <%=link_to admin.name, admin %> - <small><%= admin.role %></small><br>
                <% end %>
            </div>
            
           
        </div>
          <div class='col-md-2'>
              
          </div>
        <div class='col-md-4 bg-white'>
            <h3><%= pluralize(@agency.companies.count, "Company") %></h3>
            <div class='scroll300'>
                <% @agency.companies.each do |company| %>
                    <h4><%= link_to company.name, admin_company_path(company) %> <small><%= number_to_currency(company.current_billing) %></small></h4>
                    Open: <%=company.orders.needs_attention.count %> | Filled: <%= company.orders.filled.count %> <br>
                    Acct Manager: <%= company.current_account_manager.name%><br>
                    <% company.admins.each do |company_admin| %>
                        <%= link_to company_admin.name, company_admin %> <small><%= company_admin.role %></small><br>
                    <% end %>
                    <hr>
                <% end %>
            </div>
        </div>
        
        
    </div>

<% end %>

</div>