<div class="content" data-behavior="job-list">
    <div class="details" data-behavior="job" data-id="<%= job.id %>">
      <span class='content'><%= job.name_title %></span><br>
          
          <% if job.on_shift? %>
             <span class= "time" data-behavior="time-in">
                  <small><strong> In:</strong> <%= job.current_shift.time_in.strftime("%l:%M%P") %></small>
              </span>
             
               
            <button data-behavior="job-out-button_<%= job.id %>" class='badge badge-danger'>
            <i class='fa fa-sign-out'></i> Clock Out
          </button>
          <button data-behavior="job-in-button_<%= job.id %>" class='hide-this badge badge-success'>
            <i class='fa fa-sign-out'></i> Clock In
          </button>
           <span data-behavior="time-out">
              </span>

        <% else %>
        <span data-behavior="time-in">
          
        </span>
          <button data-behavior="job-in-button" class='badge badge-success'>
            <i class='fa fa-sign-in'></i> Clock In
          </button>
          <button data-behavior="job-out-button" class='hide-this badge badge-danger'>
            <i class='fa fa-sign-out'></i> Clock Out
          </button>
        
          
        

        <span data-behavior="time-out">
          
        </span>
      <% end %>
    
    </div>
</div>