<div class="content" data-behavior="job-list">
    <div class="details" data-behavior="job" data-id="<%= job.id %>">
     
          
          <% if job.on_shift? %>
            
               
            <button data-behavior="job-out-button_<%= job.id %>" class='btn btn-danger'>
            <i class='fa fa-sign-out'></i> Clock Out
          </button>
          <button data-behavior="job-in-button_<%= job.id %>" class='hide-this btn btn-success'>
            <i class='fa fa-sign-out'></i> Clock In
          </button>
          

        <% else %>
        <% if job.on_break? %>
<%= link_to "End Break", break_end_admin_shift_path(job.current_shift), method: :patch, remote: true, class: 'btn btn-success' %>
<% elsif job.current_shift.try(:clocked_in?) %>
  <%= link_to "Start Break", break_start_admin_shift_path(job.current_shift), method: :patch, remote: true, class: 'btn btn-success' %>
<% end %>
     
          <button data-behavior="job-out-button" class='hide-this btn btn-danger'>
            <i class='fa fa-sign-out'></i> Clock Out
          </button>
        
          
        

      <% end %>
    
    </div>
</div>