<%= simple_form_for [:admin, @order, @job] do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% @job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <% if @order.present? %>
  <h4><strong>Job Information</strong></h4>
  <%= @order.title %> <br> <%= @company.name %>
  <% end %>
  <div class='form-group'>
    <%= f.association :recruiter, collection: @current_agency.recruiters.order(:last_name), prompt: "Select Recruiter", label: false if !current_admin.recruiter? %>
    <%= f.association :employee, collection: @current_agency.employees.available.order(:last_name), prompt: "Select Employee", label: false, required: true %>
    <%= f.association :order, collection: @current_agency.orders.needs_attention.order(:title), prompt: "Select Job Order", label: false, required: true if @order.nil? %>

    <%= f.input :title, placeholder: "Job Title", required: true, label: false %>
    <%= f.input :description, as: :text, placeholder: "Interview Notes", data: {behavior: ''}, input_html: { rows: 10, class: "myatwho" }, label: false %>
    <%= f.input :start_date, default: Date.tomorrow, as: :date, hint: "Today is #{Time.current.stamp("Monday May 25th, 2016") }", end_year: Date.today.year + 1, start_year: Date.today.year, order: [:month, :day, :year], wrapper_html: {class: "form-inline"}, label: "When do they start?", label_html: { class: 'needed_by' } %>
    <%= f.input :pay_rate, as: :decimal, placeholder: "Pay Rate", label: false, input_html: {value: @order.min_pay} if @order.present? %>
    <%= f.input :pay_rate, as: :decimal, placeholder: "Pay Rate", label: false, input_html: {min: 8.10} if @order.nil? %>
  </div>

  <div class='form-group'>


  <%= f.input :vacation, class: "form-inline" do %>
    <%= f.input_field :number_of_days, as: :select, collection: [ "1", "2", "3", "4", "5"], selected: "2", class: "form-control", label: false %>
    <%= f.input_field :milestone_1, as: :select, collection:  [ "1000", "1500", "2000", "2500", "3000"], selected: "1000", class: "form-control", label: false %>
    <%= f.input_field :milestone_2, as: :select, collection:  [ "1000", "1500", "2000", "2500", "3000"], selected: "2000", class: "form-control", label: false %>
    
    <%= f.input_field :milestone_3, as: :select, collection:  [ "1000", "1500", "2000", "2500", "3000"], selected: "3000", class: "form-control", label: false %>
  <% end %>
   </div>

  <div id="job-end-date">
    <%= f.input :state, as: :select, collection: ['Pending Approval', 'Currently Working', 'Assignment Ended', 'Declined by agency', 'Declined by company', 'Declined by candidate', 'Other - requires note'], include_blank: false %>
    <%= f.input :end_date, as: :string, input_html: { class: 'datepicker' }, placeholder: "End date", required: false, label: false %>
  </div>

  <div class='form-actions'>
    <% if @order.present? %>
    <%= f.submit "Send for Approval", class: 'btn btn-primary' if @order.needs_approval? && params[:action] != 'edit' %>
    <% end %>
    <%= f.submit "Assign Now", class: 'btn btn-success' if params[:action] != 'edit' %>
    <%= f.submit "Save Changes", class: 'btn btn-success' if params[:action] == 'edit' %>
  </div>

<% end %>

