<%= simple_form_for [:admin, @job] do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class='form-control'>
        <%= f.grouped_collection_select(:order_id, @current_agency.companies.distinct, :orders, :name, :id, :title_count, prompt: "Select a @job", required: true ) %>
      </div>
    <span class='hide-this'>
      <%= f.input :employee_id, value: employee.id, disabled: true %>
    </span>
    
    <%= f.input :title, placeholder: "Job Title", required: true %>
    <%= f.input :description, placeholder: "Job Description" %>
    <%= f.input :start_date, as: :string, placeholder: "Select start date", required: true %>
    <%= f.association :recruiter, collection: @current_agency.admins.recruiters.order(:last_name), prompt: "Choose a Recruiter" %>
   
                <%= f.input :pay_rate, placeholder: "Pay Rate", label: false, required: true %>







    <%= f.submit %>

<% end %>
