
<div class="shift-list" data-behavior="job-list">
    <div data-behavior="job" data-id="<%= job.id %>">
        
      <h4 class="list-group-item-heading"><%= link_to job.title, admin_job_path(job) %></h4>
    <%= link_to job.employee.name, admin_employee_path(job.employee), class: 'table-link' %>

       <small>
        <strong>Pay rate:</strong>
        <%= number_to_currency(job.pay_rate, :unit => "$") %>
      </small>
         <%= render job.current_timesheet if job.current_timesheet.present? %>

   
       <strong>This week</strong><br><i class="fa fa-clock-o"></i> <strong>Hours:</strong>  <%= job.current_week_hours %><br>
        <i class="fa fa-money"></i> <strong>Pay:</strong>  <%= number_to_currency(job.current_week_pay) %><br>
        	<% link_to "EDIT", edit_admin_job_path(job), class: "badge badge-info" %>
       
             
    

     
     </div>

</div>


