<div class="" data-behavior="job-list">
    <div data-behavior="job" data-id="<%= job.id %>">
        <span data-behavior='shift-state'>
             <strong> <%= link_to job.employee.first_name, admin_employee_path(job.employee), class: 'table-link' %>
             is  
             <%= job.status %></strong>
        </span>
           <% if job.on_shift? %>
             <span data-behavior="time-in">
                  <small><strong> In:</strong> <%= job.current_shift.time_in.strftime("%l:%M%P") %></small>
            </span>
            <% if policy(job).clock_out? %>
            <button data-behavior="job-out-button_<%= job.id %>" class='btn btn-danger'>
                <i class='fa fa-sign-out'></i> Clock Out
            </button>
            <% end %>
            <% if policy(job).clock_in? %>
          <button data-behavior="job-in-button_<%= job.id %>" class='hide-this btn btn-success'>
            <i class='fa fa-sign-in'></i> Clock In
          </button>
          <% end %>
        <span data-behavior="time-out">
        </span>

        <% else %>
        <span data-behavior="time-in">
          
        </span>
        <% if policy(job).clock_in? %>
          <button data-behavior="job-in-button_<%= job.id %>" class='btn btn-success'>
            <i class='fa fa-sign-in'></i> Clock In
          </button>
          <% end %>
          <% if policy(job).clock_out? %>
          <button data-behavior="job-out-button_<%= job.id %>" class='hide-this btn btn-danger'>
            <i class='fa fa-sign-out'></i> Clock Out
          </button>
          <% end %>
        <span data-behavior="time-out">
        </span>
      <% end %>
      </div>
     </div>