
<div class="table-responsive">
  

<table id='' class="table table-hover datatable" >
  <thead>
    <tr>
      <th>Company</th>
      <th>Job Title</th> 
      <th>Pay rate</th> 
      <th>Total Hours</th>
      <th>Total Gross</th>
      <th>Total Bill</th>
      <th>Recruiter/Acct Manager</th>
      
    </tr>
  </thead>

  <tbody>
    <% jobs.each do |job| %>
    <% if job.on_shift? %>
    <tr class="success">
      <% else%>
    <tr class="info">
      
      <% end %>
        <td><%= job.company.name %></td>
        <td><%= job_sym(job) %> <%= link_to job.employee.name, admin_job_path(job) %><br> <small><%= job.title %></small></td>
        
        <td><%= number_to_currency(job.pay_rate) %></td>
        <td><%= job.total_hours.round(2) %></td>
        <td><%= number_to_currency(job.total_gross_pay) %></td>
        <td><%= number_to_currency(job.total_gross_bill) %></td>
        <td><%= job.staff %></td>
        
      </tr>
    <% end %>
  
  </tbody>
</table>
</div>


