
<div="table-responsive">
  

<table id="myTable" class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>Pay rate</th> 
      <th>Hours</th>
      <th>Total Gross</th>
      <th>Mark Up</th>
      <th>Recruiter</th>
      <th>Acct Manager</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
    <% if job.on_shift? %>
    <tr class="success">
      <% else%>
    <tr class="info">
      
      <% end %>
      
        <td><%= render 'admin/jobs/company', job: job %></td>
        <td><%= render 'admin/jobs/modal', job: job %><td>
        
        <td><%= number_to_currency(job.pay_rate) %></td>
        <td><%= job.total_hours.round(2) %></td>
        <td><%= number_to_currency(job.total_gross_pay) %></td>
        <td><%= job.mark_up_percent %></td>
        <td><%= job.recruiter.last_name if job.recruiter.present? %></td>
        <td><%= job.account_manager.last_name if job.account_manager.present? %></td>
        
      </tr>
    <% end %>
  
  </tbody>
</table>
</div>

