<h1>Edit Job</h1>


<%= simple_form_for [:admin, @job] do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

        <h4><strong>Job Information</strong></h4>
<%= @job.employee.name %> <br> <%= @job.order.company_name %>
 
    <%= f.association :recruiter, collection: @agency.recruiters.order(:last_name), prompt: "Select Recruiter", label: false %>
   

   

    <%= f.input :title, placeholder: "Job Title", required: true, label: false %>
    <%= f.input :description, as: :text, placeholder: "Interview Notes", data: {behavior: 'autocomplete'}, input_html: { rows: 10 }, label: false %>


        <%= f.input :start_date, as: :string, input_html: { class: 'datepicker' }, placeholder: "Start date", required: true, label: false %>

        <%= f.input :pay_rate, as: :decimal, placeholder: "Pay Rate", label: false %>

                
 




<div id="job-end-date">
    <h4><%= f.input :active %></h4>
    <%= f.input :end_date, as: :string, input_html: { class: 'datepicker' }, placeholder: "End date", required: true, label: false %>
</div>



    <%= f.submit %>

<% end %>


<%= link_to 'Show', admin_job_path(@job) %> |
<%= link_to 'Back', admin_jobs_path %>
