<h1>Editing Job</h1>
<input type="text" id="alternate" size="30" class="pull-right"><br>

<%= simple_form_for [:admin, @job] do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

        <h4><strong>Job Information</strong></h4>
    <%= f.association :employee, prompt: "Select Employee", label: false, disabled: true %>
    <%= f.association :order, prompt: "Select Department", label: false, disabled: true %>
  
    <%= f.association :recruiter, collection: @company.recruiters.order(:last_name), prompt: "Select Recruiter", label: false %>
   

    <%= f.association :order, label_method: :title, value_method: :id, include_blank: false %>

    <%= f.input :title, placeholder: "Job Title" %>
    <%= f.input :description, placeholder: "Job Description" %>
    <%= f.input :start_date, as: :string, input_html: { id: "datepicker" } %> 
    
    <div class="input-group">
      <div class="input-group-addon">$</div>
                <%= f.input :pay_rate, as: :decimal, placeholder: "Pay Rate", label: false %>
      <div class="input-group-addon">per hour</div>
    </div>




<div id="job-end-date">
    <h4><%= f.input :active %></h4>
    <%= f.input :end_date, html5: true, prompt: "Select end date" %>
</div>



    <%= f.submit %>

<% end %>


<%= link_to 'Show', @job %> |
<%= link_to 'Back', jobs_path %>
