<div class='col-md-12 mainpage shadow'>
    <div class='col-md-4  well well-sm'>
        <%= render 'admin/shared/alerts/job_status', jobs: @jobs.inactive %>
        
    </div>
    <div class='col-md-4 well well-sm'>
        <%= pie_chart @jobs.group('jobs.state').count, library: {backgroundColor: "#ccc", legend: {position: "bottom"}, is3D: true, title: "Jobs by Current Status"}%>
    </div>
    <div class='col-md-4 well well-sm'>
        
        <h1 class=''>Pending</h1>
        <% if @jobs.pending_approval.any? %>
        <% @jobs.pending_approval.each do |job| %>
            <%= link_to(admin_job_path(job)) do %>
                <p class='bold'><%= job.company.name %> - <%= job.employee.name %></p>
                <p class='small'><%= job.staff %></p>
            <% end %>
        <%end%>
        <% else %>
        <h1 class=''>No declined jobs to display. </h1>
        <% end %>
    </div>
    <div class='col-md-4 well well-sm'>
        <h1 class=''>Declined</h1>
        <% if @jobs.declined.any? %>
        <% @jobs.declined.each do |job| %>
            <%= link_to(admin_job_path(job)) do %>
                <p class='bold'><%= job.company.name %> - <%= job.employee.name %></p>
                <p class='small'><%= job.staff %></p>
            <% end %>
        <%end%>
        <% else %>
        <h1 class=''>No declined jobs to display. </h1>
        <% end %>
    </div>
    <div class='col-md-12 well well-sm'>
        <h1 class=''>Ended</h1>
        <% if @jobs.ended_assignments.any? %>
        <%= render 'admin/jobs/table', jobs: @jobs.ended_assignments %>
        <% else %>
        <h1 class=''>No ended assignments to display. </h1>
        <% end %>
    </div>
    
</div>