<div class='col-md-12 lightbox-long'>
    <%= search_form_for [:admin, @q], class: 'form-inline' do |f| %>
  <%= f.search_field :employee_last_name_or_employee_first_name_cont , class: 'form-control', placeholder: "Search by name"%>
  <%= f.submit %>
  <%= link_to 'Clear Search', admin_jobs_path, class: 'btn btn-primary btn-sm' %>
<% end %>
        <div class='col-md-3'>
            <%= render 'admin/jobs/pending_list', jobs: @jobs.inactive %>
        </div>
    <div class='col-md-9'>
        <% if @jobs.active.any? %>
        
    <h1>All Active Jobs</h1>
    <%= render 'admin/jobs/table', jobs: @jobs.active %>
    <% else %>
   <h1 class='page-header'>
        No active jobs to display.
   </h1>
    <% end %>
    
    
    <%= link_to 'View Inactive', inactive_admin_jobs_path, class: 'btn btn-primary' %>
    </div>
    
</div>