<% if Employee.unassigned.empty? %>
<div id="no-employees-alert" class="alert alert-danger" role="alert"><br>
 <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
<h3>All of your employees are currently assigned to a job. 
Please add a new employee before continuing.</h3>
<%= link_to 'Back', jobs_path, class: "pull-left" %> <%= link_to "Add Employee", new_admin_employee_path, class: "pull-right" %>
</div>
<% else %>


<h1>New Job</h1>


<%= simple_form_for [:admin, @job] do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

<% end %>
 

        <h4><strong>Job Information</strong></h4>
    <%= f.association :employee, collection: Employee.unassigned.order(:last_name), prompt: "Select Employee", label: false %>
    <% if current_admin.recruiter? == false %>
    <%= f.association :recruiter, collection: @agency.recruiters.order(:last_name), prompt: "Select Recruiter", label: false %>
    <% end %>
    <%= f.association :order, collection: @orders.active.order(:title), prompt: "Select Department", label: false %>

    <%= f.input :title, placeholder: "Job Title" %>
    
    <%= f.text_area :description, placeholder: "Job Description", data: {behavior: 'autocomplete'} %>
    
    
    <%= f.input :start_date, as: :string, input_html: { id: "datepicker" } %> 
    
    <div class="input-group">
      <div class="input-group-addon">$</div>
                <%= f.input :pay_rate, as: :decimal, placeholder: "Pay Rate", label: false %>
      <div class="input-group-addon">per hour</div>
    </div>




    <%= f.submit %>

<% end %>
<!--FORM END-->
<% end %>


<!--IF THE COMPANY HAS NO UNASSIGNED EMPLOYEES - - END-->


<%= link_to 'Back', admin_orders_path %>