

<% if Employee.unassigned.empty? %>
<div id="no-employees-alert" class="alert alert-danger text-center" role="alert"><br>
<i class="fa fa-exclamation-triangle fa-3x fa-border"></i>
<h4 class='text-center'>All of your employees are currently assigned to a job. <br>
Please add a new employee before continuing.</h4>

<%= link_to "Add Employee", new_user_registration_path, class: "btn btn-danger" %>

</div>

<% else %>


<h1>New Job</h1>


<%= simple_form_for [:admin, @job] do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

<% end %>
 

       
        <% if @employee.nil? %>
    <%= f.association :employee, collection: Employee.unassigned.order(:last_name), prompt: "Select Employee", label: false %>
    <% else %>
    <span class='hide-this'>
     <%= f.hidden_field :employee_id, :value => @employee.id %>
    </span>
    <% end %>
    <% if current_admin.recruiter? == false %>
    <%= f.association :recruiter, collection: @current_agency.recruiters.order(:last_name), prompt: "Select Recruiter", label: false %>
    <% end %>
    <% if @order.present? %>
     <%= @order.title_company %>
    <%= f.hidden_field :order_id, :value => @order.id %>
    <% else %>
    <%= f.grouped_collection_select(:order_id, @current_agency.companies.distinct, :orders, :name, :id, :title_count, prompt: "Select a job", required: true ) %>

    <% end %>
    <%= f.input :title, placeholder: "Job Title" %>
    
    <%= f.text_area :description, placeholder: "Job Description", data: {behavior: 'autocomplete'} %>
    
    <%= f.input :start_date, as: :string, placeholder: "Select start date", required: true %>
    
    
    <div class="input-group">
      <div class="input-group-addon">$</div>
                <%= f.input :pay_rate, as: :decimal, placeholder: "Pay Rate", label: false %>
      <div class="input-group-addon">per hour</div>
    </div>




    <%= f.submit %>

<% end %>
<!--FORM END-->
<% end %>


<!--IF THE COMPANY HAS NO UNASSIGNED EMPLOYEES - - END-->
