<div class='main-box'>

<% if Employee.unassigned.empty? %>
<div id="no-employees-alert" class="alert alert-danger text-center" role="alert"><br>
<i class="fa fa-exclamation-triangle fa-3x fa-border"></i>
<h4 class='text-center'>All of your employees are currently assigned to a job. <br>
Please add a new employee before continuing.</h4>

<%= link_to "Add Employee", new_user_registration_path, class: "btn btn-danger" %>

</div>

<% else %>





<%= simple_form_for [:admin, @job] do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

<% end %>
  <div class='col-md-12'>

       <div class="main-box-short form-group">
        <% if @employee.nil? %>
    <%= f.association :employee, collection: Employee.unassigned.order(:last_name), prompt: "Select Employee", label: false %>
    <% else %>
    <h3 class='text-center'>Assign <%= @employee.name %> to a new position.</h3>
    <hr>
    <span class='hide-this'>
     <%= f.hidden_field :employee_id, :value => @employee.id %>
    </span>
    <% end %>
    <% if current_admin.recruiter? == false %>
    <%= f.association :recruiter, collection: @current_agency.recruiters.order(:last_name), prompt: "Select Recruiter", label: false %>
    <% end %>
    
    <% if @order.present? %>
     <%= @order.title_company %>
    <%= f.hidden_field :order_id, :value => @order.id %>
    <% else %>

 
    <% end %>
    <div class='col-md-6'>
      <%= f.input :title, placeholder: "Job Title", label: false %>
    </div>
    <div class='col-md-6'>
      <%= f.input :order_id, collection: @current.companies.distinct, as: :grouped_select, label: false, group_method: :orders, label_method: :title_count, prompt: "Select Job Order", required: true %>
    </div>
    <div class='col-md-12'>
      <%= f.input :description, as: :text, input_html: { class: 'form-control', rows: 10 }, label: false, placeholder: "Interview notes." %>
    </div>
    <div class='col-md-6'>
      <div class="input-group">
        <div class="input-group-addon">$</div>
                  <%= f.input :pay_rate, as: :decimal, placeholder: "Pay Rate", label: false %>
        <div class="input-group-addon">per hour</div>
      </div>
    </div>
    <div class='col-md-6'>
       <%= f.input :start_date, as: :string, input_html: { class: 'form-control'}, label: false %>
    </div>

    
  <div class='center'>
    <%= f.button :submit, "Assign Now", class: "btn btn-success" %>
  </div>
    


   
    
      </div>
 </div>
<% end %>
<!--FORM END-->
<% end %>


<!--IF THE COMPANY HAS NO UNASSIGNED EMPLOYEES - - END-->
</div>