

<% if Employee.unassigned.empty? %>
<div id="no-employees-alert" class="alert alert-danger text-center" role="alert"><br>
<i class="fa fa-exclamation-triangle fa-3x fa-border"></i>
<h4 class='text-center'>All of your employees are currently assigned to a job. <br>
Please add a new employee before continuing.</h4>

<%= link_to "Add Employee", new_user_registration_path, class: "btn btn-danger" %>

</div>

<% else %>


<h1>New Job</h1>


<%= simple_form_for [:admin, @job] do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

<% end %>
 

       <div class="form-group">
        <% if @employee.nil? %>
    <%= f.association :employee, collection: Employee.unassigned.order(:last_name), prompt: "Select Employee", label: false %>
    <% else %>
    <span class='hide-this'>
     <%= f.hidden_field :employee_id, :value => @employee.id %>
    </span>
    <% end %>
    <% if current_admin.recruiter? == false %>
    <%= f.association :recruiter, collection: @current_agency.recruiters.order(:last_name), prompt: "Select Recruiter", label: false %>
    <% end %>
    <% if @order.present? %>
     <%= @order.title_company %>
    <%= f.hidden_field :order_id, :value => @order.id %>
    <% else %>
    <%= f.grouped_collection_select(:order_id, @current_agency.companies.distinct, :orders, :name, :id, :title_count, prompt: "Select a job", required: true ) %>

    <% end %>
    <%= f.input :title, placeholder: "Job Title" %>
  <div class='well'>
    <%= f.fields_for :settings, @job.settings do |d| %>
    <% @job.settings.try(:each) do |key, value| %>
        <div class="row">
          <p class='span3'>
            <%= text_field_tag key, key, :class => 'text_field dynamicAttributeName' %>
          </p>
          <p class='span3'>
            <%= d.text_field key, :class => 'text_field', :value => value %>
          </p>
          <p class='span1'>
            <a herf='#' class='btn removeRow'>X</a>
          </p>
        </div>
    <% end %>
  <%- end -%>
  </div>
    
    
    <%= f.input :start_date, as: :string, placeholder: "Select start date", required: true %>
    </div>
    <%= f.input :description, as: :text, input_html: { class: 'form-control', rows: 10 }, label: false, placeholder: "Interview notes." %>
    <div class="input-group">
      <div class="input-group-addon">$</div>
                <%= f.input :pay_rate, as: :decimal, placeholder: "Pay Rate", label: false %>
      <div class="input-group-addon">per hour</div>
    </div>




    <%= f.submit %>

<% end %>
<!--FORM END-->
<% end %>


<!--IF THE COMPANY HAS NO UNASSIGNED EMPLOYEES - - END-->
