<div class='col-md-12 '>

  <% if Employee.unassigned.empty? %>
  <div id="no-employees-alert" class="alert alert-danger text-center" role="alert"><br>
  <i class="fa fa-exclamation-triangle fa-3x fa-border"></i>
  <h4 class='text-center'>All of your employees are currently assigned to a job. <br>
  Please add a new employee before continuing.</h4>
  
  <%= link_to "Add Employee", new_user_registration_path, class: "btn btn-danger" %>
  
  </div>
  
  <% else %>





<%= simple_form_for [:admin, @job] do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

<% end %>
<h4 class='page-header'>Add A New Job</h4>
  <div class='col-md-12 '>
<h4 class=''><%=  @order.try(:title_company) %>  -  <small><%=  @order.try(:pay_range) %></small></h4>
       <div class="form-group">
         <div class='col-md-6'>
        <% if @employee.nil? %>
    <%= f.association :employee, collection: Employee.unassigned.order(:last_name), prompt: "Select Employee", label: "Employee" %>
    <% else %>
    <h3 class='text-center'>Assign <%= @employee.name %> to a new position.</h3>
   
    <span class='hide-this'>
     <%= f.hidden_field :employee_id, :value => @employee.id %>
    </span>
    <% end %>
    </div>
     <div class='col-md-6'>
      <%= f.input :title, label: "Job Title" %>
    </div>
    <div class='col-md-6'>
      <div class="input-group">
        <div class="input-group-addon">$</div>
                  <%= f.input :pay_rate, as: :decimal, input_html: { class: 'form-control'}, placeholder: "Pay Rate", label: false %>
        <div class="input-group-addon">per hour</div>
      </div>
    </div>
     <div class='col-md-6'>
    <% if current_admin.recruiter? == false %>
    <%= f.association :recruiter, collection: @current_agency.recruiters.order(:last_name), prompt: "Select Recruiter", label: false %>
    <% end %>
    
    <% if @order.present? %>
     
    <%= f.hidden_field :order_id, :value => @order.id %>
  <% else %>
 
      <%= f.input :order_id, collection: @current_agency.companies.distinct, as: :grouped_select, label: false, group_method: :orders, label_method: :title_count, prompt: "Select Job Order", required: true %>
    
    <% end %>
   
    </div>
    <div class='col-md-9'>
      <%= f.input :description, as: :text, input_html: { class: 'form-control', rows: 5 }, label: false, placeholder: "Interview notes." %>
    </div>
   
    <div class='col-md-3'>
       <%= f.input :start_date, as: :string, input_html: { class: 'form-control'}, label: "Start Date" %>
       
    </div>
    <div class='col-md-12'>
    <div class='form-inline'>
      <%= f.simple_fields_for :settings do |d| %>
      <%= d.input :pay_rate, label: false, placeholder: "Pay Rate", input_html: {class: "form-control"} %>
      <%= d.input :drive_pay, label: false, placeholder: "Drive Pay", input_html: {class: "form-control"} %>
      <%= d.input :ride_pay, label: false, placeholder: "Ride Pay", input_html: {class: "form-control"} %>
      <% end %>
    </div>
    <h3>Vacation</h3>
    <%= f.input :vacation, class: "form-inline" do %>
        <%= f.select :number_of_days, [ "1", "2", "3", "4", "5"], class: "form-control" %>
        <%= f.select :milestone_1, [ "1000", "1500", "2000", "2500", "3000"], class: "form-control" %>
        <%= f.select :milestone_2, [ "1000", "1500", "2000", "2500", "3000"], class: "form-control" %>
        <%= f.select :milestone_3, [ "1000", "1500", "2000", "2500", "3000"], class: "form-control" %>
      <% end %>
    </div>
   
    
  <div class='btn-group'>
      <%= f.submit "Send for Approval", class: 'btn btn-primary' %>
      <%= f.submit "Assign Now", class: 'btn btn-success' %>
    </div>
    


   
    
      </div>
 </div>
<% end %>
<!--FORM END-->
<% end %>


<!--IF THE COMPANY HAS NO UNASSIGNED EMPLOYEES - - END-->
</div>