<% link_to "EDIT", edit_job_path(@job), class: "btn btn-warning" %>
  
  <% if @job.on_shift? %>
  <p id="clock-status" class="text-center"><strong><%= @job.employee.name %> is currently clocked in. <%= link_to "Clock Out", clock_out_job_path(@job), method: :patch, 
                          remote: true, class: "btn btn-default"  %></strong></p>
  <% else %>
  <%= link_to "Clock In", new_shift_path, class: "btn btn-primary" %>
                          
                          
                          
<% end %>




<div class='company-profile-nav'>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#job" aria-controls="job" role="tab" data-toggle="tab">Job Information</a></li>
    <li role="presentation"><a href="#timesheets" aria-controls="timesheets" role="tab" data-toggle="tab">Timesheets</a></li>
    <li role="presentation"><a href="#company-info" aria-controls="company-info" role="tab" data-toggle="tab">Company Information</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Departments</a></li>
  </ul>
  
  <div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="job">

    <div class='col-md-6'>
      <strong>Employee:</strong>
      <%= link_to @employee.name, @employee %><br>
      <strong>Start date:</strong>
      <%= @job.start_date.strftime("%B %e, %Y ") %><br>
      <strong>Gross this week:</strong> <%= number_to_currency(@job.current_week_pay) %><br>
      <strong>Total Hours : </strong><%= @job.total_hours %>
      <strong>Total Gross : </strong><%= @job.total_hours %>
    </div>
    <div class='col-md-6'>
      <strong>Company:</strong>
      <%= link_to @company.name, @company %><br>
    
      <strong>Department:</strong>
      <%= link_to @job.order.title, company_order_path(@company, @order) %> <br>
      
      <strong>Job Title:</strong>
      <%= @job.title %><br>
      <strong>Recruiter:</strong>
      <%= @job.recruiter.present? ? @job.recruiter.name : "Recruiter unavailable" %><br>
      <strong>Staff:</strong>
      <%= @job.staff %><br>
      
      <strong>Pay rate:</strong>
      <%= number_to_currency(@job.pay_rate, :unit => "$") %><br>
    </div>


  <div class='col-md-12'>

      <strong>Description:</strong><br>
  <%= @job.description %><br>
  </div>


</div>

  <div role="tabpanel" class="tab-pane fade" id="timesheets">
    <h3>Timesheets</h3>
      <%= render 'timesheets/table' %>

  </div>
  
  
  
  
  <div role="tabpanel" class="tab-pane fade" id="company-info">
     <h3>Company Information</h3>
     <div class='well'>
       <% if @job.on_shift? %>
      Last Clock In Time: <%= @job.last_clock_in.strftime("%I:%M %p") %>
      
        <%= render @job.current_shift %>
      <% else %>
      <%= link_to 'Clock In', new_shift_path, id: "clock-in-button", class: "btn btn btn-default" %>
      <% end %>
      
      
      
      <%= link_to 'Edit', edit_job_path(@job) %> |
      <%= link_to 'Back', jobs_path %>

     </div>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="settings">
    <h3>Settings</h3>
    
    
    
    
    
    
    
  </div>

  

  
  </div>





