<div class='col-md-12 dark'>
  <h4><strong><%= @job.name_title %></strong></h4>
 
   <div class='col-md-4 text-center'>
          
          <h4><small><strong><%= @job.company.name %></strong></small></h4>
       </div>
       <div class='col-md-4 text-center'>
          
          <h4><small><strong><%= number_to_currency(@job.pay_rate) %>/ hr</strong></small></h4>
       </div>
       <div class='col-md-4 text-center'>
          
          <h4><small><%= @job.start_date.strftime("%B %e, %Y ") %></small></h4>
       </div>
       
      Pay: <%= @job.settings['pay_rate'] if @job.settings %><br>
      Drive Pay: <%= @job.settings['drive_pay'] if @job.settings %><br>
      Ride Pay: <%= @job.settings['ride_pay'] if @job.settings %>
       
       
       
       
       
   
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <%= link_to "View Company", admin_company_path(@company), class: "btn btn-primary" %>
        <%= link_to "View Job Order", admin_order_path(@order), class: 'btn btn-primary' %>
        <%= link_to "View Employee", admin_employee_path(@employee), class: 'btn btn-primary' %>
        <%= link_to "View User Profile", @employee.user, class: 'btn btn-primary' %>
        <%= link_to "Edit Job", edit_admin_job_path(@job), class: "btn btn-primary" %>
      </div>
      <hr>
        
       
      
      
      
      
   
       
  
    
      
    

    
  

<div class="row">
  <div class='col-md-12 company-profile-nav'>

  
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#job" aria-controls="job" role="tab" data-toggle="tab">Job Information</a></li>
    <li role="presentation"><a href="#timesheets" aria-controls="timesheets" role="tab" data-toggle="tab">Timesheets</a></li>
    <li role="presentation"><a href="#order-info" aria-controls="order-info" role="tab" data-toggle="tab">Order Information</a></li>
    <li role="presentation"><a href="#week-totals" aria-controls="week-totals" role="tab" data-toggle="tab">Week Totals</a></li>
    <li role="presentation"><a href="#job-totals" aria-controls="job-totals" role="tab" data-toggle="tab">Job Totals</a></li>
    <li role="presentation"><a href="#skills-tab" aria-controls="skills-tab" role="tab" data-toggle="tab">Skills</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
    <li role="presentation"><a href="#comments-tab" aria-controls="comments-tab" role="tab" data-toggle="tab">Comments</a></li>
    
  </ul>
  
  <div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="job">
     
    
 
  <div class='col-md-6 dark'>
    <div class='well'>
  <h4><strong>Interview Notes:</strong></h4>
      
        <%= @job.description %>
     
      
      <% if @job.recruiter.present? %>
        <h5>Recruiter: <small><%= link_to @job.recruiter.name, @job.recruiter %></small></h5>
      <% end %>
 
      <%= render 'modal', job: @job %>
    </div>
     </div>
 


</div>

  <div role="tabpanel" class="tab-pane fade" id="timesheets">
    <h3>Timesheets</h3>
      <%= render @timesheet if @job.current_timesheet.present? %> 
    <%= link_to "Timesheets", admin_job_timesheets_path(@job), class: "btn btn-success" %>
    <%= link_to "Past Timesheets", past_admin_job_timesheets_path(@job), class: "btn btn-success" %>
  </div>
  
  
  
  
  <div role="tabpanel" class="tab-pane fade" id="order-info">
     <h3>
     Order Information</h3>
     <%= render @order %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="comments-tab">
     <div class='col-md-12 dark'>
         <div id='comments' class="well well-sm">
           <%= render partial: "comments/comments", locals: {commentable: @job} %>
         </div>
       
        <div class='well well-sm'>
          
          <%= render partial: "comments/form", locals: {commentable: @job} %>
          
        </div>
    
      </div>
  </div>
     <div role="tabpanel" class="tab-pane fade" id="settings">
     
     <div class='col-md-6'>
      
      <% if @job.mentioned_admins.any? %>
      <strong>Mentioned Admins</strong>
        <% @job.mentioned_admins.each do |admin|%>
          <%= admin.name %> - <%= admin.role %>
        <% end %>
      
      <% end %>
    </div>
    
    
    
    
    
    
    
  </div>
  <div role="tabpanel" class="tab-pane fade" id="skills-tab">
    <div class='dark col-md-12'>
      <div class='col-md-5 list-group transbox'>
     <h3>Skills Needed</h3>
     <% @order.skills.each do |skill| %>
     <li class='list-group-item list-group-item-success black'>
       <%= highlight(skill.name, @employee.skills.pluck(:name).to_a, highlighter: '<u>\1</u>') %>
     </li>
     <% end %>
    </div>
    <div class='col-md-5 list-group transbox'>
      <h3><%= @employee.first_name %>'s Skills</h3>
      <% @employee.skills.each do |skill| %>
     <li class='list-group-item list-group-item-success black'>
       <%= highlight(skill.name, @order.skills.pluck(:name).to_a, highlighter: '<u>\1</u>') %>
     </li>
     <% end %>
    </div>
    </div>
    
  </div>
  <div role="tabpanel" class="tab-pane fade" id="week-totals">
    
     <h4>Week Totals</h4>
      <strong>Hours: </strong><%= @job.current_timesheet.try(:total_hours) || 0.00 %><br>
      <strong>Gross pay: </strong><%= number_to_currency(@job.current_timesheet.try(:total_hours) || 0) %><br>
      <strong>Gross pay: </strong><%= number_to_currency(@job.current_timesheet.try(:gross_pay) || 0) %><br>
      <strong>Total bill: </strong><%= number_to_currency(@job.total_gross_bill) %>

      <strong>Gross this week:</strong> <%= number_to_currency(@job.current_week_pay) %><br>
    
    
    
    
    
    
    
  </div>
  <div role="tabpanel" class="tab-pane fade" id="job-totals">
    
     <h4>Grand Totals</h4>
      <strong>Hours: </strong><%= @job.total_hours %><br>
      <strong>Pay: </strong><%= number_to_currency(@job.total_gross_pay) %><br>
      <strong>Total bill: </strong><%= number_to_currency(@job.total_gross_bill) %>
    
    
    
    
    
    
    
  </div>

  

  
  </div>
  </div>
</div>
</div>




