<div class='col-md-12'>
  <h4><strong><%= @job.name_title %></strong></h4
  <h4><strong><%= @job.company.name %></strong></h4>
 <h4><strong><%= number_to_currency(@job.pay_rate) %>/ hr</strong></h4>

    <div class='col-md-3'>
      <strong>Employee:</strong>
      <%= link_to @employee.name, admin_employee_path(@employee) %><br>
      <strong>Start date:</strong>
      <%= @job.start_date.strftime("%B %e, %Y ") %><br>
      <strong>Gross this week:</strong> <%= number_to_currency(@job.current_week_pay) %><br>
      <strong>Total Hours : </strong><%= @job.total_hours %><br>
      <strong>Total Gross : </strong><%= @job.total_hours %>
    </div>
    <div class='col-md-3'>
      <strong>Employee:</strong>
      <%= link_to @employee.name, admin_employee_path(@employee) %><br>
      <strong>Start date:</strong>
      <%= @job.start_date.strftime("%B %e, %Y ") %><br>
      <strong>Gross this week:</strong> <%= number_to_currency(@job.current_week_pay) %><br>
      
    </div>
    <div class='col-md-3'>
      <strong>Mentioned Admins</strong>
      <% if @job.mentioned_admins.any? %>
        <% @job.mentioned_admins.each do |admin|%>
          <%= admin.name %> - <%= admin.role %>
        <% end %>
      <% else %>
      No admins were mentioned.
      <% end %>
      
      <% link_to "EDIT", edit_admin_job_path(@job), class: "btn btn-warning" %>
    </div>

    <div class='col-md-3'>
      <h4>Totals</h4>
      <strong>Hours: </strong><%= @job.total_hours %><br>
      <strong>Gross pay: </strong><%= number_to_currency(@job.total_gross_pay) %><br>
      <strong>Total bill: </strong><%= number_to_currency(@job.total_gross_bill) %>
      
      
      
    </div>
  

<div class="row">
  <div class='col-md-10 company-profile-nav'>

  
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#job" aria-controls="job" role="tab" data-toggle="tab">Job Information</a></li>
    <li role="presentation"><a href="#timesheets" aria-controls="timesheets" role="tab" data-toggle="tab">Timesheets</a></li>
    <li role="presentation"><a href="#order-info" aria-controls="order-info" role="tab" data-toggle="tab">Order Information</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Employee Information</a></li>
  </ul>
  
  <div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="job">
     

 
  <div class='col-md-10 well'>
  <strong>Job Description:</strong>
      <%= @job.description %><br>
    


  </div>

<%= link_to "Edit", edit_admin_job_path(@job), class: 'badge badge-primary' %>
</div>

  <div role="tabpanel" class="tab-pane fade" id="timesheets">
    <h3>Timesheets</h3>
      <%= render @timesheet if @job.current_timesheet.present? %> 
    <%= link_to "Timesheets", admin_job_timesheets_path(@job), class: "btn btn-success" %>
    <%= link_to "Past Timesheets", past_admin_job_timesheets_path(@job), class: "btn btn-success" %>
  </div>
  
  
  
  
  <div role="tabpanel" class="tab-pane fade" id="order-info">
     <h3>
     Order Information</h3>
     <%= render @order %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="settings">
    <h3><%= @employee.first_name %>'s skills</h3>
     <%= render @skills %>
     
    
    
    
    
    
    
    
  </div>

  

  
  </div>
  </div>
</div>
</div>




