<%= form_for [@job, @shift] do |f| %>
  <% if @shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% @shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time_in %><br>
    <%= f.datetime_select :time_in %>
  </div>
  <div class="field">
    <%= f.label :time_out %><br>
    <%= f.datetime_select :time_out %>
  </div>
  <!--<div class="field">-->

    
  <!--</div>-->
    <div class="field">
      <%= @employee.name %>
    <%= f.number_field :employee_id, disabled: true %><br>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
