<h3><%= @employee.name %></h3>
<hr>
<%= @shift.state ? @shift.state.titleize : "New Shift" %>
<%= simple_form_for [@job, @shift] do |f| %>
      <hr>


    <%=  f.association :job, label_method: :title, value_method: :id, include_blank: false, disabled: true %>


<div class="well col-md-8">
  <div class="input-group clockpicker">
        <%= f.input :time_in, as: :string %>
        <%= f.input :time_out, as: :string %>
</div>
</div>


<%= f.button :submit, "Clock In", class: "clockin-button" %>

<% end %>
