
<h3 class="page-header">
  <strong> <%= @employee.name %>  <small> <%= @job.title %></small></strong>
</h3>
  



<% if @shift.clocked_in? %>

  <p><%= @shift.state.titleize %>
  <strong>Time in:</strong>
  <%= @shift.time_in.strftime("%I:%M %p") %></p>
  
  <strong><h3><%= @shift.state.titleize %></h3></strong>
  <strong>Time out:</strong>



  <%= link_to 'Clock Out', clock_out_job_shift_path(@job, @shift), method: :patch, 
                          remote: true, class: "btn btn-primary btn-lg", data: { disable_with: "Clocking Out..."} %>





<% else %>
<strong><h3><%= @shift.state.titleize %></h3></strong>
<p>
  <strong>Time in:</strong>
  <%= @shift.time_in.strftime("%I:%M %p") %></p>
  
  <h3>Time Out: <span id="time-out">
 <%= @shift.time_out.strftime("%I:%M %p") %>  </span></h3>
  <h3>Time worked: <span id="time-worked">
    <%= @shift.time_worked %>
  </span></h3>
  
  <%= distance_of_time_in_words(@shift.time_in, @shift.time_out, include_seconds: true) %>

  
  
<% end %>



<hr>





<%= link_to 'Edit', edit_job_shift_path(@job, @shift) %> 

<%= link_to 'Back', job_shifts_path(@job) %>
