<%= simple_form_for [:admin, @employee, @work_history] do |f| %>
  
  <%= f.error_notification %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">General Info</h3>
    </div>
    <div class="panel-body">
      <div class="col-md-12">
        <%= f.input :title, placeholder: "Job Title" %>
        <div class="col-md-6">
          <%= f.input :employer_name, placeholder: "Company Name" %>
          <%= f.input :pay, placeholder: "Pay Rate" %>
          <%= f.input :current, as: :select, label: "Is this your current position?", include_blank: false %>
        </div>
        <div class="col-md-6">
          <%= f.input :may_contact, as: :select, include_blank: false, label: "May we contact this employer?" %>
          <%= f.input :supervisor, placeholder: "Supervisor name" %>
          <%= f.input :phone_number, placeholder: "Phone number" %>
        </div>
        <div class="form-group">
            <%= f.input :start_date, wrapper_html: {class: "form-inline col-md-6"},
      				default: Date.today, as: :date,
      				order: [:month, :day, :year] %>
            <%= f.input :end_date, wrapper_html: {class: "form-inline col-md-6"},
      				default: Date.today, as: :date,
      				 order: [:month, :day, :year] %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Job Description</h3>
    </div>
    <div class="panel-body">
      <div class="">
        <div class="">
          <%= f.input :description, as: :text, label: false, placeholder: "Job Duties / Responsiblities", input_html: {data: { behavior: "autocomplete_work_history" }, rows: 10 } %>
        </div>
      </div>
    </div>
  </div>
  <div class='btn-group'>
    <%= f.button :submit, "Save", class: 'btn btn-success btn-lg' %>
    <%= link_to 'View Resume', employee_work_histories_path, class: "btn btn-default btn-lg" %>
  </div>
  
<% end %>
