<div class='center main-box'>
   <h2><%= @employee.name %><small><% if @work_history.current? %>
      <i class="fa fa-asterisk fa-lg"></i> <strong>Currently Employed</strong>
    <% end %></small></h2>
    
        
            <h3><%= @work_history.employer_name %> <small><%= @work_history.title %></small>
            
            </h3>
            

            <strong> Employed for <%= distance_of_time_in_words(@work_history.start_date, @work_history.end_date) %>. </strong>
        Ended about <%= time_ago_in_words(@work_history.end_date) %> ago.

            <strong>Pay Rate:</strong><br>
          <%= number_to_currency(@work_history.pay) %>

            <strong>Employment Dates:</strong><br>
            <%= @work_history.start_date.stamp("December 2013") %> - <%= @work_history.end_date.stamp("December 2013") %>

            <% if @work_history.may_contact? %>
            <i class="fa fa-phone-square fa-lg"></i> <strong>This employer may be contacted.</strong>
          <% end %>

            <strong>Phone number:</strong><br>
            <%= @work_history.phone_number %>

            
<br>
            <strong>Supervisor:</strong><br>
            <%= @work_history.supervisor %>
         

        

            <strong>Duties / Responsibilities</strong><br>
            <%= @work_history.description %>
       <hr />

      <%= link_to '<i class="fa fa-angle-double-left"></i>  Back'.html_safe, admin_employee_work_histories_path(@employee), class: 'btn' %>
      <%= link_to '<i class="fa fa-trash red"></i>  Delete'.html_safe, @work_history, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn red' %>
      <%= link_to '<i class="fa fa-pencil"></i>  Edit'.html_safe, edit_admin_employee_work_history_path(@employee, @work_history), class: 'btn' %>
 
     
        
</div>


