<div class='col-md-12 dark'>
<div class='row well'>
       <h1><%= @employee.name %> </h1>
      <% if @work_history.current? %>
            <span data-toggle="tooltip" data-placement="top" title="Current Employer"><i class="fa fa-asterisk"></i> </span>
        <% end %>
        
         <h3>  <%= @work_history.employer_name %> <small><%= @work_history.title %></small></h3>
              
            
        
<div class='col-md-6 well'>
            <strong>Pay:</strong>
           <%= number_to_currency(@work_history.pay) %>
<h5>
            <strong> Employed for <%= distance_of_time_in_words(@work_history.start_date, @work_history.end_date) %>. </strong><br>
       <small> Ended about <%= time_ago_in_words(@work_history.end_date) %> ago.</small></h5>
<hr>
         
<br>
            <strong>Employment Dates:</strong><br>
            <%= @work_history.start_date.stamp("December 2013") %> - <%= @work_history.end_date.stamp("December 2013") %>
<br>

<% if @work_history.may_contact? %>
            <i class="fa fa-phone-square" data-toggle="tooltip" data-placement="top" title="Allowed to Contact"></i>
             <%= @work_history.phone_number %>
        <% end %>
            

            
<br>
            <strong>Supervisor:</strong>
            <%= @work_history.supervisor %>
         
<h3>Tags</h3>
<%= @work_history.tag_list %>
</div>
    </div>    
<div class=' '>
    <% @work_history.listed_skills.each do |skill| %>
        <%= skill.name %>
    <% end %>
            <strong>Duties / Responsibilities</strong><br>
           <%= highlight(@work_history.description, Skill.job_order.map(&:name), highlighter: '<a href="/tags?tag=\1">\1</a>') %>
       </div>

     <div class='center'>
          <%= link_to '<i class="fa fa-user"></i>  Back'.html_safe, admin_employee_path(@employee), class: 'btn' %>
      <%= link_to '<i class="fa fa-trash red"></i>  Delete'.html_safe, @work_history, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn red' %>
      <%= link_to '<i class="fa fa-pencil"></i>  Edit'.html_safe, edit_admin_employee_work_history_path(@employee, @work_history), class: 'btn' %>
     </div>
 
     
        
</div>


