<%= simple_form_for [@company, @order] do |f| %>
  <div id="new-company-order-form" class="col-md-4">
        <h4><strong>Company Information</strong></h4>
  <% if @company.nil? %>
    <%= f.association :company, collection: Company.all, prompt: "Choose a Company" %>
  <% else %>
    
    <%= f.association :company, disabled: true %>
    
  <div id="company-contact-well" class="well">
    <address>
      <strong><%= link_to @company.name, @company %></strong><br>
      <%= @company.address %><br>
      <%= @company.city %>, <%= @company.state %> <%= @company.zipcode %><br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
    <address>
      <strong><%= @company.contact_name %></strong><br>
      <a href="mailto:#"><%= @company.contact_email %></a>
    </address>
  </div>
  <% end %>

     
  </div>
  <div id="new-job-form" class="col-md-4">
    <h3>Department</h3>
    <%= f.input :title, placeholder: "Department Name" %>
    <%= f.input :pay_range, selected: [ "Hourly" ], collection: [ "Hourly", "Salary", "Hourly + Commission"], label: "Pay Type" %>
    <%= f.input :notes, label: "Additional Payroll Information", placeholder: "Vacation & holiday pay, bonus structure, shift differentials, etc..." %>
    <%= f.input :urgent, as: :boolean, label: "Paid bi-weekly?" %>
    <%= f.input :active, as: :boolean %>
    <%= f.submit %>
    
  </div>
<% end %>
 