<%= simple_form_for [:admin, @company, @order] do |f| %>

        
  <% if @company.nil? %>
    <%= f.association :company, collection: Company.all, prompt: "Choose a Company" %>
  <% else %>

    
  <div id="company-contact">
    <h4><strong>Company Information</strong></h4>
    <address>
      <strong><%= link_to @company.name, @company %></strong><br>
      <%= @company.address %><br>
      <%= @company.city %>, <%= @company.state %> <%= @company.zipcode %><br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
    <address>
      <strong><%= @company.contact_name %></strong><br>
      <a href="mailto:#"><%= @company.contact_email %></a>
    </address>
  </div>
  <% end %>

    <h4><strong>Job Order Information</strong></h4>
    <%= f.input :title, placeholder: "Enter Department Name", label: false %>
    <%= f.association :manager, collection: @company.admins, placeholder: "Choose a Company Manager", label: false if @company.present? %>
    <%= f.association :account_manager, collection: @account_managers, placeholder: "Choose aa Account Manager", label: false %>
    <%= f.input :notes, label: "Additional Payroll Information", placeholder: "Vacation & holiday pay, bonus structure, shift differentials, etc...", label: false %>
    <%= f.input :urgent, as: :boolean, label: "Paid bi-weekly?" %>
    <%= f.input :active, as: :boolean %>
    <%= f.submit %>
    

<% end %>
 