<%= link_to admin_company_order_path(order.company, order), class: 'list-group-item list-group-item-info border' do %>
<p class="list-group-item-heading"><%=  order.title %> <%= order.pay_range %><span class='badge badge-danger pull-right'><%= order.needed_by.stamp('11/13') %></span>
<span class='badge badge-default pull-left'><%= order.open_jobs %> </span></p>
    <p class="list-group-item-text">
		<small>
			<% order.skills.each do |skill| %>
			<%= skill.name %>
		<% end %>
		</small>
	    
	</p>
	
<% end %>
 

    
 

	
	
	

