<a class="btn btn-primary" role="button" data-toggle="collapse" href="#orderTable" aria-expanded="false" aria-controls="orderTable">
  Company Orders
</a>

<div class="collapse" id="orderTable">
  <div class="well">

<table id="orders" class="display">
  <thead>
    <tr>
      <th>Company</th>
      <th>Pay range</th>
      <th>Title</th>
      <th>Notes</th>
      <th>Needed</th>
      <th>Filled</th>
      <th>Needed by</th>
      <th>Urgent</th>
      <th>Active</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.company_name %></td>
        <td><%= order.pay_range %></td>
        <td><%= order.title %></td>
        <td><%= order.notes %></td>
        <td><%= order.number_needed %></td>
        <td><%= order.jobs.count %></td>
        <td><%= order.needed_by %></td>
        <td><%= order.urgent %></td>
        <td><%= order.active %></td>
        <td><%= link_to "<span class='glyphicon glyphicon-eye-open' aria-hidden='true'></span>".html_safe, company_order_path(order.company, order), class: "btn btn-default" %></td>
        <td><%= link_to "<span class='glyphicon glyphicon-pencil' aria-hidden='true'></span>".html_safe, edit_company_order_path(order.company, order), class: "btn btn-default" %></td>
        <td><%= link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span>".html_safe, company_order_path(order.company, order), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path, class: "btn btn-default" %>







  </div>
</div>