<div class='col-md-12 dark'>
  <div class='form-inline'>
  <%= render 'orders/search' %>
  </div>
 <div class='col-md-12 table-responsive'>
  <table class="table table-bordered">
  <thead>
    <tr>
    <th><%= sort_link(@q, :created_at, 'Created', default_order: :desc) %></th>
      <th><%= sort_link(@q, :company, 'Company') %></th>
      <th>Title</th>
      <th>Dept. Manager</th>
      <th>Pay</th>
      <th>Employees </th>
      <th>Bi-Weekly</th>
      <th></th>
     
    </tr>
  </thead>

  <tbody>
    <% @orders.active.each do |order| %>
      <tr>
        <td><%= order.created_at.stamp("11/12/15") %></td>
        <td><%= order.company_name %></td>
        <td><%= link_to order.title, admin_company_order_path(order.company, order) %></td>
        <td><%= order.manager.present? ? order.manager.name : "N/A" %></td>
        <td><%= order.pay_range %></td>
        <td><%= order.jobs.active.count %></td>
        <td><%= order.urgent %></td>
        <td><%= link_to 'Add New Order', new_admin_company_order_path(order.company), class: "table-link" %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>



</div>