<%= div_for event do %>
<i class="fa fa-check fa-fw"></i>
<% if @admin.nil? && @candidates.nil?  %>
	<%= event.admin.try(:first_name) %>
	<%= event.company_admin.try(:first_name)  %>
    <strong>	<%= event.action.humanize.downcase %></strong>
    <% end %>
    <% if event.eventable.present? %>
     a <%= event.eventable_type.downcase %> for
    <%=  signed_in_link_to event.eventable.name, event.eventable %> 
		<span class='label label-success black pull-right'>
		    <%= event.created_at.stamp('11/13') %>
		</span>
	<% else %>
	a deleted timesheet.
	<% end %>

<% end %>