
        <div class='col-md-5'>
            
           <%= link_to employee_work_history_path(work_history) do %><h3> <%= work_history.title %></h3> <h4><%= work_history.employer_name %></h4>
           <strong><%= work_history.start_date.stamp("December 2013") %> - <%= work_history.end_date.stamp("December 2013") %></strong>
            <p><%= highlight(work_history.description, work_history.employee.tags.pluck(:name).to_a, highlighter: '<a href="/tags?tag=\1">\1</a>') %></p><% end %>
        </div>
        <div class='col-md-2'>
            
            <p><%= number_to_currency(work_history.pay) %></p>
            
        <p><%= may_contact(work_history) %></p>
     
        
        
        </div>
        
