<div class='row  lightbox'>
    <div class='col-md-12'>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Edit <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><%= link_to '<i class="fa fa-pencil"></i>  Edit'.html_safe, edit_employee_work_history_path(@work_history), class: '' %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to '<i class="fa fa-trash"></i>  Delete'.html_safe, @work_history, method: :delete, data: { confirm: 'Are you sure?' }, class: '' %></li>
            </ul>
        </div>
        <div class='row'>
            <div class='col-md-4 well well-sm'>
                
                <h1>  <%= @work_history.employer_name %> </h1>
                <h2><small><% if @work_history.current? %>
                    <span data-toggle="tooltip" data-placement="top" title="Current Employer"><i class="fa fa-asterisk"></i> </span>
                    <% end %>
                <%= @work_history.title %></small></h2>
                <p class='lead'><strong>Pay:</strong>
                <%= number_to_currency(@work_history.pay) %></p>
                <h4> <%= @work_history.start_date.stamp("December 2013") %> - <%= @work_history.end_date.stamp("December 2013") %> </h4>
                Ended about <%= time_ago_in_words(@work_history.end_date) %> ago.
                <p class='lead'>
                     <strong> Employed for <%= distance_of_time_in_words(@work_history.start_date, @work_history.end_date) %>. </strong>
                                    </p>
                                    
                <% if @work_history.may_contact? %>
                <p class='lead'><strong>Phone Number:</strong><br>
                <i class="fa fa-phone-square" data-toggle="tooltip" data-placement="top" title="Allowed to Contact"></i>
                <%= @work_history.phone_number %></p>
                <% end %>
                <p class='lead'>
                    
                <strong>Supervisor:</strong><br>
                <%= @work_history.supervisor %></p>
            </div>
            <div class='col-md-8'>
                <h3><strong>Duties / Responsibilities</strong></h3>
                <div class='box'>
                    <%= markdownify(@work_history.description) %>
                </div>
            </div>
        </div>
        
    </div>
</div>