<div class="well well-sm">
	<h4>Following</h4>
<% if @admin.events.following_admin.any? %>

	<ul class='fa-ul scroll500'>
		<% @admin.events.following_admin.each do |event| %>
		<li><i class='fa fa-user'></i> <%= link_to event.eventable.name, admin_admin_path(event.eventable) %>
		<%= link_to "<i class='fa fa-user-times red'></i>".html_safe, event, class: "pull-right button", method: :delete, data: { confirm: 'Are you sure?', toggle: "tooltip", position: "right" }, title: "Unfollow" %></li>
		<% end %>
	</ul>
<% else %>
	<p class='bold'>No admins to show.</p>
<% end %>
	
	<% if @admin.events.following_candidates.any? %>
	<h4>Following Users</h4>
	<ul class='fa-ul scroll500'>
	<% @admin.events.following_candidates.each do |event| %>
	<li><%= link_to event.eventable do %><%= render "admin/users/modal", user: event.eventable %><% end %>
	<%= link_to "<i class='fa fa-user-times'></i>".html_safe, event, class: "pull-right button small text-danger", method: :delete, data: { confirm: "Are you sure?", toggle: "tooltip", position: "right" }, title: "Unfollow" %>
	</li>
	<% end %>
	</ul>
	<% else %>
	<p class='bold'>No users to show.</p>
	<% end %>
	
		
</div>