<div class="col-lg-12 lightbox">
  <h1 class="page-header">Admins</h1>
  <%= link_to "New Admin Account", new_admin_admin_path, class: 'btn btn-success pull-right' %>
  
  <div class="clearfix">
    <div class="table-responsive">
      <table id='' class="table table-bordered inv_datatable">
        <thead>
          <tr>
            <th><span>Admin</span></th>
            <th><span>Last Sign In</span></th>
            <th><span>Accounts</span></th>
            <th><span>Current Billing</span></th>
          </tr>
        </thead>
        <tbody>
          <%= content_tag_for(:tr, @admins) do |admin| %>
            <td>
              <% if !current_admin.is_following?(admin) && current_admin.id != admin.id %>
                <%= link_to(follow_admin_admin_path(admin), method: :post, class: "table-link") do  %>
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-street-view fa-stack-1x fa-inverse"></i>
                  </span>
                <% end %>
              <% end %>

              <%= link_to admin.name, admin_admin_path(admin), class: "admin-link" %><br>
              <small><%= admin.role %></small>
            </td>
            <td><%= link_to "edit", edit_admin_admin_path(admin) %>
              <small><%= admin.email %></small>
            </td>
            <td>
              <%= admin.recruiter_jobs.count if admin.recruiter? %>
              <%= admin.account_orders.count if admin.account_manager? %>
              <%= admin.role if admin.owner? %>
            </td>
            <td>
              <%= number_to_currency(admin.billing) if admin.billing.present? %>
              <%= admin.role if admin.owner? %>
            </td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
