<div class='col-md-12 mainpage shadow'>
    <div class='col-md-8 well well-sm'>
        <h1 class=''><%=gravatar_for(@admin)%><%= @admin.name %> <span class='small pull-right'><%= @admin.role %><br><small><%= @admin.email %></small> </span>
        </h1>
        <h3 class="bold">Current Billing <span class='pull-right'><%= number_to_currency(@admin.current_billing) %></span></h3>
         <p>Total Hours: <%= @admin.timesheets.current_week.sum(:total_hours).round(2) %></p>
        <hr>
        <div class="charts">
            <div class='col-md-12 well well-sm'>
                <%= column_chart @admin.timesheets.group_by_week('timesheets.week', range: 6.weeks.ago.midnight...Date.current, 
                format: "%m/%d").sum(:total_bill), library: {title: "#{@admin.first_name}'s Billings per Week"}, xtitle: "Week", ytitle: "Total Billing" %>
            </div>
            <%= render "admin/charts/owner_charts" if @admin.owner? %>
            <%= render "admin/charts/account_manager_charts", admin: @admin if @admin.account_manager? %>
            <%= render "admin/charts/recruiter_charts", recruiter: @admin if @admin.recruiter? %>
            <%= render "admin/charts/payroll_charts", admin: @admin if @admin.payroll? %>
        </div>
        
    </div>
    <div class='col-md-4 well well-sm'>
        
        <h4> <%= @admin.online? ? "<i class='fa fa-user green'></i>".html_safe : "<i class='fa fa-user text-muted'></i>".html_safe %> 
        Last signed in: <%= @admin.last_sign_in_at.present? ? @admin.last_sign_in_at.stamp("11/12 at 11:15am") : "Yet to sign in" %></h4>
        <hr>
            <p> Current Commission: <%= number_to_currency(@admin.current_commission) %></p>
             <p> Top Company: <%= @admin.companies.ordered_by_current_bill.first.name if @admin.companies.any? %>        <span class="pull-right">(<%= number_to_currency(@admin.companies.ordered_by_current_bill.first.current_billing) %>)</span>         </p>
        
        <% if @admin.account_manager? %>
        <h3 class="text-info text-center"><%= @admin.first_name %>'s Companies</h3>
        <%= render 'admin/shared/company_collapse', companies: @admin.companies.distinct  %>
        <% end %>
        <hr>
        <%= render 'infoboxes'  %>
    </div>
    
    
</div>
