<div class='row'>
    <div class='floating-box'>
        <h1> <%= @admin.online? ? "<i class='fa fa-user green'></i>".html_safe : "<i class='fa fa-user text-muted'></i>".html_safe %>  <%= @admin.name %></h1>
        <p class='lead'>  <%= @admin.role %>    <br> <small><%= @admin.email %></small> </p>
            <p> Current Commission: <%= number_to_currency(@admin.current_commission) %></p>
        <br>
        Last seen: <%= @admin.last_sign_in_at.present? ? @admin.last_sign_in_at.stamp("11/12 at 11:15am") : "Yet to sign in" %>
        <hr>
    </div>
    <div class='floating-box'>
        <%= render 'infoboxes'  %>
    </div>
    <div class="floating-box">
        <h2><%= @admin.first_name %>'s Companies</h2>
        <%= render 'admin/shared/company_collapse', companies: @admin.companies.distinct %>
    </div>
    <div class='pie-chart'>
        <%= pie_chart @jobs.group('jobs.state').count, library: {backgroundColor: "#ccc", legend: {position: "right"}, is3D: true, title: "Jobs by Current Status"}%>
    </div>
</div>
<div class='row'>
    <%= render "admin/charts/owner_charts" if @admin.owner? %>
    <%= render "admin/charts/account_manager_charts", admin: @admin if @admin.account_manager? %>
    <%= render "admin/charts/recruiter_charts", recruiter: @admin if @admin.recruiter? %>
    <%= render "admin/charts/payroll_charts", admin: @admin if @admin.payroll? %>
    <div class='col-md-12'>
        
        <div class='col-md-4 fa-ul'><%= render 'admin/shared/clocked_in' if  @admin.jobs.on_shift.any? %> </div>
        <div class='col-md-4 fa-ul'><%= render 'admin/shared/on_break' if @admin.jobs.on_break.any? %>  </div>
    </div>
</div>


<div class='row bg-warning'>
    <h2>The New Way - using inline-block</h2>

    <div class="floating-box"><% if @jobs.any? %> <h2>Placements</h2>   <%=render partial: "admin/jobs/job", collection: @jobs %>   <% else %><p class='lead text-warning'><%= @admin.first_name %> doesn't have any placements yet. </p>
        <% end %>
    </div>
    <div class="floating-box"><h2>Following Admin</h2><%= render @admin.events.following_admin %></div>
    <div class="floating-box">Floating box</div>
    <div class="floating-box">Floating box</div>
    <div class="floating-box">Floating box</div>
    <div class="floating-box">Floating box</div>
    <div class="floating-box">Floating box</div>
    <div class="floating-box">Floating box</div>
    
    <div class="after-box">Another box, after the floating boxes...</div>
</div>