<div class="scroll-list">

            Admin Users
        <%= div_for(@company.admins) do |admin| %>
        
            <p><%= admin.name %> </p>
            <p class="text-muted"><%= admin.email %> - <%= admin.company.name %></p>
            
            
        <% end %>

        All Users
        <%= div_for(@company.company_users) do |user| %>
            <p><%= link_to user.name, user %> <small> | <%= user.role %></small></p>
            <p class="text-muted"><%= user.email %> - <%= user.company.name %></p>
   
        <% end %>

</div>