<div class="col-md-12 main-box">
    <div class="row">
            


     <h1 class="page-header"><%= @company.name %></h1>
     
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
  <%= link_to(new_admin_company_order_path(@company), class: "btn btn-default") do %>
							<i class='fa fa-user-plus'></i>

								<span>New Job Order</span>
							<% end %>

  </div>
  <div class="btn-group" role="group">
  <%= link_to(admin_company_orders_path(@company), class: "btn btn-default") do %>
							<i class='fa fa-briefcase'></i>

								<span>Active Order</span>
							<% end %>

  </div>
  <div class="btn-group" role="group">
  <%= link_to(admin_timesheets_path, class: "btn btn-default") do %>
							<i class='fa fa-clock-o'></i>

								<span>Timesheets</span>
							<% end %>

  </div>
  
</div>
      
      
      


  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Contact Information</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Current Orders</a></li>
    <li role="presentation"><a href="#employees" aria-controls="employees" role="tab" data-toggle="tab">Active Employees</a></li>
    <li role="presentation"><a href="#company-contacts" aria-controls="company-contacts" role="tab" data-toggle="tab">Company Admins</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Timeclock</a></li>
  </ul>
  <div class='main-box'>
  <div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="home">
 <address class="">
      <%= @company.address %> <%= @company.city %>, <%= @company.state %> <%= @company.zipcode %><br>
      <abbr title="Phone">PH:</abbr> (123) 456-7890
    </address>
    <address class="">
      <strong><%= @company.contact_name %></strong><br>
      <a href="mailto:#"><%= @company.contact_email %></a>
    </address>

    <h3 class="text-center">Balance: <%= number_to_currency(@company.balance) %></h3>


  </div>
    
  <div role="tabpanel" class="tab-pane fade " id="company-contacts">

      <h3>Company Contacts</h3>
       <%= render 'companies/company_users' %>


    
  </div>
  <div role="tabpanel" class="tab-pane fade" id="profile">
    <h3>Timesheets by Dept.</h3>
    <%= render @orders %>
    
  </div>
  
  <div role="tabpanel" class="tab-pane fade" id="employees">
   <h3>Current Employees</h3>
    <%= render @jobs %>
  </div>
  
  
  
  <div role="tabpanel" class="tab-pane fade" id="settings">


<% if @company.shifts.clocked_in.any? %>
    
    <% if @clocked_in.any? %>
<%= render 'clocked_in_employees' %>
<% end %>
<% else %>

  <h3 class='text-center'>There are no employees clocked in at this time.</h3>

<% end %>

  </div>

  
  
  
  
</div>
</div>
</div>
</div>
