<div id="company-show-page">
    <h1><%= @company.name %></h1>

      
  
  <div class='company-profile-nav'>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Company Information</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Company Contacts</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Current Employees</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Departments</a></li>
  </ul>
  
  <div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="home">
    <h3><small>Company Information</small></h3>
    <div class="well">
    <address>
      <strong><%= link_to @company.name, @company %></strong><br>
      <%= @company.address %><br>
      <%= @company.city %>, <%= @company.state %> <%= @company.zipcode %><br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>

    <address>
      <strong><%= @company.contact_name %></strong><br>
      <a href="mailto:#"><%= @company.contact_email %></a>
    </address>

  </div>

    

    
  </div>
  <div role="tabpanel" class="tab-pane fade" id="profile">
    <h3><small>Company Contacts</small></h3>
        <%= div_for(@all_users, class:"well") do |user| %>
            <p><%= link_to user.name, user %> <small> |  <% if user.can_edit? %> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> <% end %><%= user.role %></small></p>
            <p class="text-muted"><%= user.email %> - <%= user.company.name %> </p>
            
        <% end %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="messages">
    <h3><small>Current Employees</small></h3>
        <%= div_for(@employee_users, class:"well") do |user| %>
            <p><%= link_to user.name, user %> <small> |  <% if user.can_edit? %> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> <% end %><%= user.role %></small></p>
            <p class="text-muted"><%= user.email %> - <%= user.company.name %> </p>
            
        <% end %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="settings">
    
  </div>
</div>
  
  
  
  
</div>
  
  
  
  
  
  
  
  
  
<% if current_user.not_an_employee? %>
    
    

<% if @clocked_in.any? %>
<%= render 'clocked_in_employees' %>
<% end %>


<!--SIDEBAR - COMPANY JOBS-->
<div class="active-company-jobs">
<%= render 'jobs/active' %>
</div>







<% end %>










</div>

