<div class='col-md-3'></div>
<div class='col-md-6'>
  <% if @current_agency.subdomain == "demo" %>
<h2>Demo Log in</h2>

<div class=' well'>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <p class='metal lead bold'>Select which role you want to sign in as.</p>
    <%= f.input :email, as: :select, collection: @current_agency.admins, label_method: :role, value_method: :email, required: false, include_blank: false, label: false  %>
    <%= f.hidden_field :password, required: false, value: "password" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Try it out", class: 'btn btn-success' %>
  </div>
<% end %>
</div>

<%else%>
<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<%= render "admins/shared/links" %>

<% end %>
</div>
<div class='col-md-3'></div>