<%= simple_form_for(@timesheet) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :week %>
    <%= f.association :job %>
    <%= f.input :reg_hours %>
    <%= f.input :ot_hours %>
    <%= f.input :gross_pay %>
    <!--<%= f.association :shifts, as: :check_boxes, label_method: :time_in %>-->
  </div>
  <%= f.simple_fields_for(:shifts) do |s| %>
    <%= s.input :time_worked %>
     <%= s.input :id %>
  
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
