<p id="notice"><%= notice %></p>

<div class="timesheet-show-page">
  <% if @timesheet.clocked_in? %>
  <p id="clock-status" class="text-center"><strong><%= @timesheet.employee_name %> is currently clocked in. <%= link_to "Clock Out", clock_out_job_shift_path(@job, @current_shift), method: :patch, 
                          remote: true, data: {confirm: 'Are you sure you want to clock out now?', 
                          disable_with: "Clocking Out..."}, class: "btn btn-default" %></strong></p>
                          
                          
                          
<% end %>



<h3><strong><%= link_to @employee.name, @employee %></strong> <small><%= @job.title.titleize %></small></h3>

  <h4>For the week of:   <u><%= @timesheet.week_ending  %></u>. </h4>
  <h6 class="text-muted"> Week: <%= @timesheet.week %></h6>
  
<hr>
  <strong>Regular hours:</strong>
  <%= @timesheet.reg_hours %>
<br>
  <strong>Overtime hours:</strong>
  <%= @timesheet.ot_hours %>
<p>
  <strong>Gross pay:</strong>
  <%= number_to_currency(@timesheet.gross_pay) %>
</p>
<p>
  <% if @timesheet.clocked_in? %>
   <strong>Last Clock In:</strong> <%= @current_shift.time_in.strftime("%B %e, %Y  at   %I:%M %p") %>
  <% else %>
   <strong>Last Clock In:</strong> <%= @last_complete_shift.time_in.strftime("%B %e, %Y  at   %I:%M %p") %><br>
   <strong>Last Clock Out:</strong> <%= @last_complete_shift.time_out.strftime("%B %e, %Y  at   %I:%M %p") %><br>
   <strong>Last Shift Total:</strong> <%= @last_complete_shift.time_worked %> hours

  <% end %>
 





<hr>
<h3><strong> Week Ending: <small> <%= @timesheet.week_ending %></small></strong></h3>
<div class="table-responsive">
  <%= render "shifts/table", :shifts => @shifts %>
</div>

<hr>

<%= link_to 'Edit', edit_timesheet_path(@timesheet) %> |
<%= link_to 'Back', timesheets_path %>
</div>