<%= simple_form_for [:employee, @work_history] do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
      <%= f.input :title, placeholder: "Job Title", wrapper_html: { class: 'col-md-6' } %>
          <%= f.input :employer_name, placeholder: "Company Name", wrapper_html: { class: 'col-md-6' } %>
  </div>
  
  
  <div class="form-group">
    <div class="form-group">
        <%= f.input :start_date, as: :string, input_html: { class: 'datepicker' }, placeholder: "Start date", required: true, label: false, wrapper_html: { class: 'col-md-4' } %>
        <%= f.input :end_date, as: :string, input_html: { class: 'datepicker' }, placeholder: "End date", required: false, label: false, wrapper_html: { class: 'col-md-4' } %>
	     <%= f.input :pay, label: false, placeholder: "Pay Rate", wrapper_html: { class: 'col-md-4' } %>
	  </div>
	  <div class='form-group'>
      <%= f.input :current, inline_label: "Is this your current position?", wrapper_html: { class: 'col-md-3' } %>
  	  <%= f.input :may_contact, inline_label: "May we contact this employer?", wrapper_html: { class: 'col-md-3' } %>
  	  <%= f.input :supervisor, label: false, placeholder: "Supervisor name", wrapper_html: { class: 'col-md-3' } %>
	    <%= f.input :phone_number, label: false, placeholder: "Phone number", wrapper_html: { class: 'col-md-3' } %>
    </div>

	   
    </div>
     

     
    <%= f.input :description, as: :text , label: false, placeholder: "Job Duties / Responsiblities", wrapper_html: { class: '' }, input_html: {data: { behavior: "autocomplete_work_history" }, rows: 10 } %>
  <%= f.input :tag_list, label: false, value: @work_history.tag_list.to_s, placeholder: "Job Related Skills (list with commas)", input_html: { class: '' }, wrapper_html: { class: '' } %>
  
  <div class="form-actions">
    <%= f.button :submit, "Save", class: '' %>
  </div>
<% end %>
