<div class='col-md-12'>
  
  <div class='col-md-6'>
    <h2><%= @employee.name %> </h2>
      <% if @work_history.current? %>
            <span data-toggle="tooltip" data-placement="top" title="Current Employer"><i class="fa fa-asterisk"></i> </span>
        <% end %>
        <% if @work_history.may_contact? %>
            <i class="fa fa-phone-square" data-toggle="tooltip" data-placement="top" title="Allowed to Contact"></i>
        <% end %>
            
            
     
            


            <strong>Pay Rate:</strong><br>
          <%= number_to_currency(@work_history.pay) %><br>

            <strong>Employment Dates:</strong><br>
            <%= @work_history.start_date.stamp("December 2013") %> - <%= @work_history.end_date %>
<br>
            <% if @work_history.may_contact? %>
            <i class="fa fa-phone-square fa-lg"></i> <strong>This employer may be contacted.</strong>
          <% end %>
</div>
<div class='col-md-6'>
  <h2><%= @work_history.employer_name %> <small><%= @work_history.title %></small></h2>
            <strong>Phone number:</strong>
            <%= @work_history.phone_number %>

            
<br>
            <strong>Supervisor:</strong>
            <%= @work_history.supervisor %>
            <hr>
         <div class='>
           <h3>Skills matching Open Job Orders</h3>
            <% @work_history.listed_skills.each do |skill| %>
              <%= skill.name %> - <small><%= skill.skillable.try(:name) || skill.skillable.try(:title_count) %></small>
            <% end %>
         </div>

        

            <strong>Duties / Responsibilities</strong><br>
            <div class=''>
                <%= markdownify(@work_history.description) %>
            </div>
  </div>
       <div class='col-md-12'>
        <% if admin_signed_in? %>
            <%= link_to '<i class="fa fa-angle-double-left"></i> Back to list'.html_safe, admin_employee_work_histories_path(@employee), class: 'btn btn-primary' %>
      <%= link_to '<i class="fa fa-angle-double-left"></i> Employee Work History'.html_safe, admin_employee_work_histories_path(@employee), class: 'btn btn-primary' %>
      <%= link_to '<i class="fa fa-trash red"></i>  Delete'.html_safe, @work_history, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary red' %>
      <%= link_to '<i class="fa fa-pencil"></i>  Edit'.html_safe, edit_admin_employee_work_history_path(@employee, @work_history), class: 'btn btn-primary' %>
 <% end %>
     
         
    </div>       
</div>


