<div class='col-md-4'>
    <h3 class='white'>By Week <small>over 30 hours</small></h3>
    <div class='list-group scroll300'><% employee.shifts.report_by_week.each do |k, v| %>
         <li class='list-group-item list-group-item-info'><strong><%=  k.stamp("Oct 2, 2015") %> </strong> -  Total Hours: <%= v.round(2) %>
                 
         </li>
        <%= aca_progress(v, 30) %>
         <% end %>
    </div>
</div>
<div class='col-md-4'>
    <h3 class='white'>By Month <small>over 130 hours</small></h3>
    <div class=' list-group scroll300'><% @employee.shifts.report_by_month.each do |k, v| %>
         <li class='list-group-item list-group-item-info'><strong><%=  k.stamp("October 2015") %> </strong> -  Total Hours: <%= v.round(2) %>
         </li>
         <%= aca_progress(v, 130) %>
         <% end %>
    </div>
</div>

<div class='col-md-4'>
    <h3 class='white'>By Year <small>over 1560 hours</small></h3>
    <div class='list-group scroll300'>
        <% @employee.shifts.report_by_year.each do |k, v| %>
         <li class='list-group-item list-group-item-info'><strong><%=  k.stamp("2015") %> </strong> -  Total Hours: <%= v.round(2) %>
         </li>
         <%= aca_progress(v, 1560) %>
         <% end %>
    </div>
</div>