<div class="main-box">
<%= simple_form_for @shift do |f| %>
<div class="form-group">

    <% if @job.present? %>
    <%= @job.name_title %> 
    <% else %>

    <%= f.input :job_id, collection: @jobs, as: :select, label_method: :name_title, value_method: :id, include_blank: false, required: true  %>
    <% end %>

</div>
<div class="form-group">
    <label for="TimeIn">Time In: </label>
    <%= f.datetime_select :time_in, ampm: true, default: Time.current %>
</div>





<div class="form-group">
   <div class="field">
    <%= f.label :state %>
    <%= f.select :state, ["Clocked In", "Clocked Out"], selected: @shift.state %>
  </div>
</div>

<div class="form-group clocked-out">
  <div class="field time-out-field">
    <%= f.label :time_out, "Time Out" %><br>
    <%= f.datetime_select :time_out, ampm: true, default: nil %>
  </div>
    <div class="field">
        <%= f.label :break_out, "Break Start" %><br>
        <%= f.time_select :break_out, ampm: true, class: "form-control" %>
    </div>
    <div class="field">
        <%= f.label :break_in, "Break End" %><br>
        <%= f.time_select :break_in, ampm: true, class: "form-control" %>
    </div>

</div>

<div class="form-group">
    <label for="Not">Notes: </label>
    <%= f.text_area :note, placeholder: "Add a note.", rows: 3, class: "form-control" %>
</div>







<div class="form-actions">

<%= f.button :submit, "Save", class: "btn btn-success" %>
</div>
<% end %>
</div>