<div class="well">
  <%= @job.try(:name_title) %>
<%= simple_form_for [:admin, @shift] do |f| %>
<div class="form-group black">

    <% if @job.nil? %>

    <%= f.input :job_id, collection: @jobs, as: :select, label_method: :name_title, value_method: :id, include_blank: false, required: true  %>
    <% end %>

</div>
<div class="form-group black">
    <label class='white' for="TimeIn">Time In: </label>
    <%= f.datetime_select :time_in, ampm: true, default: Time.current %>
    
</div>





<div class="form-contol black">
   <div class="field">
  
    <%= f.select :state, ["Clocked In", "Clocked Out"], selected: @shift.state %>
  </div>
</div>

<div class="form-group black clocked-out">
  <div class="field time-out-field">
    <%= f.label :time_out, "Time Out" %><br>
    <%= f.datetime_select :time_out, ampm: true, default: nil %>
  </div>
   
   

</div>

<div class="form-group">
    <label for="Not">Notes: </label>
    <%= f.text_area :note, placeholder: "Add a note.", rows: 2, class: "form-control" %>
    <%= f.input :paid_breaks %>
    <%= f.input :pay_rate %>
</div>



                <div class=''>
   <%= f.input :breaks, as: :array, input_html: {class: "form-control black"} %>
  
   <%= f.input :break_duration %>
  
  </div>
 




<div class="form-actions">

<%= f.button :submit, "Save", class: "btn btn-success" %>
</div>
<% end %>
</div>