
<div class="list-item" data-behavior="shift-list">
<div class="details"data-behavior="shift" data-id="<%= shift.id %>">
	<div class="name">
		<%= link_to shift.employee.name, shift.employee %> 
		<small><%= shift.time_in.strftime("%A %b %e") %></small>
	</div>

    	    <button data-behavior="shift-button" class='btn btn-primary'>
    	        <% if shift.clocked_out? %>
            	   <i class='fa fa-sign-in'></i>
            	<% else %>
    	            <i class='fa fa-sign-out'></i>
    	        <% end %>
    	        </button>
     <span data-behavior="shift-state">
         <% if shift.clocked_out? %>
         <span class='label label-primary'><%= shift.state %></span></span>
         <% else %>
         <span class='label label-success'><%= shift.state %></span></span>
         <% end %>
	<div class="time" data-behavior="in-time">
	    <i class="fa fa-clock-o"></i> <strong>In:</strong> <%= shift.time_in.strftime("%l:%M%P") %>
	    
    </div>

     

 
        <div data-behavior="out-time">
            <% if shift.clocked_out? %>
    	   <i class="fa fa-clock-o"></i> <strong>Out:</strong>  <%= shift.time_out.strftime("%l:%M%P") %><br>

    	   <% end %>
        </div>
	   
        
    </div>

						
</div>
