<% if current_page?(controller: 'admin/shifts', action: 'index') %>
      <%= link_to shift_times(shift), admin_shift_path(shift), class: 'black' %>
<% elsif current_page?(controller: 'admin/employees', action: 'show') %>
      <%= link_to shift_times(shift), admin_shift_path(shift), class: 'black' %>
<% else %>
      <%= link_to admin_shift_path(shift), class: 'black small' do %>
            <span class='label'><%= shift_times(shift) %></span>
      <% end %>
<% end %>
<br>
Total: <%= shift.time_worked.round(2) %> hours
<br>
Pay: <%= number_to_currency(shift.earnings) %>
