<div class="">
   
	<%= week_calendar(attribute: :time_in, events: shifts) do |date, shifts| %>
	
  <div class=''><%= date %></div>

  <% shifts.each do |shift| %>
      
    <div class=''>
     
      <div class=''>
         <%= shift_collaspe(shift) %>
       <div class='black collapse' id="collapseShift_<%=shift.id%>">
           <%= render 'admin/shifts/shift', shift: shift %>
        </div>
        
      </div>
      
    </div>
  <% end %>
<% end %>

</div>
