<div class='dark white'>
    <h3>Editing a shift for <%= @employee.name %></h3>
<%= render 'form' %>


<br>
<% if @shift.took_a_break? %>
Total break time: <%= @shift.break_duration %><br>

<% end %>
<hr>

<%= link_to 'Back to view', admin_shift_path(@shift), class: "btn btn-info" %> 
<%= link_to 'All Company Shifts', admin_shifts_path, class: "btn btn-info" %>

</div>