<div class='col-md-12 lightbox-long metal'>
  <h3>Shifts<br><small>Showing <%= @shifts.count %> out of <%= Shift.count %> total</small>
  </h3>
  
   <div class='col-md-6'>
    <%= render 'shared/searching_between' %>
  </div>
 
  <div class='col-md-6 form-inline well well-sm text-center'>
     <%= render 'search' %>
  </div>

<%= render 'table' %>




</div>