
<div class='main-box'>

    <h3 class="page-header">
  <strong> <%= @employee.name %>  <small> <%= @job.title %></small></strong>
  <%= @employee.code %>
</h3>
<%= number_to_currency(@shift.earnings) %>
<br>
<% if @shift.clocked_out? %>
<%= distance_of_time_in_words(@shift.time_in, @shift.time_out, include_seconds: true) %>
<br>
<%= @shift.time_in.strftime("%I:%M %p") %> - <%= @shift.time_out.strftime("%I:%M %p") %>
<% else %>
<%= @shift.time_in.strftime("%I:%M %p") %> - <%= @shift.time_out %>
<% end %>
<br>
Hours worked: <%= @shift.hours_worked %><br>
Break: <%= @shift.break_time %>
<hr>

<br>
<%= link_to 'View Employee', admin_employee_path(@employee), class: "btn btn-info" %> 
<%= link_to 'View Timesheet', admin_timesheet_path(@shift.timesheet), class: "btn btn-info" %>

<%= link_to 'Edit', edit_admin_shift_path(@shift), class: "btn btn-primary" %>
<%= link_to 'Delete', admin_shift_path(@shift), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>

  <div class='' data-behavior="timesheet-list">
    <%= render @timesheet %> 
  </div>
  <div class='well'>
    <%= render @job %> 
  </div>
</div>
