<%= simple_form_for(@invoice) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :company, collection: @current_agency.companies.order(:name), prompt: "Choose a Company" %>
    
   
    <%= f.input :due_by, as: :string, input_html: {class: 'datepicker'}, placeholder: "Invoice Due Date", label: false %>
    <%= f.input :paid, inline_label: 'Mark as paid'  %>
    <%= f.input :total, as: :currency, disabled: true %>
    <%= f.input :amt_paid, as: :currency %>
    
    <br>
    <% if @invoice.timesheets.any? %>
    <%= f.collection_check_boxes :timesheet_ids, Role.all, :id, :name %>
   
    <%= f.association :timesheets, label_method: :company_name, value_method: :id, as: :check_boxes %>
  <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
