<%= div_for invoice do %>
    <div class=''><%= inv_sym(invoice) %> <%= link_to "Invoice #: #{invoice.id}", company_invoice_path(invoice), class: 'black'%> </div>
    <ul class='fa-ul'>
    <% invoice.timesheets.each do |timesheet| %>
    <%= link_to company_timesheet_path(timesheet), class: "black" do %>
      <li><%= timesheet_popover(timesheet) %> &nbsp;  <%= timesheet.employee.name %> <br>  <%= invoice_timesheet(timesheet) %>  </li>
       <% end %>
    <% end %>
    </u>
<% end %>




