<div class="tabs-wrapper">
	<div class="clearfix">
		<ul class="nav nav-tabs pull-right">
			<li class="active"><a href="#tab-users" data-toggle="tab">Employees</a></li>
			<li><a href="#tab-products" data-toggle="tab">Timesheets</a></li>
			<li><a href="#tab-todo" data-toggle="tab">Open Orders</a></li>
			<li><a href="#tab-archived" data-toggle="tab">Messages</a></li>
		</ul>
	</div>
	<div class="tab-content">
		<div class="tab-pane fade in active" id="tab-users">
		<h2>	Job Orders <%= @company_admin.first_name %> is managing</h2>
			<%= div_for @company_admin.managed_orders, class: "managed-order" do |order| %>
	             <%= info_popover(order) %> <%= signed_in_link_to order.title, order %>
	             <%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_admin_order_path(order) %>
	             <p class='pull-right'><%= order.account_manager.name %></p>
	        <% end %>
			<% if company.employees.any? %>
		<h2>	All Company employees</h2>
				<%= div_for company.employees, class: "company-employee" do |employee| %>
					<%= timesheet_user(employee.current_timesheet) if employee.current_timesheet.present? %>	<%= employee.name %> 
				<% end %>
			<%else%>
					<h2>	No current employees to show.</h2>
			<% end %>
		</div>
		<div class="tab-pane fade" id="tab-products" data-behavior="timesheet-list">
			<div class='col-md-6'>
				<h4>Timesheets waiting for approval</h4>
				<% company.timesheets.needing_approval.distinct.each do |timesheet| %>
					<%= render "company/timesheets/timesheet", timesheet: timesheet if company_admin_signed_in? %>
				<% end %>
			</div>
			<div class='col-md-6'>
				<h4>Timesheets for this week</h4>
				<% company.current_timesheets.distinct.each do |timesheet| %>
					<%= render "company/timesheets/timesheet", timesheet: timesheet %>
				<% end %>
			</div>
		</div>
		<div class="tab-pane fade" id="tab-todo">
			<% company.orders.each do |order| %>
		             <%= skills_popover(order.skills) %> <%= order.title %><br>
			<% end %>
		</div>
	
		<div class="tab-pane fade" id="tab-archived" >
			<div class='col-md-12'>
			    <%= render 'comments/comments', comments: company.job_comments %>
			
		        
			
			</div>
		</div>
	</div>
</div>