<div class="col-md-8 well metal">
	<h2>Company Admins</h2>
	<div class="table-responsive">
		<table id='' class="table table-bordered">
			<thead>
				<tr>
				   <th>Company</th>
					<th>Name</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<%= content_tag_for(:tr, @company_admins) do |company_admin| %>
				<td><%= link_to company_admin.company.name, admin_company_path(company_admin.company), class: "button" %>	</td>
				<td><%= render 'modal', company_admin: company_admin %></td>
				<td class='white'><%= company_admin.email %>	</td>
				<% end %>
			</tbody>
		</table>
		<%= will_paginate @company_admins %>
	</div>
</div>
<div class="col-md-4 well metal">
	<h2>Timeclocks</h2>
	<div class="table-responsive">
		<table id='' class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<%= content_tag_for(:tr, @timeclocks) do |timeclock| %>
				<td><%= render 'modal', company_admin: timeclock %></td>
				<% end %>
			</tbody>
		</table>
		<%= will_paginate @timeclocks %>
	</div>
</div>
					