<div class="table-responsive">
    <%= month_calendar table: {class: "calendar table"}, tr: {class: "calendar-row"}, td: {class: "day"}, events: @shifts do |date, shifts| %>
  <p class="text-right"><%= date.strftime("%m/%d/%y") %></p>

  <% shifts.each do |shift| %>
          <%= shift_collaspe(shift) %>
            <div class='collapse' id="collapseShift_<%=shift.id%>">
              <small>
                <%=link_to shift_times(shift), employee_timesheet_path(shift.timesheet), class: "" %>
              </small><br>
               <small><%= link_to "#{shift.hours_worked.round(2)} hours", admin_shift_path(shift), class: "white" %></small>
            </div>
      <% end %>
<% end %>
</div>