<div class='col-md-4 bg-white'>
    <h1 class='text-center'><%= @shift.work_date %>  </h1>
    <h3 class='text-center'><span class='' id='shift-times'><%= shift_times(@shift) %></span></h3>
    <hr>
    <h1 class="text-center">
        <span id='shift-sym'><%= shift_sym(@shift) %></span>
        <%= link_to @employee.name, employee_employee_path(@employee) %>  
    </h1>
    <h3>Total Earnings: <%= number_to_currency(@shift.earnings) %> </h3>
</div>
<div class='col-md-8 lightbox'>
<% if @shift.past? %>
<h3 class='white text-center'> <i class="fa fa-calendar"></i> You are currently reviewing a shift from <%= distance_of_time_in_words(@shift.time_in, Time.current, include_seconds: true) %> ago</h3>
<% end %>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#break" aria-controls="break" role="tab" data-toggle="tab">Breaks</a></li>
    <li role="presentation"><a href="#location" aria-controls="location" role="tab" data-toggle="tab">Location</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
        <div class='col-md-6'>
            <p><%= break_times_for(@shift) %></p>
            <%= on_break_for(@shift) %>
            Total Break Time: <%= (@shift.break_duration).round(2) %>
            <div class=''>
                <%= render 'employee/jobs/clock', job: @job %>
            </div>
            <div id='shift-break-times'>
            </div>
            <div class=''>
        	</div>
        	<%= render 'list', shift: @shift %>
        </div>
        <div class='col-md-6'> 
            <dl class="dl-horizontal">
              <dt>Company</dt>
              <dd><%= @company.name %></dd>
              <dt>Job Title</dt>
              <dd><%= @job.title %></dd>
              <dt>Pay Rate</dt>
              <dd><%= number_to_currency(@job.pay_rate) %>/hr</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Recruiter</dt>
              <dd><%= @job.recruiter.name %></dd>
              <dt>Company Manager</dt>
              <dd><%= @order.manager.try(:name) || "Unavailable" %></dd>
            </dl>
        </div>
        <div class='col-md-6'>
            
            <table class="table">
                <tr>
                  <td class=""> <strong>Total Hours</strong></td>
                  <td class=""> <strong>Total Earnings</strong></td>
                </tr>
                <tr>
                  <td class=""><%= @shift.hours_worked %></td>
                  <td class=""><%= @shift.paid_breaks? ? number_to_currency(@shift.with_paid_breaks) : number_to_currency(@shift.with_unpaid_breaks) %></td>
                </tr>
                <tr>
                  <td class="">Break type: <%= @shift.paid_breaks? ? "PAID" : "UNPAID" %></td>
                  <td class="">Pay rate: <%= number_to_currency(@shift.pay_rate) %></td>
                </tr>
            </table>
            <div class=''>
                <p class='lead'><%= markdownify(@shift.note) %></p>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="location">
        <div class='col-md-6'>
            <dl class="dl-horizontal">
              <dt>Latitude</dt>
              <dd><%= @shift.latitude %></dd>
              <dt>Longitude</dt>
              <dd><%= @shift.longitude %></dd>
            </dl>
        </div>
        <div class='col-md-6'>
            <dl class="dl-horizontal">
              <dt>Clock-In IP Address</dt>
              <dd><%= @shift.in_ip %></dd>
              <dt>Clock-Out IP Address</dt>
              <dd><%= @shift.out_ip %></dd>
            </dl>
        </div>
        <div class='col-md-6'>
            <%= image_tag "http://maps.google.com/maps/api/staticmap?size=250x300&sensor=false&zoom=12&markers=#{@shift.latitude}%2C#{@shift.longitude}",
        class: "img-zoom" %>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="break">
        <div class="col-md-6 white ">
            <div id='shift-break-times'>
            </div>
            <div class=''>
                <h4>Break Details</h4>
                <%= on_break_for(@shift) %>
        		<% if @shift.paid_breaks? %>
        			<h4> PAID BREAKS </h4>
        			<%= number_to_currency(@shift.with_paid_breaks) %>
        			 Total Break Time: <%= (@shift.break_duration).round(2) %>
        		<% else %>
        		<h4> UNPAID BREAKS </h4>
        		<%= number_to_currency(@shift.with_unpaid_breaks) %>
        		<br>
        		 Total Break Time: <%= (@shift.break_duration).round(2) %>
        		<% end %>
        	</div>
        	<%= render 'list', shift: @shift %>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="messages">
        <h2>Shift Comments</h2>
        <div class='col-md-12'>
            <div class='col-md-6'>
                <%= render partial: "employee/comments/form", locals: {commentable: @shift} %>
            </div>
            <div id='shift_<%=@shift.id%>' class='col-md-6 scroll400'>
            <% @shift.comments.order(created_at: :desc).each do |comment| %>
                <%= render 'employee/comments/comment', comment: comment if !comment.new_record? %>
            <% end %>
        </div>
        </div>
    </div>
  </div>
</div>


         
            
            
        
        
        

    
