
<h3 class="page-header">
  <strong> <%= @employee.name %>  <small> <%= @job.title %></small></strong>
  <%= @employee.code %>
</h3>


<p>Click the button to demonstrate the prompt box.</p>

<button onclick="myFunction()">Try it</button>

<p id="demo"></p>






<hr>
  

  <p><span id="shift-state"><%= @shift.state.titleize %></span><br>
  <strong>Time in:</strong>
  <%= @shift.time_in.strftime("%I:%M %p") %></p>
  


<% if @shift.clocked_in? %>

  <%= link_to 'Clock Out', clock_out_shift_path(@shift), method: :patch, 
                          remote: true, id: "clock-out-button", class: "btn btn-primary btn-lg", data: { disable_with: "Clocking Out..."} %>





<% end %>
<% if @shift.clocked_out? %>
<strong><h3><%= @shift.state.titleize %></h3></strong>
<p>
  <strong>Time in:</strong>
  <%= @shift.time_in.strftime("%I:%M %p") %></p>
  
 <strong>Time out:</strong><span id="time-out">   <%=  @shift.time_out.strftime("%I:%M %p") %>  </span><br>
 <strong>Time worked:</strong>  <span id="time-worked"> <%= @shift.time_worked %></span><br>
  
  <%= distance_of_time_in_words(@shift.time_in, @shift.time_out, include_seconds: true) %>

  



<hr>

<%= link_to 'Edit', shift_path(@shift) %>    
|

<%= link_to 'Clock IN', new_shift_path %>
<% end %>