<div class='col-md-12'>
   <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
              <h2><%= @user.name %></h2>
            <%= user_email(@user) %>
          
            <%= render 'users/user', user: @user %>
            <div class='btn-group'>
                <%= link_to "Edit Profile", edit_employee_employee_path(@employee), class: 'btn btn-primary' %>
                <%= link_to "Add Work History", new_work_history_path, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
   </div>
   <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <% if @employee.unassigned? %>
                <div class='btn-group'>
                    <%= link_to "View Job Posting", employee_job_board_path, class: 'btn btn-primary' %>
                </div>
            <% else %>
                <div class=''>
                    <%= render 'employee/jobs/job', job: @job %>
                </div>
                <div class=''>
                    <h2 class='text-center'>This week</h2>
                    <dl class="">
                      <dt>Gross Pay</dt>
                      <dd><%= number_to_currency(@job.current_week_pay) %></dd>
                      <dt>Total Hours</dt>
                      <dd><%= @job.current_week_hours %></dd>
                    </dl>
                </div>
                <div class=''>
                    <h2 class='text-center'>Job Info</h2>
                    <dl class="">
                      <dt>Company Name</dt>
                      <dd><%= @company.name %></dd>
                      <dt>Total Hours</dt>
                      <dd><%= @job.total_hours.round(2) %></dd>
                      <dt>Start Date</dt>
                      <dd><%= @job.first_day %></dd>
                      <dt>Recruiter</dt>
                      <dd><%= @job.recruiter.present? ? @job.recruiter.name : "Recruiter unavailable" %></dd>
                    </dl>
                </div>
            <% end %>
          </div>
        </div>
   </div>
   <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
            <% if @employee.on_shift? || @employee.on_break? %>
                <%= link_to "You're Currently Clocked In", employee_shift_path(@employee.current_shift), class: 'btn btn-primary' %>
                <h4>Shift Location</h4>
                <%= image_tag "http://maps.google.com/maps/api/staticmap?size=250x300&sensor=false&zoom=12&markers=#{@employee.current_shift.latitude}%2C#{@employee.current_shift.longitude}",
                class: "img-zoom" %>
                <h2 class='text-center'><%= @job.title %></h2>
                <div class='scroll400'>
                    <h5>Job Description:</h5>
                    <%= markdownify(@job.order.notes) %>
                </div>
            </div>
            <% end %>
        </div>
   </div>
    <div class='col-md-4 lightbox'>
        <h2 class='text-center'>Messages</h2>
        <div class='scroll400'>
            <div id='comment-list'>
            <%= render @job.comments %>
            </div>
        </div>
        <div class='lightbox'>
            <%= render 'comments/send_to', commentable: @job %>
        </div>
        
    </div>
</div>
