<div class='col-md-12 transbox'>
   <h1> Employee Dashboard</h1>
   
   
   <% if @employee.on_shift? %>
   <%= link_to "All Shifts", employee_shifts_path %>
   <% end %>
 <% if @user.last_sign_in_at.present? %>
 
    <h2> Welcome back, <%= @user.first_name %>!</h2>
<% else %>
<h2> Welcome, <%= @employee.first_name %>!</h2>
<% end %>
        <div class='well'>
          <h4>All Open Positions</h4>
        
        <%= render 'employee/orders/open_table' %>
        </div>
 <%= link_to "Add Work History", new_work_history_path, class: 'btn btn-primary' %>
    </div>

    <% if @employee.assigned? %>
      
      <div class='well'>
        <%= render 'employee/jobs/job', job: @employee.current_job %>
      </div>
      <div class='transbox'>
        <%= render 'employee/timesheets/table' %>
      </div>
      <% if @employee.shifts.any? %>
      <div class='transbox'>
        <%= render 'employee/shifts/table' %>
      </div>
      <% end %>
      
      <div class='transbox'>
        <%= render 'employee/jobs/job', job: @employee.current_job %>
      </div>
    
    <% else %>
    
      
    
    
    
    <% end %>
 
</div>