<div class='col-md-12'>
  <div class='row'>
    <h2> Welcome back, <%= @employee.first_name %>!</h2>
    <div class='main-box'>
      <%= render 'employee/jobs/job', job: @employee.current_job %>
    </div>
    <div class='main-box'>
      <%= render 'employee/timesheets/table' %>
    </div>
    <div class='main-box'>
      <%= render 'employee/shifts/table' %>
    </div>
    <div class='main-box'>
      <%= render 'employee/jobs/job', job: @employee.current_job %>
    </div>
  </div>
</div>