<div class='col-md-12 mainpage'>
  
  <% if @employee.assigned? && @job.present? %>
      
      <div class="col-md-4 panel panel-default">
        <div class="panel-body">
          <h2><%= @user.name %></h2>
          <%= render 'users/user', user: @user %>
          <div class='well'>
            <h2 class='text-center'><%= @job.title %></h2>
            <dl class="">
              <dt>Company Name</dt>
              <dd><%= @company.name %></dd>
              <dt>Total Hours</dt>
              <dd><%= @job.total_hours.round(2) %></dd>
              <dt>Start Date</dt>
              <dd><%= @job.first_day.stamp("December 18, 2015") %></dd>
              <dt>Recruiter</dt>
              <dd><%= @job.recruiter.present? ? @job.recruiter.name : "Recruiter unavailable" %></dd>
            </dl>
          </div>
          
        </div>
      </div>

    <div class="col-md-8 well">
      
      <div class="panel panel-default">

        <div class="panel-body">
          <h2 class='text-center'>This week</h2>
          <%= render "employee/timesheets/timesheet", timesheet: @employee.current_timesheet if @employee.current_timesheet.present? %>
        </div>

      </div>
    </div>
    <div class='col-md-4 well'>
        <p>Reports</p>
          <div class="btn-group" role="group">
            <btn btn-primary type="btn btn-primary" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              CSVs
              <span class="caret"></span>
            </btn btn-primary>
              <ul class="dropdown-menu">
                  <li class='bold'><i class='fa fa-file-excel-o fa-fw'></i> Timesheets </li>
                  <li><%= link_to  "Current Week", employee_timesheets_path(@company, format: :csv, scope: "current_week") if @company.present? %></li>
                  <li><%= link_to  "Last Week", employee_timesheets_path(@company, format: :csv, scope: "last_week") if @company.present? %></li>
                  <li><%= link_to  "All Timesheets", employee_timesheets_path(@company, format: :csv, scope: "all") if @company.present? %></li>
              </ul>
          </div>
          <div class="btn-group" role="group">
            <btn btn-primary type="btn btn-primary" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              PDFs
              <span class="caret"></span>
            </btn btn-primary>
              <ul class="dropdown-menu">
                <li class='bold'><i class='fa fa-file-pdf-o fa-fw'></i> Documents</li>
                  <li><%= link_to "Employment Verification Letter", employee_job_path(@employee.current_job, format: :pdf) %></li>
                  <li class='bold'><i class='fa fa-file-pdf-o fa-fw'></i> Timesheets</li>
                  <li><%= link_to  "Current Week", employee_timesheets_path(@company, format: :pdf, scope: "current_week") if @company.present? %></li>
                  <li><%= link_to  "Last Week", employee_timesheets_path(@company, format: :pdf, scope: "last_week") if @company.present? %></li>
                  <li><%= link_to  "All Timesheets", employee_timesheets_path(@company, format: :pdf, scope: "all") if @company.present? %></li>
              </ul>
          </div>
        <div class="btn-group" role="group" aria-label="...">
         
          <div class="btn-group" role="group">
            <btn btn-primary type="btn btn-primary" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Job Orders
              <span class="caret"></span>
            </btn btn-primary>
            <ul class="dropdown-menu">
              <li><%= link_to "<i class='fa fa-plus-square fa-fw'></i> &nbsp; Add Work History".html_safe, new_work_history_path, class: "" %></li>
              <li><%= link_to "<i class='fa fa-briefcase fa-fw'></i> &nbsp; View Resume".html_safe, work_histories_path, class: "" %></li>
              <li> <%= link_to "<i class='fa fa-clock-o fa-fw'></i> View Timesheets".html_safe, employee_timesheets_path, class: ""%></li>
              <li><%= link_to(employee_conversations_path, class: "") do %>
              			<i class='fa fa-usd fa-fw'></i> Messages
              <% end %></li>
            </ul>
          </div>
          
        </div>
        
      </div>
    <div class="col-md-8 well well-sm">
      <h3><strong><%= current_job_status(@job) %></strong></h3>
      
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <% if @employee.on_shift? || @employee.on_break? %>
            <%= link_to "You're Currently #{@employee.current_shift.state.titleize}", employee_shift_path(@employee.current_shift), class: 'btn btn-primary' %>
            
          <% elsif @employee.shifts.worked_today.any? %>
          <h3>Back already? <br> <small>You already worked today.</small></h3>
            <%= render 'employee/jobs/clock', job: @job if policy(@job).clock_in? %>
          <% else %>
            <h3><%= @job.title %></h3>
            <%= render 'employee/jobs/clock', job: @job if policy(@job).clock_in? %>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="col-md-4">
      <div class="">
        <div class="">
          <h2><%= @user.name %></h2>
          <%= render 'users/user', user: @user %>
        </div>
        <div class='btn-group'>
          <%= link_to "Add Work History", new_employee_work_history_path, class: 'btn btn-primary' if @employee.unassigned? %>
          <%= link_to "View Job Posting", employee_job_board_path, class: 'btn btn-primary' if @employee.unassigned? %>
        </div>
      </div>
    </div>
    
    <div class="col-md-8 well well-sm">
     <div class=''>
      <%= render "employee/jobs/active", active_jobs: @employee.jobs.currently_working %>
    </div>
      <h2 class='text-info'>Recent Activity</h2>
      <%= render @employee.events %>
      <%= render @employee.job_events %>
      <hr>
    </div>
    <div class="col-md-4 border well well-sm">
      <% if @employee.availability.present? %>
      <p class='lead text-info'>Your Availability</p>
        <%= render 'employee/employees/availability', employee: @employee %>
        <%= link_to "Edit Info", edit_employee_employee_path(@employee), class: 'btn btn-primary pull-right' %>
      <% else %>
        <%= link_to "Enter Availability", edit_employee_employee_path(@employee), class: 'btn btn-success btn-lg pulse' %>
      <% end %>
    </div>
    
  <% end %>
  <div class='row'>
      <%= render "employee/shifts/wk_calendar", shifts: @employee.current_timesheet.shifts if @employee.current_timesheet.present? %>
    </div>
  <%= render "employee/shifts/calendar", shifts: @employee.shifts if @employee.shifts.any? %>
</div>
