<div class='col-md-12 transbox'>
   <h1> Employee Dashboard</h1>
   
   
   <% if @employee.on_shift? %>
  
   <%= link_to "You're Currently Clocked In", employee_shift_path(@employee.current_shift), class: 'btn btn-primary' %>
   <% end %>
 
        
 <%= link_to "Add Work History", new_work_history_path, class: 'btn btn-primary' %>
   
    <% if @employee.assigned? %>
      
      <div class='well'>
        <%= render 'employee/jobs/job', job: @employee.current_job %>
      </div>
      <div class='transbox'>
        <%= render 'employee/timesheets/table' %>
      </div>
      <% if @employee.shifts.any? %>
      <div class='transbox'>
        <%= render 'employee/shifts/table' %>
      </div>
      <% end %>
      
      <div class='transbox'>
        <%= render 'employee/jobs/job', job: @employee.current_job %>
      </div>
    
    <% else %>
    
      
    <div class='well'>
          <h4>All Open Positions</h4>
        
        <%= render 'employee/orders/open_table' %>
        </div>
    
    
    <% end %>
 
</div>