<div class='col-md-12 transbox'>
   <h1> <%= @employee.first_name %>'s Dashboard</h1>
   	<% content_for :not_authorized do %>
	  <script>alert('You are not authorized to view this page!')</script>
	<% end %>

 
   


   <%= user_email(@user) %>
    <% if @employee.assigned? %>
     <p> Last In: <br><%= @job.last_clock_in %> </p>
     <p>Last Out: <br> <%= @job.last_clock_out %></p>
   
          <% if @employee.on_shift? || @employee.on_break? %>
            <%= link_to "You're Currently Clocked In", employee_shift_path(@employee.current_shift), class: 'btn btn-primary' %>
          <% end %>
      
      
    <div class='col-md-12'>
       
      <div class='col-md-6'>
        <h2 class='text-center'>This week</h2>
        <table class="table table-hover">
          <tr class="info">
            <td class="">Success</td>
            <td class="">Warning</td>
            <td class="">Danger</td>
            <td class="">Info</td>
            
          </tr>

        </table>
        <dl class="">
          <dt>Gross Pay</dt>
          <dd><%= number_to_currency(@job.current_week_pay) %></dd>
          <dt>Total Hours</dt>
          <dd><%= @job.current_week_hours %></dd>
        </dl>
    </div>
   
    <div class='col-md-2'>
        <h2 class='text-center'>Job Info</h2>
        <dl class="">
          <dt>Company Name</dt>
          <dd><%= @company.name %></dd>
          <dt>Total Hours</dt>
          <dd><%= @job.total_hours.round(2) %></dd>
          <dt>Start Date</dt>
          <dd><%= @job.first_day %></dd>
          <dt>Recruiter</dt>
          <dd><%= @job.recruiter.present? ? @job.recruiter.name : "Recruiter unavailable" %></dd>
        </dl>
        
    </div>

  <div class='col-md-3'>
     <h2 class='text-center'><%= @job.shifts.any? ? @job.shifts.last.state.titleize : "Yet To Clock In" %> </h2>
     <div class="clockbg">
       <%= render 'employee/jobs/job', job: @job %>
      
   
     </div>
    <h2 class='text-center'><%= @job.title %></h2>
  <div class='scroll400 dark'>
    
    <h5>Job Description:</h5>
    <%= markdownify(@job.order.notes) %>
  </div>
  </div>

  <div class='col-md-4'>
    <h2 class='text-center'>Messages</h2>
  <div class='scroll400 dark'>
   
     <div id='comment-list'>
      <%= render @job.comments %>
     </div>
    
   </div>
   <%= render 'comments/send_to', commentable: @job %>
     </div>




    </div>
    <% else %>
    
      
    <div class='col-md-12'>
       <%= link_to "Add Work History", new_work_history_path, class: 'btn btn-primary' %>
          
    </div>
    
    
    <% end %>
 
</div>

    <div class="col-xs-9 bordered">.col-xs-9</div>
    <div class="col-xs-4 dark">.col-xs-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>
    <div class="col-xs-6">.col-xs-6<br>Subsequent columns continue along the new line.</div>
