<%= simple_form_for( [:admin, @timesheet]) do |f| %>
  <%= f.error_notification %>
  
  <% if @job.present? %>
    <%= @job.name_title %> 
    <% else %>


    
    <% end %>

  <div class="form-inputs">
    <%= f.input :week, disabled: true %> %>
    
    <%= f.input :reg_hours, disabled: true %>
    <%= f.input :ot_hours, disabled: true %>
    <%= f.input :gross_pay, disabled: true %>

  </div>
  <div class='col-md-4' id='shifts'>
    <%= f.simple_fields_for :shifts do |shift| %>
      <%= render 'shift_fields', f: shift %>
    <% end %>
    
    <div class='links'>
      <%= link_to_add_association 'add shift', f, :shifts %>
    </div>
  </div>

  


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
