 <div class="col-md-12 dark white">
    
 
    
  


<%= simple_form_for( [:admin, @timesheet]) do |f| %>
<%= f.error_notification %>
    <div class='form-group'>
      <%= f.input :week, class: "form-control" %>
       <% if @job.present? %>
        <h2>  <%= @job.name_title %> </h2>
       <%= f.hidden_field :job_id, value: @job.id %>
       <% else %>
        <%= f.association :job, collection: Job.currently_working.without_current_timesheet.includes(:employee).order("employees.last_name"), prompt: "Choose an Employee" %>
       <% end %>
    </div>
    <div class='form-group'>
    <%= f.input :reg_hours, label: 'Regular Hours', wrapper_html: { class: 'col-md-4'}, input_html: { class: 'form-control col-md-6'}  %>
    <%= f.input :ot_hours, label: 'Overtime Hours', wrapper_html: { class: 'col-md-4'}, input_html: { class: 'form-control col-md-6'}  %>
    <%= f.input :gross_pay, label: 'Gross Pay', wrapper_html: { class: 'col-md-4'}, input_html: { class: 'form-control'}, disabled: true %>
    </div>
    <hr>
    <div class='btn-group'>
        <%= f.submit %>
    </div>
<% end %>

</div>