<div class='text-center search-box'>
  <% if params[:q].present? && params[:q][:notes_or_title_cont].present? %>
    <p class=' lead text-center text-info'>   <%= highlight("You searched for: <br> #{params[:q][:notes_or_title_cont]}", "#{params[:q][:notes_or_title_cont]}", 
    highlighter: '<strong>\1</strong>') %>
    </p>
    <% end %>
    <%= search_form_for @q, class: '', url: search_admin_timesheets_path  do |f| %>
    <%= hidden_field_tag :redirect_to, @redirect_to %>
    <div class="form-inline">
        <%= f.search_field :employee_first_name_or_employee_last_name_cont, placeholder: "Search by employee", class: "form-control inline" %>
        <%= f.button class: "btn btn-default inline" do %> <i class='fa fa-search fa-fw'></i> <% end %>
    
    <% end %>
      <%= link_to "Reset", admin_timesheets_path, class: 'btn btn-default inline' %>
       
    </div>
</div>