
<div class='col-md-12'>
  
  <div class='form'>
      <%= search_form_for [:admin, @q] do |f| %>
      <%= f.condition_fields do |c| %>
        <%= render "admin/timesheets/condition_fields", f: c %>
      <% end %>
      <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
      <div class="field">
        Sort:
        <%= f.sort_fields do |s| %>
          <%= s.sort_select %>
        <% end %>
      </div>
      <hr>
      
        <div class="form-inline">
          
          
          <%= f.search_field :employee_first_name_or_employee_last_name_cont, placeholder: "Search by employee", class: "form-control" %>
        
        <%= f.submit class: "btn btn-default" do %><i class='fa fa-search'></i><% end %> 
          <%= link_to admin_timesheets_path, class: "btn btn-default" do %><i class="fa fa-search-minus"></i> Reset<%end %>
        <div class='btn-group'>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><%= sort_link(@q, :week) %></li>
                <li><%= sort_link(@q, :state) %></li>
                <li><%= sort_link(@q, :employee_last_name) %></li>
                <li><%= sort_link(@q, :employee_first_name) %></li>
                <li><%= sort_link(@q, :needed_by) %></li>
                <li><%= sort_link(@q, :total_hours) %></li>
                <li><%= sort_link(@q, :gross_pay) %></li>
                <li><%= sort_link(@q, :total_bill) %></li>
            </ul>
        </div>
      </div>
    <% end %>
  </div>
  
</div>