

<div class="nested-fields">


    
    <%= f.input :state, disabled: true, label: false %>
  


    <div class='col-md-6'>
        <%= f.datetime_select :time_in, ampm: true, order: [:month, :day, :hour, :minute], default: Time.current %>
    </div>
    <div class='col-md-6'>
       <%= f.datetime_select :time_out, ampm: true, order: [:month, :day, :hour, :minute], default: Time.current %>
    </div>


    <div class='col-md-6'>
        <h5 class='text-center'><strong>Lunch Break</strong></h5>
        <div class="col-md-6">
           Start:<br>
            <%= f.time_select :break_out, ampm: true, order: [:hour, :minute], default: Time.current %>
        </div>
        <div class="col-md-6">
            End:<br>
            <%= f.time_select :break_in, ampm: true, ampm: true, order: [:hour, :minute], default: Time.current, class: "half" %>
        </div>
    </div>




    <div class="form-group">
        <%= f.text_area :note, label: false, placeholder: "Add a note...", rows: 3  %>
    </div>
    
    <div class="form-actions">
    <%= link_to_remove_association '<i class="fa fa-minus-circle red pull-right"></i>'.html_safe, f, class: ''%>
    </div>

</div>