
<div class="timesheet lighterbox" data-behavior="timesheet" data-id="<%= timesheet.id %>">
  <p class='pull-right' data-behavior='timesheet-company'>
		  <%= timesheet.company.name %> 
		</p>
  <div id='view-timesheet' class="btn-toolbar" role="toolbar" aria-label="...">
	 <div class="btn-group" role="group" aria-label="...">
		 <%= link_to(admin_timesheet_path(timesheet), data: {toggle: "tooltip", placement: "top", title: "View Timesheet"}, class: '') do %>
    		<i class="fa fa-calendar-times-o fa-1x"></i>
    		<%= timesheet.week_begin %>  -  <%= timesheet.week_ending %>
  		<% end %>
  	</div>
  </div>
  	
	<div class=""  data-behavior='timesheet-state'>
		<% if timesheet.approved? %>
	  	<span class='label label-success black pull-right'>
				<i class='fa fa-calendar-check-o fa-1x'></i>
				<%= timesheet.state.upcase %>
			</span>
		<% else %>
		  <span class='label label-danger black pull-right'>
  			<i class='fa fa-calendar-times-o fa-1x'></i>
  			<%= timesheet.state.upcase %>
			</span>
		<% end %>
	</div>
	<div class="bg-white">
	  
	  <p class='lead pull-center' data-behavior='timesheet-employee'>
			  <%= timesheet.employee.name %><small> <%=timesheet.job.title %></small>
			</p>
		<div class="col-md-6">
			<p class='text-center'>
				<strong>Reg Hours:</strong>	<%= timesheet.reg_hours.round(2) %>
				<br>
				<strong>OT Hours:</strong>	<%= timesheet.ot_hours.round(2) %>
			</p>
		</div>
		<div class="col-md-6">
			<p class='text-center'>
				<strong>	Gross Pay:</strong>	<%= number_to_currency(timesheet.gross_pay) %>
				 <br>
				<strong>Total Bill:</strong>	<%= number_to_currency(timesheet.total_bill) %>
			</p>
		</div>
		<% if timesheet.approved? %>
				<p class='text-right' data-behavior='user-approved'><small>
					
				 Approved by: <%= timesheet.user_approved %></small></p>
				 <% end %>
				 
			
			
			
		  
		    
			
		</div>
			
</div>
	
