<div class='col-md-12 mainpage shadow'>
<h1 class="simple bold pad">Editing Timesheet for <%= link_to @employee.name, admin_employee_path(@employee) %></h1>
<h3 class="pad bold text-right"><%= link_to @company.name, admin_company_path(@company) %></h3>

  
        <%= render 'form' %>
   


<%= link_to 'Show', admin_timesheet_path(@timesheet) %> |
<%= link_to 'Back', admin_timesheets_path %>
</div>