<div class="col-md-12 mainpage shadow">
    <h1 class="text-center bold ">Current Payroll</h1>
    <hr>
    <%= render 'admin/timesheets/search' %>
    <hr>
    <div class='col-md-6 btn-group'>
    	<%= link_to "Current Payroll", edit_multiple_admin_timesheets_path, class: "btn btn-default" %>
    	<%= link_to "New Timesheet", new_admin_timesheet_path, class: "btn btn-default" %>
    	
    </div>
    <hr>
    
    <div class="col-md-12 well">
        <h2 class="text-center bold"><span class="">Approved: <%= @approved_timesheets.count %> | Pending: <%= @pending_timesheets.count %> </span> <span class="pull-right">Total: <%= @timesheets.count %></span></h2>
        <hr>
        <a class="btn btn-success" role="button" data-toggle="collapse" href="#review" aria-expanded="false" aria-controls="review">
        
        Review Payroll
        </a>
        <div class="collapse" id="review">
            <div class='well' data-behavior='timesheet-list'>
                <div class='pad' id='approved'>
                    <% if @approved_timesheets.any? %>
                    <%= will_paginate @approved_timesheets %>
                    <%= render "admin/timesheets/table", timesheets: @approved_timesheets %>
                    <% else %>
                    <h3>No approved timesheets to display.</h3>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <%= div_for @pending_timesheets, class: "col-md-12" do |timesheet| %>
    <%= link_to timesheet.name, admin_timesheet_path(timesheet), class: 'btn btn-default'%>
        <div class="col-md-12 <%= timesheet.approved? ? "approved" : "" %>" data-behavior="timesheet" data-id="<%= timesheet.id %>" id="timesheet_<%=timesheet.id%>">
            <p> <span class='small text-muted pull-right' id='timesheet_<%=timesheet.id%>_state'><%=timesheet.state.upcase%></span></p>
            <h3><%= timesheet.time_frame %> <span class='small pull-right'><%= number_to_currency(timesheet.pay_rate) %></span> </h3>
            <span class='text-success'><%= timesheet.company.name %>   -   <%= number_to_currency(timesheet.gross_pay) %></span>
            <%= link_to edit_admin_timesheet_path(timesheet) do %>  <span data-toggle='tooltip' title='Click to edit' class='text-info small pull-right'>Bill rates: <%= timesheet.reg_bill_rate %> | <%= timesheet.ot_bill_rate %> </span><% end %>
        <%= simple_form_for( [:admin, timesheet]) do |f| %>
           <div class='form-group'>
                <% if timesheet.shifts.any? %>
                    <%= f.input :reg_hours, inline_label: 'Regular', wrapper_html: { class: 'col-md-4'}, input_html: { class: 'form-control', max: 40}, disabled: true  %>
                    <%= f.input :ot_hours, label: 'Overtime', wrapper_html: { class: 'col-md-4'}, input_html: { class: 'form-control'}, disabled: true  %>
                <% else %>
                    <%= f.input :reg_hours, label: 'Regular', wrapper_html: { class: 'col-md-4'}, input_html: { class: 'form-control', max: 40}  %>
                    <%= f.input :ot_hours, label: 'Overtime', wrapper_html: { class: 'col-md-4'}, input_html: { class: 'form-control'}  %>
                <% end %>
                <%= hidden_field_tag :redirect_to, @redirect_to %>
            </div>
            
    	      <div class='timesheet-actions btn-group text-center'>
    	          <%= link_to 'Add Adjustment', new_admin_timesheet_adjustment_path(timesheet), class: 'btn btn-default' %>
    	          <span id="btn_<%=timesheet.id%>" class="small"><%= link_to "Approve".html_safe, approve_admin_timesheet_path(timesheet), data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Approving..."} , class: "btn btn-default", method: :patch, remote: true if timesheet.pending? %></span>
        	     <% if timesheet.shifts.none? %>
        	     <%= f.button :button, "Save".html_safe, class: "btn btn-default", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."} %>
        	     <% else %>
        	     <%= link_to "Delete All Shifts", admin_timesheet_delete_all_shifts_path(timesheet, redirect_to: "edit_multiple_admin_timesheets_path"), class: 'btn btn-default'%>
        	     <% end %>
                </div>
                <% if timesheet.shifts.any? %>
                <a class="btn btn-default" role="button" data-toggle="collapse" href="#collapseTimesheet<%= timesheet.id %>Shifts" aria-expanded="false" aria-controls="collapseTimesheet<%= timesheet.id %>Shifts">
                  View shifts
                </a>
                <div class="collapse" id="collapseTimesheet<%= timesheet.id %>Shifts">
                  <div class="well">
                        <%= render "admin/shifts/table", shifts: timesheet.shifts %>
                  </div>
                </div>
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>
