
    <div class='col-md-12 lightbox-long'>
        <%= link_to(admin_timesheets_path(@timesheets.current_week, format: :csv), class: 'btn btn-primary pull-right') do %>
          		<i class="fa fa-file-excel-o fa-fw"></i> Export Current Timesheets
        <% end %>
        <h2 class='text-center metal'>Current Timesheets </h2>
        <p class='lead'>Week Ending <%= @timesheets.current_week.first.try(:week_ending) %></p>
        
<div class='col-md-12'>
    <% if @timesheets.present? %>
    
   <div class='' data-behavior="timesheet-list">
<table class="table table-bordered inv_datatable">
	<thead>
		<th> Week Ending</th>
		<th> Company</th>
		<th>Employee</th>
		<th> Gross Pay</th>
		<th> Hours</th>
		<th> Status</th>
		
	</thead>
	<tbody>
		<% @timesheets.current_week.order('orders.company_id').each do |timesheet| %>
		<tr data-behavior="timesheet" data-id="<%= timesheet.id %>">
			<td><strong>      <%= link_to timesheet.week_ending,admin_timesheet_path(timesheet), data: {toggle: "tooltip", placement: "right", title: "View Timesheet"}, class: "button"  %>
    </div></strong></td>
			<td><%= link_to timesheet.order.company, admin_company_path(timesheet.company), class: 'black'  %></td>
	      	<td><%= link_to timesheet.employee.name, admin_employee_path(timesheet.employee), class: 'black' %></td>
			<td><%= timesheet.gross_pay.present? ? number_to_currency(timesheet.gross_pay) : timesheet.shifts.last.state.upcase %></td>
			<td><%= timesheet.total_hours.present? ? timesheet.total_hours.round(2) : timesheet.shifts.last.state.upcase %></td>
			<td>
				<a class='button' data-behavior="timesheet-toggle" >
					<span  class="fa-stack" data-behavior="approve-button" >
			          <% if timesheet.approved? %>
						  <i class='fa fa-square-o fa-stack-2x'></i> <i class='fa fa-times fa-stack-1x'></i>
			          <% else %>
				          <i class='fa fa-square-o fa-stack-2x '></i>  <i class='fa fa-check fa-stack-1x'></i>
			          <% end %>
				    </span>
				    <span data-behavior='timesheet-state'><%= timesheet.state.upcase %></span>
				</a>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>

    
    <% else %>
    <h3>No timesheets to display.</h3>
    <% end %>

</div>






</div>


