<div class="col-md-12 mainpage shadow">
	<div class='btn-group'>
		<% if @job.present?  %>
		<%= link_to "New Timesheet", new_admin_job_timesheet_path(@job), class: "btn btn-default" %>
		<% else %>
		<%= link_to "New Timesheet", new_admin_timesheet_path, class: "btn btn-default" %>
		<% end %>
	</div>
	<div class="col-md-12 well">
		<h3 class="bold">Curent payroll date: <%= Date.current.end_of_week.stamp("4/12") %></h3>
		<%= form_for @import, url: import_admin_timesheets_path, multipart: true do |f| %>
	
			<div class="col-md-6">
				<h4 class="bold text-center">Import Timesheets as CSV</h4>
		   		 <hr>	
		    	<% if @import.errors.any? %>
				<div class='alert alert-error'>
		    		<% @import.errors.full_messages.each do |msg| %>
		    			<div><%= msg %></div>
		    		<% end %>
				</div>
				<% end %>
				<div class="form-group">
					<%= f.file_field :file %>
					<%= f.submit "Upload" %>
				</div>
				<% end %>
				<div class="col-md-4 well well-sm">
				    <h5 class="bold">Required Fields</h5>
				    <ul class="fa-ul">
		    		    <li>Week</li>
		    		    <li>Job_id</li>
		    		    <li>Reg_hours</li>
		    		    <li>Ot_hours</li>
		    		</ul>
		    		<%= link_to  "Download Template", admin_timesheets_path(format: :csv, scope: "template")  %>
				</div>
				<div class="col-md-8 well">
				    <h5 class="bold text-center">Employees without current timesheets.</h5>
				    <ul class="fa-ul scroll300">
		    		    <li class=""><p class="small bold">Name <span class="pull-right">Job_id</span></p></li>
				    <% @current_admin.jobs.without_current_timesheet.each do |job| %>
				    <%= link_to new_admin_job_timesheet_path(job) do %>
				        <li class=""><p><%= job.name %> <span class="pull-right text-info"><%= job.id %></span></p></li>
				        <% end %>
				    <% end %>
				    </ul>
				</div>
			</div>
	

	<%= render 'admin/timesheets/search' %>
	<hr>
	<h1 class='bold'>Timesheets <% if @timesheets.current_week.any? %><small>Week Ending <%= @timesheets.current_week.first.week_ending.stamp("3/21") %></small> <% end %></h1>
	<hr>
	<div class='well' data-behavior='timesheet-list'>
		<div class='pad'>
			<% if @timesheets.any? %>
				<%= will_paginate @timesheets %>
			<%= render "admin/timesheets/table", timesheets: @timesheets %>
			<% else %>
			<h3>No timesheets to display.</h3>
			<% end %>
		</div>
	
	</div>
	</div>
</div>