<%= render 'table' %>
































<!--<div data-behavior="timesheet-list">-->
<!--<% @timesheets.each do |timesheet| %>-->
<!--<%= timesheet.week_ending %>-->
<!--        <%= link_to timesheet.employee.name, timesheet.employee %>-->
<!--        <%= link_to timesheet.job.title, timesheet.job %>-->
<!--        <%= timesheet.reg_hours %>  |  <%= timesheet.ot_hours %>-->
<!--        <%= number_to_currency(timesheet.gross_pay) %>-->

<!--<div class="main-box" data-behavior="timesheet" data-id="<%= timesheet.id %>" >-->
<!--  <%= timesheet.week_ending %> | <%= link_to timesheet.employee_name, timesheet.employee %> - <%= number_to_currency(timesheet.gross_pay) %>-->
<!--  <div data-behavior="approve-user"><%= timesheet.user_approved %></div>-->
<!--        <div>-->
        
        
<!--          <%if timesheet.approved? %>-->
          
<!--          <%= button_tag(type: "button", class: 'badge', data: { behavior: "timesheet-toggle" }) do %>-->
<!--            <span data-behavior="approve-button"> -->
<!--              <% if timesheet.approved? %>-->
<!--                <i class='fa fa-times'></i>     Unapprove-->
<!--              <% else %>-->
<!--                <i class='fa fa-check-circle'></i>     Approve-->
<!--              <% end %>-->
<!--            </span>-->
<!--          <% end %>-->
          

<!--           <% else %>-->
            
<!--          <%= button_tag(type: "button", class: 'badge', data: { behavior: "timesheet-toggle" }) do %>-->
<!--            <span data-behavior="approve-button"> -->
<!--              <% if timesheet.approved? %>-->
<!--                <i class='fa fa-times'></i>     Unapprove-->
<!--              <% else %>-->
<!--                <i class='fa fa-check-circle'></i>     Approve-->
<!--              <% end %>-->
<!--            </span>-->
<!--          <% end %>-->

<!--        <% end %>-->

        
        <!--<%= link_to "<i class='fa fa-folder-open'></i>     View".html_safe, timesheet, class: "badge" %>-->
        <!--<%= link_to "<i class='fa fa-pencil'></i>     Edit".html_safe, edit_timesheet_path(timesheet), class: "badge" %>-->
<!--        <%= link_to "<i class='fa fa-trash'></i>     Delete".html_safe, timesheet, class: "badge", method: :delete, data: { confirm: 'Are you sure?' } %>-->
<!--        </div>-->
<!--    </div>-->
<!--<% end %>-->

<!--</div>-->