<div class="col-md-12 mainpage shadow">
    <h1>Search</h1>
    <%= render "shared/searching_btw_form", search_path: search_admin_timesheets_path %>
    <%= render "admin/timesheets/search" %>
    <div class="col-md-12 well scroll300">
        <%= will_paginate @timesheets.approved %>
        <%= render "table", timesheets: @timesheets.approved %>
        
    </div>
    <hr>
    <%= render "edit_table", timesheets: @timesheets.pending %>
    
    
</div>