<div class='col-md-12 mainpage shadow'>
    <div class="btn-group btn-group-justified" role="group">
        <%= link_to "View #{@employee.first_name}'s Profile", admin_job_path(@job), class: 'btn btn-default' %>
        <%= link_to 'Add A Timesheet', new_admin_job_timesheet_path(@job), class: 'btn btn-default' %>
        <%= link_to 'View All Timesheets', admin_job_timesheets_path(@job), class: 'btn btn-default' %>
    </div>
    <div class='col-md-8 well well-sm shadow'>
        <h2 class="bold"><%= @company.name %></h2>
        <%= link_to 'Edit Timesheet', edit_admin_timesheet_path(@timesheet), class: 'btn btn-default pull-right' %>
        <hr>
        <div class='shadow' data-behavior="timesheet-list">
            <%= render @timesheet %>
        </div>
        <hr>
        <div class="col-md-6 well well-sm">
            
            <p class="text-info bold">Pay Breakdown</p>
            <p class='text-info'>Regular pay: <%= @timesheet.reg_hours %> x <%= number_to_currency(@timesheet.pay_rate) %> = <%= @timesheet.reg_hours * @timesheet.pay_rate %></p>
            <p class='text-info'>Overtime pay: <%= @timesheet.ot_hours %> x <%= number_to_currency(@timesheet.ot_rate) %> = <%= @timesheet.ot_hours * @timesheet.ot_rate %></p>
            <p class='text-info'>Adjustments: <%= @timesheet.adj_total %></p>
            <p class='bold'><%= @timesheet.reg_hours * @timesheet.pay_rate %> + <%= @timesheet.ot_hours * @timesheet.ot_rate %>  + <%= @timesheet.adj_total %>  = <%= number_to_currency @timesheet.gross_pay %></p>
        </div>
        <div class="col-md-6 well well-sm">
            <p class="text-info bold">Billing Breakdown</p>
            <p class='text-info'>Regular bill: <%= @timesheet.reg_hours %> x <%= number_to_currency(@timesheet.bill_rate) %> = <%= @timesheet.reg_hours * @timesheet.bill_rate %></p>
            <p class='text-info'>Overtime bill: <%= @timesheet.ot_hours %> x <%= number_to_currency(@timesheet.ot_bill) %> = <%= @timesheet.ot_hours * @timesheet.ot_bill %></p>
            <p class='text-info'>Adjustments: <%= @timesheet.adjustments.sum(:bill_amount) %></p>
            <p class='bold'><%= @timesheet.reg_hours * @timesheet.bill_rate %> + <%= @timesheet.ot_hours * @timesheet.ot_bill %>  + <%= @timesheet.adjustments.sum(:bill_amount) %>  = <%= number_to_currency @timesheet.total_bill %></p>
        </div>
         <% if @timesheet.shifts.any?  %>
    <div class='col-md-12'>
        <%= link_to "Edit Shift Times", admin_timesheet_shifts_path(@timesheet), class: "btn btn-info btn-sm" %>
      <h3> Shifts</h3>
       <%= render 'admin/shifts/table', shifts: @shifts %>
    </div>
    <% end %>
    </div>
    <div class='col-md-4 pad shadow light'>
        <div class="well">
            <p class="lead">Rates</p>
            <p>Pay: <%= number_to_currency @timesheet.pay_rate %> | <%= number_to_currency @timesheet.ot_rate %> </p>
            <p> Bill: <%= number_to_currency @timesheet.bill_rate %> | <%= number_to_currency @timesheet.ot_bill %></p>
            <p class='text-info'><%= @timesheet.reg_bill_rate == @timesheet.ot_bill_rate ? "Bill Rate: #{@timesheet.reg_bill_rate}" : "Bill Rate: #{@timesheet.reg_bill_rate} | OT Bill Rate: #{@timesheet.ot_bill_rate}" %></p>
                </div>
        <div class="btn-group text-center" role="group">
            <%= link_to "<i class='fa fa-floppy-o fa-fw'></i> Save PDF".html_safe, admin_timesheet_path(@timesheet, format: :pdf), class: 'btn btn-default btn-lg btn-block' %>
            <%= link_to "<i class='fa fa-trash fa-fw'></i> Delete Shifts".html_safe, admin_timesheet_delete_all_shifts_path(@timesheet), class: 'btn btn-default btn-lg btn-block' if @timesheet.shifts.any?%>
            <%= link_to "<i class='fa fa-edit fa-fw'></i> Edit".html_safe, edit_admin_timesheet_path(@timesheet), class: 'btn btn-default btn-lg btn-block'  if @timesheet.shifts.none? %>
       </div>
       <hr>
        
        
        <% if @timesheet.adjustments.any? %>
        <h3 class='text-info bold text-center'>Adjustments</h3>
        <%= div_for @timesheet.adjustments do |adjustment| %>
        <p class="lead bold"><%= adjustment.adj_type %>  <%= is_taxable?(adjustment) %></p>
            <p>Pay: <%= number_to_currency(adjustment.amount) %>  (Bill: <%= number_to_currency(adjustment.bill_amount) %>) <br>
            <span class="small text-muted">Added by: <%= adjustment.creator.try(:name) %></span>
            <%= link_to "<i class='fa fa-trash'></i>".html_safe, admin_timesheet_adjustment_path(@timesheet, adjustment), method: :delete, class: "pull-right" %></p>
        <% end %>
        <% end %>
        <%= link_to 'Add Adjustment', new_admin_timesheet_adjustment_path(@timesheet), class: 'btn btn-default btn-lg btn-block' %>
        <hr>
        <h3 class='text-info bold text-center'>Invoice</h3>
        <div class="btn-group text-center" role="group" aria-label="...">
            <%= link_to "<i class='fa fa-money fa-fw'></i> View Invoice ".html_safe, admin_invoice_path(@timesheet.invoice), class: 'btn btn-default  btn-lg btn-block' %>
            <%= link_to "<i class='fa fa-download fa-fw'></i> Save Invoice as PDF".html_safe, admin_company_invoice_path(@timesheet.company, @timesheet.invoice, format: :pdf), class: 'btn btn-default  btn-lg btn-block' %>
        </div>
        <div class="well-sm">
            <%= render "history", timesheet: @timesheet %>
        </div>
    </div>
   
    
</div>

