<div class='col-md-12 transbox'>

    <%= link_to(admin_timesheet_path(@timesheet, format: :pdf), class: 'btn btn-primary') do %>
  					<i class="fa fa-download fa-md"></i> Download PDF
  				
  				<% end %>
  		
          <%= link_to 'All Timesheets', admin_job_timesheets_path(@job), class: 'btn btn-primary' %>
  
<div class='col-md-12'>
  <h3>For the week of:<strong><br>
        <%= @timesheet.week_begin %>
          - 
        <%= @timesheet.week_ending %>
      </strong></h3>
  <div class='col-md-3 well well-sm'>
    <strong>Regular hours:</strong>
    <%= @timesheet.reg_hours.round(2) %>
  </div>
  <div class='col-md-3 well well-sm'>
    <strong>Overtime hours:</strong>
    <%= @timesheet.ot_hours.round(2) %>
  </div>
    <div class='col-md-3 well well-sm'>
           <strong>Gross pay:</strong>
        <%= number_to_currency(@timesheet.gross_pay) %>
      </div>
      <div class='col-md-3 well well-sm'>
           <strong>Total bill:</strong>
        <%= number_to_currency(@timesheet.total_bill) %>
      </div>
      
</div>
 <div class='col-md-12 dark'>
<div class='well' data-behavior="timesheet-list">
    
  <%= render @timesheet %>
  
  </div>


         <div id='comments_<%= @timesheet.class %>_<%= @timesheet.id %>'>
            <% @timesheet.comments.each do |comment| %>
            
                <%= render 'comments/comment', comment: comment %>
            <% end %>
        </div>
        
          <%= render partial: "comments/form", locals: {commentable: @timesheet} %>
          <hr>
    
      </div>

<div class='col-md-12'>
  <h3> Shifts</h3>
   <%= render 'admin/shifts/table' %>
</div>




</div>

