<%= div_for job, class: "col-md-12 well well-sm" do %>
<div class="" data-behavior="job" data-id="<%= job.id %>">
    <% if @current_agency.demo?  && current_company_admin.timeclock? %>
   <p class='demo' data-toggle="tooltip" data-placement="left" title="<%= job.employee.first_name %>'s time clock code - (visible in DEMO mode only)">
        <%= job.employee.code  %></p>
    <% elsif @current_agency.demo? %>
    <span class='demo' data-toggle="tooltip" data-placement="left" title="Last clocked in: <%= job.current_shift.present? ? job.current_shift.updated_at.stamp("Monday, 11/12 at 9:00am") :  job.last_clock_in %>">
    <span id='job-sym'><%= job_sym(job)%> </span> <br> <%= job.employee.name %>
    <small><%= job.title %></small>
    </span>
    <% end %>
    <br>
    <div class='btn btn-<%= job_class(job)%> btn-lg btn-block <%= current_company_admin.timeclock? ? 'bg-danger' : 'hide-this' %>' data-behavior="code-button_<%= job.id %>">
       <span id='job-sym'><%= job_sym(job)%></span>  <%=  job.name %>
    </div>
        <span id='verified'></span>
        <%= render 'company/dashboard/clock', job: job if company_admin_signed_in? && current_company_admin.timeclock? || current_company_admin.owner? %>
    
</div>
<% end %>