<div class="col-md-12 well well-sm" data-behavior="job" data-id="<%= job.id %>">
   <p class='small text-muted'> <%= job.employee.code if @current_agency.demo? %></p>
    <div class='pull-left'>
        <%= link_to job.name_title, company_job_path(job) if company_admin_signed_in? && current_company_admin.role != "Timeclock" %>
         <%=  job.name_title if company_admin_signed_in? && current_company_admin.role == "Timeclock" %>
         <%=  link_to job.name_title, admin_job_path(job) if admin_signed_in?  %>
    </div>
    <div class='pull-right'>
        <span id='verified'></span>
        <%= render 'company/dashboard/clock', job: job if company_admin_signed_in? && current_company_admin.timeclock?|| current_company_admin.owner? %>
    </div>
    
</div>