
<div class="table-responsive">
  

<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Job Order</th>
      <th>Employee</th>
      <th>Start date</th>
      <th>Pay rate</th> 
      <th>Hours <small>Current | Total</small></th>
      <th>Pay <small>Current | Total</small></th>


    </tr>
  </thead>

  <tbody>
    <% jobs.each do |job| %>
    <% if job.on_shift? %>
    <tr class="clocked_in">
      <% else%>
    <tr class="clocked_out">
      
      <% end %>
        <td>
          <%= job.id %>
        </td>
        <td><%= link_to job.order.title, company_order_path(job.order) %></td>
        <td><%= link_to job.employee.name, company_job_path(job) %> - <%= job.title %></td>

        <td><%= job.start_date.strftime("%B %e, %Y") %></td>
        <td><%= number_to_currency(job.pay_rate) %></td>
        <td><%= job.current_week_hours.round(2) %> | <%= job.total_hours %></td>
        <td><%= number_to_currency(job.current_week_pay) %> | <%= number_to_currency(job.total_gross_pay) %></td>
       
        

      </tr>
    <% end %>
  
  </tbody>
</table>
</div>

