<div class='col-md-12 mainpage shadow'>
  <div class="btn-group">
    <%= link_to "Archived", archived_company_jobs_path, class: "btn btn-default" %>
  </div>
  <% if @jobs %>
  <h1>Active Jobs <small><%= @company.name %></small></h1>
  <div id="" class=" col-md-12 table-responsive">
    <table id="" class="table table-bordered">
    <thead>
      <tr>
        <th>Status</th>
        <th>Employee</th>
        <th>Title</th>
        <th>Start date</th>
        <th>Pay rate</th>
        <th>Hours this week</th>
        <th>Pay this week</th>
        <th>Total Hours</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= content_tag_for(:tr, @jobs.active) do |job| %>
      <% if job.on_shift? %>
          <tr class="bg-success">
        <% else %>
          <tr class="bg-info">
        <% end %>
          <td><%= link_to current_job_status(job), company_job_path(job), class: "black button" %></td>
          <td><%= link_to job.employee.name, company_job_path(job), class: "black button bold" %></td>
          <td><%= link_to job.title, company_job_path(job), class: "black button" %></td>
          <td><%= job.start_date.strftime("%B %e, %Y") %></td>
          <td><%= number_to_currency(job.pay_rate) %></td>
          <td><%= job.current_week_hours.round(2) %></td>
          <td><%= number_to_currency(job.current_week_pay) %></td>
          <td class='bold'><%= job.total_hours.round(2) %></td>
          <td><%= link_to "Add Timesheet", new_company_job_timesheet_path(job) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  </div>
  
  <% else %>
  <h3>No jobs to show.</h3>
  <% end %>
</div>



