<div class='col-md-12'>
  
<% if @job.active? %>
<h1 class='text-right bold text-success'><%= @job.state %></h1>
<h2> <strong><%= @employee.name %></strong> <small> <%= @job.title %></small></h2>
<% else %>
<h1 class='text-right text-warning bold'><%= @job.state %></h1>
<h2> <strong><%= @employee.name %></strong> <small> <%= @job.title %></small></h2>
<% end %>

<div class='company-profile-nav'>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#job-tab" aria-controls="job-tab" role="tab" data-toggle="tab">Job Information</a></li>
    
    <% if @job.active? %><li role="presentation"><a href="#timesheets" aria-controls="timesheets" role="tab" data-toggle="tab">Timesheets</a></li><% end %>
    <li role="presentation"><a href="#editing" aria-controls="editing" role="tab" data-toggle="tab">Setting</a></li>
    <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
   
  </ul>
  
  <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="job-tab">
        <div class='col-md-12'>
          <div class='col-md-4 well'>
           
              <% if @job.active? %>
                <h4>Total Hours: <%= @job.total_hours %></h4>
                <h4>Total Gross Pay: <%= number_to_currency(@job.timesheets.sum(:gross_pay)) %></h4>
                <hr>
                <p><strong>Gross this week:</strong> <%= number_to_currency(@job.current_week_pay) %></p>
                <p><strong>Hours this week : </strong><%= @job.current_week_hours %></p>
              <% else %>
              <h3><%= @employee.first_name %>'s Past Positions</h3>
                <% if @employee.work_histories.any? %>
                <% @employee.work_histories.each do |work_history| %>
                  <%= work_history.employer_name %>
                <% end %>
                <% else %>
                  <p class='bold'>No past work history.</p>
                <% end %>
              <% end %>
          </div>
          <div class='col-md-6 well'>
            <% if @job.active? %>
                <p class='lead'><strong>First day:</strong> <%= @job.first_day.stamp("Monday December 25th, 2016") %></p>
              <strong>Pay rate:</strong>  <%= number_to_currency(@job.pay_rate, :unit => "$") %><br>
            <h4><%= @job.title %><small><%= number_to_currency(@job.pay_rate) %></small></h4>
              <% else %>
              <h3> This position is currently inactive.</h3>
            <% end %>

        </div>
        
          
        </div>
        <div class='row well well-sm'>
          <%= render 'company/shifts/calendar', shifts: @job.shifts  %>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="timesheets" data-behavior='timesheet-list'>
        <h2 class='text-center'>Timesheets</h2>
        
        <div class='col-md-6'>
          <h4 class='text-center'>Approved</h4>
           
             <%  if @timesheets.approved.any? %>
             <%= render 'company/timesheets/table', timesheets: @timesheets.approved.distinct %>
             <% else %>
             <div id="approved">
               <p>No approved timesheets.</p>
             </div>
             <% end %>
           
        </div>
        <div class='col-md-6'>
          <h4 class='text-center'>Pending</h4>
         
            <%  if @timesheets.pending.any? %>
            <%= render 'company/timesheets/table', timesheets: @timesheets.pending.distinct %>
            <% else %>
            <div id="pending">
              <p id='no-pending'>No pending timesheets.</p>
            </div>
            <% end %>
         
        </div>
        <div class='row'>
          <%= render 'company/shifts/wk_calendar', shifts: @job.current_timesheet.shifts if @job.current_timesheet.present? %>
        </div>
      </div>
      
      <div role="tabpanel" class="tab-pane fade" id="editing">
        <div class='col-md-12'>
          <div class='col-md-5 well'>
             <p class='lead'>Interview Notes:</p> 
             <p class='metal'><%= @job.description.length > 1 ? @job.description : "No interview notes to show" %></p>
          <hr>
          </div>
          <div class='col-md-5 well' data-behavior="company-job-list">
            <div data-behavior="job" data-id="<%= @job.id %>">
              
              <h4><%= @job.title %></h4>
              <span id='verified'></span>
              <%= render 'company/dashboard/clock', job: @job if @job.active? %>
            </div>
          </div>
          <div class='col-md-2'>
              <%= link_to 'Edit', edit_company_job_path(@job), class: 'btn btn-primary btn-lg' %> 
              Timeclock Code: <%= @employee.code %>
              
            <div class='well well-sm text-center'>
              <h4 class='text-center'><%= @current_agency.name %><br> <small>Contact List</small></h4>
              <h4 class='text-left'>Account Manager:</h4>
              <%= @job.account_manager.try(:name) %><br>
              <small><%= @job.account_manager.try(:phone_number) %> <br> <%= @job.account_manager.try(:email) %></small><br>
            <h4 class='text-left'>Recruiter:</h4>
            <%= @job.recruiter.try(:name) %><br>
             <small> <%= @job.recruiter.try(:email) %></small><br>
             <h4 class='text-left'>Payroll:</h4><%= @current_agency.payroll_admin.first.try(:name) %><br>
             <small><%= @current_agency.payroll_admin.first.try(:email) %></small>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="comments">
           <div class='col-md-12'>
             
             <div class='col-md-4'>
                <h2>Comments</h2>
                <div data-behavior='comment-list' class='scroll300' id='comment-list'>
                    <% @job.comments.unread.order(created_at: :desc).each do |comment| %>
                        <%= render 'comments/comment', comment: comment %>
                    <% end %>
                </div>
                <%= render partial: "comments/form", locals: {commentable: @job} %>
             </div>
          </div>
        
      </div>
      
    </div>
  </div>
</div>




  