<div class='col-md-12 lightbox'>
    <h1><%= @company_admin.name %></h1>
    
   
    <div class='col-md-2 bg-white'>
        <%= signed_in_link_to( @company_admin.company.name, @company_admin.company) if admin_signed_in? %> 
        <%= @company_admin.role %>

        <%= @company_admin.email %>
        <%= @company_admin.last_sign_in_ip if admin_signed_in? %>
        <br>
        <%= @company_admin.last_sign_in_at.present? ? @company_admin.last_sign_in_at.stamp("11/12 at 11:15am") : "Yet to sign in" %>

        <hr>

        
    </div>
     <div class='col-md-10 bg-white'>
         <%= render "quicklook", company: @company %>
     </div>
      <%= link_to "Edit", edit_company_admin_registration_path %>
</div>