<div class='form-group'>
  <h2 class='white'> Request more info</h2>
  <%= simple_form_for Inquiry.new do |f| %>
  <%= f.error_notification %>


    <%= f.input :agency_name, placeholder: "Agency Name", label: false, input_html: {class: 'form-control'}   %>
    <%= f.input :name, placeholder: "Your Name", label: false, input_html: {class: 'form-control'}   %>
    
    
    <%= f.input :email, placeholder: "Your Email", label: false, input_html: {class: 'form-control'}  %>
  
   
  

 
    <%= f.submit 'Get Notified!', class: 'btn btn-primary' %>
 
<% end %>

</div>