<div class="col-md-2" id="nav-col">
	<section id="col-left">
		
		<div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
				
			<ul class="nav nav-pills nav-stacked">

						<li><%= link_to admin_dashboard_path do %>
							<i class="fa fa-dashboard"></i>
							
								<span>Dashboard</span>
							<% end %>
						</li>
						
						<li><%= link_to admin_employees_path do %>
							<i class="fa fa-users"></i>
								<span>Employees</span>
							<% end %>
						</li>
						
						<li><%= link_to current_admin do %>
							<i class="fa fa-home"></i>
							
								<span>Home</span>
							<% end %>
						</li>
						<li><%= link_to admin_orders_path do %>
							<i class="fa fa-university"></i>
							
								<span>Orders</span>
							<% end %>
						</li>
						
						<li><%= link_to new_admin_order_path do %>
							<i class='fa fa-plus-square'></i>
							
								<span>Add Order</span>
							<% end %>
						</li>
						
						<li><%= link_to new_user_registration_path do %>
							<i class='fa fa-user-plus'></i>
							
								<span>Add Employee</span>
							<% end %>
						</li>
						<li><%= link_to admins_path do %>
							<i class="fa fa-users"></i>
								<span>Admin Users</span>
							<% end %>
						</li>

						
						<li><%= link_to admin_timesheets_path do %>
							<i class="fa fa-file-text-o"></i>
								<span>Timesheets</span>
							<% end %>
						</li>
						<li><%= link_to admin_jobs_path do %>
							<i class="fa fa-briefcase"></i>
								<span>Jobs</span>
							<% end %>
						</li>
						<li><%= link_to users_path do %>
							<i class="fa fa-list"></i>
								<span>Employee List</span>
							<% end %>
						</li>
						<li><%= link_to admin_shifts_path do %>
							<i class="fa fa-list"></i>
								<span>All Shifts</span>
							<% end %>
						</li>
			</ul>
		</div>
	</section>
</div>