<li class="dropdown hidden-xs">
	<a class="btn dropdown-toggle" data-toggle="dropdown">
		<i class="fa fa-warning"></i>
		<span class="count"><%= current_admin.company.jobs.on_shift.count %></span>
	</a>
	<ul class="dropdown-menu notifications-list" data-behavior="job-list">
		<li class="pointer">
			<div class="pointer-inner">
				<div class="arrow"></div>
				<div class="arrow-border"></div>
			</div>
		</li>
		<li class="item-header">
			You have <%= current_admin.company.jobs.on_shift.count %> employees clocked in.
			</li>
		
	<% current_admin.company.jobs.on_shift.order(updated_at: :desc).each do |job| %>
				
	<li class="shift-item" data-behavior="job" data-id="<%= job.id %>">
		<p class="list-group-item-heading">
			
	<%= link_to job.employee.name, admin_employee_path(job.employee), class: 'table-link' %></p>
    
      <small><%= link_to job.title, admin_job_path(job) %></small>

        <strong>Pay rate:</strong>
        <%= number_to_currency(job.pay_rate, :unit => "$") %>

        <strong>Employee:</strong>
        <%= link_to job.employee.name, admin_employee_path(job.employee) %>

        <% if job.on_shift? %>
          <button data-behavior="job-out-button" class='badge badge-danger'>
            <i class='fa fa-sign-out'></i> Clock Out
          </button>
          
          <button data-behavior="job-in-button" class='hide-this badge badge-success'>
            <i class='fa fa-sign-out'></i> Clock In
          </button>
          <hr>
          <span data-behavior="time-in">
          <br><strong>In:</strong> <%= job.current_shift.time_in.strftime("%l:%M%P") %>
        </span>
        <br>
          <span data-behavior="shift-state">
            <span class='label label-info'><%= job.current_shift.state %></span>
        </span>

      <% end %>

	</li>

		<% end %>
		
		<li class="item-footer">
			<%= link_to "View all timesheets", timesheets_path %>
		</li>
	</ul>
</li>