<li id='clocked-in-nav' class="dropdown hidden-xs">
	<a class="btn nav-btn dropdown-toggle" data-toggle="dropdown">

  		<i class="fa fa-users"></i>
		<span class="count" id="clocked-in-count">
			<%= @current.jobs.on_shift.count %>
		</span>
	</a>
	<ul class="dropdown-menu notifications-list">
		<li class="pointer">
			<div class="pointer-inner">
				<div class="arrow"></div>
				<div class="arrow-border"></div>
			</div>
		</li>
		<li id='clocked-in-count' class="item-header">
			You have <%= pluralize(@current.jobs.on_shift.count, 'employee') %> clocked in.
		</li>
			<% @current.jobs.on_shift.order(updated_at: :desc).each do |job| %>
		<li id='in-job-<%= job.id %>'class="item" >
			
			<%= render 'admin/jobs/clock', job: job %>
			
			
		</li>
		<% end %>
		
		
		<li class="item-footer">
			<%= link_to "View all timesheets", admin_timesheets_path %>
		</li>
	</ul>
</li>
