<li id='clocked-in-nav' class="dropdown hidden-xs">
	<a class="btn nav-btn dropdown-toggle" data-toggle="dropdown">

  		<i class="fa fa-clock-o"></i> Clocked In
		<span class="count" id="clocked-in-count">
			<%= @current.jobs.on_shift.try(:count) %>
		</span>
	</a>
	<ul class="dropdown-menu dropdown-menu-left">
		<li class="pointer">
			<div class="pointer-inner">
				<div class="arrow"></div>
				<div class="arrow-border"></div>
			</div>
		</li>
		<li id='clocked-in-count' class="item-header dark">
			You have <%= pluralize(@current.jobs.on_shift.try(:count), 'employee') %> clocked in.
		</li>
			<% @current.jobs.on_shift.order(updated_at: :desc).each do |job| %>
		<div id='in-job-<%= job.id %>'>
			
			<%= link_to(admin_shift_path(job.current_shift), class: "list-group-item list-group-item-info") do %>
			<%= job.name_title %>
			<% end %>
			
			
		</div>
		<% end %>
		
		
		<li class="item-footer">
			<%= link_to "View all timesheets", admin_timesheets_path %>
		</li>
	</ul>
</li>
