<li id='clocked-in-nav' class="dropdown hidden-xs">
	<a class="navbar-link dropdown-toggle" data-toggle="dropdown">
		<i class="fa fa-clock-o fa-fw fa-pull-left"></i>
		<span class="count" id="clocked-in-count">
			
			<%= @signed_in.jobs.on_shift.try(:count) %>
		</span>
		 Clocked In
	</a>
	<ul class="dropdown-menu dropdown-menu-left">
		<li class="pointer">
			<div class="pointer-inner">
				<div class="arrow"></div>
				<div class="arrow-border"></div>
			</div>
		</li>
		<li id='clocked-in-count' class="item-header dark">
			You have <%= pluralize(@signed_in.jobs.on_shift.try(:count), 'employee') %> clocked in.
			<% @signed_in.companies.with_current_timesheets.each do |company| %>
		</li>
		<li><% company.jobs.on_shift.order(updated_at: :desc).each do |job| %>
					<div id='in-job-<%= job.id %>'>
				<%= link_to(admin_shift_path(job.current_shift), class: "list-group-item list-group-item-info") do %><%= job.name_title %>	<% end %>
						<% end %>
					</div>
				<% end %></li>
		
	</ul>
</li>
