<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <% companies.each do |company| %>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading<%=company.id%>">
          <% if company.orders.any? %>
          <h4 class="panel-title">
            <%= company.name %> 
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#company_collapse<%=company.id%>" aria-expanded="true" aria-controls="company_collapse<%=company.id%>">
             <br> <p class='text-danger'><%= company_status(company) %> <i class="fa fa-caret-down"></i></p>
            </a>
          </h4>
        </div>
        <div id="company_collapse<%=company.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%=company.id%>">
          <div class="list-group">
              <% company.orders.order(:title).each do |order| %>
                  <li class='list-group-item'>
                    <%= status_tag(order) %> 
                    <%= link_to title_count(order), admin_company_order_path(company, order) %>
                  </li>
              <% end %>
          </div>
        </div>
        <% else %>
        <%= company_status(company) %>
        <%end%>
    </div>
    <% end %>
</div>