
<div class='row row150'>
	<div class="col-md-3 col-sm-6 col-xs-12 text-center">
		<div class="main-box">
			<span class="headline">Agency Billings</span>
			
			<span class="price"><%= number_to_currency(@timesheets.current_week.sum(:total_bill)) %></span>
			<span class="price">Last week: <%= number_to_currency(@timesheets.last_week.sum(:total_bill)) %></span>
			<span class="price text-muted">YTD: <%= number_to_currency(@timesheets.sum(:total_bill)) %></span>
		</div>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-12 text-center">
		<div class="main-box">
			
			<span class="headline">Agency Billings</span>
			
			<span class="price">This week:<%= number_to_currency(@timesheets.current_week.sum(:total_bill)) %></span>
			<span class="price">Last week: <%= number_to_currency(@timesheets.last_week.sum(:total_bill)) %></span>
			<span class="price text-muted">YTD: <%= number_to_currency(@timesheets.sum(:total_bill)) %></span>
		</div>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-12 text-center">
		<div class="main-box">
			
			<span class="headline">Agency Billings</span>
			
			<span class="price"><%= number_to_currency(@timesheets.current_week.sum(:total_bill)) %></span>
			<span class="price text-muted">Last week: <%= number_to_currency(@timesheets.last_week.sum(:total_bill)) %></span>
			<span class="price text-muted">YTD: <%= number_to_currency(@timesheets.sum(:total_bill)) %></span>
		</div>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-12 text-center">
		<div class="main-box">
			
			<span class="headline">Agency Billings</span>
			
			<span class="price"><%= number_to_currency(@timesheets.current_week.sum(:total_bill)) %></span>
			<span class="price text-muted">Last week: <%= number_to_currency(@timesheets.last_week.sum(:total_bill)) %></span>
			<span class="price text-muted">YTD: <%= number_to_currency(@timesheets.sum(:total_bill)) %></span>
		</div>
	</div>
</div>