<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  <i class="fa fa-briefcase fa-2x"></i> 
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="#{employee.name}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="#{employee.name}"><%= employee.name %></h4>
        <div class='pull-center'><%= render 'admin/employees/clock' %></div>
      </div>
      <div class="modal-body">
     <% if employee.clocked_in?%><i class="fa fa-cog"></i><% end %></span>
        <%= render employee.current_job %>
        
        
      
        

      </div>
      <div class="modal-footer">
        
        <div class="btn-toolbar" role="toolbar" aria-label="...">
          <div class="btn-group" role="group" aria-label="..."><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
          <div class="btn-group" role="group" aria-label="...">
            <%= link_to(admin_timesheet_path(job.current_timesheet), class: 'btn btn-primary') do %>
      					<i class="fa fa-trash-o fa-lg"></i>
      					View Timesheet
      				<% end %>
            <%= link_to(edit_admin_employee_path(employee), class: 'btn btn-primary') do %>
      					<i class="fa fa-pencil-square fa-lg"></i> 
      					Edit Employee
      				<% end %>
          </div>
          <div class="btn-group" role="group" aria-label="...">
             
          </div>
        </div>
        
  				
      </div>
    </div>
  </div>
</div>