<header class="navbar" id="header-navbar">
	<div class="container">
		<div class="navbar-header">
	      
	      <% if @current_agency.present? %>
			<%= link_to root_url, id: "logo", class: "navbar-brand" do %>
				<%= @current_agency.name.titleize %>	
			<% end %>
		<% else %>
			<%= link_to root_url, id: "logo", class: "" do %>
			       <%= image_tag("incluStaff_logo.png", alt: "Inclustaff") %>
			 <% end %>
		<% end %>
			 </div>
	  

		<button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
			<span class="sr-only">Toggle navigation</span>
			<span class="fa fa-bars"></span>
		</button>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	       <ul class="nav navbar-nav navbar-right">
	       	<% if @current_admin.present? %>
					 <%= render 'admin/shared/clocked_in' if @current_agency.jobs.on_shift.any? %>
					<%= render 'admin/shared/on_break' if @current_agency.jobs.on_break.any? %>
				
	      	<li> <%= link_to @current_admin.name, @current_admin %></li>
	      	 
	        	
				<li><%= link_to destroy_admin_session_path, method: :delete do %>
						<i class='fa fa-power-off'></i>
					<% end %>
				</li>
				<% end %>
	      </ul>
		
      
    	</div>
	
	
	</div>
</header>
