<li class="dropdown hidden-xs">
	<a class="btn nav-btn dropdown-toggle" data-toggle="dropdown">
		<i class="fa fa-users"></i>
		<span class="count"><%= @newly_added.try(:count) %></span>
	</a>
	<ul class="dropdown-menu dropdown-menu-left">
		<li class="pointer">
			<div class="pointer-inner">
				<div class="arrow"></div>
				<div class="arrow-border"></div>
			</div>
		</li>
		<% if @newly_added %>
		<li class="item-header dark text-center">You have <%= pluralize(@newly_added.try(:count), 'newly added employee') %> .</li>
		<% @newly_added.limit(3).each do |employee| %>
		<li class="item dark">
		  <%= link_to(admin_employee_path(employee)) do %>
			
				<span class="content light-5">
					<span class="content-headline">
						<%= employee.name %>
					</span>
					<span class="content-text">
						<%= employee.current_job.present? ? employee.current_job.title : "Unassigned" %>
					</span>
				</span>
				<span class="time"><i class="fa fa-clock-o"></i><%= time_ago_in_words(employee.created_at) %></span>
			<% end %>
		</li>
		<% end %>
	<% end %>
		<li class="item-footer">
			<%= link_to "View All Employees", admin_employees_path %>
			</a>
		</li>
	</ul>
</li>