<li class="dropdown hidden-xs">
	<a class="dropdown-toggle" data-toggle="dropdown">
		<i class="fa fa-users"></i>
		<span class="count"><%= current_admin.company.employees.newly_added.count %></span>
	</a>
	<ul class="dropdown-menu notifications-list messages-list">
		<li class="pointer">
			<div class="pointer-inner">
				<div class="arrow"></div>
				<div class="arrow-border"></div>
			</div>
		</li>
		<li class="item-header">You have <%= current_admin.company.employees.newly_added.count %> newly added employees.</li>
		<% current_admin.company.employees.newly_added.limit(3).each do |employee| %>
		<li class="item">
		  <%= link_to(admin_employee_path(employee)) do %>
			
				<span class="content">
					<span class="content-headline">
						<%= employee.name %>
					</span>
					<span class="content-text">
						<%= employee.current_job.present? ? employee.current_job.title : "Unassigned" %>
					</span>
				</span>
				<span class="time"><i class="fa fa-clock-o"></i><%= time_ago_in_words(employee.created_at) %></span>
			<% end %>
		</li>
	<% end %>
		<li class="item-footer">
			<%= link_to "View All Employees", admin_employees_path %>
			</a>
		</li>
	</ul>
</li>