<div class='row row150'>
   
	<div class="col-md-8 col-sm-12 col-xs-12  text-center">
		<div class="main-box">
	<h5>	Recent Applicants</h5>
                <div class='list-group' id='applicants' >
                    <% @current.order_events.applications.order(created_at: :desc).limit(3).each do |event| %>
						  <% if lookup_context.template_exists?(event.action, "events/activities", true) %>
						    <%= render partial: "events/activities/#{event.action}", locals: {event: event} %>
						  <% end %>
						<% end %>
                </div>
						
						
						

			
			
		</div>
	</div>
	<div class="col-md-4 col-sm-12 col-xs-12  text-center">
		<div class="main-box">
				<h5>	New Starts</h5>
                <div class='list-group list-group-sm' >
                    <% Employee.new_start.order(created_at: :desc).limit(3).each do |employee| %>
						  <%= render employee %>
						<% end %>
                </div>
			
			
			
		</div>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-6  text-center">
		<div class="main-box">
			
			<span class="headline">Current Payroll</span>
			<span class="price"><%= number_to_currency(@timesheets.current_week.sum(:gross_pay)) %></span>
			<span class="price text-muted">YTD: <%= number_to_currency(@timesheets.sum(:gross_pay)) %></span>
			
			<hr>
			<span class="headline">Current Billings</span>
			
			<span class="price"><%= number_to_currency(@timesheets.current_week.sum(:total_bill)) %></span>
			<span class="price text-muted">YTD: <%= number_to_currency(@timesheets.sum(:total_bill)) %></span>
		</div>
	</div>
	
	
	
	
</div>
<div class='row400'>
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
	<div class="main-box scroll">
			<h5>	New Job Orders</h5>
			
        <div class='list-group ' >
        
    		<% if @current_agency.present? %>
    	
    			<% @current_agency.companies.includes(:orders).each do |company| %>
    		<%= company.name %>
    		<% company.orders.needs_attention.each do |order| %>
    			<%= render order %>
    		<% end %>
    	<% end %>
    		    
    		<% end %>
		</div>
	</div>
</div>
</div>