<div class="">
	<%= month_calendar(attribute: :needed_by, events: job_orders) do |date, job_orders| %>
  <div class='cal-date'><%= date %></div>
  <%= div_for job_orders do |job_order| %>
  
  
       <%= link_to admin_order_path(job_order) do %>
       <p><%= status_tag(job_order) %><%= title_for(job_order) %><br>
       <small>Need: <%= order_count(job_order) %></small></p>
         
       <% end %>
  <% end %>
<% end %>

</div>