<div class="main-box clearfix">
	<div class="tabs-wrapper">
			<div class="clearfix">
				<h2 class="pull-left">This week<small><%= Date.today.end_of_week.strftime("%A  %b %d, %Y") %></small></h2>
				<ul class="nav nav-tabs pull-right">
					<li class="active"><a href="#tab-users" data-toggle="tab">Clocked In</a></li>
					<li><a href="#tab-events" data-toggle="tab">Events</a></li>
					<li><a href="#tab-todo" data-toggle="tab">Timesheets</a></li>
					<li><a href="#tab-applications" data-toggle="tab">Applications</a></li>
				</ul>
			</div>
			
			<div class="tab-content">
				<div class="tab-pane fade in active" id="tab-users">
				

					<div class=''>
						<%= render 'admin/jobs/table', collection: @jobs.on_shift %>
					</div>

					<%= link_to "View all users", users_path, class: "badge badge-success pull-right" %>
				</div>
				
				<div class="tab-pane fade" id="tab-events">
					<div class='col-md-12'>
					<div class='col-md-6'>
						<% @clock_ins.each do |event| %>
						  <% if lookup_context.template_exists?(event.action, "events/activities", true) %>
						    <%= render partial: "events/activities/#{event.action}", locals: {event: event} %>
						  <% end %>
						<% end %>
					</div>
					<div class='col-md-6'>
						<% @clock_outs.each do |event| %>
						  <% if lookup_context.template_exists?(event.action, "events/activities", true) %>
						    <%= render partial: "events/activities/#{event.action}", locals: {event: event} %>
						  <% end %>
						<% end %>
					</div>
					</div>
					
				</div>
				<div class="tab-pane fade" id="tab-applications">
					<div class='col-md-12'>
						<div class='col-md-12'>
						<% @applications.each do |event| %>
						  <% if lookup_context.template_exists?(event.action, "events/activities", true) %>
						    <%= render partial: "events/activities/#{event.action}", locals: {event: event} %>
						  <% end %>
						<% end %>
					</div>
					
					</div>
					
				</div>
				<div class="tab-pane fade" id="tab-todo" >
					<div class='table-responsive' data-behavior="timesheet-list">
						<table id='timesheets-datatable' class="table table-bordered">
							<thead>
								<th class='text-center'><i class="fa fa-calendar-o"></i><br>Week</th>
								<th class='text-center'><i class="fa fa-building"></i><br>Company</th>
								<th class='text-center'><i class="fa fa-briefcase"></i><br>Job</th>
								<th class='text-center'><i class="fa fa-user"></i><br>Employee</th>
								<th class='text-center'><i class="fa fa-money"></i><br>Gross Pay</th>
								<th class='text-center'><i class="fa fa-clock-o"></i><br>Hours</th>
								<th class='text-center'><i class="fa fa-certificate"></i><br>Status</th>
								<th class='text-center'><i class="fa fa-cogs"></i><br>Actions</th>
							</thead>
							
							<tbody>
								<% @timesheets.current_week.each do |timesheet| %>
								<%= render 'admin/timesheets/single_table', timesheet: timesheet %>
								<% end %>
							</tbody>
						</table>
					</div>
				
				</div>
				
			</div>
	</div>
</div>
					