
<div class="list-group" data-behavior="shift-list">
    <h3><strong><%= shift.time_in.strftime("%A %b %e") %></strong></h3>
    <div class="details"data-behavior="shift" data-id="<%= shift.id %>">
        <h4 class="list-group-item-heading"><%= link_to shift.employee.name, shift.employee, class: 'table-link' %></h4>
        <div class="time" data-behavior="time">
            <span class="time" data-behavior="in-time">
        	    <i class="fa fa-clock-o"></i> <strong>In:</strong> <%= shift.time_in.strftime("%l:%M%P") %>
        	</span>
        
    	    
        </div>
        <% if shift.clocked_out? %>

    	    <button data-behavior="in-button" class='btn btn-primary'>
    	        
            	   <i class='fa fa-sign-in'></i>
    	        </button>
    	 	<% else %>
    	 	<button data-behavior="out-button" class='btn btn-danger'>
    	        <i class='fa fa-sign-out'></i>
            
    	        </button>
    	            
    	        <% end %>
        
    	
	        <% if shift.clocked_out? %>
	        <%= link_to "<i class='fa fa-pencil fa-lg'></i>".html_safe, edit_shift_path(shift), class: 'btn btn-default clock-button' %>
        	   
        	<% else %>
        	<button data-behavior="shift-button" type="button" class=' btn btn-default clock-button'>
	            <i class='fa fa-sign-out red fa-lg'></i>
            </button>
	        <% end %>
    	
        	        
         <span data-behavior="shift-state">
             <% if shift.clocked_out? %>
             <span class='label label-default'><%= shift.state %></span>
             <% else %>
             <span class='label label-success'><%= shift.state %></span>
             <% end %>
        </span>
        <% if shift.clocked_out? %>
        
        <div class="pull-right"><i class="fa fa-clock-o"></i> <strong>Hours worked:</strong>  <%= shift.hours_worked %><br>
        <i class="fa fa-money"></i> <strong>Pay:</strong>  <%= number_to_currency(shift.reg_earnings) %></div>
        <% end %>
             
    	
    
    </div>
</div>

