<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title><%= page_title(@current_agency.name) %>	</title>


	<%= Gon::Base.render_data %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application' %>
  	<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
	<%= javascript_include_tag 'charts' %>
	<!-- google font libraries -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>

	<%= csrf_meta_tags %>
</head>

<body>

		<%= render 'admin/shared/navbar' %>

	<div class="container" id="content-wrapper">
		<div class="col-md-12">


		<% if current_admin.payroll? %>
			<%= render 'admin/sidebars/payroll_sidebar' %>
			<% elsif current_admin.recruiter? %>
			<%= render 'admin/sidebars/recruiter_sidebar' %>
			<% elsif current_admin.owner? %>
			<%= render 'admin/sidebars/owner_sidebar' %>
		<% elsif current_admin.account_manager? %>
			<%= render 'admin/sidebars/account_manager_sidebar' %>
			<% else %>
			<%= render 'admin/sidebars/admin_sidebar' %>
			
		<% end %>

	
	
			<div class="col-md-10" >

				<% if alert %><div class="alert alert-warning">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<%= flash.alert %></div> <% end %>
	    		<% if notice %> <div class="alert alert-info">
	    			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	    			<%= flash.notice %></div> <% end %>
	    		<%= yield %>


	    	
		</div>
		
		
	</div>
	</div>
	<%= render 'layouts/footer' %>

</body>
</html>