
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>IncluStaff</title>
	

	<%= Gon::Base.render_data %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application' %>
  	<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

	<!-- google font libraries -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>

	<%= csrf_meta_tags %>
</head>

<body>
<%if admin_signed_in? %>
<%= render 'shared/admin_navbar' %>
<% else %>
		<%= render 'shared/navbar' %>
	<%end %>
	<div class="container">
		<div class="row">
		<% if admin_signed_in? && current_admin.owner? && current_admin.agency? %><%= render 'admin/sidebars/admin_sidebar' %><% end %>
		<% if admin_signed_in? && current_admin.owner? && current_admin.company? %><%= render 'admin/sidebars/company_sidebar' %><% end %>
		<% if admin_signed_in? && current_admin.recruiter? %><%= render 'admin/sidebars/recruiter_sidebar' %><% end %>
		<% if user_signed_in? %><%= render 'admin/sidebars/employee_sidebar' %><% end %>
			<% if signed_in? == false %>
				<div class="col-md-12" id="content-wrapper">
			<% else %>
				<div class="container" id="content-wrapper">
			<% end %>
				
				<% if alert %><div class="alert alert-warning"><%= flash.alert %></div> <% end %>
	    		<% if notice %> <div class="alert alert-info"><%= flash.notice %></div> <% end %>
	    		<%= yield %>


	    	</div>
		</div>
	</div>
	<%= render 'layouts/footer' %>

</body>
</html>
						
