<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main-content">
    <%= render "shared/navbar" %>
    

    <div id="content" class="container-fluid">

    

  <% if alert %><div class="alert alert-warning"><%= flash.alert %></div> <% end %>


  <% if notice %> <div class="alert alert-info"><%= flash.notice %></div> <% end %>

  <%= yield %>
</div>
</div>

</body>
</html>
