<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>IncluStaff</title>

    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= javascript_include_tag 'charts' %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'company/shared/navbar' if current_company_admin.role != "Timeclock" %>
    <%= render 'company/shared/timeclock_navbar' if current_company_admin.role == "Timeclock" %>
    <%= render 'demo/demo_nav' if current_company_admin.role != "Timeclock" %>
    <div class="container">
      <%= render 'layouts/alerts' %>
      <%= render 'demo/company_how_to' if @current_agency.present?  %>
      <%= yield %>
    </div>
  </body>
</html>
